.couple-section {
	position: relative;
	text-align: center;

	.orn-1 {
		position: absolute;
		top: 1rem;
		left: 0;
		width: 160px;
		transform: translate(-70%, 0) scaleY(-1);

		@include min-md {
			width: 200px;
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 200px;
		transform: translate(60%, -15%) scaleX(-1) rotate(-90deg);

		@include min-md {
			width: 260px;
		}
	}

	.orn-3 {
		position: absolute;
		top: 1rem;
		left: 0;
		width: 140px;
		transform: translate(-50%, 0) scaleY(-1);

		@include min-md {
			width: 180px;
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 35%;
		left: 0;
		width: 240px;
		transform: translate(-65%, 50%) rotate(-50deg);

		@include min-md {
			bottom: 0;
			width: 280px;
			transform: translate(-55%, 30%) rotate(-50deg);
		}
	}

	.orn-5 {
		position: absolute;
		top: 50%;
		right: 0;
		width: 240px;
		transform: translate(65%, -50%) scaleX(-1) rotate(-50deg);

		@include min-md {
			top: 2rem;
			width: 280px;
			transform: translate(65%, 0%) scaleX(-1) rotate(-50deg);
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 240px;
		transform: translate(20%, 25%) scaleX(-1) rotate(20deg);

		@include min-md {
			width: 260px;
		}

		img {
			transform-origin: 0% 30%;
		}
	}

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 48px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 0 0 5rem;

		@include max-md {
			padding: 0 0 3rem;
		}
	}

	.couple-body {
		position: relative;
		padding: 2rem 1rem;
		border-radius: var(--border-radius);
		overflow: hidden;
	}

	.couple-content {
		position: relative;
		margin-bottom: 3rem;
		padding-top: 5rem;
	}

	.couple {
		position: relative;
		text-align: center;

		.image-wrap {
			width: 80%;
			position: relative;
			aspect-ratio: 3/4;
			margin: 0 auto;
			border-radius: 50%;
			background: $stroke-gradient;
			padding: 1px;

			.image-element {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 2rem;
				border-radius: 50%;
				background: var(--color-main);

				@include max-md {
					padding: 1rem;
				}

				.couple-image {
					height: 100%;
					object-fit: cover;
					position: relative;
					width: 100%;
					border-radius: 50%;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem;
		}

		.couple-parent {
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			margin: 0 auto;

			.sosmed {
				color: var(--color-button-trans);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}