@font-face {
	font-family: "Baskerville";
	src: url(../fonts/BaskervilleLight-Italic.ttf) format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url(../fonts/BaskervilleLight-Italic.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url(../fonts/BaskervilleLight-Italic.woff2) format("woff2");
	font-display: swap;
}
