.story-section {
	position: relative;
	.story {
		position: relative;
		padding: 5rem 0;
		background-color: rgba($color: #000000, $alpha: 0.05);
		@include max-md {
			padding: 3rem 0;
		}
	}
	.story-content {
		position: relative;
	}
	.story-description {
		position: relative;
		text-align: center;
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		.image-element {
			position: relative;
			width: 100%;
			height: 100%;
			.story-background {
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
