$color-main: #ffedd2;
$color-primary: #e9dac4;
$color-secondary: #a1855b;
$color-dark: #1e1f1e;
$color-light: #fff;
$text-button: #ffffff;
$color-button-trans: #1e1f1e;
$color-logo: #e9088a;
$font-secondary: "Baskerville", sans-serif;
$font-primary: "Mulish", sans-serif;
$border-radius: 20px;
$stroke-gradient: linear-gradient(110deg, #c6a058, #ffda92);
$color-custom: #5b421c;

$breakpoints-min: (
	xs: 376px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 2560px,
);

$breakpoints-max: (
	xs: 375px,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px,
	xxl: 1399px,
);
