.egift-section {
	position: relative;
	text-align: center;

	.ornament {
		position: relative;
		width: 100%;

		@include max-lg {
			width: 150%;
		}

		@include max-sm {
			width: 200%;
		}
	}

	.orn-1 {
		position: absolute;
		top: 8rem;
		right: 0;
		width: 20%;
		transform: translate(50%, 0) rotate(-20deg);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			top: 5rem;
			width: 50%;
			transform: translate(65%, 0) rotate(-20deg);
		}
	}

	.gift-wrap {
		position: relative;
		text-align: left;
		padding: 5rem 0 2rem;

		@include max-md {
			padding: 3rem 0 2rem;
		}

		.title-section {
			text-align: left;
		}
	}

	.tabs-gift {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		padding: 0.25rem;
		border-radius: var(--border-radius);
		gap: 0.5rem;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-secondary);
			opacity: 0.25;
			content: "";
			border-radius: 50px;
		}

		@include max-md {
			padding: 0.25rem;
		}

		.btn-custom {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			min-width: 140px;
			text-align: center;
			background-color: transparent;
			color: var(--color-button-trans);
			z-index: 2;

			@include max-md {
				min-width: 120px;

				svg {
					width: 25px;
					height: 25px;
				}
			}

			path {
				fill: var(--color-button-trans);
				transition: all 0.2s ease;
			}

			&.active {
				color: var(--text-button);

				path {
					fill: var(--text-button);
				}
			}

			&:focus {
				box-shadow: none;
			}
		}

		.glider {
			position: absolute;
			left: 0;
			top: 0;
			background: var(--color-secondary);
			width: 100%;
			height: 100%;
			border-radius: 50px;
			z-index: -1;
		}
	}

	.card {
		.card-body {
			padding: 3rem;

			@include max-md {
				padding: 3rem 1.25rem;
			}

			@include max-xs {
				padding: 3rem 0.75rem;
			}
		}
	}

	form {
		position: relative;
		z-index: 5;

		.input-group-text {
			background-color: var(--color-secondary);
			border-color: var(--color-secondary);
			color: var(--text-button);
		}

		@include max-md {
			.row {
				gap: 1rem;
			}
		}
	}

	.gift,
	.angpao {
		display: none;
		transition: all 0.5s ease-in;
		opacity: 0;

		&.show {
			display: block;
			opacity: 1;
		}
	}

	.gift-content {
		position: relative;
		padding: 0 0 5rem;

		@include max-sm {
			padding: 0 0 3rem;
		}
	}
}

@keyframes tab {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}