.story-section {
	position: relative;
	background-color: var(--color-primary);

	.story {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.story-content {
			position: relative;
			background-color: var(--color-main);
			border-radius: 300px 8px 8px 8px;

			@include max-sm {
				border-radius: 300px 300px 8px 8px;
			}

			.story-description {
				position: relative;
				text-align: left;
				padding: 2rem 1.8rem;

				.title-section {
					text-align: left;
				}
			}
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(4, 6);

			@include max-md {
				@include aspect-ratio(5, 6);
			}

			.story-background {
				object-fit: cover;
				border-radius: 300px 300px 8px 8px;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 20%;
		transform: translate(-45%, 0) rotate(15deg);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 5rem;
		right: 0;
		width: 20%;
		transform: translate(45%, 0) rotate(-15deg) scaleX(-1);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}
	}
}