.header-section {
	position: relative;
	width: 100%;
	.scroll-icon {
		position: relative;
		margin-top: 2rem;
	}
	.elements-absolute {
		@include min-lg {
			height: 100%;
			.background-element {
				height: 100%;
				img {
					height: 100%;
				}
			}
		}
	}
	.frame {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 110%;
		transform: translate(-50%, -50%);
	}
	.bg-1 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		transform: translate(-50%, 0);
		@include max-lg {
			height: 80%;
		}
		.bg-2 {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100%;
			transform: translate(-50%, 70%);
			@include max-lg {
				width: 200%;
				transform: translate(-50%, 50%);
			}
			@include max-sm {
				transform: translate(-50%, 0%);
			}
			.rumah {
				position: absolute;
				bottom: 100%;
				left: 50%;
				width: 40%;
				transform: translate(-50%, 1.5rem);
			}
		}
	}
	.side-ornament-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		@include max-sm {
			width: 50px;
		}
	}
	.side-ornament-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 80px;
		transform: scaleX(-1);
		@include max-sm {
			width: 50px;
		}
	}
	.penari-left {
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 15%;
		z-index: 3;
		@include max-lg {
			left: 5%;
			width: 25%;
		}
		@include max-sm {
			left: 0;
			width: 38%;
		}
	}
	.penari-right {
		position: absolute;
		bottom: 0;
		right: 10%;
		width: 15%;
		transform: scaleX(-1);
		z-index: 3;
		@include max-lg {
			right: 5%;
			width: 25%;
		}
		@include max-sm {
			right: 0;
			width: 38%;
			transform: translate(10%, 0) scaleX(-1);
		}
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 320px;
		transform: translate(-65%, -30%);
		@include min-md {
			width: 70%;
		}
		@include min-lg {
			width: 40%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 360px;
		transform: translate(68%, -60%);
		@include min-md {
			width: 80%;
			transform: translate(63%, -40%);
		}
		@include min-lg {
			width: 45%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 65%;
		transform: translate(-30%, 0);
		z-index: 5;
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 30%;
			transform: translate(-20%, 0);
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 65%;
		transform: translate(30%, 0);
		z-index: 5;
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 30%;
			transform: translate(20%, 0);
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 180px;
		transform: translate(-60%, -10%);
		z-index: 5;
		@include min-md {
			width: 240px;
			transform: translate(-50%, -10%);
		}
		@include min-lg {
			width: 260px;
		}
		.orn-6 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 120px;
			transform: translate(0, 30%);
			@include min-md {
				width: 160px;
				transform: translate(10%, 30%);
			}
			@include min-lg {
				width: 180px;
			}
			.orn-7 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 120px;
				transform: translate(80%, 30%);
				@include min-md {
					width: 180px;
				}
				@include min-lg {
					width: 220px;
				}
			}
		}
	}
	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 180px;
		transform: translate(65%, 0) scaleX(-1);
		z-index: 5;
		@include min-md {
			width: 240px;
			transform: translate(50%, 0) scaleX(-1);
		}
		@include min-lg {
			width: 260px;
		}
		.orn-9 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 120px;
			transform: translate(0, 30%);
			@include min-md {
				width: 160px;
				transform: translate(20%, 20%);
			}
			@include min-lg {
				width: 180px;
			}
			.orn-10 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 140px;
				transform: translate(80%, 20%) scaleX(-1);
				@include min-md {
					width: 180px;
				}
				@include min-lg {
					width: 220px;
				}
			}
		}
	}
	.orn-11 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-10%, -10%);
		opacity: 0.2;
		@include max-lg {
			width: 80%;
			transform: translate(-20%, -10%);
		}
	}
	.orn-12 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(20%, -6%) rotate(-20deg);
		opacity: 0.2;
		@include max-lg {
			width: 80%;
			transform: translate(40%, -6%) rotate(-20deg);
		}
	}
	.header-content {
		position: relative;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4.5rem 0 3rem;
		.header {
			position: relative;
			width: 35%;
			margin: 0 auto;
			@include max-xl {
				width: 40%;
			}
			@include max-lg {
				width: 70%;
			}
			@include max-md {
				width: 100%;
			}
			.header-title {
				position: relative;
				text-align: center;
				&-content {
					position: relative;
					padding: 1rem 2rem;
				}
			}
			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

[data-anim="zoom-in-main"].has-animate {
	animation-name: zoomInMain;
	animation-fill-mode: forwards;
	animation-duration: 3500ms !important;
}

[data-anim="peafowl-right"].has-animate {
	animation-name: peafowlRight;
	animation-duration: 3500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
[data-anim="peafowl-left"].has-animate {
	animation-name: peafowlLeft;
	animation-duration: 2500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.33, 0.12, 0.61, 0.9);
}

@keyframes peafowlRight {
	0% {
		transform: translate3d(50%, 0, 0);
	}
	20% {
		transform: translate3d(60%, 5%, 0);
	}
	40% {
		transform: translate3d(70%, 0, 0);
	}
	60% {
		transform: translate3d(80%, 5%, 0);
	}
	80% {
		transform: translate3d(90%, 0, 0);
	}
	100% {
		transform: translate3d(100%, 5%, 0);
	}
}

@keyframes peafowlLeft {
	0% {
		transform: translate3d(-50%, 0, 0);
	}
	20% {
		transform: translate3d(-60%, 5%, 0);
	}
	40% {
		transform: translate3d(-70%, 0, 0);
	}
	60% {
		transform: translate3d(-80%, 5%, 0);
	}
	80% {
		transform: translate3d(-90%, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 5%, 0);
	}
}
