.gallery-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.gallery-default {
		a {
			position: relative;
			display: block;
			width: 100%;
			@include aspect-ratio(3, 4);
			margin-bottom: 1rem;

			.img-gallery {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.splide {
			&__pagination {
				bottom: -0.5em;

				&__page.is-active {
					background-color: var(--color-secondary);
				}
			}

			.splide__arrow {
				border-radius: 0;
				width: 65px;
				height: 65px;
				background-color: var(--color-secondary);
				border-radius: 100px;
				transform: translateY(-65%);

				@include max-lg {
					width: 50px;
					height: 50px;
				}

				svg {
					fill: var(--text-button);
					width: 25px;
					height: 30px;
				}

				&--prev {
					left: 0;
				}

				&--next {
					right: 0;
				}
			}
		}
	}

}