.rsvp-section {
	position: relative;
	background-color: var(--color-primary);
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0 5rem;
	}

	.bg-1 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -33%);

		@include max-lg {
			width: 140%;
			transform: translate(-50%, -40%);
		}

		@include max-sm {
			width: 160%;
		}
	}

	.bg-2 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 5%);

		@include max-lg {
			width: 140%;
			transform: translate(-50%, 0%);
		}

		@include max-sm {
			width: 160%;
		}
	}

	.pagar {
		position: relative;
		width: 100%;
		margin-top: 2rem;

		.grass {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		transform: translate(-40%, -30%);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 65%;
		}
	}

	.tree-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		transform: translate(40%, -30%);

		@include max-lg {
			width: 60%;
			transform: translate(50%, -30%);
		}

		@include max-sm {
			width: 65%;
		}
	}

	.peafowl-1 {
		position: absolute;
		top: 0;
		left: 15%;
		width: 20%;
		transform: translate(0, -37%);

		@include max-lg {
			left: 10%;
			width: 35%;
			transform: translate(0, -40%);
		}

		@include max-sm {
			width: 40%;
		}
	}

	.peafowl-2 {
		position: absolute;
		bottom: 0;
		right: 15%;
		width: 20%;
		transform: translate(0, 26%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 25%;
		transform: translate(-30%, 0);

		@include max-lg {
			width: 40%;
			transform: translate(-40%, 0);
		}

		@include max-sm {
			width: 50%;
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-30%, 45%);

		@include max-lg {
			width: 35%;
			transform: translate(-40%, 50%);
		}

		@include max-sm {
			width: 45%;
		}

		.orn-3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 65%;
			transform: translate(0, -70%);
		}

		.orn-4 {
			position: absolute;
			top: 18%;
			left: 60%;
			width: 65%;

			.orn-5 {
				position: absolute;
				top: 15%;
				left: 75%;
				width: 80%;
				transform: scaleX(-1);
			}
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25%;
		transform: translate(50%, 10%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20%;
		transform: translate(30%, 50%) scaleX(-1);

		@include max-lg {
			width: 35%;
			transform: translate(40%, 55%) scaleX(-1);
		}

		@include max-sm {
			width: 45%;
		}

		.orn-8 {
			position: absolute;
			top: 15%;
			left: 75%;
			width: 70%;
			transform: scaleX(-1);
		}
	}

	.orn-9 {
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		transform: translate(-20%, -60%) scaleX(-1);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 45%;
		}
	}

	.orn-10 {
		position: absolute;
		top: 0;
		right: 0;
		width: 20%;
		transform: translate(20%, -60%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 45%;
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 5rem 3rem;
		background: var(--background-linear-main);
		border-radius: var(--border-radius);

		@include max-md {
			padding: 2rem;
		}

		.rsvp-form {
			position: relative;
			z-index: 5;

			.btn-custom {
				margin-top: 1.25rem;
			}
		}
	}
}