.thank-section {
	position: relative;
	padding: 0 0 8rem;
	text-align: center;

	@include max-md {
		padding: 0 0 5rem;
	}

	.bg-1 {
		position: relative;
		width: 100%;

		@include max-lg {
			width: 140%;
			transform: translateX(-12%);
		}
	}

	.bg-2 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);

		@include max-lg {
			width: 140%;
			transform: translate(-40%, 0);
		}

		@include max-sm {
			width: 160%;
		}
	}

	.pagar {
		position: relative;
		width: 100%;
		margin-top: 2rem;

		@include max-sm {
			margin-top: 4rem;
		}

		.grass {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	.tree-1 {
		position: absolute;
		bottom: 15%;
		left: 0;
		width: 40%;
		transform: translate(-40%, 0%);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 65%;
		}
	}

	.tree-2 {
		position: absolute;
		bottom: 15%;
		right: 0;
		width: 40%;
		transform: translate(40%, 0%);

		@include max-lg {
			width: 60%;
			transform: translate(50%, 0%);
		}

		@include max-sm {
			width: 65%;
		}
	}

	.peafowl-1 {
		position: absolute;
		top: 0;
		left: 15%;
		width: 20%;
		transform: translate(0, -37%);

		@include max-lg {
			left: 10%;
			width: 35%;
			transform: translate(0, -40%);
		}

		@include max-sm {
			width: 40%;
		}
	}

	.peafowl-2 {
		position: absolute;
		bottom: 0;
		right: 15%;
		width: 20%;
		transform: translate(0, 26%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 25%;
		transform: translate(-30%, 0);

		@include max-lg {
			width: 40%;
			transform: translate(-40%, 0);
		}

		@include max-sm {
			width: 45%;
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-30%, 45%);

		@include max-lg {
			width: 35%;
			transform: translate(-40%, 50%);
		}

		@include max-sm {
			width: 40%;
		}

		.orn-3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 65%;
			transform: translate(0, -70%);
		}

		.orn-4 {
			position: absolute;
			top: 18%;
			left: 60%;
			width: 65%;

			.orn-5 {
				position: absolute;
				top: 15%;
				left: 75%;
				width: 80%;
				transform: scaleX(-1);
			}
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25%;
		transform: translate(50%, 10%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 45%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20%;
		transform: translate(30%, 50%) scaleX(-1);

		@include max-lg {
			width: 35%;
			transform: translate(40%, 55%) scaleX(-1);
		}

		@include max-sm {
			width: 30%;
		}

		.orn-8 {
			position: absolute;
			top: 15%;
			left: 75%;
			width: 70%;
			transform: scaleX(-1);
		}
	}

	.orn-9 {
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		transform: translate(-20%, -60%) scaleX(-1);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-10 {
		position: absolute;
		top: 0;
		right: 0;
		width: 20%;
		transform: translate(20%, -60%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		z-index: 5;

		.image-element {
			@include aspect-ratio(3, 4);

			.thank-background {
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}

	.thank-wrapper {
		position: relative;

		.thank {
			position: relative;
			padding: 1rem 2rem 3rem;
			z-index: 5;

			@include max-md {
				padding: 1rem 1.8rem 2rem;
			}
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}