:root {
  --color-main: #e1d7d6;
  --color-primary: #134c61;
  --color-secondary: #e1cb7b;
  --color-dark: #1e1f1e;
  --vd-color-pink: #ff3190;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 20px;
  width: 100%;
  margin-top: -130px;
  border: 2px solid var(--color-secondary);
}

@media (max-width: 991px) {
  .countdown {
    margin: 2rem 0 0;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 991px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: auto;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  color: #fff;
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Prata", serif;
  color: var(--color-secondary);
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.logo-viding {
  height: 3rem;
}

.logo-viding path {
  fill: #000;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-section .leaf-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 534px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

@media (min-width: 1440px) {
  .header-section .leaf-header {
    height: 592px;
  }
}

@media (min-width: 2560px) {
  .header-section .leaf-header {
    -o-object-fit: none;
       object-fit: none;
  }
}

@media (max-width: 767px) {
  .header-section .leaf-header {
    height: 320px;
  }
}

.header-section .deco-leaf-1 {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.header-section .header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: relative;
}

.header-section .header p {
  margin-top: 2rem;
  color: var(--color-primary);
}

.header-section .header .card {
  background-color: var(--color-primary);
  position: relative;
}

.header-section .header .card .leaf-card-1,
.header-section .header .card .leaf-card-2 {
  position: absolute;
}

@media (max-width: 767px) {
  .header-section .header .card .leaf-card-1,
  .header-section .header .card .leaf-card-2 {
    width: 148px;
  }
}

.header-section .header .card .leaf-card-1 {
  left: -50%;
  bottom: -20%;
}

@media (max-width: 767px) {
  .header-section .header .card .leaf-card-1 {
    width: 286px;
    left: -33%;
  }
}

.header-section .header .card .leaf-card-2 {
  right: -50%;
  bottom: -30px;
}

@media (max-width: 767px) {
  .header-section .header .card .leaf-card-2 {
    right: -50px;
  }
}

@media (max-width: 575px) {
  .header-section .header .card .leaf-card-2 {
    right: -35px;
  }
}

@media (max-width: 325px) {
  .header-section .header .card .leaf-card-2 {
    display: none;
  }
}

.header-section .header .card .card-body {
  background-color: var(--color-primary);
  padding: 3rem;
  position: relative;
}

@media (max-width: 575px) {
  .header-section .header .card .card-body {
    padding: 1.5rem;
  }
}

.header-section .header .card .card-body .header-title {
  border: 2px solid var(--color-secondary);
  width: 100%;
  text-align: center;
  padding: 2rem 3rem;
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  padding-bottom: 3rem;
}

.envelope-wrap .row {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.envelope-wrap .header .card {
  background-color: var(--color-primary) !important;
  border: 0;
  border-radius: 0;
}

.envelope-wrap .header .card .card-body {
  background-color: transparent;
}

.envelope-wrap .header .card .card-body .header-title {
  padding: 1.25rem 0.75rem !important;
}

.envelope-wrap .envelope-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.couple-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  background-color: var(--color-primary);
}

.couple-section .deco-leaf-2 {
  position: absolute;
  right: 0;
  top: -100px;
}

.couple-section .reminder-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  margin-top: 1.25rem;
}

.couple-section .reminder-btn path {
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

@media (max-width: 991px) {
  .couple-section .reminder-btn {
    margin-bottom: 3rem;
  }
}

.couple-section .couple {
  position: relative;
}

.couple-section .couple h3 {
  color: var(--color-secondary);
}

.couple-section .couple .couple-parent {
  width: 70%;
  margin: auto;
}

.couple-section .couple .sosmed-wrap {
  margin: 1rem 0;
}

.couple-section .couple .sosmed-wrap .sosmed .fab {
  font-size: 22px;
}

@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .sosmed .fab {
    font-size: 18px;
  }
}

.couple-section .couple .image-wrap {
  width: 90%;
  margin: auto;
  border: 4px solid #fff;
}

@media (max-width: 575px) {
  .couple-section .couple .image-wrap {
    width: 80%;
  }
}

.couple-section .couple .image-wrap .couple-image {
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 340px;
  }
}

@media (max-width: 767px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 480px;
  }
}

@media (max-width: 575px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 380px;
  }
}

.story-section {
  position: relative;
  border-top: none;
  padding: 3rem 0;
  background-color: var(--color-primary);
  margin-top: -2px;
}

.story-section .deco-leaf-2 {
  position: absolute;
  left: 0;
  top: -150px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: 2;
}

@media (max-width: 991px) {
  .story-section .deco-leaf-2 {
    top: -100px;
  }
}

@media (max-width: 575px) {
  .story-section .deco-leaf-2 {
    top: -50px;
  }
}

.story-section .deco-leaf-3 {
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: 2;
}

@media (max-width: 575px) {
  .story-section .deco-leaf-3 {
    bottom: -80px;
  }
}

.story-section .image-wrap {
  position: relative;
  margin-bottom: 5rem;
}

.story-section .image-wrap .story-image {
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 991px) {
  .story-section .image-wrap .story-image {
    height: 386px;
  }
}

@media (max-width: 767px) {
  .story-section .image-wrap .story-image {
    height: 280px;
  }
}

.venue-section {
  position: relative;
  text-align: center;
  padding: 8rem 0 3rem 0;
  background-color: var(--color-primary);
}

.venue-section .waves-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.venue-section .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venue-section .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 132px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}

.venue-section .prokes-wrap .prokes .prokes-icon {
  width: auto;
  height: 60px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes .prokes-icon {
    height: 52px;
  }
}

.venue-section .card {
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .venue-section .card {
    border-width: 2px;
  }
}

.venue-section .card .card-body {
  padding: 3rem 2rem;
}

.venue-section .maps-embed {
  height: 268px;
  position: relative;
}

.rsvp-section {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  background-color: var(--color-primary);
  margin-top: -1px;
}

.rsvp-section .waves-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.rsvp-section .form-control,
.rsvp-section .form-select {
  margin-bottom: 1rem;
}

.wishes-section {
  position: relative;
  padding: 8rem 0 3rem 0;
}

@media (max-width: 767px) {
  .wishes-section .row {
    gap: 2rem;
  }
}

.wishes-section .btn-custom {
  color: #fff;
  background-color: var(--color-primary);
}

.wishes-section .card {
  border: none;
  position: relative;
  z-index: 2;
  background-color: var(--color-primary);
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 17rem;
  overflow: auto;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  padding: 3rem 0 5rem;
  text-align: center;
  color: var(--color-dark);
}

.egift-section .title-section {
  position: relative;
}

.egift-section form .btn-custom {
  background-color: var(--color-primary);
  color: #fff;
}

.egift-section form .input-group-text {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.gallery-section {
  position: relative;
  padding: 10rem 0 3rem 0;
}

@media (max-width: 767px) {
  .gallery-section {
    padding: 5rem 0 3rem;
  }
}

.gallery-section .waves-blue {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.gallery-section .img-gallery {
  height: 386px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .gallery-section .img-gallery {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 276px;
  }
}

@media (max-width: 575px) {
  .gallery-section .img-gallery {
    height: 210px;
  }
}

.gallery-section .gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-section .gallery .overlay-left,
.gallery-section .gallery .overlay-right {
  width: 150px;
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: 5;
}

@media (max-width: 575px) {
  .gallery-section .gallery .overlay-left,
  .gallery-section .gallery .overlay-right {
    width: 100px;
  }
}

.gallery-section .gallery .overlay-left {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(60%, rgba(255, 255, 255, 0.5)), to(transparent));
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.5) 60%, transparent 100%);
}

.gallery-section .gallery .overlay-right {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(60%, rgba(255, 255, 255, 0.5)), to(transparent));
  background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0.5) 60%, transparent 100%);
}

.gallery-section .splide {
  margin-bottom: 0;
}

.gallery-section .splide .splide__track {
  overflow: visible;
  position: relative;
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: var(--color-primary);
  width: 70px;
  height: 65px;
  z-index: 10;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.gallery-section .splide .splide__arrow--prev {
  left: -42px;
}

@media (max-width: 575px) {
  .gallery-section .splide .splide__arrow--prev {
    left: 12%;
  }
}

.gallery-section .splide .splide__arrow--next {
  right: -42px;
}

@media (max-width: 575px) {
  .gallery-section .splide .splide__arrow--next {
    right: 12%;
  }
}

.gallery-section .yt-embed {
  height: 280px;
}

@media (max-width: 991px) {
  .gallery-section .yt-embed {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .gallery-section .yt-embed {
    height: 210px;
  }
}

@media (max-width: 575px) {
  .gallery-section .yt-embed {
    height: 200px;
  }
}

.apology-section {
  position: relative;
  background-color: var(--color-primary);
  padding: 0 0 3rem 0;
  margin-top: -2px;
}

.apology-section .deco-leaf-1 {
  position: absolute;
  left: 0;
  top: -120px;
  z-index: 2;
}

@media (max-width: 575px) {
  .apology-section .deco-leaf-1 {
    top: -80px;
  }
}

.apology-section .image-wrap {
  position: relative;
  margin-top: -2px;
}

.apology-section .image-wrap .image-apology {
  width: 100%;
  height: 586px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .apology-section .image-wrap .image-apology {
    height: 386px;
  }
}

@media (max-width: 767px) {
  .apology-section .image-wrap .image-apology {
    height: 280px;
  }
}

.apology-section .apology {
  padding: 3rem;
  text-align: center;
}

@media (max-width: 767px) {
  .apology-section .apology {
    border-width: 2px;
  }
}

@media (max-width: 575px) {
  .apology-section .apology {
    padding: 3rem 0.75rem;
  }
}

.stream-section {
  position: relative;
  text-align: center;
  padding: 8rem 0 3rem 0;
}

@media (max-width: 575px) {
  .stream-section ul {
    padding: 0;
  }
  .stream-section ul ol {
    padding: 0;
  }
}

.stream-section .deco-leaf-3 {
  position: absolute;
  top: 130px;
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .stream-section .deco-leaf-3 {
    right: 120px;
    top: 168px;
  }
}

.stream-section h2 {
  color: var(--color-primary);
}

.stream-section .card {
  background-color: var(--color-primary);
  height: 100%;
}

.stream-section .card h4 {
  color: #fff;
}

.stream-section .card .card-body {
  padding: 3rem;
}

@media (max-width: 991px) {
  .stream-section .card .card-body {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}

.stream-section .btn-custom {
  background-color: var(--color-primary);
  color: #fff;
}

.stream-section .yt-description {
  padding: 5rem 0;
  background-color: #fff;
  width: 100%;
  color: var(--color-dark);
}

@media (max-width: 767px) {
  .stream-section .yt-description {
    padding: 3rem 1rem;
  }
}

.stream-section .yt-description h4 {
  color: var(--color-dark);
}

.thank-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  background-color: var(--color-primary);
}

.thank-section .deco-leaf-1,
.thank-section .deco-leaf-2 {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.thank-section .deco-leaf-1 {
  right: 0;
  top: -120px;
}

@media (max-width: 575px) {
  .thank-section .deco-leaf-1 {
    top: -80px;
  }
}

.thank-section .deco-leaf-2 {
  left: 0;
  bottom: -50px;
}

@media (max-width: 575px) {
  .thank-section .deco-leaf-2 {
    bottom: -30px;
  }
}

.thank-section .title-section {
  margin-bottom: 0;
}

.thank-section .thank {
  position: relative;
  text-align: center;
  padding: 2rem;
}

@media (max-width: 767px) {
  .thank-section .thank {
    border-width: 2px;
    padding: 2rem 0.75rem;
  }
}

.footer {
  padding: 1rem 0;
  color: var(--color-primary);
  position: relative;
  text-align: center;
}

body {
  background-color: var(--color-main);
  font-family: "Encode Sans", sans-serif;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Prata", serif;
  color: var(--color-secondary);
}

h1 {
  font-size: 52px;
  color: #fff;
}

@media (max-width: 575px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
}

.btn-custom {
  background-color: var(--color-main);
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--color-primary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.font-primary {
  font-family: "Encode Sans", sans-serif;
}

.font-secondary {
  font-family: "Prata", serif;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-success {
  color: #7b9970;
}

.form-control,
.form-select {
  font-family: "Encode Sans", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-primary);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-primary);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-primary);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-primary);
}

.form-control:focus,
.form-select:focus {
  color: var(--color-primary);
}

.form-select {
  text-align: center;
}

.yt-embed {
  height: 360px;
  width: 100%;
  position: relative;
  z-index: 5;
}

@media (max-width: 991px) {
  .yt-embed {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .yt-embed {
    height: 240px;
  }
}

@media (max-width: 575px) {
  .yt-embed {
    height: 200px;
  }
}

.scrolled {
  color: #000;
  background: var(--color-primary) !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.scrolled path {
  fill: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.title-section {
  position: relative;
  min-width: 268px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 1.25rem;
}

.title-section .deco-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.waves {
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

@media (max-width: 991px) {
  .deco-leaf-1,
  .deco-leaf-2,
  .deco-leaf-3 {
    width: 148px;
  }
}

@media (max-width: 767px) {
  .deco-leaf-1,
  .deco-leaf-2,
  .deco-leaf-3 {
    width: 100px;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */