.couple-section {
	position: relative;

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 5rem 0 3rem;
		}

		.orn-1 {
			position: absolute;
			top: 0;
			right: 0;
			width: 25%;
			transform: translate(25%, 0) scaleX(-1);

			@include max-lg {
				width: 45%;
			}

			@include max-sm {
				width: 55%;
				transform: translate(35%, -35%) scaleX(-1);
			}
		}

		.orn-2 {
			position: absolute;
			top: 60%;
			left: 0;
			width: 15%;
			transform: translate(-35%, -50%);

			@include max-lg {
				width: 35%;
			}

			@include max-sm {
				width: 45%;
			}
		}

		.orn-3 {
			position: absolute;
			top: 60%;
			right: 0;
			width: 15%;
			transform: translate(35%, -50%) scaleX(-1);

			@include max-lg {
				width: 35%;
			}

			@include max-sm {
				width: 45%;
			}
		}
	}

	.couple-body {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		padding: 2rem 1rem;

		@include max-sm {
			padding: 0 0 2rem;
		}
	}

	.couple-content {
		position: relative;
		margin-bottom: 3rem;

		.title-section {
			text-align: left;
		}
	}

	.couple {
		position: relative;
		padding: 2rem;
		overflow: hidden;

		@include max-sm {
			padding: 2rem 3rem;
		}

		.mountain {
			position: absolute;
			top: -1px;
			left: 50%;
			width: 120%;
			transform: translate(-50%, 0);
		}

		.image-wrap {
			position: relative;
			width: 85%;
			margin-bottom: 1rem;

			.image-element {
				@include aspect-ratio(3, 4);

				.couple-image {
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem 0;
		}

		.couple-parent {
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}

		&.man {

			.mountain {
				@include max-sm {
					background-color: var(--color-main);
				}
			}

			.image-wrap {
				margin-right: auto;
			}

			.couple-description {
				text-align: left;
			}

			.sosmed-wrap {
				margin-right: auto;
			}
		}

		&.woman {

			.mountain {
				transform: translate(-50%, 0) scaleX(-1);
			}

			.image-wrap {
				margin-left: auto;
			}

			.couple-description {
				text-align: right;
			}

			.sosmed-wrap {
				margin-left: auto;
			}
		}
	}
}