.rsvp-section {
	position: relative;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0;
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		@include min-lg {
			transform: translateX(4rem);
			z-index: 3;
		}

		.image-element {
			@include aspect-ratio(5, 6);

			img {
				object-fit: cover;
				border-radius: 4px;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);

		.rsvp-form {
			position: relative;
			padding: 8rem 5rem 1rem;

			@include max-md {
				padding: 5rem 3rem 1rem;
			}

			.title-section {
				text-align: left;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		transform: translate(35%, -25%) scaleX(-1);
	}
}