.thank-section {
	position: relative;


	.thank-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;

		@include max-sm {
			flex-direction: column;
		}

		.bg {
			position: relative;
			width: 100%;
			background-color: var(--color-primary);
			margin-bottom: -5rem;
			@include aspect-ratio(6, 4);

			@include max-sm {
				@include aspect-ratio(5, 6);
			}

			.mountain-1 {
				position: absolute;
				top: 2rem;
				left: 50%;
				width: 100%;
				transform: translate(-50%, 0) scaleX(-1);

				@include max-lg {
					width: 120%;
				}

				@include max-sm {
					width: 140%;
				}

				.mountain-2 {
					position: absolute;
					top: 35%;
					left: 40%;
					width: 50%;
					transform: translate(-50%, 0);
				}

				.land {
					position: absolute;
					top: 60%;
					left: 50%;
					width: 150%;
					transform: translate(-50%, 0);
				}
			}
		}

		.image-wrapper {
			position: relative;
			width: 50%;

			@include max-sm {
				width: 100%;
			}

			.image-element {
				@include aspect-ratio(5, 6);

				.thank-background {
					object-fit: cover;
				}
			}
		}

		.thank {
			position: relative;
			width: 50%;
			text-align: center;

			@include max-sm {
				width: 100%;
			}

			&-body {
				padding: 0 2rem 3rem;

				@include max-md {
					padding: 0 1rem 2rem;
				}

				.title-section {
					margin-bottom: 2rem;
				}
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 50%;
		right: 0;
		width: 40%;
		transform: translate(20%, -50%) scaleX(-1);

		@include max-sm {
			top: 20%;
			width: 50%;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}