:root {
  --color-main: #f9faff;
  --color-primary: #983c48;
  --color-secondary: #e1cb7b;
  --color-dark: #1e1f1e;
  --vd-color-pink: #ff3190;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: var(--color-primary);
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 73px;
  padding: 10px;
  position: relative;
}

@media (max-width: 991px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: auto;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 16px;
  color: #fff;
}

@media (max-width: 575px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 14px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Tinos", serif;
  color: var(--color-secondary);
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.header-section .hotang {
  top: 45%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
  position: absolute;
}

.header-section .header-wrap {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.header-section .header-wrap .btn-custom {
  margin-top: 50px;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.header-section .header-wrap .border-1 {
  border: 1px solid #7b9970;
  padding: 0.3rem;
}

.header-section .header-wrap .border-1 .border-2 {
  border: 8px solid var(--color-secondary) !important;
  padding: 0.3rem;
}

.header-section .header-wrap .border-1 .border-2 .header {
  position: relative;
  border: 1px solid var(--color-secondary);
  padding: 0.3rem;
}

.header-section .header-wrap .border-1 .border-2 .header .header-title {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

.header-section .header-wrap .border-1 .border-2 .header .header-title span {
  color: #fff;
}

.header-section .header-wrap .border-1 .border-2 .header .header-image {
  width: 863px;
  height: 444px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 991px) {
  .header-section .header-wrap .border-1 .border-2 .header .header-image {
    width: 578px;
  }
}

@media (max-width: 767px) {
  .header-section .header-wrap .border-1 .border-2 .header .header-image {
    width: 303px;
  }
}

@media (max-width: 320px) {
  .header-section .header-wrap .border-1 .border-2 .header .header-image {
    width: 258px;
  }
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: var(--color-main);
}

.envelope-wrap .date {
  background-color: var(--color-primary);
  padding: 1rem 3rem;
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.envelope-wrap .date > * {
  width: 100%;
}

@media (max-width: 767px) {
  .envelope-wrap .date {
    padding: 1rem;
  }
}

.envelope-wrap .envelope-description {
  color: #fff;
}

.couple-section {
  position: relative;
  padding: 3rem 0;
  background-color: var(--color-primary);
  color: #fff;
  overflow: hidden;
}

.couple-section .couple-image {
  width: 100%;
  height: 364px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 6px solid #fff;
  position: relative;
}

@media (max-width: 991px) {
  .couple-section .couple-image {
    width: 267px;
    margin: auto;
  }
}

.couple-section .hotang-gold {
  width: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 150px;
  margin-left: -110px;
}

@media (max-width: 991px) {
  .couple-section .hotang-gold {
    margin: 2rem 0;
    width: 100%;
  }
}

.couple-section .couple-description {
  margin-top: 0.75rem;
  padding: 0 1rem;
}

.couple-section .couple-description .fab {
  font-size: 16px;
}

.story-section {
  position: relative;
  padding: 3rem 0 0;
  overflow: hidden;
}

.story-section .story-image {
  width: 100%;
  height: 444px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.3rem;
}

.story-section .border-8 {
  margin: 0.3rem;
  padding: 0.3rem;
}

@media (max-width: 991px) {
  .story-section h2 {
    margin-top: 3rem;
  }
}

.venue-section {
  position: relative;
  padding: 3rem 0 0;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 767px) {
  .venue-section .row-event {
    gap: 2rem;
  }
}

.venue-section .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.75rem 0 3rem;
}

.venue-section .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 132px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}

.venue-section .prokes-wrap .prokes .prokes-icon {
  width: auto;
  height: 60px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes .prokes-icon {
    height: 52px;
  }
}

.venue-section .border-8,
.venue-section .border-1 {
  padding: 0.3rem;
}

.venue-section .card {
  border-radius: 0;
  background-color: var(--color-primary);
  color: #fff;
}

.venue-section .card .card-body .btn-custom {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.venue-section .maps-embed {
  margin-top: 0.75rem;
  height: 230px;
}

.rsvp-wrap {
  padding: 3rem 0;
  background-color: var(--color-primary);
  margin-top: 8rem;
}

.rsvp-wrap .card {
  background-color: #fff;
  margin-top: -150px;
}

.rsvp-wrap .card .card-body {
  padding: 3rem 5rem;
}

@media (max-width: 767px) {
  .rsvp-wrap .card .card-body {
    padding: 2rem 1rem;
  }
}

.rsvp-wrap .card .card-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.rsvp-wrap .card .card-body form .btn-custom {
  text-align: center;
  border-radius: 0.25rem;
  background-color: #7b9970;
  color: #fff;
}

.background-primary {
  background-color: var(--color-primary);
  margin-top: -1px;
  position: relative;
}

.wishes-section {
  position: relative;
  padding: 3rem 0 3rem 0;
}

@media (max-width: 767px) {
  .wishes-section .row {
    gap: 2rem;
  }
}

.wishes-section .card {
  border: none;
  position: relative;
  z-index: 2;
  background-color: var(--color-primary);
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 19.6rem;
  overflow: auto;
  color: #fff;
}

.wishes-section .card .card-body .wishes .text-muted {
  color: #fffeee !important;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.wrapper {
  border: 1px solid var(--color-primary);
  position: relative;
}

.wrapper .title-reflection {
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

@media (max-width: 767px) {
  .wrapper .title-reflection {
    top: -34px;
  }
}

.wrapper .sun-edge-left,
.wrapper .sun-edge-right {
  position: absolute;
  bottom: 0;
  width: 87px;
}

.wrapper .sun-edge-left {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  left: 0;
}

.wrapper .sun-edge-right {
  right: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.section-grup {
  position: relative;
  padding: 3rem 2rem;
}

@media (max-width: 767px) {
  .section-grup {
    overflow: hidden;
    padding: 3rem 0.75rem;
  }
}

.egift-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  margin-bottom: -25px;
}

@media (max-width: 767px) {
  .egift-section {
    margin-bottom: 0;
    padding: 2rem 0 3rem;
  }
}

.egift-section .title-section {
  position: relative;
}

.egift-section form .input-group-text {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.gallery-section {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;
  background-color: var(--color-primary);
}

@media (max-width: 991px) {
  .gallery-section {
    padding: 3rem 0;
  }
}

@media (max-width: 575px) {
  .gallery-section {
    padding: 3rem 1rem;
  }
}

.gallery-section .hotang {
  width: 100%;
}

.gallery-section .img-gallery {
  position: relative;
  width: 100%;
  height: 578px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 192px;
  }
}

.gallery-section .img-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  border: none;
}

.gallery-section .splide .splide__slide.is-active .img-thumbnail {
  border: 5px solid var(--color-secondary);
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: var(--color-primary);
  width: 70px;
  height: 65px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.gallery-section .splide .splide__arrow--prev {
  left: 0;
}

.gallery-section .splide .splide__arrow--next {
  right: 0;
}

.gallery-section .yt-embed {
  height: 280px;
}

@media (max-width: 767px) {
  .gallery-section .yt-embed {
    height: 240px;
  }
}

@media (max-width: 575px) {
  .gallery-section .yt-embed {
    height: 180px;
  }
}

.apology-section {
  position: relative;
  padding: 5rem 0;
  background-color: var(--color-primary);
  overflow: hidden;
}

@media (max-width: 767px) {
  .apology-section {
    padding: 5rem 1rem;
  }
}

.apology-section .border-8 {
  padding: 0.5rem;
  position: relative;
}

.apology-section .hotang-gold {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  height: 138px;
}

.apology-section .apology {
  background-color: var(--color-main);
  padding: 5rem 3rem;
  position: relative;
  text-align: center;
  border: 1px solid var(--color-primary);
}

@media (max-width: 575px) {
  .apology-section .apology {
    padding: 3rem 1rem;
  }
}

.stream-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
  overflow: hidden;
  color: #fff;
}

.stream-section .line-group-left .line-1,
.stream-section .line-group-right .line-1 {
  width: 49px;
}

@media (max-width: 1199px) {
  .stream-section .line-group-left .line-1,
  .stream-section .line-group-right .line-1 {
    width: 28px;
  }
}

@media (max-width: 767px) {
  .stream-section .line-group-left .line-1,
  .stream-section .line-group-right .line-1 {
    width: 12px;
  }
}

@media (max-width: 767px) {
  .stream-section ol {
    padding: 0;
  }
}

.stream-section .card {
  background-color: var(--color-primary);
  position: relative;
  border-radius: 0;
  border: none;
}

.stream-section .card .hotang-left,
.stream-section .card .hotang-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 153px;
}

.stream-section .card .hotang-left {
  right: 100%;
}

.stream-section .card .hotang-right {
  left: 100%;
}

.stream-section .card .card-body {
  padding: 2rem 3rem;
}

@media (max-width: 767px) {
  .stream-section .card .card-body {
    padding: 2rem 1.25rem;
  }
}

@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 480px;
  }
}

.thank-section {
  position: relative;
  padding: 5rem 0;
  background-color: var(--color-primary);
  color: #fff;
}

@media (max-width: 767px) {
  .thank-section {
    padding: 5rem 1.25rem;
  }
}

.footer {
  padding: 1rem 0;
  color: var(--color-primary);
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
}

body {
  background-color: var(--color-main);
  font-family: "Roboto Slab", serif;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: "Tinos", serif;
  color: var(--color-primary);
}

h2 {
  font-weight: 700;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
}

.btn-custom {
  background-color: var(--color-primary);
  padding: 0.75rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: var(--color-primary);
  color: #fff;
  border-radius: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.btn-custom:hover {
  color: #fefef5;
}

.font-primary {
  font-family: "Roboto Slab", serif;
}

.font-secondary {
  font-family: "Tinos", serif;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-success {
  color: #7b9970;
}

.form-control,
.form-select {
  background-color: #fff;
  font-family: "Roboto Slab", serif;
  border-color: var(--color-secondary);
  padding: 0.75rem 1rem;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-dark);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}

.form-control:focus,
.form-select:focus {
  background-color: transparent;
  outline: none;
}

.divider {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-select {
  text-align: center;
}

.yt-embed {
  height: 360px;
  width: 100%;
  position: relative;
  z-index: 5;
}

@media (max-width: 991px) {
  .yt-embed {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .yt-embed {
    height: 240px;
  }
}

@media (max-width: 575px) {
  .yt-embed {
    height: 180px;
  }
}

.scrolled {
  color: #000;
  background: #fff !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.bg-line {
  position: absolute;
  top: 0;
  left: 0;
}

.line-group-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.line-group-left .line-1 {
  background-color: #ce4152;
  width: 90px;
}

@media (max-width: 1199px) {
  .line-group-left .line-1 {
    width: 38px;
  }
}

@media (max-width: 767px) {
  .line-group-left .line-1 {
    width: 12px;
  }
}

@media (max-width: 575px) {
  .line-group-left .line-1 {
    width: 8px;
  }
}

.line-group-left .line-2 {
  background-color: #7b9970;
  width: 5px;
}

@media (max-width: 767px) {
  .line-group-left .line-2 {
    width: 2px;
  }
}

.line-group-left .line-3 {
  background-color: var(--color-secondary);
  width: 20px;
  margin: 0 0.5rem;
}

@media (max-width: 767px) {
  .line-group-left .line-3 {
    width: 8px;
    margin: 0 0.25rem;
  }
}

.line-group-left .line-4 {
  background-color: var(--color-secondary);
  width: 5px;
}

@media (max-width: 767px) {
  .line-group-left .line-4 {
    width: 2px;
  }
}

.line-group-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.line-group-right .line-1 {
  background-color: #ce4152;
  width: 90px;
}

@media (max-width: 1199px) {
  .line-group-right .line-1 {
    width: 38px;
  }
}

@media (max-width: 767px) {
  .line-group-right .line-1 {
    width: 12px;
  }
}

@media (max-width: 575px) {
  .line-group-right .line-1 {
    width: 8px;
  }
}

.line-group-right .line-2 {
  background-color: #7b9970;
  width: 5px;
}

@media (max-width: 767px) {
  .line-group-right .line-2 {
    width: 2px;
  }
}

.line-group-right .line-3 {
  background-color: var(--color-secondary);
  width: 20px;
  margin: 0 0.5rem;
}

@media (max-width: 767px) {
  .line-group-right .line-3 {
    width: 8px;
    margin: 0 0.25rem;
  }
}

.line-group-right .line-4 {
  background-color: var(--color-secondary);
  width: 5px;
}

@media (max-width: 767px) {
  .line-group-right .line-4 {
    width: 2px;
  }
}

.border-color-secondary {
  border-style: solid;
  border-color: var(--color-secondary);
}

.border-color-success {
  border-style: solid;
  border-color: #7b9970;
}

.border-8 {
  border-width: 8px;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */