.apology-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.appology-wrap {
		position: relative;
	}

	.elements-wrapper-absolute {
		padding-top: 5rem;

		@include max-sm {
			padding-top: 3rem;
		}

		.background-element {
			img {
				object-position: 50% 0%;
				opacity: .25;
			}
		}
	}
}