@font-face {
    font-family: "Arima Madurai";
    src: url(../fonts/arima-madurai-latin-400-normal.woff2) format('woff2'), url(../fonts/arima-madurai-latin-400-normal.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Arima Madurai";
    font-weight: 500;
    src: url(../fonts/arima-madurai-latin-500-normal.woff2) format('woff2'), url(../fonts/arima-madurai-latin-500-normal.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Arima Madurai";
    font-weight: 700;
    src: url(../fonts/arima-madurai-latin-700-normal.woff2) format('woff2'), url(../fonts/arima-madurai-latin-700-normal.woff) format("woff");
    font-display: swap;
}