.header-section {
	position: relative;
	width: 100%;
	overflow: hidden;

	.scroll-icon {
		position: absolute;
		bottom: 4rem;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.header-content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 4.5rem 0 3rem;

		.header {
			position: relative;
			width: 35%;
			margin: 0 auto;

			@include max-xl {
				width: 40%;
			}

			@include max-lg {
				width: 60%;
			}

			@include max-sm {
				width: 90%;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: radial-gradient(ellipse, var(--color-main) 0%, transparent 100%);
				opacity: .35;
				content: "";
				border-radius: 50%;
			}

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-shadow: 0 0 2rem var(--color-main);
				opacity: .2;
				content: "";
				border-radius: 50%;
			}

			.header-title {
				--color-button-trans: #1e1f1e;
				position: relative;
				text-align: center;

				&::before {
					display: block;
					width: 2px;
					height: 60px;
					background-color: var(--color-button-trans);
					margin: 0 auto 1rem;
					content: "";
				}

				&::after {
					display: block;
					width: 2px;
					height: 60px;
					background-color: var(--color-button-trans);
					margin: 1rem auto 0;
					content: "";
				}

				&-content {
					position: relative;

					p {
						margin-bottom: 0;
					}
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}


	.bg-1 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 140%;
		transform: translate(-50%, 0);

		@include min-md {
			top: 30%;
			bottom: unset;
			width: 120%;
		}

		@include min-lg {
			width: 100%;
		}

		.bg-2 {
			position: absolute;
			top: 0;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);

			@include min-lg {
				transform: translate(-50%, -30%);
			}
		}
	}

	.ornaments-wrapper .frame {
		@include min-md {
			transform: translate(-50%, -18%);
		}

		@include min-lg {
			transform: translate(-50%, -45%);
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		transform: translate(-60%, -10%);

		@include min-md {
			width: 65%;
		}

		@include min-lg {
			width: 35%;
			transform: translate(-60%, -20%);
			z-index: 3;
		}
	}

	.tree-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 80%;
		transform: translate(60%, -10%);

		@include min-md {
			width: 65%;
		}

		@include min-lg {
			width: 35%;
			transform: translate(60%, -20%);
			z-index: 3;
		}
	}

	.tree-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80%;
		transform: translate(-45%, 40%);

		@include min-md {
			width: 65%;
		}

		@include min-lg {
			width: 35%;
		}
	}

	.tree-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 80%;
		transform: translate(45%, 40%);

		@include min-md {
			width: 65%;
		}

		@include min-lg {
			width: 35%;
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: translate(-50%, 0%);

		@include min-md {
			width: 30%;
		}

		@include min-lg {
			width: 15%;
		}

		.orn-2 {
			position: absolute;
			top: 35%;
			left: 80%;
			width: 60%;

			.orn-3 {
				position: absolute;
				top: 15%;
				left: 60%;
				width: 80%;
				transform: scaleX(-1);
			}
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: translate(60%, 0%) rotate(-10deg);

		@include min-md {
			width: 30%;
		}

		@include min-lg {
			width: 15%;
		}

		.orn-5 {
			position: absolute;
			top: 28%;
			right: 90%;
			width: 60%;
			transform: rotate(10deg);

			.orn-6 {
				position: absolute;
				top: 20%;
				right: 70%;
				width: 80%;
				transform: scaleX(-1);
			}
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 40%;
		transform: translate(-50%, 60%);

		@include min-md {
			width: 30%;
		}

		@include min-lg {
			width: 20%;
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}