.story-section {
	position: relative;

	.story {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.story-content {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-light);
			border-radius: var(--border-radius);
			overflow: hidden;

			&-body {
				position: relative;

				.frame-standard {
					@include min-lg {
						width: calc(100% + 1.5rem);
					}
				}
			}

			.story-description {
				position: relative;
				text-align: left;
				padding: 3rem 2rem 3rem 3rem;

				@include max-lg {
					text-align: center;
					padding: 2rem 4rem;
				}

				@include max-sm {
					padding: 1.8rem;
				}

				.title-section {
					@include min-lg {
						text-align: left;
					}
				}
			}
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(4, 6);

			@include ipad {
				@include aspect-ratio(6, 4);
			}

			.story-background {
				object-fit: cover;
				border-radius: 0 20px 20px 0;

				@include max-lg {
					border-radius: 0 0 20px 20px;
				}
			}
		}
	}
}