.venue-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-light);
	border-radius: var(--border-radius);
	overflow: hidden;

	.venue-wrapper {
		position: relative;
		padding: 2rem 0 5rem;

		@include max-md {
			padding: 2rem 0 3rem;
		}

		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;

			@include max-lg {
				margin-bottom: 3rem;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: absolute;
				top: 3rem;
				left: 0;
				width: fit-content;
				padding: 1.5rem 1rem 1rem;
				border-radius: var(--border-radius);
				background-color: var(--color-secondary);
				transform: translateX(-50%);

				@include max-sm {
					padding: 1rem .5rem .5rem;
				}

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-button-trans);
				}

				.st1 {
					fill: none;
					stroke: var(--color-button-trans);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-main);
				color: var(--color-dark);
				text-align: center;
				border: none;
				border-radius: var(--border-radius);

				@include max-sm {
					margin-left: 1rem;
				}

				.card-body {
					position: relative;
					padding: 1.5rem 1.5rem 2.5rem;

					h4 {
						padding: 0 0 1rem;
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-name {
						position: relative;
						width: 100%;
						padding: 0 0 2rem;

						.line {
							--color-button-trans: #1e1f1e;
							position: relative;
							width: 2px;
							height: 50px;
							background-color: var(--color-button-trans);
							margin: 0 auto 1rem;
						}

						.date {
							position: relative;
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							h5 {
								font-family: $font-secondary;
								font-weight: 700;
								margin-bottom: 0;
								font-size: 36px;
								padding: .5rem 0;
							}
						}

						h4 {
							font-family: $font-secondary;
						}

						p {
							font-size: 18px;
							margin-bottom: 0;
							font-weight: 700;

							@include max-sm {
								font-size: 16px;
							}
						}
					}

					.event-place {
						position: relative;

						&-body {
							position: relative;
							background-color: var(--color-primary);
							color: var(--color-light);
							padding: 2rem 1rem 2.5rem;
							border-radius: var(--border-radius);
						}

						.widget-elements {
							position: absolute;
							bottom: 0;
							left: 50%;
							width: 100%;
							transform: translate(-50%, 50%);
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}

	&>.frame-standard {
		@include min-md {
			margin-top: -2rem;
		}

		@include min-lg {
			margin-top: -8rem;
		}
	}

	.frame-standard {
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		overflow: hidden;
	}

	.ornaments-wrapper {
		border-radius: var(--border-radius);

		.bg {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 200%;
			transform: translate(-50%, 0);
			opacity: .4;
		}

		.orn-1 {
			position: absolute;
			top: 0;
			right: 0;
			width: 80%;
			transform: translate(70%, 0);

			@include min-md {
				width: 40%;
				transform: translate(70%, 0) rotate(-10deg);
			}

			@include min-lg {
				width: 20%;
			}
		}

		.orn-2 {
			position: absolute;
			top: 50%;
			left: 0;
			width: 80%;
			transform: translate(-70%, 0) scaleX(-1);

			@include min-md {
				width: 40%;
				transform: translate(-70%, 0) rotate(10deg) scaleX(-1);
			}

			@include min-lg {
				width: 20%;
			}
		}
	}

}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}