.wishes-section {
	position: relative;

	.wishes-form-wrapper {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-light);
		padding: 5rem 0 2rem;

		@include max-sm {
			padding: 3rem 0 1rem;
		}

		.line {
			position: relative;
			width: 2px;
			height: 50px;
			background-color: var(--color-button-trans);
			margin: 0 auto 1rem;
		}
	}

	.card-form {
		background-color: transparent;
		border-radius: var(--border-radius);

		&.card {
			border: none;
		}

		.card-body {
			padding: 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}

	.wishes-preview {
		position: relative;
		padding: 2rem 0 5rem;

		@include max-sm {
			padding: 1rem 0 3rem;
		}

		.card {
			position: relative;
			border: none;
			background-color: transparent;

			.card-body {
				overflow: hidden;
				padding: 2rem 0 0;

				.wishes {
					text-align: left;
					max-height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					color: var(--color-dark);

					&::-webkit-scrollbar {
						width: 5px;
					}

					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}

					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}

					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;

						h6 {
							font-weight: bold;
						}

						h6,
						p {
							margin-bottom: 0;
						}

						.wish-badge {
							background-color: var(--color-light);
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}

						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fff, $alpha: 0.8);
							border-radius: 5px;
							position: relative;
							filter: drop-shadow(0 0 5px rgba($color: #000, $alpha: .1));

							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fff, $alpha: 0.8);
							}
						}
					}
				}
			}
		}
	}
}