body {
	font-family: $font-primary;
	color: var(--color-dark);
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
}

.main-app {
	position: relative;
	background-color: var(--color-main);
	overflow: hidden;

	.background-body-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.background-body-content {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include max-md {
					object-position: right;
					object-fit: contain;
				}
			}
		}
	}

	.elements-wrapper-absolute {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.background-element {
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.elements-absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.background-element {
			position: relative;
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.ornaments-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
}

.logo-viding {
	height: 2.4rem;

	@include max-md {
		height: 2.25rem;
	}

	path {
		fill: var(--vd-color-pink);
	}
}

h1,
h2,
h3 {
	font-family: $font-secondary;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
}

h1 {
	font-size: 46px;
	line-height: 1.2;

	@include max-md {
		font-size: 42px;
	}

	span {
		font-size: 32px;
		display: block;

		@include max-md {
			font-size: 28px;
		}
	}
}

small {
	font-size: 12px;
}

span {
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
}

@include max-sm {

	p,
	span {
		font-size: 14px;
	}

	small {
		font-size: 10px;
	}
}

.image-element {
	position: relative;
	width: 100%;
	height: auto;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.container {
	@include max-md {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.btn-custom {
	background-color: var(--color-secondary);
	padding: 0.5rem 2rem;
	transition: all 0.3s ease-in-out;
	// border-color: $color-primary;
	color: var(--text-button);
	width: fit-content;
	margin: 0 auto;
	border-radius: 50px;

	&:hover {
		color: var(--text-button);
	}

	path {
		fill: var(--text-button);
	}
}

.overlay-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1000px 1000px 50px 50px;
	background-color: var(--color-secondary);
}

.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

.scaleX-reverse {
	transform: scaleX(-1);
}

.scaleY-reverse {
	transform: scaleY(-1);
}

.scale-reverse {
	transform: scale(-1);
}

.form-label {
	margin-bottom: 0;
}

.form-control,
.form-select {
	font-family: $font-primary;
	border: none;
	padding: 0.5rem 1rem;
	background-color: rgba($color: #fff, $alpha: .7);
	box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.15);

	&::placeholder {
		color: var(--color-dark);
	}

	&:focus {
		box-shadow: none;
		border-color: var(--color-dark);
	}
}

.scrolled {
	background: #fff !important;
	transition: all 1s ease-in-out;
	box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
	visibility: visible !important;
	pointer-events: all !important;

	.logo-viding {
		path {
			fill: var(--vd-color-pink);
		}
	}
}

.navbar-hide {
	top: -70px;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 2px;
	background-color: var(--vd-color-pink);
	width: 100%;
	transform: scaleZ(0);
	transform-origin: 0% 50%;
	z-index: 9999;
}

.title-section {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 1.25rem;

	h2,
	p,
	span {
		display: block;
		width: 100%;
		margin-bottom: 0;
		font-weight: 500;
		font-size: 32px;
		text-rendering: optimizeLegibility;
		-webkit-font-feature-settings: "kern" 1;
		font-feature-settings: "kern" 1;

		@include max-md {
			font-size: 2rem;
		}
	}
}

.overlay-elements-gradient {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;

	&.overlay-bottom {
		bottom: 0;
		background: linear-gradient(to top, var(--color-main) 0%, transparent 100%);
	}

	&.overlay-top {
		top: 0;
		background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
	}
}

.waves-bottom {
	position: absolute;
	width: 100%;
	left: 0;
	height: auto;
	bottom: -2px;
	z-index: 3;

	path {
		fill: var(--color-main);
	}

	&.reverse {
		transform: scaleX(-1);
	}
}

.waves-top {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: auto;
	transform: scale(-1);
	z-index: 3;

	path {
		fill: var(--color-main);
	}
}

.waves-left {
	position: absolute;
	height: 100%;
	left: -1px;
	top: 0;
}

.waves-right {
	position: absolute;
	height: 100%;
	right: -1px;
	top: 0;
	transform: scale(-1);
}

ul {
	padding: 0;

	li {
		padding: 0;
	}
}

@include min-md {
	.lg {
		display: block;
	}

	.sm {
		display: none;
	}
}

@include max-md {
	.lg {
		display: none;
	}

	.sm {
		display: block;
	}
}

.loader-wrapper {
	position: fixed;
	min-height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1500;
	flex-direction: column;
	gap: 1.25rem;

	.spinner {
		position: relative;
		width: 84px;
	}

	span {
		color: var(--vd-color-pink);
		font-weight: 700;
		animation: fade 2s linear infinite;
		letter-spacing: 5px;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.modal.show-maps {
	.modal-content {
		border-radius: 20px;
	}

	.modal-body {
		padding: 2rem 3rem;
		position: relative;

		@include max-md {
			padding: 2rem 1rem;
		}

		.btn-modal {
			background-color: var(--color-main);
			color: var(--color-dark);
			position: absolute;
			right: 10px;
			top: 10px;
			border-radius: 50px;
			opacity: 0.5;
			padding: 0 0.425rem;
			transition: all 0.5s ease;

			&:hover {
				opacity: 1;
			}
		}

		.btn-custom {
			background: transparent;
			border-color: var(--color-dark);
			color: var(--color-dark);
			transition: all 0.25 ease-in-out;

			&:hover {
				background: var(--color-secondary);
				border-color: var(--color-secondary);
				color: var(--text-button);
			}
		}

		.maps-element {
			position: relative;
			width: 100%;
			aspect-ratio: 16/9;

			@include max-md {
				aspect-ratio: 9/10;
			}
		}

		.loader-wrapper-modal {
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;

			&.loaded {
				display: none;
			}

			.lds-default {
				display: inline-block;
				position: relative;
				width: 80px;
				height: 80px;
			}

			.lds-default div {
				position: absolute;
				width: 6px;
				height: 6px;
				background: var(--color-secondary);
				border-radius: 50%;
				animation: lds-default 1.2s linear infinite;
			}

			.lds-default div:nth-child(1) {
				animation-delay: 0s;
				top: 37px;
				left: 66px;
			}

			.lds-default div:nth-child(2) {
				animation-delay: -0.1s;
				top: 22px;
				left: 62px;
			}

			.lds-default div:nth-child(3) {
				animation-delay: -0.2s;
				top: 11px;
				left: 52px;
			}

			.lds-default div:nth-child(4) {
				animation-delay: -0.3s;
				top: 7px;
				left: 37px;
			}

			.lds-default div:nth-child(5) {
				animation-delay: -0.4s;
				top: 11px;
				left: 22px;
			}

			.lds-default div:nth-child(6) {
				animation-delay: -0.5s;
				top: 22px;
				left: 11px;
			}

			.lds-default div:nth-child(7) {
				animation-delay: -0.6s;
				top: 37px;
				left: 7px;
			}

			.lds-default div:nth-child(8) {
				animation-delay: -0.7s;
				top: 52px;
				left: 11px;
			}

			.lds-default div:nth-child(9) {
				animation-delay: -0.8s;
				top: 62px;
				left: 22px;
			}

			.lds-default div:nth-child(10) {
				animation-delay: -0.9s;
				top: 66px;
				left: 37px;
			}

			.lds-default div:nth-child(11) {
				animation-delay: -1s;
				top: 62px;
				left: 52px;
			}

			.lds-default div:nth-child(12) {
				animation-delay: -1.1s;
				top: 52px;
				left: 62px;
			}

			@keyframes lds-default {

				0%,
				20%,
				80%,
				100% {
					transform: scale(1);
				}

				50% {
					transform: scale(1.5);
				}
			}
		}

		.modal-actions {
			position: relative;
			color: var(--color-dark);
		}
	}
}

/** mouse scroll **/
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 15px;
	position: relative;
	margin: 0 auto;
}

.m_scroll_arrows {
	display: block;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);

	border-right: 2px solid var(--color-button-trans);
	border-bottom: 2px solid var(--color-button-trans);
	margin: 0 0 3px 4px;

	width: 15px;
	height: 15px;
}

@media (max-width: 767px) {
	.m_scroll_arrows {
		width: 16px;
		height: 16px;
	}
}

.unu {
	margin-top: 1px;
}

.unu,
.doi,
.trei {
	animation: mouse-scroll 1s infinite;
}

.unu {
	animation-direction: alternate;
	animation-delay: 0.1s;
}

.doi {
	animation-delay: 0.2s;
	animation-direction: alternate;

	margin-top: -6px;
}

.trei {
	animation-delay: 0.3s;
	animation-direction: alternate;

	margin-top: -6px;
}

.mouse {
	height: 42px;
	width: 24px;
	border-radius: 14px;
	transform: none;
	border: 2px solid var(--color-button-trans);
	top: 170px;
}

.wheel {
	height: 5px;
	width: 2px;
	display: block;
	margin: 5px auto;
	background: var(--color-button-trans);
	position: relative;

	height: 4px;
	width: 4px;
	border: 2px solid var(--color-button-trans);
	border-radius: 8px;
}

.wheel {
	animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel {
	0% {
		top: 1px;
	}

	25% {
		top: 2px;
	}

	50% {
		top: 3px;
	}

	75% {
		top: 2px;
	}

	100% {
		top: 1px;
	}
}

@keyframes mouse-scroll {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}