.apology-section {
	position: relative;
	padding: 8rem 0;
	background-color: var(--color-primary);
	color: var(--color-dark);
	@include max-md {
		padding: 5rem 0;
	}
	.bg-1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200%;
		transform: translate(-50%, -50%);
		opacity: 0.2;
		@include min-md {
			width: 150%;
		}
		@include min-lg {
			width: 100%;
		}
	}
	.corner-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		@include max-lg {
			width: 55%;
		}
	}
	.corner-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		transform: scaleX(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.corner-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: scaleY(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.corner-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: scale(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.appology-wrap {
		position: relative;
		padding: 3rem 2rem;
		@include max-md {
			padding: 2rem 1rem;
		}
	}
}
