.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;
	&.cover-opened {
		transform: translateY(-100%);
	}
	.corner-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		@include max-lg {
			width: 55%;
		}
	}
	.corner-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		transform: scaleX(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.corner-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: scaleY(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.corner-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: scale(-1);
		@include max-lg {
			width: 55%;
		}
	}
	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 25%;
		transform: translate(-20%, 0);
		@include max-lg {
			width: 45%;
		}
		@include max-md {
			width: 55%;
		}
	}
	.orn-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		transform: translate(30%, 0);
		@include max-lg {
			width: 50%;
		}
		@include max-md {
			width: 60%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 30%;
		transform: translate(0, 15%);
		@include max-lg {
			left: 0;
			width: 50%;
		}
		@include max-md {
			width: 65%;
		}
	}
	.orn-4 {
		position: absolute;
		top: 0;
		right: 10%;
		width: 30%;
		transform: translate(0, -15%) scale(-1);
		@include max-lg {
			right: 0;
			width: 50%;
		}
		@include max-md {
			width: 65%;
		}
	}
	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;
		@include max-lg {
			padding: 4rem 0 8rem;
			align-items: center;
		}
		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.cover-body {
				position: relative;
				.cover-description {
					padding: 2rem;
					text-align: center;
					@include max-lg {
						padding: 2rem 1rem;
					}
					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}
					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}
					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}
					p {
						margin-bottom: 0;
					}
					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}
			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}
