.apology-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				object-position: 50% 0%;
				opacity: .4;
			}
		}
	}

	.appology-wrap {
		position: relative;
	}
}