.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 10%);
	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0;
		transition: opacity 1s ease;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@include max-lg {
			padding: 5rem 0 10rem;
		}

		.cover-content {
			position: relative;
			width: 40%;
			padding: 3rem 2rem;
			border-radius: var(--border-radius);
			overflow: hidden;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-main);
				opacity: .6;
				border-radius: var(--border-radius);
				content: "";
			}

			@include max-lg {
				width: 60%;
				padding-bottom: 10rem;
			}

			@include max-sm {
				width: 100%;
				padding: 2rem 1rem;
			}

			.elements-wrapper-absolute {
				.background-element {
					img {
						opacity: .4;
						object-position: 50% 50%;
					}
				}
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}

	.elements-wrapper-absolute {
		width: 140%;

		.background-element {
			img {
				object-position: 50% 0%;
				opacity: .3;
			}
		}
	}

	.flower {
		position: absolute;
		top: 30%;
		right: 20%;
		width: 80%;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 15%;
		transform: translate(-30%, -10%);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 15%;
		transform: translate(30%, -10%) scaleX(-1);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 25%;
		transform: translate(-50%, 10%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}

		.orn-4 {
			position: absolute;
			top: 35%;
			left: 25%;
			width: 100%;
		}

		.orn-5 {
			position: absolute;
			top: 65%;
			left: 80%;
			width: 60%;
			transform: rotate(30deg) scaleX(-1);
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25%;
		transform: translate(50%, 10%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}

		.orn-7 {
			position: absolute;
			top: 35%;
			right: 25%;
			width: 100%;
			transform: scaleX(-1);
		}

		.orn-8 {
			position: absolute;
			top: 65%;
			right: 80%;
			width: 60%;
			transform: rotate(-30deg);
		}
	}
}