.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 10%);
	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0;
		transition: opacity 1s ease;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@include max-lg {
			padding: 5rem 0 10rem;
		}

		.cover-content {
			position: relative;
			width: 40%;
			padding: 3rem 2rem;
			border-radius: var(--border-radius);
			overflow: hidden;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-main);
				opacity: .6;
				border-radius: var(--border-radius);
				content: "";
			}

			@include max-lg {
				width: 60%;
				padding-bottom: 10rem;
			}

			@include max-sm {
				width: 100%;
				padding: 2rem 1rem;
			}

			.elements-wrapper-absolute {
				.background-element {
					img {
						opacity: .4;
					}
				}
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}