.reminder-wrap {
	position: relative;
	width: 100%;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(4, 5);

			img {
				object-fit: cover;
				@include mask();
			}
		}
	}

	.reminder-content {
		position: relative;
		margin-top: 1rem;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin: 1.5rem auto 0;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}