.rsvp-section {
	position: relative;

	.rsvp-wrapper {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-main);
			opacity: .6;
			border-radius: var(--border-radius);
			box-shadow: 0 0 3rem var(--color-main);
			content: "";
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--border-radius);
			box-shadow: 0 0 2rem var(--color-main);
			opacity: .8;
			content: "";
		}

		.rsvp-form {
			position: relative;
			padding: 4rem;

			@include max-sm {
				padding: 4rem 3rem 3rem;
			}
		}

		.mountain {
			position: absolute;
			top: .5rem;
			left: 50%;
			width: 100%;
			transform: translate(-50%, 0);
			opacity: .6;
		}

		.orn-1 {
			position: absolute;
			top: 50%;
			left: 0;
			width: 30%;
			transform: translate(-65%, -50%) rotate(10deg);
		}

		.orn-2 {
			position: absolute;
			top: 50%;
			right: 0;
			width: 30%;
			transform: translate(60%, -50%) rotate(-5deg);
		}

		.orn-3 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 35%;
			transform: translate(-50%, 20%);
		}

		.orn-4 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 30%;
			transform: translate(-20%, 40%);

			.orn-5 {
				position: absolute;
				top: 35%;
				left: 60%;
				width: 80%;
			}
		}

		.orn-6 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(50%, 20%) scaleX(-1);
		}

		.orn-7 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 30%;
			transform: translate(20%, 35%) scaleX(-1);

			.orn-8 {
				position: absolute;
				top: 30%;
				left: 60%;
				width: 80%;
			}
		}

		.orn-9 {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 40%;
			transform: translate(-50%, 75%);
		}
	}
}