.story-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.story-description {
		position: relative;
		text-align: center;
		padding: 0 1rem;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 2rem;

		.image-element {
			@include aspect-ratio(4, 5);

			img {
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}
}