.stream-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				background-color: var(--color-main);
				color: var(--color-dark);
				border-radius: var(--border-radius);
				padding: 2rem 1.5rem;
				text-align: center;

			}

			iframe {
				border-radius: 8px;
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}