.stream-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				background-color: var(--color-main);
				color: var(--color-dark);
				border-radius: var(--border-radius);
				padding: 2rem 1.5rem;
				text-align: center;
				overflow: hidden;

			}

			iframe {
				border-radius: 8px;
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				object-position: 50% 0%;
				opacity: .3;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		transform: translate(-70%, 0);

		.orn-2 {
			position: absolute;
			top: 50%;
			right: 0;
			width: 60%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		transform: translate(70%, 0);

		.orn-4 {
			position: absolute;
			top: 50%;
			left: 10%;
			width: 60%;
			transform: rotate(-30deg);
		}
	}
}