@font-face {
  font-family: "Gotham Ultra";
  src: url(../fonts/gotham-ultra.ttf);
}

@font-face {
  font-family: "Gotham Ultra";
  src: url(../fonts/GothamUltra.woff);
}

@font-face {
  font-family: "Gotham Ultra";
  src: url(../fonts/GothamUltra.woff2);
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/Gotham-Book.woff);
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/Gotham-Book.woff2);
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/Gotham-Book.ttf);
}

:root {
  --color-main: #f9faff;
  --color-primary: #010046;
  --color-secondary: #383b5e;
  --color-dark: #1e1f1e;
  --color-bg-secondary: #f3f3ff;
  --vd-color-pink: #ff3190;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0 0 0;
}

@media (max-width: 991px) {
  .countdown {
    gap: 0;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 73px;
  padding: 10px;
  position: relative;
}

@media (max-width: 991px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: auto;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 16px;
}

@media (max-width: 575px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 14px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Fondamento";
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: var(--color-primary);
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-section::before {
  background-color: #00000027;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
}

.header-section .header-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header-section .sun-edge-left,
.header-section .sun-edge-right {
  position: absolute;
  top: 0;
  width: 158px;
}

@media (max-width: 767px) {
  .header-section .sun-edge-left,
  .header-section .sun-edge-right {
    width: 87px;
  }
}

.header-section .sun-edge-left {
  left: 0;
}

.header-section .sun-edge-right {
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-section .header-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767px) {
  .header-section .header-wrap {
    width: 100%;
  }
}

.header-section .header-wrap .vector {
  margin-bottom: 2rem;
}

.header-section .header-wrap p {
  color: #fff;
}

.header-section .header-wrap .header-title-couple {
  position: relative;
}

.header-section .header-wrap .header-title-couple span {
  font-size: 20px;
  color: #fff;
}

.header-section .header-wrap .header-title-couple h1 {
  position: relative;
  margin-bottom: 0;
  color: #fff;
}

.header-section .header-wrap .header-title-couple .title-reflection {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
}

.header-section .header-wrap .header-title-couple .title-reflection h1 {
  line-height: normal;
  text-transform: uppercase;
  color: transparent;
}

.envelope-wrap {
  position: fixed;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 1300;
}

.envelope-wrap .envelope-description {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  color: #fff;
}

@media (max-width: 767px) {
  .envelope-wrap .btn-custom {
    padding: 0.75rem;
  }
}

.couple-section {
  position: relative;
  padding: 3rem 2rem;
}

@media (max-width: 991px) {
  .couple-section {
    padding: 3rem 1rem;
  }
}

@media (max-width: 575px) {
  .couple-section {
    overflow: hidden;
    padding: 3rem 0.75rem;
  }
}

.couple-section .couple-wrap {
  position: relative;
  border: 1px solid var(--color-secondary);
  padding: 5rem 0;
}

@media (max-width: 767px) {
  .couple-section .couple-wrap {
    padding: 3rem 0;
  }
}

.couple-section .couple-wrap .sun-edge-left,
.couple-section .couple-wrap .sun-edge-right {
  position: absolute;
  bottom: 0;
  width: 87px;
}

@media (max-width: 767px) {
  .couple-section .couple-wrap .sun-edge-left,
  .couple-section .couple-wrap .sun-edge-right {
    width: 76px;
  }
}

.couple-section .couple-wrap .sun-edge-left {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  left: 0;
}

.couple-section .couple-wrap .sun-edge-right {
  right: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.couple-section .couple-wrap .title-reflection {
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 767px) {
  .couple-section .couple-wrap .title-reflection {
    top: -34px;
  }
}

.couple-section .couple-wrap .couple {
  position: relative;
  margin-top: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.couple-section .couple-wrap .couple .couple-image {
  width: 100%;
  height: 366px;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .couple-section .couple-wrap .couple .couple-image {
    width: 80%;
  }
}

.couple-section .couple-wrap .couple .fab {
  font-size: 25px;
  margin: 1rem 0;
}

@media (max-width: 991px) {
  .couple-section .couple-wrap .btn-custom {
    padding: 0.75rem;
  }
}

.story-section {
  position: relative;
  padding: 200px 0 5rem 0;
  background-color: var(--color-bg-secondary);
}

@media (max-width: 991px) {
  .story-section {
    padding-bottom: 8rem;
  }
}

@media (max-width: 767px) {
  .story-section {
    padding-top: 138px;
  }
}

.story-section .story-image-wrap {
  position: relative;
}

@media (max-width: 767px) {
  .story-section .story-image-wrap {
    margin-bottom: 3rem;
  }
}

.story-section .story-image-wrap .vector {
  position: absolute;
  left: 50%;
  top: -200px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 3;
}

@media (max-width: 767px) {
  .story-section .story-image-wrap .vector {
    height: 170px;
    top: -138px;
  }
}

.story-section .story-image-wrap .story-image {
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
}

.story-section .story-description {
  text-align: center;
  position: relative;
}

.story-section .story-description .title-reflection {
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
}

@media (max-width: 991px) {
  .story-section .story-description .title-reflection {
    top: -65px;
  }
}

@media (max-width: 767px) {
  .story-section .story-description .title-reflection {
    top: -34px;
  }
}

.story-section .story-description p {
  text-align: left;
}

.venue-section {
  position: relative;
  padding: 3rem 2rem;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 575px) {
  .venue-section {
    padding: 3rem 0.75rem;
  }
}

.venue-section .sun-half {
  margin-bottom: 0.5rem;
}

.venue-section .venue-wrap {
  position: relative;
  border: 1px solid var(--color-primary);
  padding: 3rem 0 0 0;
}

.venue-section .venue-wrap .sun-edge-left,
.venue-section .venue-wrap .sun-edge-right {
  position: absolute;
  bottom: 0;
  width: 87px;
}

.venue-section .venue-wrap .sun-edge-left {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  left: 0;
}

.venue-section .venue-wrap .sun-edge-right {
  right: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.venue-section .venue-wrap .title-reflection {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -50px;
}

@media (max-width: 767px) {
  .venue-section .venue-wrap .title-reflection {
    top: -34px;
  }
}

.venue-section .venue-wrap .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venue-section .venue-wrap .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 132px;
}

@media (max-width: 767px) {
  .venue-section .venue-wrap .prokes-wrap .prokes {
    width: 120px;
  }
}

.venue-section .venue-wrap .prokes-wrap .prokes .prokes-icon {
  width: auto;
  height: 60px;
}

@media (max-width: 767px) {
  .venue-section .venue-wrap .prokes-wrap .prokes .prokes-icon {
    height: 52px;
  }
}

@media (max-width: 767px) {
  .venue-section .venue-wrap .row-event {
    gap: 3rem;
  }
}

.venue-section .venue-wrap .maps-embed {
  margin-top: 2rem;
}

.rsvp-wrap {
  position: relative;
  padding: 8rem 0 0 0;
  margin-bottom: -20px;
}

@media (max-width: 991px) {
  .rsvp-wrap {
    margin-bottom: -23px;
  }
}

@media (max-width: 767px) {
  .rsvp-wrap {
    margin-bottom: 0;
    padding-bottom: 7rem;
  }
}

.rsvp-wrap .title-section {
  position: relative;
}

.rsvp-wrap .title-section .title-reflection {
  top: -45px;
}

@media (max-width: 767px) {
  .rsvp-wrap .title-section .title-reflection {
    top: -34px;
  }
}

.rsvp-wrap form .form-control,
.rsvp-wrap form .form-select {
  margin-bottom: 1.5rem;
}

.wishes-section {
  position: relative;
  padding: 3rem 0 3rem 0;
}

.wishes-section .card {
  margin: 2rem 0 0 0;
  border: none;
  position: relative;
  z-index: 2;
  background-color: var(--color-bg-secondary);
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 422px;
  overflow: auto;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  font-family: "Barlow", sans-serif;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.wrapper {
  border: 1px solid var(--color-primary);
  position: relative;
}

.wrapper .title-reflection {
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

@media (max-width: 767px) {
  .wrapper .title-reflection {
    top: -34px;
  }
}

.wrapper .sun-edge-left,
.wrapper .sun-edge-right {
  position: absolute;
  bottom: 0;
  width: 87px;
}

.wrapper .sun-edge-left {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  left: 0;
}

.wrapper .sun-edge-right {
  right: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.section-grup {
  position: relative;
  padding: 3rem 2rem;
}

@media (max-width: 767px) {
  .section-grup {
    overflow: hidden;
    padding: 3rem 0.75rem;
  }
}

.egift-section {
  position: relative;
  padding: 5rem 0 0;
  text-align: center;
  margin-bottom: -25px;
}

@media (max-width: 767px) {
  .egift-section {
    margin-bottom: 0;
    padding: 4rem 0 5rem;
  }
}

.egift-section .title-section {
  position: relative;
}

.egift-section form .input-group-text {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.gallery-section {
  position: relative;
  padding: 3rem 0 5rem;
  background-color: var(--color-bg-secondary);
}

.gallery-section .zoom-gallery {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 3rem 0 0 0;
}

.gallery-section .zoom-gallery::before {
  position: absolute;
  content: "";
  width: 461px;
  height: 583px;
  left: -50px;
  top: -30px;
}

@media (max-width: 575px) {
  .gallery-section .zoom-gallery::before {
    width: 230px;
    height: 290px;
    left: -15px;
  }
}

.gallery-section .zoom-gallery a {
  position: relative;
}

.gallery-section .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery-section .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 2px 8px;
  font-size: 20px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

.gallery-section .zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.gallery-section .zoom-gallery a:hover::after {
  opacity: 1;
}

.gallery-section .zoom-gallery .photo {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (max-width: 575px) {
  .gallery-section .zoom-gallery .photo {
    height: 107px;
  }
}

.apology-section {
  position: relative;
  padding: 238px 0 8rem 0;
}

@media (max-width: 991px) {
  .apology-section {
    padding-top: 220px;
  }
}

.apology-section .apology {
  background-color: var(--color-bg-secondary);
  padding: 5rem 3rem;
  position: relative;
  text-align: center;
  border: 1px solid var(--color-primary);
}

@media (max-width: 575px) {
  .apology-section .apology {
    padding: 3rem 1.5rem;
  }
}

.apology-section .apology .sun-grup {
  top: -128px;
}

.stream-section {
  position: relative;
  text-align: center;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  .stream-section {
    overflow: hidden;
  }
}

.stream-section .stream {
  position: relative;
  background-color: var(--color-bg-secondary);
  padding: 3rem 0 8rem;
}

.stream-section .title-reflection {
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 767px) {
  .stream-section .title-reflection {
    top: -34px;
  }
}

.stream-section .sun-half {
  margin-bottom: 0.75rem;
}

.stream-section .vector {
  position: absolute;
  top: -115px;
  left: 0;
}

@media (max-width: 991px) {
  .stream-section .vector {
    width: 140px;
    top: -134px;
  }
}

@media (max-width: 767px) {
  .stream-section .vector {
    display: none;
  }
}

@media (max-width: 767px) {
  .stream-section ul {
    padding: 0;
  }
}

.stream-section ul ol {
  padding: 0;
}

.stream-section .stream-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .stream-section .stream-description {
    padding: 0 2rem;
  }
}

.stream-section .yt-embed {
  width: 100%;
  height: 576px;
}

@media (max-width: 991px) {
  .stream-section .yt-embed {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .stream-section .yt-embed {
    height: 240px;
  }
}

@media (max-width: 575px) {
  .stream-section .yt-embed {
    height: 180px;
  }
}

.thank-section {
  position: relative;
  padding: 8rem 0;
  border: 1px solid var(--color-primary);
  margin: 3rem 2rem;
}

@media (max-width: 767px) {
  .thank-section {
    padding: 3rem 0 6rem;
  }
}

@media (max-width: 575px) {
  .thank-section {
    margin: 3rem 0.75rem;
  }
}

.thank-section .sun-edge-left,
.thank-section .sun-edge-right {
  position: absolute;
  bottom: 0;
  width: 87px;
}

@media (max-width: 767px) {
  .thank-section .sun-edge-left,
  .thank-section .sun-edge-right {
    width: 76px;
  }
}

.thank-section .sun-edge-left {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  left: 0;
}

.thank-section .sun-edge-right {
  right: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.thank-section .vector {
  top: -50px;
  left: -2.2rem;
  position: absolute;
  height: 650px;
  width: 389px;
}

@media (max-width: 1199px) {
  .thank-section .vector {
    width: 254px;
    top: -158px;
  }
}

@media (max-width: 767px) {
  .thank-section .vector {
    display: none;
  }
}

.thank-section .thank {
  text-align: center;
}

.footer {
  padding: 1rem 0;
  color: #fff;
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
}

body {
  background-color: var(--color-main);
  font-family: "Gotham Book", sans-serif;
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  font-family: "Fondamento";
  color: var(--color-primary);
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
}

.title-reflection {
  position: absolute;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .title-reflection {
    top: -25px;
  }
}

@media (max-width: 575px) {
  .title-reflection {
    width: 200%;
  }
}

.title-reflection h1 {
  font-family: "Gotham Ultra";
  -webkit-text-stroke: 1px var(--color-primary);
  color: transparent;
  font-size: 98px;
}

@media (max-width: 767px) {
  .title-reflection h1 {
    font-size: 82px;
  }
}

.title-reflection h2 {
  font-family: "Gotham Ultra";
  -webkit-text-stroke: 1px var(--color-primary);
  color: transparent;
  font-size: 72px;
  word-break: keep-all;
}

@media (max-width: 767px) {
  .title-reflection h2 {
    font-size: 48px;
  }
}

.btn-custom {
  background-color: var(--color-primary);
  padding: 0.75rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: var(--color-primary);
  color: #fff;
}

.btn-custom:hover {
  color: #fefef5;
}

.font-primary {
  font-family: "Gotham Book", sans-serif;
}

.font-secondary {
  font-family: "Fondamento";
}

.form-control,
.form-select {
  background-color: #fff;
  font-family: "Gotham Book", sans-serif;
  border-color: var(--color-secondary);
  padding: 0.75rem 1rem;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-dark);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}

.form-control:focus,
.form-select:focus {
  background-color: transparent;
  outline: none;
}

.form-select {
  text-align: center;
}

.yt-embed {
  height: 360px;
  width: 720px;
  position: relative;
  z-index: 5;
}

@media (max-width: 991px) {
  .yt-embed {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .yt-embed {
    height: 240px;
  }
}

@media (max-width: 575px) {
  .yt-embed {
    height: 180px;
  }
}

.scrolled {
  color: #000;
  background: #fff !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.title-section h2 {
  margin-bottom: 0;
  line-height: 24px;
  margin: 0 0.75rem;
}

.sun-grup {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

.moveable_section_wrapper {
  overflow: hidden;
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */