.apology-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.appology-wrap {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		padding: 3rem 2rem;

		@include max-sm {
			padding: 2rem 1.5rem;
		}
	}
}