.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;

		@include max-lg {
			padding: 4rem 0 10rem;
			align-items: center;
		}

		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.cover-body {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35%;
				height: 100%;

				@include max-xl {
					width: 40%;
				}

				@include max-lg {
					width: 60%;
				}

				@include max-sm {
					width: 100%;
				}

				.cover-description {
					position: relative;
					padding: 1rem;
					text-align: center;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1.5rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
				padding-top: 1rem;
			}
		}
	}
}