.reminder-wrap {
	position: relative;
	display: block;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0 0 3rem;
	}

	.reminder-content {
		position: relative;
		width: fit-content;
		min-width: 30%;
		max-width: 100%;
		margin: 0 auto;
		z-index: 2;
		padding: 8rem 3rem;
		border-radius: 300px;
		overflow: hidden;

		@include max-sm {
			width: 100%;
		}
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}

	.ornaments-wrapper {

		.curtain-1,
		.curtain-2 {
			width: 20%;
		}

		.orn-1 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 55%;
			transform: translate(-10%, 20%);

			.orn-2 {
				position: absolute;
				top: 30%;
				right: 30%;
				width: 80%;
			}
		}

		.orn-3 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 55%;
			transform: translate(10%, 15%) scaleX(-1);

			.orn-4 {
				position: absolute;
				top: 30%;
				right: 25%;
				width: 80%;
			}
		}

		.orn-5 {
			position: absolute;
			top: 0;
			left: 40%;
			width: 220%;
			transform: translate(0, -40%) scaleY(-1);
		}
	}
}