.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;
	&.cover-opened {
		transform: translateY(-100%);
	}
	.orn-1 {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 240px;
		transform: translate(-40%, 0);
		@include min-md {
			width: 260px;
		}
		@include min-lg {
			width: 280px;
		}
		img {
			transform-origin: 10% 90%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 240px;
		transform: translate(40%, 0) scaleX(-1);
		@include min-md {
			width: 260px;
		}
		@include min-lg {
			width: 280px;
		}
		img {
			transform-origin: 10% 90%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 160px;
		transform: translate(-40%, 20%);
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 200px;
		}
		img {
			transform-origin: 60% 90%;
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 160px;
		transform: translate(20%, 20%);
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 200px;
		}
		img {
			transform-origin: 60% 90%;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 8%;
		left: 18%;
		width: 80px;
		@include min-md {
			width: 100px;
		}
		@include min-xl {
			bottom: 5%;
			left: 25%;
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 10%;
		right: 15%;
		width: 100px;
		@include min-md {
			width: 120px;
		}
		@include min-xl {
			bottom: 5%;
			right: 28%;
		}
	}
	.cover-wrapper {
		position: relative;
		transition: opacity 1s ease;
		.cover-content {
			text-align: center;
			position: relative;
			background-color: transparent;
			color: var(--color-dark);
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.cover-body {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 70%;
				padding: 1rem;
				border-radius: 500px;
				background: radial-gradient(ellipse, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.6) 30%, transparent 75%, rgba(255, 255, 255, 0) 100%);
				.greeting-wrapper {
					position: relative;
					@include max-md {
						font-size: 14px;
					}
					h6 {
						font-weight: 700;
					}
				}
				h6 {
					font-weight: 600;
				}
				.cover-description {
					padding: 1rem;
					text-align: center;
					* {
						position: relative;
					}
					.title {
						color: var(--color-dark);
					}
				}
			}
			.elements-widget {
				width: 100%;
			}
		}
	}
}
