.header-section {
	position: relative;
	width: 100%;
	.scroll-icon {
		position: relative;
		margin-top: 2rem;
	}
	.orn-1 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 240px;
		transform: translate(-40%, 0);
		@include min-md {
			width: 280px;
		}
		@include min-lg {
			width: 320px;
		}
		img {
			transform-origin: 10% 100%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 240px;
		transform: translate(35%, 0) scaleX(-1);
		@include min-md {
			width: 280px;
		}
		@include min-lg {
			width: 320px;
		}
		img {
			transform-origin: 10% 100%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 140px;
		transform: translate(-40%, 30%);
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 240px;
		}
		img {
			transform-origin: 60% 100%;
		}
		.orn-4 {
			position: absolute;
			right: 50%;
			top: 0;
			width: 140px;
			transform: translate(20%, -50%) scaleX(-1);
			@include min-md {
				width: 180px;
			}
			@include min-lg {
				width: 240px;
			}
			img {
				transform-origin: 65% 100%;
			}
		}
		.orn-5 {
			position: absolute;
			top: 0;
			right: 0;
			width: 140px;
			transform: translate(50%, 20%);
			@include min-md {
				width: 180px;
			}
			@include min-lg {
				width: 240px;
			}
			img {
				transform-origin: 45% 100%;
			}
		}
		.orn-9 {
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			transform: translate(0, -80%) rotate(35deg);
			@include min-md {
				width: 80px;
			}
			@include min-lg {
				width: 90px;
			}
			img {
				transform-origin: 50% 50%;
			}
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 140px;
		transform: translate(40%, 30%) scaleX(-1);
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 240px;
		}
		img {
			transform-origin: 60% 100%;
		}
		.orn-7 {
			position: absolute;
			right: 50%;
			top: 0;
			width: 140px;
			transform: translate(20%, -50%) scaleX(-1);
			@include min-md {
				width: 180px;
			}
			@include min-lg {
				width: 240px;
			}
			img {
				transform-origin: 65% 100%;
			}
		}
		.orn-8 {
			position: absolute;
			top: 0;
			right: 0;
			width: 140px;
			transform: translate(50%, 20%);
			@include min-md {
				width: 180px;
			}
			@include min-lg {
				width: 240px;
			}
			img {
				transform-origin: 45% 100%;
			}
		}
	}
	.orn-10 {
		position: absolute;
		bottom: 26%;
		left: 0;
		width: 80px;
		transform: translate(-40%, 0);
		@include min-md {
			width: 100px;
			transform: translate(-20%, 0);
		}
		@include min-lg {
			bottom: 24%;
			left: 10%;
			width: 120px;
			transform: translate(30%, 0);
		}
	}
	.orn-11 {
		position: absolute;
		bottom: 25%;
		right: 0;
		width: 80px;
		transform: translate(30%, 0);
		@include min-md {
			width: 120px;
			transform: translate(20%, 0);
		}
		@include min-lg {
			right: 10%;
			width: 140px;
			transform: translate(-20%, 0);
		}
	}
	.orn-12 {
		position: absolute;
		bottom: 35%;
		right: 20%;
		width: 50px;
		transform: rotate(-35deg);
		@include min-md {
			width: 60px;
		}
		@include min-lg {
			bottom: 40%;
		}
	}
	.orn-13 {
		position: absolute;
		bottom: 30%;
		left: 25%;
		width: 50px;
		@include min-md {
			left: 40%;
			width: 60px;
		}
		@include min-lg {
			bottom: 30%;
			left: 35%;
		}
	}
	.orn-14 {
		position: absolute;
		top: 0;
		left: 0;
		width: 70%;
		transform: translate(-20%, -30%);
		@include max-lg {
			width: 90%;
			transform: translate(-20%, 0);
		}
		@include max-md {
			width: 120%;
		}
	}
	.orn-15 {
		position: absolute;
		top: 0;
		right: 0;
		width: 70%;
		transform: translate(20%, -10%) scaleX(-1);
		@include max-lg {
			top: 18%;
			width: 90%;
			transform: translate(20%, 0) scaleX(-1);
		}
		@include max-md {
			top: 23%;
			width: 120%;
		}
	}
	.orn-16 {
		position: absolute;
		top: 40%;
		left: 0;
		width: 70%;
		transform: translate(-20%, 0);
		@include max-lg {
			width: 90%;
		}
		@include max-md {
			top: 48%;
			width: 120%;
		}
	}
	.orn-17 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		transform: translate(20%, 50%) scaleX(-1);
		@include max-lg {
			width: 90%;
			transform: translate(20%, 30%) scaleX(-1);
		}
		@include max-md {
			width: 120%;
		}
	}
	.orn-18 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 320px;
		transform: translate(-58%, 0);
		@include min-xs {
			width: 380px;
		}
		@include min-md {
			width: 420px;
		}
		@include min-lg {
			transform: translate(-58%, 20%);
		}
	}
	.header-content {
		position: relative;
		min-height: 100vh;
		.header {
			position: relative;
			display: grid;
			grid-template-rows: auto 1fr;
			width: 50%;
			height: 100%;
			margin: 0 auto;
			padding: 6rem 0 0;
			@include max-lg {
				width: 80%;
			}
			@include max-md {
				width: 100%;
			}
			.header-title {
				position: relative;
				text-align: center;
				&-content {
					position: relative;
					border-radius: 50%;
					background: radial-gradient(ellipse, rgba(255, 255, 255, 0.6) 0%, transparent 80%);
					padding: 3rem 2rem;
					width: fit-content;
					max-width: 100%;
					margin: 0 auto;
				}
			}
			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

[data-anim="peafowl-right"].has-animate {
	animation-name: peafowlRight;
	animation-duration: 3500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
[data-anim="peafowl-left"].has-animate {
	animation-name: peafowlLeft;
	animation-duration: 2500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.33, 0.12, 0.61, 0.9);
}

@keyframes peafowlRight {
	0% {
		transform: translate3d(-50%, 0, 0);
	}
	20% {
		transform: translate3d(-40%, 5%, 0);
	}
	40% {
		transform: translate3d(-30%, 0, 0);
	}
	60% {
		transform: translate3d(-20%, 5%, 0);
	}
	80% {
		transform: translate3d(-10%, 0, 0);
	}
	100% {
		transform: translate3d(0%, 5%, 0);
	}
}

@keyframes peafowlLeft {
	0% {
		transform: translate3d(50%, 0, 0);
	}
	20% {
		transform: translate3d(40%, 5%, 0);
	}
	40% {
		transform: translate3d(30%, 0, 0);
	}
	60% {
		transform: translate3d(20%, 5%, 0);
	}
	80% {
		transform: translate3d(10%, 0, 0);
	}
	100% {
		transform: translate3d(0%, 5%, 0);
	}
}
