.story-section {
	position: relative;

	.story {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		padding: 5rem 0 8rem;

		@include max-md {
			padding: 3rem 0 5rem;
		}

		.orn-1 {
			position: absolute;
			top: 0;
			right: 0;
			width: 180px;
			transform: translate(40%, 0) scaleX(-1);

			@include min-md {
				width: 260px;
			}

			@include min-lg {
				width: 280px;
			}

			img {
				transform-origin: 10% 100%;
			}
		}

		.orn-2 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 140px;
			transform: translate(-60%, 30%) scaleX(-1);

			@include min-md {
				width: 180px;
			}

			@include min-lg {
				width: 240px;
			}

			img {
				transform-origin: 65% 100%;
			}

			.orn-3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 120px;
				transform: translate(-40%, 40%);

				@include min-md {
					width: 180px;
				}

				@include min-lg {
					width: 240px;
				}

				img {
					transform-origin: 60% 100%;
				}
			}
		}
	}

	.story-content {
		position: relative;
	}

	.story-description {
		position: relative;
		text-align: center;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;

		@include max-md {
			aspect-ratio: 6/5;
		}

		.image-element {
			position: relative;
			width: 100%;
			height: 100%;

			.story-background {
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}