.venue-section {
	position: relative;

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;

		@include max-md {
			aspect-ratio: 6/5;
		}

		.venue-background {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
		transform: translate(-40%, 0);

		@include min-md {
			width: 260px;
		}

		@include min-lg {
			width: 280px;
		}

		img {
			transform-origin: 10% 100%;
		}

		.orn-2 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100px;
			transform: translate(-70%, 30%) scaleX(-1);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 65% 100%;
			}
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 180px;
		transform: translate(40%, 0) scaleX(-1);

		@include min-md {
			width: 260px;
		}

		@include min-lg {
			width: 280px;
		}

		img {
			transform-origin: 10% 100%;
		}

		.orn-4 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100px;
			transform: translate(-70%, 40%) rotate(20deg);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 60% 100%;
			}
		}
	}

	.orn-5 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 180px;
		transform: translate(-50%, -50%);

		@include min-md {
			width: 260px;
		}

		@include min-lg {
			width: 280px;
		}

		img {
			transform-origin: 10% 100%;
		}

		.orn-6 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 120px;
			transform: translate(-40%, 50%);

			@include min-md {
				width: 180px;
			}

			@include min-lg {
				width: 240px;
			}

			img {
				transform-origin: 60% 100%;
			}
		}
	}

	.orn-7 {
		position: absolute;
		top: 65%;
		right: 0;
		width: 180px;
		transform: translate(50%, -50%) scaleX(-1);

		@include min-md {
			width: 260px;
		}

		@include min-lg {
			width: 280px;
		}

		img {
			transform-origin: 10% 100%;
		}

		.orn-8 {
			position: absolute;
			top: 0;
			right: 0;
			width: 120px;
			transform: translate(-30%, 30%) rotate(35deg);

			@include min-md {
				width: 180px;
			}

			@include min-lg {
				width: 240px;
			}

			img {
				transform-origin: 40% 100%;
			}
		}
	}

	.table-card {
		position: relative;
		width: 80%;
		margin: -1rem auto -5rem;
		transform: translateX(-10%);

		@include max-md {
			margin: -1rem auto -4rem;
		}
	}

	.venue-wrapper {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;

			@include max-lg {
				margin-bottom: 3rem;
			}
		}

		.venue-content {
			position: relative;

			@include max-md {
				.container {
					padding: 0;
				}
			}

			.ribbon-venue {
				position: relative;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: transparent;
				height: 100%;
				border-radius: var(--border-radius);
				z-index: 5;
				text-align: center;
				overflow: hidden;
				border: none;
				box-shadow: inset 0 0 1rem rgba($color: #fff, $alpha: 1);
				background-color: var(--color-primary);
				color: var(--color-dark);

				.card-body {
					position: relative;
					padding: 3rem 2rem;

					@include max-lg {
						padding: 2rem 1rem;
					}

					h4 {
						margin: 0 0 1rem;
					}

					hr {
						display: block;
						width: 50%;
						height: 2px;
						margin: 0 auto;
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}
	}

	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;

		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;

			@include max-md {
				width: 120px;
			}

			@include max-xs {
				width: 45%;
			}
		}
	}

	.row-venue {
		row-gap: 3rem;
	}

	.event-name {
		position: relative;
		width: 100%;

		.date {
			position: relative;
			width: fit-content;
			max-width: 100%;
			margin: 0 auto 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			padding: 2rem;
			background: radial-gradient(ellipse, rgba(255, 255, 255, 1) 0%, transparent 70%);

			@include max-md {
				padding: 1rem 2rem;
			}

			h5 {
				font-family: $font-secondary;
				font-weight: 500;
				margin-bottom: 0;
				font-size: 42px;
				min-width: 30%;
				line-height: 1.2;

				@include max-md {
					width: 36px;
				}
			}
		}

		h4 {
			font-family: $font-secondary;
			font-size: 42px;
			line-height: 1.2;
		}

		p {
			margin-bottom: 0;
			font-weight: 600;
		}
	}

	.event-place {
		position: relative;
		padding: 1.5rem;
		border-radius: var(--border-radius);
		background-color: var(--color-primary);
		box-shadow: inset 0 15px 30px rgba($color: #000000, $alpha: 0.15);
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}