.wishes-section {
	position: relative;
	padding: 5rem 0 0;

	@include max-md {
		padding: 3rem 0 0;
	}

	.wishes-form-wrapper {
		position: relative;

		.orn-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 140px;
			transform: translate(-50%, 0) scaleX(-1) rotate(-35deg);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 60% 100%;
			}
		}

		.orn-2 {
			position: absolute;
			top: 0;
			right: 0;
			width: 140px;
			transform: translate(60%, 0);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 65% 100%;
			}
		}

		.orn-3 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 180px;
			transform: translate(-50%, 0);

			@include min-md {
				width: 260px;
			}

			@include min-lg {
				width: 280px;
			}

			img {
				transform-origin: 10% 100%;
			}
		}

		.orn-4 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 180px;
			transform: translate(50%, 20%) scaleX(-1);

			@include min-md {
				width: 260px;
			}

			@include min-lg {
				width: 280px;
			}

			img {
				transform-origin: 10% 100%;
			}
		}
	}

	.card-form {
		margin-bottom: 0;
		background: transparent;
		position: relative;
		z-index: 3;

		&.card {
			border: none;
		}

		.card-body {
			padding: 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}

	.wishes-preview {
		position: relative;
		padding: 2rem 0 5rem;
		background-color: var(--color-primary);
		border-top-right-radius: var(--border-radius);
		border-top-left-radius: var(--border-radius);
		box-shadow: inset 0 8px 1rem rgba($color: #000000, $alpha: 0.15);
		overflow: hidden;

		@include max-md {
			padding: 2rem 0 3rem;
		}

		.orn-5 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 140px;
			transform: translate(-50%, 20%) scaleX(-1);

			@include min-md {
				width: 180px;
			}

			@include min-lg {
				width: 240px;
			}

			img {
				transform-origin: 45% 100%;
			}
		}

		.card {
			border: none;
			position: relative;
			background-color: transparent;
			border-radius: var(--border-radius);

			.card-body {
				overflow: hidden;
				padding: 2rem 0;

				.wishes {
					text-align: left;
					height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					color: var(--color-dark);

					&::-webkit-scrollbar {
						width: 5px;
					}

					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}

					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}

					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;

						h6 {
							font-weight: bold;
						}

						h6,
						p {
							margin-bottom: 0;
						}

						.wish-badge {
							background-color: #fffbfb;
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}

						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fffbfb, $alpha: 0.8);
							border-radius: 5px;
							position: relative;
							filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1));

							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fffbfb, $alpha: 0.8);
							}
						}
					}
				}
			}
		}
	}
}