.stream-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 0 0 5rem;
	text-align: center;

	@include max-md {
		padding: 0 0 3rem;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 2rem;

		.image-element {
			@include aspect-ratio(16, 8);

			@include max-sm {
				@include aspect-ratio(6, 5);
			}

			img {
				object-fit: cover;
			}
		}
	}

	.stream-wrapper {
		position: relative;

		.title-section {
			text-align: left;
		}

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				padding: 3rem 2rem;
				background-color: var(--color-main);
				color: var(--color-dark);
				border-radius: var(--border-radius);

				@include max-md {
					padding: 2rem 1.8rem;
				}
			}

			h4 {
				@include max-md {
					text-align: center;
				}
			}
		}
	}

	ul {
		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}