.venue-section {
	position: relative;

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(16, 8);

			@include max-md {
				@include aspect-ratio(6, 5);
			}

			img {
				object-fit: cover;
			}
		}
	}

	.venue-wrapper {
		position: relative;
		padding: 0 0 5rem;
		margin-top: -5rem;

		@include max-md {
			padding: 0 0 3rem;
		}

		.venue-description {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-light);
			border-radius: var(--border-radius);
			padding: 3rem 2rem;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;

			@include max-lg {
				margin-bottom: 3rem;
			}

			@include max-sm {
				padding: 2rem 1.8rem;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: transparent;
				text-align: center;
				border: none;

				.card-body {
					position: relative;
					padding: 2rem 1rem 0;

					h4 {
						padding: 0 0 1rem;
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 2rem;

						&-body {
							position: relative;
							text-align: left;
							padding-left: 1rem;
						}

						.date {
							position: relative;
							width: 100%;

							h5 {
								font-family: $font-secondary;
								font-weight: 700;
								margin-bottom: 0;
								font-size: 36px;
								padding: .5rem 0;
							}
						}

						h4 {
							font-family: $font-secondary;
							font-size: 32px;

							@include max-sm {
								font-size: 28px;
							}
						}

						p {
							font-size: 18px;
							margin-bottom: 0;
							font-weight: 600;

							@include max-sm {
								font-size: 16px;
							}
						}
					}

					.event-place {
						position: relative;
						padding-left: 1rem;

						&-body {
							position: relative;
							background: var(--background-linear-primary);
							border-radius: var(--border-radius);
							padding: 2rem 1rem;
						}

						.widget-elements {
							position: relative;
							margin-top: 1rem;
						}
					}
				}
			}
		}

		.prokes-wrapper {
			margin: 3rem 0 0;
			position: relative;
			padding: 2rem;
			text-align: center;
			z-index: 2;

			.title-section {
				&::before {
					all: unset;
				}
			}

			@include max-md {
				padding: 2rem 0;
			}

			* {
				position: relative;
			}

			.prokes-wrap {
				display: flex;
				gap: 0.75rem;
				justify-content: center;
				align-items: flex-start;
				flex-wrap: wrap;
				text-align: center;

				.prokes {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 132px;

					@include max-md {
						width: 120px;
					}

					@include max-xs {
						width: 45%;
					}
				}
			}
		}

		.row-venue {
			row-gap: 3rem;
		}

		.animation-loop {
			.st1 {
				will-change: transform;
				animation: zoomInRing 2000ms ease-out infinite;
			}

			.dot {
				will-change: transform;
				animation: fadeBoing 2000ms ease-out infinite;
				transform-origin: 50% 75%;
			}

			#Layer_3 {
				will-change: transform;
				animation: boing 1000ms ease-out infinite alternate;
			}
		}

		@keyframes zoomInRing {
			0% {
				opacity: 0;
				transform: scale3d(0.5, 0.5, 0.5);
			}

			40% {
				opacity: 1;
			}

			70% {
				opacity: 0;
				transform: scale3d(1.25, 1.25, 1.25);
			}

			100% {
				opacity: 0;
			}
		}

		@keyframes boing {
			0% {
				transform: translate3d(0, 0, 0);
			}

			100% {
				transform: translate3d(0, -5rem, 0);
			}
		}

		@keyframes fadeBoing {
			0% {
				opacity: 1;
			}

			50% {
				transform: scale3d(0.25, 0.25, 0.25);
				opacity: 0;
			}

			100% {
				transform: scale3d(1, 1, 1);
				opacity: 1;
			}
		}
	}

	.maps-embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}