.rsvp-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.frame {
		position: relative;
		width: 75%;
		margin: 0 auto;
	}
	.orn-1 {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 120px;
		transform: translate(60%, 0) scaleX(-1);
		@include min-md {
			width: 160px;
			transform: translate(50%, 0) scaleX(-1);
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-2 {
		position: absolute;
		top: 30%;
		left: 0;
		width: 120px;
		transform: translate(-50%, 0) scaleX(-1);
		z-index: 3;
		pointer-events: none;
		@include min-md {
			width: 140px;
			transform: translate(-45%, 0) scaleX(-1);
		}
		@include min-lg {
			width: 160px;
		}
	}
	.orn-3 {
		position: absolute;
		top: 33%;
		right: 0;
		width: 120px;
		transform: translate(50%, 0) scaleX(-1);
		z-index: 3;
		pointer-events: none;
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-4 {
		position: absolute;
		top: 65%;
		left: 45%;
		width: 50%;
		transform: translate(-50%, -50%);
		img {
			transform-origin: 65% 35%;
		}
	}
	.rsvp-wrapper {
		position: relative;
		padding: 3rem 2rem 0;
		@include max-md {
			padding: 2rem 1rem 0;
		}
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			opacity: 0.5;
			box-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: 0.15);
			content: "";
		}
		.rsvp-form {
			position: relative;
			.title-section {
				&::before {
					all: unset;
				}
			}
			.form-control,
			.form-select {
				background-color: rgba($color: #fff, $alpha: 0.7);
			}
			.btn-custom {
				margin-bottom: -1.25rem;
			}
		}
	}
}
