.story-section {
	position: relative;
	.story {
		position: relative;
		padding: 5rem 0;
		overflow: hidden;
		@include max-md {
			padding: 3rem 0;
		}
		.orn-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 340px;
			transform: translate(-60%, -20%);
			z-index: 3;
			@include min-md {
				width: 60%;
			}
			@include min-lg {
				width: 45%;
			}
		}
		.orn-2 {
			position: absolute;
			top: 0;
			right: 0;
			width: 340px;
			transform: translate(50%, -25%);
			z-index: 3;
			@include min-md {
				width: 60%;
			}
			@include min-lg {
				width: 45%;
			}
		}
		.orn-3 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 140px;
			transform: translate(-48%, 20%) scaleX(-1);
			@include min-md {
				width: 160px;
			}
			@include min-lg {
				width: 180px;
			}
		}
		.orn-4 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 140px;
			transform: translate(60%, 20%) scaleX(-1);
			@include min-md {
				width: 160px;
				transform: translate(50%, 20%) scaleX(-1);
			}
			@include min-lg {
				width: 180px;
			}
		}
	}
	.story-content {
		position: relative;
		box-shadow: 0.5rem 1.5rem 2rem rgba($color: #000000, $alpha: 0.15);
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			opacity: 0.5;
			content: "";
		}
	}
	.story-description {
		position: relative;
		padding: 3rem 2rem;
		text-align: center;
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 1;
		.image-element {
			position: relative;
			width: 100%;
			height: 100%;
			.story-background {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
