@import "fonts", "mixins", "variables", "root", "globals", "animates", "countdown", "reminder.section", "cover.section", "header.section", "couple.section", "story.section", "venue.section", "rsvp.section", "wishes.section", "egift.section", "gallery.section", "apology.section", "stream.section", "thank.section";

img[alt="flower-1"] {
	transform-origin: 95% 100%;
}
img[alt="flower-2"] {
	transform-origin: 5% 98%;
}
img[alt="flower-3"] {
	transform-origin: 30% 100%;
}
img[alt="flower-4"] {
	transform-origin: 30% 95%;
}
