.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 2s ease-out;
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		pointer-events: none;

		.cover-description {
			transform: scale(1.2);
			opacity: 0;
		}

		img[alt="awan1"],
		img[alt="awan4"],
		img[alt="awan2"],
		.orn-13 img[alt="awan3"],
		.orn-10 img[alt="awan4"],
		.orn-5 img[alt="awan4"],
		.orn-20 img[alt="awan4"],
		.orn-21 .image-element {
			transform: translateX(-150%);
		}

		.orn-3 img[alt="awan3"],
		.orn-14 img[alt="awan4"],
		.orn-8 img[alt="awan3"],
		.orn-18 img[alt="awan3"],
		.orn-15 img[alt="awan4"],
		.orn-22 .image-element {
			transform: translateX(150%);
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-20%, -15%);

		@include max-lg {
			width: 85%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(20%, -20%) scaleX(-1);

		@include max-lg {
			width: 85%;
			transform: translate(18%, -25%) scaleX(-1);
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		left: 42%;
		width: 60%;
		transform: translate(-50%, -30%) scaleX(-1);

		@include max-lg {
			left: 40%;
			width: 90%;
		}

		@include max-sm {
			width: 100%;
			transform: translate(-50%, -20%) scaleX(-1);
		}
	}

	.orn-4 {
		position: absolute;
		top: 0;
		left: 38%;
		width: 60%;
		transform: translate(-50%, -15%);

		@include max-lg {
			left: 0;
			width: 85%;
			transform: translate(-15%, 20%);
		}

		@include max-sm {
			width: 100%;
			transform: translate(-10%, 40%);
		}
	}

	.orn-5 {
		position: absolute;
		top: 0;
		right: 32%;
		width: 60%;
		transform: translate(50%, -20%) scaleX(-1);

		@include max-lg {
			right: 0;
			width: 85%;
			transform: translate(15%, 30%) scaleX(-1);
		}

		@include max-sm {
			width: 95%;
			transform: translate(15%, 40%) scaleX(-1);
		}
	}

	.orn-6 {
		position: absolute;
		top: 15%;
		left: 0;
		width: 60%;
		transform: translate(-15%, -10%);

		@include max-lg {
			top: 25%;
			width: 85%;
			transform: translate(-15%, -15%);
		}

		@include max-sm {
			top: 20%;
			width: 100%;
			transform: translate(-20%, -5%);
		}
	}

	.orn-7 {
		position: absolute;
		top: 15%;
		right: 0;
		width: 60%;
		transform: translate(25%, -25%) scaleX(-1);

		@include max-lg {
			top: 25%;
			width: 85%;
			transform: translate(25%, -30%) scaleX(-1);
		}

		@include max-sm {
			top: 20%;
			width: 95%;
			transform: translate(25%, -10%) scaleX(-1);
		}
	}

	.orn-8 {
		position: absolute;
		top: 15%;
		left: 60%;
		width: 60%;
		transform: translate(-50%, -20%);

		@include max-lg {
			top: 25%;
			width: 85%;
			transform: translate(-50%, -30%);
		}

		@include max-sm {
			width: 100%;
		}
	}

	.orn-9 {
		position: absolute;
		top: 15%;
		left: 30%;
		width: 60%;
		transform: translate(-50%, 20%);

		@include max-lg {
			top: 25%;
			width: 90%;
		}

		@include max-sm {
			left: 0;
			width: 100%;
			transform: translate(-15%, 25%);
		}
	}

	.orn-10 {
		position: absolute;
		top: 15%;
		right: 22%;
		width: 60%;
		transform: translate(50%, 20%) scaleX(-1);

		@include max-lg {
			top: 25%;
			width: 85%;
		}

		@include max-sm {
			right: 0;
			width: 95%;
			transform: translate(15%, 50%) scaleX(-1);
		}
	}

	.orn-11 {
		position: absolute;
		bottom: 20%;
		left: 0;
		width: 60%;
		transform: translate(-15%, 15%);

		@include max-lg {
			bottom: 30%;
			width: 85%;
			transform: translate(-15%, -10%);
		}

		@include max-sm {
			top: 50%;
			bottom: unset;
			width: 100%;
			transform: translate(-15%, -50%);
		}
	}

	.orn-12 {
		position: absolute;
		bottom: 20%;
		right: 0;
		width: 60%;
		transform: translate(25%, 10%) scaleX(-1);

		@include max-lg {
			bottom: 30%;
			width: 85%;
			transform: translate(20%, -15%) scaleX(-1);
		}

		@include max-sm {
			top: 50%;
			bottom: unset;
			width: 95%;
			transform: translate(20%, -45%) scaleX(-1);
		}
	}

	.orn-13 {
		position: absolute;
		bottom: 20%;
		left: 60%;
		width: 60%;
		transform: translate(-50%, 15%);

		@include max-lg {
			bottom: 30%;
			width: 85%;
		}

		@include max-sm {
			left: 50%;
			width: 125%;
			transform: translate(-50%, 13%);
		}
	}

	.orn-14 {
		position: absolute;
		bottom: 20%;
		left: 20%;
		width: 60%;
		transform: translate(-50%, 20%) scaleX(-1);

		@include max-lg {
			bottom: 30%;
			width: 90%;
			transform: translate(-50%, 33%) scaleX(-1);
		}

		@include max-sm {
			top: 50%;
			bottom: unset;
			left: 0;
			width: 100%;
			transform: translate(-25%, 15%) scaleX(-1);
		}
	}

	.orn-15 {
		position: absolute;
		bottom: 20%;
		right: 22%;
		width: 60%;
		transform: translate(50%, 20%);

		@include max-lg {
			bottom: 30%;
			right: 0;
			width: 85%;
			transform: translate(35%, 40%);
		}

		@include max-sm {
			top: 50%;
			bottom: unset;
			right: 0;
			width: 95%;
			transform: translate(40%, 10%);
		}
	}

	.orn-16 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		transform: translate(-15%, 15%);

		@include max-lg {
			width: 85%;
			transform: translate(-15%, -28%);
		}

		@include max-sm {
			bottom: 10%;
			width: 95%;
			transform: translate(-15%, 0%);
		}
	}

	.orn-17 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 60%;
		transform: translate(25%, 30%) scaleX(-1);

		@include max-lg {
			width: 85%;
			transform: translate(40%, -35%) scaleX(-1);
		}

		@include max-sm {
			width: 95%;
			transform: translate(40%, -45%) scaleX(-1);
		}
	}

	.orn-18 {
		position: absolute;
		bottom: 0;
		left: 60%;
		width: 60%;
		transform: translate(-50%, 15%);

		@include max-lg {
			left: 62%;
			width: 90%;
			transform: translate(-50%, -20%);
		}

		@include max-sm {
			bottom: 10%;
			width: 125%;
			transform: translate(-50%, -30%);
		}
	}

	.orn-19 {
		position: absolute;
		bottom: 0;
		left: 30%;
		width: 60%;
		transform: translate(-50%, 20%);

		@include max-lg {
			width: 85%;
			transform: translate(-50%, 25%);
		}

		@include max-sm {
			width: 110%;
			transform: translate(-45%, 10%);
		}
	}

	.orn-20 {
		position: absolute;
		bottom: 0;
		right: 22%;
		width: 60%;
		transform: translate(50%, 20%) scaleX(-1);

		@include max-lg {
			width: 90%;
		}

		@include max-sm {
			right: 0;
			width: 125%;
			transform: translate(15%, 30%) scaleX(-1);
		}
	}

	.orn-21 {
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		transform: translate(-55%, -10%) rotate(10deg);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 45%;
		}

		.image-element {
			transition: all 5s ease-out;
		}
	}

	.orn-22 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25%;
		transform: translate(25%, 40%);

		@include max-lg {
			width: 40%;
			transform: translate(25%, 25%);
		}

		@include max-sm {
			width: 50%;
		}

		.image-element {
			transition: all 5s ease-out;
		}
	}

	.cover-wrapper {
		position: relative;
		padding: 3rem 0;
		transition: opacity 1s ease;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		@include max-lg {
			padding: 4rem 0 10rem;
		}

		.cover-content {
			position: relative;
			width: 35%;

			@include max-xl {
				width: 40%;
			}

			@include max-lg {
				width: 60%;
			}

			@include max-sm {
				width: 100%;
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;
					transition: all 1s ease-out;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.logo {
						width: 68px;
						margin: 0 auto 1rem;

						@include max-sm {
							width: 60px;
						}
					}

					.title {
						margin-bottom: 0;

						.name-main {
							position: relative;
							width: 200px;
							margin: 1.5rem auto;

							@include max-sm {
								width: 160px;
							}
						}
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 700;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}

	img[alt^="awan"] {
		transition: all 2s ease-in-out;

		@include max-sm {
			transition-duration: 2500ms;
		}
	}

	img[alt^="flower"] {
		transition: all 2s ease-in-out;
	}
}