.header-section {
	position: relative;

	.scroll-icon {
		margin-top: 1rem;
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				object-position: 50% 60%;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 1rem;
		left: 0;
		width: 20%;
		transform: translate(-20%, 0);
	}

	.orn-2 {
		position: absolute;
		top: 80%;
		right: 0;
		width: 120%;
	}

	.orn-3 {
		position: absolute;
		top: 1rem;
		right: 0;
		width: 20%;
		transform: translate(20%, 0) scaleX(-1);
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: translate(10%, 0);
	}

	.orn-5 {
		position: absolute;
		bottom: 4rem;
		right: 0;
		width: 25%;
		transform: translate(40%, 0);

		.orn-6 {
			position: absolute;
			bottom: 60%;
			left: -10%;
			width: 120%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-40%, 10%);

		.orn-8 {
			position: absolute;
			bottom: 100%;
			right: 20%;
			width: 70%;
		}
	}

	.ch-1 {
		position: absolute;
		top: 20%;
		left: 4rem;
		width: 20%;
	}

	.ch-2 {
		position: absolute;
		bottom: 16%;
		right: 6rem;
		width: 16%;
		transform: scaleX(-1);
	}

	.ch-3 {
		position: absolute;
		top: 30%;
		right: 5rem;
		width: 25%;

		@include max-sm {
			right: 3rem;
		}
	}

	.ch-4 {
		position: absolute;
		bottom: 10%;
		left: 3rem;
		width: 22%;
		transform: scaleX(-1);
	}

	.ch-5 {
		position: absolute;
		top: 10%;
		right: 5rem;
		width: 10%;
	}

	.ch-6 {
		position: absolute;
		bottom: 30%;
		right: 4rem;
		width: 12%;
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 4rem 0 0;

		.header {
			position: relative;
			width: 80%;
			margin: 0 auto;
			min-height: 100vh;

			@include max-sm {
				min-height: 80vh;
			}

			.header-title {
				position: relative;

				&-content {
					position: relative;
					z-index: 5;

					.logo {
						width: 64px;
						margin: 0 auto 1rem;

						@include max-sm {
							width: 54px;
						}
					}

					.name-main {
						width: 180px;
						margin: 0 auto .5rem;

						@include max-sm {
							width: 160px;
						}
					}
				}
			}
		}
	}
}