.venue-section {
	position: relative;

	.bg {
		position: relative;
		width: 100%;
		margin-top: -15rem;

		@include max-lg {
			margin-top: -3rem;
		}

		@include max-sm {
			margin-top: -5rem;
		}
	}

	.daun {
		position: absolute;
		top: 44%;
		left: 1.5rem;
		width: 12%;
	}

	.ch-1 {
		position: absolute;
		top: 30%;
		left: 4rem;
		width: 20%;
	}

	.ch-2 {
		position: absolute;
		bottom: 20%;
		right: 6rem;
		width: 16%;
		transform: scaleX(-1);
	}

	.ch-3 {
		position: absolute;
		top: 35%;
		right: 4rem;
		width: 25%;
	}

	.ch-4 {
		position: absolute;
		bottom: 18%;
		left: 4rem;
		width: 20%;
		transform: scaleX(-1);
	}

	.ch-5 {
		position: absolute;
		bottom: 30%;
		right: 4rem;
		width: 12%;
	}

	.orn-1 {
		position: absolute;
		top: -2rem;
		left: 0;
		width: 24%;
		transform: translate(-50%, 0);
	}

	.orn-2 {
		position: absolute;
		top: -2rem;
		right: 0;
		width: 22%;
		transform: translate(45%, 0) rotate(-10deg) scaleX(-1);
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 17%;
		transform: translate(40%, 45%) scaleX(-1);
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(10%, 0);
	}

	.orn-5 {
		position: absolute;
		bottom: 4rem;
		right: 0;
		width: 25%;
		transform: translate(40%, 0);

		.orn-6 {
			position: absolute;
			bottom: 100%;
			left: -10%;
			width: 120%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 3rem;
		left: 0;
		width: 35%;
		transform: translate(-40%, 0%);

		.orn-8 {
			position: absolute;
			bottom: 100%;
			right: 20%;
			width: 70%;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(6, 5);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.venue-wrapper {
		position: relative;
		padding: 3rem 0 0;

		@include ipad {
			padding: 5rem 0 0;
		}

		.venue-description {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-main);
				border: none;
				text-align: center;
				border-radius: 6px;
				overflow: hidden;

				.card-body {
					padding: 0;

					h4 {
						padding: 0 0 1rem;
					}

					.event-name {
						position: absolute;
						top: 2rem;
						left: 50%;
						width: 50%;
						transform: translate(-50%, 0);

						.date {
							position: relative;
							width: 100%;

							h5 {
								font-family: $font-secondary;
								margin-bottom: 0;
								font-size: 42px;
							}

							.line {
								--color-button-trans: #fff;
								width: 45px;
								height: 1px;
								background-color: var(--color-button-trans);
								margin: .2rem auto .5rem;
							}
						}

						h4 {
							font-family: $font-secondary;
							font-size: 26px;
							font-weight: 700;
						}

						p,
						span {
							margin-bottom: 0;
							font-size: 18px;

							@include max-lg {
								font-size: 16px;
							}
						}
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;
						padding: 0 1.8rem 2rem;
						margin-top: -8rem;

						&-body {
							background-color: var(--color-main);
							padding: 2.5rem 1.5rem;
							border-radius: var(--border-radius);

							.widget-elements {
								position: relative;
								width: 100%;
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 0;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}