.story-section {
	position: relative;
	padding: 0 0 5rem;
	@include max-md {
		padding: 0 0 3rem;
	}
	.orn-1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 180px;
		transform: translate(-60%, -5rem);
		@include max-md {
			width: 140px;
		}
	}
	.orn-2 {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 280px;
		transform: translateX(40%);
		@include max-md {
			width: 180px;
		}
	}
	.story-image-abs {
		margin-bottom: -3rem;
		@include min-md {
			position: absolute;
			left: 0;
			margin-bottom: 0;
		}
	}
	.story-description {
		position: relative;
		text-align: center;
		margin-top: -8rem;
		border-radius: 8px;
		padding: 3rem 2rem;
		background-color: var(--color-primary);
		z-index: 5;
		@include max-md {
			padding: 2rem 1rem;
		}
	}
	.image-story-wrap {
		position: relative;
		width: 100%;
		aspect-ratio: 16/7;
		@include max-lg {
			aspect-ratio: 16/9;
		}
		@include max-md {
			aspect-ratio: 3/4;
		}
		&::before {
			position: absolute;
			inset: 0;
			background-color: rgba($color: #000000, $alpha: 0.15);
			content: "";
		}
		.story-image {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
