.rsvp-section {
	position: relative;
	.bg {
		top: 65%;
		opacity: 0.4;
		width: 350%;
	}

	.orn-1 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 50%;
		transform: translate(-70%, 0);
		.orn-2 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 50%;
			transform: translate(-10%, 60%) rotate(10deg);
			.orn-3 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				transform: translate(10%, 40%);
			}
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		left: 1rem;
		width: 35%;
		transform: translate(0, 50%) rotate(60deg);
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-60%, 20%);
		.orn-6 {
			position: absolute;
			top: 0;
			right: 0;
			width: 55%;
			transform: translate(-20%, -40%) rotate(15deg);
			.orn-7 {
				position: absolute;
				top: 0;
				right: 0;
				width: 115%;
				transform: translate(-30%, -60%) rotate(25deg);
			}
		}
	}
	.orn-8 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 50%;
		transform: translate(65%, 0) scaleX(-1);
		.orn-9 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 65%;
			transform: translate(-10%, 60%) rotate(30deg);
		}
	}
	.orn-10 {
		position: absolute;
		bottom: 0;
		right: 3rem;
		width: 28%;
		transform: translate(0, 60%) rotate(-10deg);
	}
	.orn-11 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(60%, 20%) scaleX(-1);

		.orn-12 {
			position: absolute;
			top: 0;
			right: 0;
			width: 60%;
			transform: translate(-25%, -40%) rotate(20deg);
			.orn-13 {
				position: absolute;
				top: 0;
				right: 0;
				width: 85%;
				transform: translate(-30%, -70%);
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 0 1rem;
		padding: 6rem 3rem;
	}
}
