.stream-section {
	position: relative;
	padding: 2rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		transform: translate(40%, 0) rotate(-50deg) scaleX(-1);
		@include ipad {
			width: 25%;
		}
	}

	.title-section {
		text-align: left;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				padding: 3rem 2rem;
				text-align: center;
				background-color: var(--color-primary);
				color: var(--color-light);
				border-radius: var(--border-radius);

				@include max-md {
					padding: 2rem 1rem;
				}
			}

			h4 {
				@include ipad {
					text-align: center;
				}
			}
		}
	}

	ul {
		margin: 0 auto;
		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}
