.wishes-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 320px;
		transform: translate(-30%, -30%) rotate(-25deg);
		@include max-md {
			width: 240px;
		}
		@include max-xs {
			width: 200px;
		}
		img {
			transform-origin: 10% 100%;
		}
	}
	.card-form {
		margin-bottom: 0;
		background: var(--color-primary);
		border-radius: var(--border-radius);
		position: relative;
		box-shadow: 0 0 1rem rgba($color: #000, $alpha: 0.15);
		z-index: 3;
		&.card {
			border: none;
		}
		.card-body {
			padding: 2rem;
			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}

	.wishes-preview {
		position: relative;
		@include max-lg {
			margin-top: 2rem;
		}
		.card {
			border: none;
			position: relative;
			background-color: transparent;
			border-radius: var(--border-radius);
			.card-body {
				overflow: hidden;
				padding: 2rem 0;
				.wishes {
					text-align: left;
					height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					&::-webkit-scrollbar {
						width: 5px;
					}
					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}
					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;
						h6 {
							font-weight: bold;
						}
						h6,
						p {
							margin-bottom: 0;
						}
						.wish-badge {
							background-color: var(--color-light);
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}
						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fff, $alpha: 0.6);
							border-radius: 5px;
							position: relative;
							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fff, $alpha: 0.6);
							}
						}
					}
				}
			}
		}
	}
}
