.reminder-wrap {
	position: relative;
	display: block;
	padding: 5rem 0;
	overflow: hidden;

	.orn-1 {
		position: absolute;
		top: 40%;
		left: 0;
		width: 12%;
		transform: translate(-30%, -50%) rotate(20deg);

		@include max-lg {
			width: 25%;
		}

		@include max-sm {
			width: 30%;
		}

		.orn-2 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 110%;
			transform: translate(20%, 40%);
		}
	}

	.orn-3 {
		position: absolute;
		top: 40%;
		right: 0;
		width: 13%;
		transform: translate(50%, -50%) rotate(-20deg) scaleX(-1);

		@include max-lg {
			width: 26%;
		}

		@include max-sm {
			width: 32%;
		}

		.orn-4 {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 120%;
			transform: translate(30%, 30%) rotate(-20deg) scaleX(-1);
		}
	}

	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
		z-index: 2;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}