.story-section {
	position: relative;

	.elements-wrapper-absolute {
		width: calc(100% + 3rem);
		height: calc(100% + 3rem);
		border-radius: var(--border-radius);
		overflow: hidden;

		@include max-md {
			width: calc(100% + 2rem);
			height: calc(100% + 2rem);
		}
	}

	.orn-1 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 30%;
		transform: translate(-50%, 0);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 70%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 30%;
		transform: translate(50%, 0) scaleX(-1);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 70%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-30%, -10%) rotate(-25deg);
	}

	.orn-4 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 40%;
		transform: translate(-30%, -50%) scaleX(-1);
	}

	.orn-5 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(0%, -10%);
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 80%;
		transform: translate(30%, -10%);
	}

	.story {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		@include max-md {
			.container {
				padding: 0;
			}
		}
	}

	.story-content {
		position: relative;
		background-color: var(--color-primary);
		padding: 3rem;
		border-radius: 300px 20px 20px 300px;

		@include max-lg {
			border-radius: 500px 500px 20px 20px;
		}

		@include max-md {
			padding: 2rem;
		}

		.no-photos {
			border-radius: 20px;

			.story-description {
				padding-left: 0;
			}
		}
	}

	.story-description {
		position: relative;
		text-align: center;
		padding-left: 2rem;

		@include max-lg {
			padding-left: 0;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 3/4;

		@include max-lg {
			margin-bottom: 2rem;
		}

		.image-element {
			position: relative;
			width: 100%;
			height: 100%;

			.story-background {
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 500px;
			}
		}
	}
}