.thank-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;

	@include max-md {
		padding: 3rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 30%;
		left: 0;
		width: 20%;
		transform: translate(-20%, -50%) rotate(20deg);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 75%;
		transform: translate(0, 15%) rotate(-20deg);
	}

	.orn-3 {
		position: absolute;
		top: 40%;
		right: 0;
		width: 20%;
		transform: translate(20%, -50%) rotate(-20deg) scaleX(-1);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-15%, 25%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}

		.orn-5 {
			position: absolute;
			bottom: 40%;
			right: 45%;
			width: 75%;
			transform: rotate(-25deg) scaleY(-1);
		}

		.orn-6 {
			position: absolute;
			top: 38%;
			left: 50%;
			width: 100%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20%;
		transform: translate(15%, 20%) scaleX(-1);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}

		.orn-8 {
			position: absolute;
			top: 15%;
			left: 55%;
			width: 100%;
			transform: scaleX(-1);
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 3/4;
		margin: 0 auto 2rem;

		.image-element {
			position: relative;
			width: 100%;
			height: 100%;

			.thank-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 500px 500px 20px 20px;
			}
		}
	}

	.thank-wrapper {
		position: relative;
		padding: 2rem;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			border-radius: 500px 500px 20px 20px;
			opacity: .8;
			content: "";
		}

		.thank {
			position: relative;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}