.venue-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 35%;
		transform: translate(-50%, 0);

		@include max-lg {
			width: 50%;
		}

		@include max-sm {
			width: 55%;
		}

		.orn-2 {
			position: absolute;
			top: 50%;
			right: 15%;
			width: 70%;
			transform: rotate(45deg) scaleX(-1);
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		transform: translate(50%, 0) scaleX(-1);

		@include max-lg {
			width: 50%;
		}

		@include max-sm {
			width: 55%;
		}

		.orn-4 {
			position: absolute;
			top: 50%;
			right: 20%;
			width: 70%;
			transform: rotate(30deg) scaleX(-1);
		}
	}

	.orn-5 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 140px;
		transform: translate(-60%, 0);

		@include min-md {
			width: 160px;
		}

		@include min-lg {
			width: 180px;
			transform: translate(-50%, 0);
		}

		img {
			transform-origin: 0% 100%;
		}

		.orn-6 {
			position: absolute;
			top: 80%;
			right: 0;
			width: 140px;
			transform: translate(-20%, -30%) rotateZ(20deg);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 50% 100%;
			}
		}
	}

	.orn-7 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 140px;
		transform: translate(60%, 0) scaleX(-1);

		@include min-md {
			width: 160px;
		}

		@include min-lg {
			width: 180px;
			transform: translate(50%, 0) scaleX(-1);
		}

		img {
			transform-origin: 0% 100%;
		}

		.orn-8 {
			position: absolute;
			top: 80%;
			right: 0;
			width: 140px;
			transform: translate(-20%, -30%) rotateZ(20deg);

			@include min-md {
				width: 160px;
			}

			@include min-lg {
				width: 180px;
			}

			img {
				transform-origin: 50% 100%;
			}
		}
	}

	.venue-wrapper {
		position: relative;
		z-index: 3;

		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;

			@include max-lg {
				margin-bottom: 3rem;
			}
		}

		.image-wrapper {
			position: relative;
			width: 100%;
			height: auto;
			aspect-ratio: 3/4;
			padding-top: 2rem;

			.venue-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 500px 500px 20px 20px;
			}
		}

		.venue-content {
			position: relative;

			@include max-md {
				.container {
					padding: 0;
				}
			}

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-light);
				height: 100%;
				border-radius: var(--border-radius);
				z-index: 5;
				text-align: center;
				overflow: hidden;
				border: none;
				box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.15);

				.card-body {
					position: relative;
					padding: 3rem 2rem;

					@include max-md {
						padding: 2rem 1.8rem;
					}

					h4 {
						margin: 0 0 1rem;
					}

					hr {
						display: block;
						width: 10%;
						height: 2px;
						margin: 0 auto 0.25rem;
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem 2rem 0;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0 0;
		}

		* {
			position: relative;
		}
	}

	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;

		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;

			@include max-md {
				width: 120px;
			}

			@include max-xs {
				width: 45%;
			}
		}
	}

	.row-venue {
		@include max-md {
			gap: 3rem;
		}
	}

	.event-name {
		position: relative;
		width: 100%;

		.date {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0.5rem 0;

			h5 {
				font-family: $font-secondary;
				font-weight: 700;
				margin-bottom: 0;
				font-size: 28px;
				min-width: 30%;
			}
		}

		h4 {
			font-family: $font-secondary;
		}

		p {
			margin-bottom: 0;
			font-weight: 600;
		}
	}

	.event-place {
		position: relative;
		background-color: var(--color-primary);
		border-radius: 500px 500px 20px 20px;
		padding: 3rem 2rem 2rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}