.couple-section {
	position: relative;
	text-align: center;

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 2rem 0 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0 0;

		@include max-md {
			padding: 3rem 0 0;
		}
	}

	.couple-body {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		padding: 5rem 0;

		@include max-sm {
			padding: 3rem 0;
		}
	}

	.couple-content {
		position: relative;
		margin-bottom: 3rem;
		text-align: left;

		.title-section {
			text-align: left;
		}
	}

	.couple {
		position: relative;

		.image-wrap {
			width: 100%;
			position: relative;
			@include aspect-ratio(4, 6);
			margin: 0 auto;

			.image-element {
				height: 100%;

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem 0 2rem;
			text-align: left;

			p {
				margin-bottom: 0;
			}

			.couple-parent {
				width: 100%;
			}

			.sosmed-wrap {
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translate(0, 50%);
				width: fit-content;
				max-width: 100%;
				background: var(--color-secondary);
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				z-index: 3;

				.sosmed {
					color: var(--text-button);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
		&.single{
			.and{
				padding: 1rem
			}
			.image-wrap{
				@include min-md{
					@include aspect-ratio(16,9);
				}
			}
			.couple-description{
				text-align: center;
				@include max-sm{
					padding: .5rem 1rem;
				}
				.sosmed-wrap{
					right: unset;
					left: 50%;
					transform: translate(-50%,50%);
					@include max-sm{
						position: relative;
						bottom: unset;
						right: unset;
						left: unset;
						transform: none;
						margin: .5rem auto 0;
					}
				}
			}
		}
		&.no-image{
			.and{
				padding: 1rem 0;
			}
			.couple-description{
				text-align: center;
				padding: .5rem 1rem;
			}
			.sosmed-wrap{
				position: relative;
				bottom: unset;
				right: unset;
				transform: none;
				margin: .5rem auto 0;
			}
		}

	}
}