.reminder-wrap {
	position: relative;
	margin-bottom: 5rem;

	.reminder-content {
		position: relative;
		width: 100%;
		max-width: 100%;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}