.couple-section {
	position: relative;
	text-align: center;
	overflow: hidden;

	@include max-sm {
		.container-couple {
			padding: 0;
		}
	}

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 3;
		pointer-events: none;

		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;

		.ornaments-wrapper {
			.cloud-1 {
				position: absolute;
				top: 0;
				left: 0;
				width: 200%;
			}

			.cloud-2 {
				position: absolute;
				top: 0;
				right: 0;
				width: 200%;
			}

			.orn-1 {
				position: absolute;
				bottom: -1rem;
				left: 0;
				width: 40%;
				transform: rotate(-10deg);

				&.orn-reverse {
					left: unset;
					right: 0;
					transform: rotate(10deg) scaleX(-1);
				}
			}
		}
	}

	.couple-body {
		position: relative;
		background-color: var(--color-main);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		padding: 3rem 2rem;

		@include max-md {
			padding: 2rem 1.5rem;
		}
	}

	.couple-content {
		position: relative;
		padding: 3rem 2rem 2rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		background-color: var(--color-main);
		border-radius: var(--border-radius) var(--border-radius) 300px 300px;

		@include max-sm {
			padding: 2rem 1rem 1rem;
			margin-top: 3rem;
			margin-bottom: 3rem;
		}

		.couple-content-body {
			position: relative;
		}

		.image-wrap {
			position: relative;
			width: 70%;
			aspect-ratio: 4/6;
			margin: 2rem auto 0;

			@include max-lg {
				width: 80%;
				margin-bottom: -3rem;
			}

			.image-element {
				height: 100%;
				padding: 4px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-primary-custom);
					@include mask-frame;
					content: "";
				}

				img[alt="couple-background"] {
					width: 100%;
					height: 100%;
					object-fit: cover;
					box-shadow: var(--shadow);
					@include mask-frame;
				}
			}
		}
	}

	.couple {
		position: relative;

		.image-wrap {
			width: 100%;
			position: relative;
			aspect-ratio: 4/6;
			margin: 3rem auto 0;

			@include max-sm {
				margin: 2rem auto 0;
			}

			&>.image-element {
				height: 100%;
				padding: 4px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-primary-custom);
					@include mask-frame;
					content: "";
				}

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
					@include mask-frame;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem 0;
			z-index: 3;

			.couple-parent {
				position: relative;
				width: 100%;

				p {
					margin-bottom: 0;
				}
			}
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			margin: -1.35rem auto 0;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
					font-size: 16px;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}

		&.single {
			.and {
				padding: 1rem 0;
				margin-bottom: 0;
			}

			.couple-description {
				padding: 1rem;
			}

			&.man {
				.sosmed-wrap {
					margin: 1rem auto 0 0;
				}
			}

			&.women {
				.sosmed-wrap {
					margin: 1rem 0 0 auto;
				}
			}

			.image-wrap {
				@include min-md {
					aspect-ratio: 6/4;
				}
			}
		}
	}
}