$color-main: #F6F2E4;
$color-primary: #E2D4AC;
$color-secondary: #E2C5C7;
$color-dark: #1e1f1e;
$color-light: #fff;
$text-button: #000;
$color-button-trans: #1e1f1e;
$color-logo: #e9088a;
$font-secondary: "Bodoni Moda", serif;
$font-primary: "Nunito Sans", sans-serif;
$border-radius: 16px;

$breakpoints-min: (
	xs: 380px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 2560px,
);

$breakpoints-max: (
	xs: 375px,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px,
	xxl: 1399px,
);