[data-anim][data-anim] {
	will-change: transform;
	&.animation-invisible {
		visibility: hidden;
	}
	&.has-animate {
		animation-duration: 3000ms;
		animation-timing-function: ease-in-out;
	}
	&.animate-loop {
		animation-duration: 4000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		&.animate-paused {
			animation-play-state: paused;
		}
	}
}

// fade
[data-anim="fade"].has-animate {
	animation-name: fadeAnim;
}
[data-anim="fade-right"].has-animate {
	animation-name: fadeRight;
}
[data-anim="fade-left"].has-animate {
	animation-name: fadeLeft;
}
[data-anim="fade-up"].has-animate {
	animation-name: fadeUp;
}
[data-anim="fade-down"].has-animate {
	animation-name: fadeDown;
}

@keyframes fadeAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeRight {
	0% {
		transform: translate3d(-100px, 0, 0);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fadeLeft {
	0% {
		transform: translate3d(100px, 0, 0);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fadeUp {
	0% {
		transform: translate3d(0, 100px, 0);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fadeDown {
	0% {
		transform: translate3d(0, -100px, 0);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

// slide
[data-anim="slide-right"].has-animate {
	animation-name: slideRight;
}
[data-anim="slide-left"].has-animate {
	animation-name: slideLeft;
}
[data-anim="slide-up"].has-animate {
	animation-name: slideUp;
}
[data-anim="slide-down"].has-animate {
	animation-name: slideDown;
}
@keyframes slideRight {
	0% {
		transform: translate3d(-30%, 0, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideLeft {
	0% {
		transform: translate3d(30%, 0, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideUp {
	0% {
		transform: translate3d(0, 50%, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideDown {
	0% {
		transform: translate3d(0, -100px, 0);
	}
	100% {
		transform: translateZ(0);
	}
}

// slide with rotate
[data-anim="slide-rotate-left"].has-animate {
	animation-name: slideRotateLeft;
}
[data-anim="slide-rotate-right"].has-animate {
	animation-name: slideRotateRight;
}
[data-anim="slide-rotate-up"].has-animate {
	animation-name: slideUpRotateLeft;
}
@keyframes slideRotateLeft {
	0% {
		transform: translate3d(30%, 0, 0) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) rotate(0);
	}
}
@keyframes slideRotateRight {
	0% {
		transform: translate3d(-30%, 0, 0) rotate(-45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) rotate(0);
	}
}
@keyframes slideUpRotateLeft {
	0% {
		transform: translate3d(0, 150px, 0) rotate(30deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) rotateZ(0);
	}
}

// rotate
[data-anim="rotate-right"].has-animate {
	animation-name: rotateRight;
}
[data-anim="rotate-left"].has-animate {
	animation-name: rotateLeft;
}

@keyframes rotateRight {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotate(10deg);
	}
}
@keyframes rotateLeft {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotate(-10deg);
	}
}

// Zoom
[data-anim="zoom-in"].has-animate {
	animation-name: zoomIn;
}
[data-anim="zoom-in-up"].has-animate {
	animation-name: zoomInUp;
}
[data-anim="zoom-in-down"].has-animate {
	animation-name: zoomInDown;
}
[data-anim="zoom-in-left"].has-animate {
	animation-name: zoomInLeft;
}
[data-anim="zoom-in-right"].has-animate {
	animation-name: zoomInRight;
}
[data-anim="zoom-out"].has-animate {
	animation-name: zoomOut;
}
[data-anim="zoom-out-up"].has-animate {
	animation-name: zoomOutUp;
}
[data-anim="zoom-out-down"].has-animate {
	animation-name: zoomOutDown;
}
@keyframes zoomIn {
	0% {
		transform: scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes zoomInUp {
	0% {
		transform: translate3d(0, 100px, 0) scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}
@keyframes zoomInDown {
	0% {
		transform: translate3d(0, -100px, 0) scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}
@keyframes zoomInLeft {
	0% {
		transform: translate3d(50%, 0, 0) scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}
@keyframes zoomInRight {
	0% {
		transform: translate3d(-50%, 0, 0) scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}
@keyframes zoomOut {
	0% {
		transform: scale3d(1.3, 1.3, 1.3);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes zoomOutUp {
	0% {
		transform: translate3d(0, 100px, 0) scale3d(1.3, 1.3, 1.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}
@keyframes zoomOutDown {
	0% {
		transform: translate3d(0, -100px, 0) scale3d(1.3, 1.3, 1.3);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateZ(0) scale3d(1, 1, 1);
	}
}

// Flip
[data-anim*="flip"][data-anim*="flip"] {
	backface-visibility: hidden;
}
[data-anim="flip-up"].has-animate {
	animation-name: flipUp;
}
[data-anim="flip-down"].has-animate {
	animation-name: flipDown;
}
[data-anim="flip-left"].has-animate {
	animation-name: flipLeft;
}
[data-anim="flip-right"].has-animate {
	animation-name: flipRight;
}

@keyframes flipUp {
	0% {
		perspective: 2500px;
		transform: rotateX(100deg);
	}
	100% {
		perspective: 0;
		transform: rotateX(0);
	}
}
@keyframes flipDown {
	0% {
		perspective: 2500px;
		transform: rotateX(-100deg);
	}
	100% {
		perspective: 0;
		transform: rotateX(0);
	}
}
@keyframes flipLeft {
	0% {
		perspective: 2500px;
		transform: rotateY(-100deg);
	}
	100% {
		perspective: 0;
		transform: rotateY(0);
	}
}
@keyframes flipRight {
	0% {
		perspective: 2500px;
		transform: rotateY(100deg);
	}
	100% {
		perspective: 0;
		transform: rotateY(0);
	}
}

[data-anim="height-up"].has-animate {
	animation-name: heightUp;
	visibility: visible !important;
}
[data-anim="height-up-reverse"].has-animate {
	animation-name: heightUpReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
[data-anim="height-down"].has-animate {
	animation-name: heightDown;
	visibility: visible !important;
}
[data-anim="height-down-reverse"].has-animate {
	animation-name: heightDownReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
[data-anim="height-center"].has-animate {
	animation-name: heightCenter;
	visibility: visible !important;
}
[data-anim="height-center-reverse"].has-animate {
	animation-name: heightCenterReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
[data-anim="width-left"].has-animate {
	animation-name: widthLeft;
	visibility: visible !important;
}
[data-anim="width-left-reverse"].has-animate {
	animation-name: widthLeftReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
[data-anim="width-right"].has-animate {
	animation-name: widthRight;
	visibility: visible !important;
}
[data-anim="width-right-reverse"].has-animate {
	animation-name: widthRightReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
[data-anim="width-center"].has-animate {
	animation-name: widthCenter;
	visibility: visible !important;
}
[data-anim="width-center-reverse"].has-animate {
	animation-name: widthCenterReverse;
	animation-fill-mode: forwards;
	visibility: visible !important;
}

@keyframes heightUp {
	0% {
		clip-path: inset(100% 0 0 0);
	}
	100% {
		clip-path: inset(0% 0 0 0);
	}
}
@keyframes heightDown {
	0% {
		clip-path: inset(0 0 100% 0);
	}
	100% {
		clip-path: inset(0 0 0% 0);
	}
}
@keyframes heightUpReverse {
	0% {
		transform: translateZ(0) scaleY(1);
	}
	100% {
		transform: translate3d(0, 50%, 0) scaleY(0);
	}
}
@keyframes heightDownReverse {
	0% {
		transform: translateZ(0) scaleY(1);
	}
	100% {
		transform: translate3d(0, -50%, 0) scaleY(0);
	}
}
@keyframes heightCenter {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
@keyframes heightCenterReverse {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}
@keyframes widthLeft {
	0% {
		transform: translate3d(50%, 0, 0) scaleX(0);
	}
	100% {
		transform: translateZ(0) scaleX(1);
	}
}
@keyframes widthRight {
	0% {
		transform: translate3d(-50%, 0, 0) scaleX(0);
	}
	100% {
		transform: translateZ(0) scaleX(1);
	}
}
@keyframes widthCenter {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes widthLeftReverse {
	0% {
		transform: translateZ(0) scaleX(1);
	}
	100% {
		transform: translate3d(50%, 0, 0) scaleX(0);
	}
}
@keyframes widthRightReverse {
	0% {
		transform: translateZ(0) scaleX(1);
	}
	100% {
		transform: translate3d(-50%, 0, 0) scaleX(0);
	}
}
@keyframes widthCenterReverse {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

[data-anim="zoom-out-image"].has-animate {
	transition-timing-function: linear !important;
	transition-delay: 200ms;
	transition-property: transform;
	transform: scale3d(1, 1, 1);
}
[data-anim="zoom-out-image"] {
	transition-duration: 3000ms;
	transform: scale3d(1.1, 1.1, 1.1);
	visibility: visible !important;
}

[data-anim="water"].has-animate {
	animation-name: water;
	animation-timing-function: linear !important;
	animation-direction: normal !important;
}

@keyframes water {
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

img[alt="flower"] {
	transform-origin: 40% 100%;
}
img[alt="grass"] {
	transform-origin: 30% 100%;
}
img[alt="tree"] {
	transform-origin: 50% 95%;
}
