.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.bg-1,
	.bg-2 {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
	}

	.bg-1 {
		@include max-lg {
			width: 250%;
		}

		@include max-md {
			width: 400%;
		}
	}

	.bg-2 {
		@include max-lg {
			top: unset;
			bottom: 0;
		}

		@include max-md {
			width: 120%;
		}
	}

	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 0;
		transition: opacity 1s ease;
		width: 100%;
		height: 100vh;

		@include max-lg {
			align-items: center;
		}

		.cover-content {
			position: relative;
			width: 35%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 6.5rem;
			background: linear-gradient(to bottom, var(--color-primary), transparent);
			border-radius: var(--border-radius);
			color: var(--color-dark);

			@include max-xl {
				width: 40%;
			}

			@include max-lg {
				width: 60%;
			}

			@include max-md {
				width: 100%;
			}

			.cover-body {
				position: relative;
				width: 100%;

				.cover-description {
					position: relative;
					padding: 2rem;
					text-align: left;

					.cover-event {
						position: relative;
						margin-bottom: 2rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 2rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}