.img-full {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-sizer {
	width: 48%;
}
.gutter-sizer {
	width: 2%;
}

.grid-item {
	width: 48%;
	margin-bottom: 2%;
	aspect-ratio: 3/4;
	&--width2 {
		aspect-ratio: 4/3;
	}
}
