.countdown {
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
	width: fit-content;
	gap: 1.5rem;
	z-index: 3;

	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.huruf {
			font-size: 14px;
			font-weight: 600;

			@include max-xs {
				font-size: 12px;
			}
		}

		.angka {
			margin-bottom: 0;
			font-weight: 500;
			font-size: 38px;
			font-family: $font-secondary;

			@include max-md {
				font-size: 32px;
			}

			@include max-xs {
				font-size: 28px;
			}
		}

		.huruf,
		.angka {
			margin: 0;
			padding: 0;
		}
	}
}