.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.ornaments-wrapper {
		@include max-lg {
			height: calc(100% - 5rem);
		}
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 10%);

		@include max-sm {
			width: 180%;
			transform: translate(-50%, 0%);
		}
	}

	.gazebo {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55%;
		transform: translate(13%, 18%);

		@include max-sm {
			width: 85%;
			transform: translate(13%, 0%);
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-50%, 0);

		@include max-lg {
			width: 80%;
		}

		@include max-sm {
			width: 120%;
			transform: translate(-65%, 0);
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		transform: translate(50%, 0);

		@include max-lg {
			width: 80%;
		}

		@include max-sm {
			width: 120%;
			transform: translate(65%, 0);
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 28%;
		transform: translate(-28%, 35%);

		@include max-sm {
			width: 65%;
			transform: translate(-50%, 10%);
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 80%;
		right: 30%;
		width: 60%;

		@include max-sm {
			bottom: 90%;
			right: 25%;
		}
	}

	.orn-5 {
		position: absolute;
		top: 20%;
		left: 50%;
		width: 100%;

		@include max-sm {
			top: 30%;
			left: 10%;
			width: 110%;
		}

		.orn-6 {
			position: absolute;
			top: 20%;
			left: 70%;
			width: 60%;
			transform: scaleX(-1);

			@include max-sm {
				top: 40%;
				left: 80%;
				width: 50%;
			}
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 28%;
		transform: translate(-50%, 25%);

		@include max-sm {
			width: 65%;
			transform: translate(-50%, 30%);
		}

		.orn-4 {
			bottom: 90%;
			right: 18%;

			@include max-sm {
				right: 25%;
				width: 65%;
			}
		}

		.orn-5 {
			top: 30%;
			width: 110%;

			@include max-sm {
				top: 22%;
				left: 16%;
				width: 100%;
			}
		}

	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0 0;
		transition: opacity 1s ease;
		height: 100vh;

		@include max-lg {
			padding: 5rem 0 0;
		}

		.cover-content {
			position: relative;
			width: 40%;
			height: 100%;
			padding-top: 5rem;
			padding-bottom: 3rem;
			margin: 0 auto;
			color: var(--color-light);

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: var(--color-primary);
				border-radius: 300px 300px 0 0;
				opacity: .6;
				content: "";
			}

			@include max-lg {
				width: 60%;
				padding-bottom: 10rem;
			}

			@include max-sm {
				width: 100%;
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}