.header-section {
	position: relative;
	overflow: hidden;

	.scroll-icon {
		margin-top: 1rem;
	}

	.arch {
		position: absolute;
		top: 0;
		left: 50%;
		width: 104%;
		transform: translate(-50%, 0);
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 150%;
		transform: translate(-50%, 0);
	}

	.gazebo {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 85%;
		transform: translate(13%, 0%);
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 95%;
		transform: translate(-55%, 0);
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 95%;
		transform: translate(55%, 0);
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 65%;
		transform: translate(-50%, 10%);

	}

	.orn-4 {
		position: absolute;
		bottom: 90%;
		right: 25%;
		width: 60%;
	}

	.orn-5 {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 110%;
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		left: 55%;
		width: 35%;
		transform: translate(-50%, 65%);
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-50%, 15%);

		.orn-4 {
			bottom: 90%;
			right: 18%;
		}

		.orn-5 {
			top: 30%;
			width: 110%;
		}

	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 10rem 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		.header {
			position: relative;
			width: 70%;
			min-height: calc(100vh - 10rem);
			text-align: center;
			color: var(--color-light);
			padding: 5rem 1rem 3rem;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--color-primary);
				border-radius: 300px 300px 0 0;
				opacity: .6;
				content: "";
			}

			.header-title {
				position: relative;

				&-content {
					position: relative;
					z-index: 5;
				}
			}
		}
	}
}