.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-light);
		border-radius: 300px;

		.rsvp-form {
			padding: 8rem 3rem;

			@include max-sm {
				padding: 8rem 2rem;
			}
		}
	}
}