@font-face {
  font-family: "Foglihten";
  src: url(../fonts/Foglihten.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Foglihten";
  src: url(../fonts/Foglihten.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Foglihten";
  src: url(../fonts/Foglihten.woff2) format("woff2");
  font-display: swap;
}
:root {
  --color-main: #fff3e3;
  --color-primary: #623535;
  --color-secondary: #a08166;
  --color-dark: #1e1f1e;
  --color-light: #fff;
  --text-button: #ffffff;
  --color-button-trans: #fff;
  --vd-color-pink: #e9088a;
  --border-radius: 8px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-dark);
  -webkit-hyphens: manual;
          hyphens: manual;
  text-rendering: optimizeLegibility;
}

.main-app {
  position: relative;
  background-color: var(--color-main);
  overflow: hidden;
}
.main-app .background-body-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-app .background-body-wrapper .background-body-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .main-app .background-body-wrapper .background-body-content img {
    -o-object-position: right;
       object-position: right;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main-app .elements-wrapper-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-app .elements-wrapper-absolute .background-element {
  height: 100%;
}
.main-app .elements-wrapper-absolute .background-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-app .elements-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-app .elements-absolute .background-element {
  position: relative;
  width: 100%;
}
.main-app .elements-absolute .background-element img {
  width: 100%;
  height: auto;
}
.main-app .ornaments-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.main-app .with-line::before {
  position: relative;
  display: block;
  width: 1px;
  height: 48px;
  background-color: var(--color-button-trans);
  content: "";
  opacity: 0.6;
  margin: 0 auto 1rem;
}
.main-app .with-line::after {
  position: relative;
  display: block;
  width: 1px;
  height: 48px;
  background-color: var(--color-button-trans);
  content: "";
  opacity: 0.6;
  margin: 1rem auto 0;
}

.logo-viding {
  height: 2.4rem;
}
@media (max-width: 767px) {
  .logo-viding {
    height: 2.25rem;
  }
}
.logo-viding path {
  fill: var(--vd-color-pink);
}

h1,
h2,
h3 {
  font-family: "Foglihten", serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

h1 {
  font-size: 38px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
h1 span {
  font-size: 26px;
  display: block;
  transform: translateY(1.5rem);
}
@media (max-width: 767px) {
  h1 span {
    font-size: 20px;
  }
}

small {
  font-size: 12px;
}

span {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

@media (max-width: 575px) {
  p,
  span {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
.image-element {
  position: relative;
  width: 100%;
  height: auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--text-button);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 50px;
}
.btn-custom:hover {
  color: var(--text-button);
}
.btn-custom path {
  fill: var(--text-button);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px 1000px 50px 50px;
  background-color: var(--color-secondary);
}

.font-primary {
  font-family: "Nunito Sans", sans-serif;
}

.font-secondary {
  font-family: "Foglihten", serif;
}

.scaleX-reverse {
  transform: scaleX(-1);
}

.scaleY-reverse {
  transform: scaleY(-1);
}

.scale-reverse {
  transform: scale(-1);
}

.form-control,
.form-select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: var(--color-dark);
}
.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}
.form-control:focus,
.form-select:focus {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
}

.form-label {
  margin-bottom: 0;
}

.scrolled {
  background: #fff !important;
  transition: all 1s ease-in-out;
  box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}
.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 100%;
  transform: scaleZ(0);
  transform-origin: 0% 50%;
  z-index: 9999;
}

.title-section {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.25rem;
}
.title-section h2,
.title-section p,
.title-section span {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 32px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}
@media (max-width: 767px) {
  .title-section h2,
  .title-section p,
  .title-section span {
    font-size: 2rem;
  }
}

.overlay-elements-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
}
.overlay-elements-gradient.overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, var(--color-main) 20%, transparent 100%);
}
.overlay-elements-gradient.overlay-top {
  top: 0;
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}

.waves-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: -2px;
  z-index: 3;
}
.waves-bottom path {
  fill: var(--color-main);
}
.waves-bottom.reverse {
  transform: scaleX(-1);
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: auto;
  transform: scale(-1);
  z-index: 3;
}
.waves-top path {
  fill: var(--color-main);
}

.waves-left {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
}

.waves-right {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
  transform: scale(-1);
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}
.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}
.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}
.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal.show-maps .modal-content {
  border-radius: 20px;
}
.modal.show-maps .modal-body {
  padding: 2rem 3rem;
  position: relative;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body {
    padding: 2rem 1rem;
  }
}
.modal.show-maps .modal-body .btn-modal {
  background-color: var(--color-main);
  color: var(--color-dark);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  opacity: 0.5;
  padding: 0 0.425rem;
  transition: all 0.5s ease;
}
.modal.show-maps .modal-body .btn-modal:hover {
  opacity: 1;
}
.modal.show-maps .modal-body .btn-custom {
  background: transparent;
  border-color: var(--color-dark);
  color: var(--color-dark);
  transition: all 0.25 ease-in-out;
}
.modal.show-maps .modal-body .btn-custom:hover {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.modal.show-maps .modal-body .maps-element {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body .maps-element {
    aspect-ratio: 9/10;
  }
}
.modal.show-maps .modal-body .loader-wrapper-modal {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.show-maps .modal-body .loader-wrapper-modal.loaded {
  display: none;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.modal.show-maps .modal-body .modal-actions {
  position: relative;
  color: var(--color-dark);
}

[data-anim][data-anim] {
  will-change: transform;
}
[data-anim][data-anim].animation-invisible {
  visibility: hidden;
}
[data-anim][data-anim].has-animate {
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
}
[data-anim][data-anim].animate-loop {
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
[data-anim][data-anim].animate-loop.animate-paused {
  animation-play-state: paused;
}

[data-anim=fade].has-animate {
  animation-name: fadeAnim;
}

[data-anim=fade-right].has-animate {
  animation-name: fadeRight;
}

[data-anim=fade-left].has-animate {
  animation-name: fadeLeft;
}

[data-anim=fade-up].has-animate {
  animation-name: fadeUp;
}

[data-anim=fade-down].has-animate {
  animation-name: fadeDown;
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
[data-anim=slide-right].has-animate {
  animation-name: slideRight;
}

[data-anim=slide-left].has-animate {
  animation-name: slideLeft;
}

[data-anim=slide-up].has-animate {
  animation-name: slideUp;
}

[data-anim=slide-down].has-animate {
  animation-name: slideDown;
}

@keyframes slideRight {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate3d(30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
[data-anim=slide-rotate-left].has-animate {
  animation-name: slideRotateLeft;
}

[data-anim=slide-rotate-right].has-animate {
  animation-name: slideRotateRight;
}

[data-anim=slide-rotate-up].has-animate {
  animation-name: slideUpRotateLeft;
}

@keyframes slideRotateLeft {
  0% {
    transform: translate3d(30%, 0, 0) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideRotateRight {
  0% {
    transform: translate3d(-30%, 0, 0) rotate(-45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideUpRotateLeft {
  0% {
    transform: translate3d(0, 150px, 0) rotate(30deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
[data-anim=rotate-right].has-animate {
  animation-name: rotateRight;
}

[data-anim=rotate-left].has-animate {
  animation-name: rotateLeft;
}

@keyframes rotateRight {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
[data-anim=zoom-in].has-animate {
  animation-name: zoomIn;
}

[data-anim=zoom-in-up].has-animate {
  animation-name: zoomInUp;
}

[data-anim=zoom-in-down].has-animate {
  animation-name: zoomInDown;
}

[data-anim=zoom-in-left].has-animate {
  animation-name: zoomInLeft;
}

[data-anim=zoom-in-right].has-animate {
  animation-name: zoomInRight;
}

[data-anim=zoom-out].has-animate {
  animation-name: zoomOut;
}

[data-anim=zoom-out-up].has-animate {
  animation-name: zoomOutUp;
}

[data-anim=zoom-out-down].has-animate {
  animation-name: zoomOutDown;
}

@keyframes zoomIn {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomInUp {
  0% {
    transform: translate3d(0, 100px, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInDown {
  0% {
    transform: translate3d(0, -100px, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInLeft {
  0% {
    transform: translate3d(50%, 0, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInRight {
  0% {
    transform: translate3d(-50%, 0, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOutUp {
  0% {
    transform: translate3d(0, 100px, 0) scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomOutDown {
  0% {
    transform: translate3d(0, -100px, 0) scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
[data-anim*=flip][data-anim*=flip] {
  backface-visibility: hidden;
}

[data-anim=flip-up].has-animate {
  animation-name: flipUp;
}

[data-anim=flip-down].has-animate {
  animation-name: flipDown;
}

[data-anim=flip-left].has-animate {
  animation-name: flipLeft;
}

[data-anim=flip-right].has-animate {
  animation-name: flipRight;
}

@keyframes flipUp {
  0% {
    perspective: 2500px;
    transform: rotateX(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipDown {
  0% {
    perspective: 2500px;
    transform: rotateX(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipLeft {
  0% {
    perspective: 2500px;
    transform: rotateY(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
@keyframes flipRight {
  0% {
    perspective: 2500px;
    transform: rotateY(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
[data-anim=height-up].has-animate {
  animation-name: heightUp;
  visibility: visible !important;
}

[data-anim=height-up-reverse].has-animate {
  animation-name: heightUpReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-down].has-animate {
  animation-name: heightDown;
  visibility: visible !important;
}

[data-anim=height-down-reverse].has-animate {
  animation-name: heightDownReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-center].has-animate {
  animation-name: heightCenter;
  visibility: visible !important;
}

[data-anim=height-center-reverse].has-animate {
  animation-name: heightCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-left].has-animate {
  animation-name: widthLeft;
  visibility: visible !important;
}

[data-anim=width-left-reverse].has-animate {
  animation-name: widthLeftReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-right].has-animate {
  animation-name: widthRight;
  visibility: visible !important;
}

[data-anim=width-right-reverse].has-animate {
  animation-name: widthRightReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-center].has-animate {
  animation-name: widthCenter;
  visibility: visible !important;
}

[data-anim=width-center-reverse].has-animate {
  animation-name: widthCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

@keyframes heightUp {
  0% {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0% 0 0 0);
            clip-path: inset(0% 0 0 0);
  }
}
@keyframes heightDown {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0% 0);
            clip-path: inset(0 0 0% 0);
  }
}
@keyframes heightUpReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, 50%, 0) scaleY(0);
  }
}
@keyframes heightDownReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, -50%, 0) scaleY(0);
  }
}
@keyframes heightCenter {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes heightCenterReverse {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes widthLeft {
  0% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthRight {
  0% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthCenter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes widthLeftReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
}
@keyframes widthRightReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
}
@keyframes widthCenterReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
[data-anim=zoom-out-image].has-animate {
  transition-duration: 1500ms;
  transition-timing-function: ease;
  transition-delay: 200ms;
  transition-property: transform;
  transform: scale3d(1, 1, 1);
}

[data-anim=zoom-out-image] {
  transform: scale3d(1.25, 1.25, 1.25);
  transition-duration: 5000ms !important;
  visibility: visible !important;
}

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  z-index: 3;
}
@media (max-width: 767px) {
  .countdown {
    gap: 0.5rem;
  }
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  min-width: 80px;
}
@media (max-width: 767px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: 65px;
    padding: 1rem 0.75rem;
  }
}
@media (max-width: 375px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: 63px;
  }
}
@media (max-width: 350px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: 72px;
  }
}
.countdown .days::before,
.countdown .hours::before,
.countdown .minutes::before,
.countdown .seconds::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: var(--color-main);
  opacity: 0.6;
  content: "";
}
.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 375px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 12px;
  }
}
.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 38px;
  font-family: "Foglihten", serif;
}
@media (max-width: 767px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}
.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  position: relative;
  margin: 0;
  padding: 0;
}

.reminder-wrap {
  position: relative;
  display: block;
  padding: 3rem 0 5rem;
  height: 80vh;
}
@media (max-width: 767px) {
  .reminder-wrap {
    padding: 3rem 0;
  }
}
.reminder-wrap .image-element {
  position: absolute;
  top: 0;
  right: 0;
}
.reminder-wrap .reminder-content {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  z-index: 2;
  margin: 0 auto;
}
.reminder-wrap .btn-reminder {
  z-index: 3;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-top: 1.5rem;
}
.reminder-wrap .btn-reminder path {
  fill: var(--text-button);
  transition: all 0.3s ease-in-out;
}

.cover-section {
  position: fixed;
  z-index: 1000;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  overflow: hidden;
  width: 100%;
}
.cover-section.cover-opened {
  transform: translateY(-100%);
}
.cover-section .hill-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  transform: translate(-20%, 10%);
}
@media (max-width: 991px) {
  .cover-section .hill-1 {
    width: 120%;
    transform: translate(-20%, 0%);
  }
}
@media (max-width: 575px) {
  .cover-section .hill-1 {
    width: 150%;
  }
}
.cover-section .hill-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  transform: translate(5%, 10%) scaleX(-1);
}
@media (max-width: 991px) {
  .cover-section .hill-2 {
    width: 120%;
    transform: translate(5%, 5%) scaleX(-1);
  }
}
@media (max-width: 575px) {
  .cover-section .hill-2 {
    width: 150%;
  }
}
.cover-section .town-1 {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 991px) {
  .cover-section .town-1 {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .cover-section .town-1 {
    width: 100%;
  }
}
.cover-section .town-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(-50%, -10%);
}
.cover-section .town-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transform: translate(70%, -10%);
}
.cover-section .cover-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0;
  transition: opacity 1s ease;
  height: 100vh;
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper {
    padding: 4rem 0 7rem;
    align-items: center;
  }
}
.cover-section .cover-wrapper .cover-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-section .cover-wrapper .cover-content .cover-body {
  position: relative;
  width: 30%;
}
@media (max-width: 1199px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    width: 35%;
  }
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    width: 100%;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description {
  padding: 5rem 2rem;
  text-align: center;
  color: var(--color-light);
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper .cover-content .cover-body .cover-description {
    padding: 3rem 1rem;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .cover-event {
  position: relative;
  margin-bottom: 1rem;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .greeting-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .title {
  padding: 1rem 0;
  margin-bottom: 0;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description p {
  margin-bottom: 0;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .h6 {
  margin-bottom: 0;
  font-weight: 600;
}
.cover-section .cover-wrapper .cover-content .elements-widget {
  position: relative;
  width: 100%;
}

.header-section {
  position: relative;
  width: 100%;
}
.header-section .scroll-icon {
  position: relative;
  margin-top: 2rem;
}
.header-section .scroll-icon rect {
  stroke: #fff;
}
.header-section .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.header-section .hill-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  transform: translate(-20%, 0%);
}
@media (max-width: 991px) {
  .header-section .hill-1 {
    width: 120%;
    transform: translate(-20%, -10%);
  }
}
@media (max-width: 575px) {
  .header-section .hill-1 {
    width: 150%;
    transform: translate(-20%, -30%);
  }
}
.header-section .hill-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  transform: translate(5%, 0) scaleX(-1);
}
@media (max-width: 991px) {
  .header-section .hill-2 {
    width: 120%;
    transform: translate(15%, -10%) scaleX(-1);
  }
}
@media (max-width: 575px) {
  .header-section .hill-2 {
    width: 150%;
    transform: translate(15%, -30%) scaleX(-1);
  }
}
.header-section .land {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 80%);
}
@media (max-width: 991px) {
  .header-section .land {
    width: 200%;
    transform: translate(-50%, 30%);
  }
}
.header-section .coloseum {
  position: absolute;
  bottom: 20%;
  left: 75%;
  width: 40%;
  transform: translate(-50%, 0);
}
@media (max-width: 991px) {
  .header-section .coloseum {
    left: 65%;
    width: 60%;
  }
}
@media (max-width: 575px) {
  .header-section .coloseum {
    left: 55%;
    width: 70%;
  }
}
.header-section .coloseum .town-1 {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 80%;
  transform: translate(-58%, 0);
}
.header-section .coloseum .town-2 {
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 80%;
  transform: translate(30%, 0);
}
.header-section .header-content {
  position: relative;
  height: 100vh;
}
.header-section .header-content .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  margin: 0 auto;
  padding: 4.5rem 0 0;
}
@media (max-width: 1199px) {
  .header-section .header-content .header {
    width: 35%;
  }
}
@media (max-width: 991px) {
  .header-section .header-content .header {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .header-section .header-content .header {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .header-section .header-content .header {
    width: 100%;
  }
}
.header-section .header-content .header .header-title {
  position: relative;
  text-align: center;
  color: var(--color-light);
}
.header-section .header-content .header .header-title-content {
  position: relative;
}
.header-section .header-content .header #scroll-animate {
  animation: scrollAnim 1500ms ease infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
[data-anim=zoom-in-main].has-animate {
  animation-name: zoomInMain;
  animation-fill-mode: forwards;
  animation-duration: 3500ms !important;
}

[data-anim=peafowl-right].has-animate {
  animation-name: peafowlRight;
  animation-duration: 3500ms !important;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

[data-anim=peafowl-left].has-animate {
  animation-name: peafowlLeft;
  animation-duration: 2500ms !important;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.33, 0.12, 0.61, 0.9);
}

@keyframes peafowlRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  20% {
    transform: translate3d(60%, 5%, 0);
  }
  40% {
    transform: translate3d(70%, 0, 0);
  }
  60% {
    transform: translate3d(80%, 5%, 0);
  }
  80% {
    transform: translate3d(90%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 5%, 0);
  }
}
@keyframes peafowlLeft {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  20% {
    transform: translate3d(-60%, 5%, 0);
  }
  40% {
    transform: translate3d(-70%, 0, 0);
  }
  60% {
    transform: translate3d(-80%, 5%, 0);
  }
  80% {
    transform: translate3d(-90%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 5%, 0);
  }
}
.couple-section {
  position: relative;
  text-align: center;
}
.couple-section .and {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 1rem 0;
  z-index: 3;
}
@media (min-width: 768px) {
  .couple-section .and {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.couple-section .and span {
  position: relative;
  font-size: 28px;
  font-family: "Foglihten", serif;
}
.couple-section .couple-wrapper {
  position: relative;
  padding: 0 0 5rem;
}
@media (max-width: 767px) {
  .couple-section .couple-wrapper {
    padding: 0 0 3rem;
  }
  .couple-section .couple-wrapper .couple-container {
    padding: 0;
  }
}
.couple-section .couple-body {
  position: relative;
}
.couple-section .couple-body.with-line {
  --color-button-trans: #1e1f1e;
  padding: 2rem 0;
}
.couple-section .couple-body .background-element img {
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}
.couple-section .couple-content {
  position: relative;
}
.couple-section .couple {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 8rem 1rem 5rem;
  -webkit-mask-image: url(../images/mask.png);
          mask-image: url(../images/mask.png);
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.couple-section .couple .image-wrap {
  width: 100%;
  position: relative;
  aspect-ratio: 3/4;
  margin: 0 auto;
}
.couple-section .couple .image-wrap .image-element {
  position: relative;
  width: 100%;
  height: 100%;
}
.couple-section .couple .image-wrap .image-element .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  -webkit-mask-image: url(../images/mask-photo.png);
          mask-image: url(../images/mask-photo.png);
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.couple-section .couple .couple-description {
  position: relative;
  text-align: center;
  padding: 1rem;
}
.couple-section .couple .couple-parent {
  width: 100%;
}
.couple-section .couple .sosmed-wrap {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  background: var(--color-secondary);
  padding: 0.5rem 0.6rem;
  border-radius: 50px;
  margin: 0 auto;
}
.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--text-button);
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.couple-section .couple .sosmed-wrap .sosmed small {
  align-items: center;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
}
.couple-section .couple .sosmed-wrap .fab {
  font-size: 18px;
}
@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .fab {
    font-size: 16px;
  }
}

.story-section {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-light);
}
.story-section .story {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 767px) {
  .story-section .story {
    padding: 2rem 0;
  }
}
.story-section .story-content {
  position: relative;
}
.story-section .story-description {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}
.story-section .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.story-section .image-wrapper .image-element {
  position: relative;
  width: 100%;
  height: 100%;
}
.story-section .image-wrapper .image-element .story-background {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.venue-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .venue-section {
    padding: 3rem 0;
  }
}
.venue-section .background-element img {
  opacity: 0.4;
}
.venue-section .venue-wrapper {
  position: relative;
  z-index: 3;
}
.venue-section .venue-wrapper .venue-description {
  position: relative;
  margin: 0 auto 5rem;
  z-index: 2;
  text-align: center;
}
@media (max-width: 991px) {
  .venue-section .venue-wrapper .venue-description {
    margin-bottom: 3rem;
  }
}
.venue-section .venue-wrapper .venue-content {
  position: relative;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue {
  position: relative;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg {
  width: 40px;
  height: auto;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg path {
  stroke: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .ribbon-venue .st0 {
  fill: var(--color-secondary);
}
.venue-section .venue-wrapper .venue-content .ribbon-venue .st1 {
  fill: none;
  stroke: var(--color-secondary);
  stroke-width: 19;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transform-origin: 50% 75%;
}
.venue-section .venue-wrapper .venue-content .card {
  background-color: transparent;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: none;
  box-shadow: inset 0 21px 42px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .venue-section .venue-wrapper .venue-content .card {
    height: 100%;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body {
  position: relative;
  text-align: center;
  padding: 2rem;
}
@media (max-width: 767px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 1rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-description {
  position: relative;
  padding: 1.5rem 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-description p {
  margin-bottom: 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name {
  position: relative;
  width: 100%;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .date {
  position: relative;
  width: 100%;
  padding: 0.75rem 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .date h5 {
  font-family: "Foglihten", serif;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 32px;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name h4 {
  font-family: "Foglihten", serif;
  margin-bottom: 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name p {
  margin-bottom: 0;
  font-weight: 600;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .with-line {
  --color-button-trans: #1e1f1e;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .with-line::before, .venue-section .venue-wrapper .venue-content .card .card-body .event-name .with-line::after {
  position: relative;
  display: block;
  top: unset;
  bottom: unset;
  left: unset;
  transform: none;
  margin: 0.75rem auto;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place {
  position: relative;
  padding: 2rem 1rem;
  border-radius: var(--border-radius);
  box-shadow: inset 0 21px 42px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0.2;
  content: "";
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place-body {
  position: relative;
}
.venue-section .prokes-wrapper {
  margin: 3rem 0 0;
  position: relative;
  padding: 2rem;
  text-align: center;
  z-index: 2;
}
.venue-section .prokes-wrapper .title-section::before {
  all: unset;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 0;
  }
}
.venue-section .prokes-wrapper * {
  position: relative;
}
.venue-section .prokes-wrap {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.venue-section .prokes-wrap .prokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}
@media (max-width: 375px) {
  .venue-section .prokes-wrap .prokes {
    width: 45%;
  }
}
.venue-section .row-venue {
  row-gap: 3rem;
}
@media (min-width: 768px) {
  .venue-section .row-venue {
    align-items: stretch;
  }
}
.venue-section .animation-loop .st1 {
  will-change: transform;
  animation: zoomInRing 2000ms ease-out infinite;
}
.venue-section .animation-loop .dot {
  will-change: transform;
  animation: fadeBoing 2000ms ease-out infinite;
  transform-origin: 50% 75%;
}
.venue-section .animation-loop #Layer_3 {
  will-change: transform;
  animation: boing 1000ms ease-out infinite alternate;
}
@keyframes zoomInRing {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    opacity: 0;
  }
}
@keyframes boing {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5rem, 0);
  }
}
@keyframes fadeBoing {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale3d(0.25, 0.25, 0.25);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.maps-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rsvp-section {
  position: relative;
  padding: 0 0 5rem;
}
@media (max-width: 767px) {
  .rsvp-section {
    padding: 0 0 3rem;
  }
}
.rsvp-section .rsvp-wrapper {
  position: relative;
  padding: 2rem 2rem 10rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (max-width: 767px) {
  .rsvp-section .rsvp-wrapper {
    padding: 1rem 1rem 8rem;
  }
}
.rsvp-section .rsvp-wrapper .rsvp-form {
  position: relative;
  color: var(--color-light);
  -webkit-mask-image: url(../images/mask.png);
          mask-image: url(../images/mask.png);
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  box-shadow: inset 0 21px 42px rgba(0, 0, 0, 0.1);
}
.rsvp-section .rsvp-wrapper .rsvp-form::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0.4;
  content: "";
}
.rsvp-section .rsvp-wrapper .rsvp-form-body {
  position: relative;
  padding: 3rem 2rem 8rem;
}
@media (max-width: 767px) {
  .rsvp-section .rsvp-wrapper .rsvp-form-body {
    padding: 2rem 1rem 8rem;
  }
}
.rsvp-section .rsvp-wrapper .rsvp-form-body.with-line::before, .rsvp-section .rsvp-wrapper .rsvp-form-body.with-line::after {
  position: relative;
  display: block;
  top: unset;
  bottom: unset;
  left: unset;
  transform: none;
  margin: 1rem auto;
}

.wishes-section {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .wishes-section {
    padding: 3rem 0;
  }
}
.wishes-section .wishes-form-wrapper {
  position: relative;
}
.wishes-section .card-form {
  background-color: transparent;
}
.wishes-section .card-form.card {
  border: none;
}
.wishes-section .card-form .card-body {
  padding: 2rem;
}
@media (max-width: 991px) {
  .wishes-section .card-form .card-body {
    padding: 2rem 1rem;
  }
}
.wishes-section .wishes-preview {
  position: relative;
}
.wishes-section .wishes-preview .card {
  position: relative;
  border: none;
  background-color: transparent;
}
.wishes-section .wishes-preview .card .card-body {
  padding: 0;
}
.wishes-section .wishes-preview .card .card-body .splide__pagination {
  bottom: -1.75em;
  padding: 0 3rem;
}
@media (min-width: 768px) {
  .wishes-section .wishes-preview .card .card-body .splide__pagination {
    right: unset;
  }
}
@media (max-width: 991px) {
  .wishes-section .wishes-preview .card .card-body .splide__pagination {
    bottom: -1.4em;
  }
}
.wishes-section .wishes-preview .card .card-body .splide__pagination__page.is-active {
  background-color: var(--color-secondary);
}
.wishes-section .wishes-preview .card .card-body .splide__arrows {
  position: absolute;
  top: 100%;
  left: 0;
}
.wishes-section .wishes-preview .card .card-body .splide__arrows .splide__arrow {
  border-radius: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  transform: translate(0);
}
@media (max-width: 991px) {
  .wishes-section .wishes-preview .card .card-body .splide__arrows .splide__arrow {
    width: 30px;
    height: 30px;
  }
}
.wishes-section .wishes-preview .card .card-body .splide__arrows .splide__arrow svg {
  fill: var(--text-button);
  width: 20px;
}
.wishes-section .wishes-preview .card .card-body .splide__arrows .splide__arrow--prev {
  left: 0;
  top: 0;
}
.wishes-section .wishes-preview .card .card-body .splide__arrows .splide__arrow--next {
  right: 0;
  top: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes {
  text-align: left;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish {
  color: var(--color-dark);
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6 {
  font-weight: bold;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6,
.wishes-section .wishes-preview .card .card-body .wishes .wish p {
  margin-bottom: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description {
  position: relative;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 12rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description .wish-body {
  padding: 0 1rem;
  height: 100%;
  overflow: auto;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description .wish-body::-webkit-scrollbar {
  display: none;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description .wish-footer,
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description .wish-header {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 5rem 0;
  background-color: var(--color-primary);
  color: var(--color-light);
}
@media (max-width: 767px) {
  .egift-section {
    padding: 3rem 0;
  }
}
.egift-section .gift-wrap {
  position: relative;
}
.egift-section .tabs-gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}
.egift-section .tabs-gift::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.25;
  content: "";
  border-radius: 50px;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}
.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: var(--color-button-trans);
  z-index: 2;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom {
    min-width: 120px;
  }
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}
.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-button-trans);
  transition: all 0.2s ease;
}
.egift-section .tabs-gift .btn-custom.active {
  color: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active path {
  fill: var(--text-button);
}
.egift-section .tabs-gift .btn-custom:focus {
  box-shadow: none;
}
.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
}
.egift-section .card .card-body {
  padding: 3rem;
}
@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}
@media (max-width: 375px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}
.egift-section form {
  position: relative;
  z-index: 5;
}
.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}
.egift-section .gift,
.egift-section .angpao {
  display: none;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.egift-section .gift.show,
.egift-section .angpao.show {
  display: block;
  opacity: 1;
}
.egift-section .gift-wrapper {
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 8px;
  height: 100%;
}
.egift-section .gift-wrapper .gift-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  gap: 1rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0.75rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap .gift-image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.egift-section .gift-wrapper .gift-content .gift-description {
  position: relative;
  padding: 0 15px;
}
.egift-section .gift-wrapper .gift-content .gift-action {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 15px 15px;
}
.egift-section .gift-content {
  position: relative;
  padding: 2rem 0 0;
}
.egift-section .gift-content .elements-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.egift-section .gift-content .elements-absolute .background-element {
  display: block;
  height: 100%;
}
.egift-section .gift-content .elements-absolute .background-element .background-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.egift-section .gift-content .elements-absolute .background-element .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes tab {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gallery-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .gallery-section {
    padding: 3rem 0;
  }
}
.gallery-section .img-gallery {
  height: auto;
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.gallery-section .splide__pagination {
  bottom: -0.5em;
}
.gallery-section .splide__pagination__page.is-active {
  background-color: var(--color-secondary);
}
.gallery-section .splide .splide__arrow {
  border-radius: 0;
  width: 65px;
  height: 65px;
  background-color: var(--color-secondary);
}
@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 40px;
  }
}
.gallery-section .splide .splide__arrow svg {
  fill: var(--text-button);
  width: 25px;
  height: 30px;
}
@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 20px;
    height: 25px;
  }
}
.gallery-section .splide .splide__arrow--prev {
  left: 0;
  transform: translate(-62%, -62%);
}
.gallery-section .splide .splide__arrow--next {
  right: 0;
  transform: translate(62%, -62%);
}

.apology-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .apology-section {
    padding: 3rem 0;
  }
}
.apology-section .background-element img {
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  opacity: 0.4;
}
.apology-section .appology-wrap {
  position: relative;
  padding: 3rem 2rem;
}
@media (max-width: 767px) {
  .apology-section .appology-wrap {
    padding: 2rem 1rem;
  }
}

.stream-section {
  position: relative;
  padding: 3rem 0 5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .stream-section {
    padding: 2rem 0 3rem;
  }
}
.stream-section .stream-wrapper {
  position: relative;
}
.stream-section .stream-wrapper .title-section.with-line {
  --color-button-trans: #1e1f1e;
}
.stream-section .stream-wrapper .title-section.with-line::before, .stream-section .stream-wrapper .title-section.with-line::after {
  position: relative;
  display: block;
  top: unset;
  bottom: unset;
  left: unset;
  transform: none;
  margin: 0.75rem auto;
}
.stream-section .stream-wrapper .stream-content {
  position: relative;
}
.stream-section .stream-wrapper .stream-content .background-element img {
  opacity: 0.4;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}
.stream-section .stream-wrapper .stream-content .stream-description {
  position: relative;
  padding: 3rem 2rem;
  box-shadow: inset 0 21px 42px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper .stream-content .stream-description {
    padding: 2rem 1rem;
  }
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper .stream-content h4 {
    text-align: center;
  }
}
.stream-section ul ol {
  padding: 0;
}
.stream-section .btn-custom {
  width: 100%;
  z-index: 10;
  position: relative;
}
@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}
.stream-section .yt-description {
  position: relative;
}

.thank-section {
  position: relative;
  padding: 5rem 0 10rem;
  text-align: center;
}
@media (max-width: 767px) {
  .thank-section {
    padding: 3rem 0 10rem;
  }
}
.thank-section .hill-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  transform: translate(-20%, 0%);
}
@media (max-width: 991px) {
  .thank-section .hill-1 {
    width: 120%;
    transform: translate(-20%, -10%);
  }
}
@media (max-width: 575px) {
  .thank-section .hill-1 {
    width: 150%;
    transform: translate(-20%, -30%);
  }
}
.thank-section .hill-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  transform: translate(5%, 0) scaleX(-1);
}
@media (max-width: 991px) {
  .thank-section .hill-2 {
    width: 120%;
    transform: translate(15%, -10%) scaleX(-1);
  }
}
@media (max-width: 575px) {
  .thank-section .hill-2 {
    width: 150%;
    transform: translate(15%, -30%) scaleX(-1);
  }
}
.thank-section .land {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 70%);
}
@media (max-width: 991px) {
  .thank-section .land {
    width: 200%;
    transform: translate(-50%, 60%);
  }
}
@media (max-width: 575px) {
  .thank-section .land {
    transform: translate(-50%, 40%);
  }
}
.thank-section .coloseum {
  position: absolute;
  top: 0;
  left: 50%;
  width: 120%;
  transform: translate(-50%, -40%);
  opacity: 0.2;
}
.thank-section .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  margin: 0 auto;
  z-index: 3;
}
.thank-section .image-wrapper .image-element {
  position: relative;
  width: 100%;
  height: 100%;
}
.thank-section .image-wrapper .image-element .thank-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: url(../images/mask-photo.png);
          mask-image: url(../images/mask-photo.png);
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.thank-section .thank-wrapper {
  position: relative;
}
.thank-section .thank-wrapper .thank {
  position: relative;
  padding: 3rem 2rem;
}
@media (max-width: 767px) {
  .thank-section .thank-wrapper .thank {
    padding: 2rem 1rem;
  }
}

.footer {
  padding: 1rem 0;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--text-button);
}
.footer small {
  position: relative;
}/*# sourceMappingURL=styles.css.map */