@font-face {
	font-family: "Gallery Modern";
	src: url(../fonts/GalleryModernRegular.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Gallery Modern";
	src: url(../fonts/GalleryModernRegular.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Gallery Modern";
	src: url(../fonts/GalleryModernRegular.woff2) format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.woff2) format("woff2");
	font-display: swap;
}
