.thank-section {
	position: relative;
	padding: 5rem 0 15rem;
	background-color: var(--color-primary);
	text-align: center;
	@include max-md {
		padding: 3rem 0 15rem;
	}
	.bg-1 {
		position: absolute;
		bottom: 35%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
		@include max-lg {
			width: 200%;
		}
		@include max-sm {
			width: 250%;
		}
	}
	.bg-2 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
		@include max-lg {
			width: 200%;
		}
		@include max-sm {
			width: 250%;
		}
	}
	.bg-3 {
		position: absolute;
		bottom: 10%;
		left: 50%;
		width: 60%;
		transform: translate(-50%);
		z-index: 3;
		@include max-lg {
			width: 90%;
		}
		@include max-sm {
			bottom: 4%;
			width: 115%;
		}
	}
	.motif {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: auto;
		height: 42px;
		transform: translate(-50%, 0);
		display: flex;
		@include max-lg {
			height: 38px;
		}
		@include max-sm {
			height: 33px;
		}
		.image-element {
			width: auto;
			height: 100%;
			img {
				width: auto;
				height: 100%;
			}
		}
	}
	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		transform: translate(-70%, 0);
		z-index: 3;
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 35%;
		}
	}
	.orn-2 {
		position: absolute;
		bottom: 20%;
		left: 0;
		width: 160px;
		transform: translate(-60%, 0);
		z-index: 3;
		@include min-md {
			width: 200px;
		}
		@include min-lg {
			width: 220px;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 140px;
		transform: translate(-50%, 0);
		z-index: 3;
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 200px;
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 60%;
		transform: translate(70%, 0);
		z-index: 3;
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 35%;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 18%;
		right: 0;
		width: 160px;
		transform: translate(60%, 0) scaleX(-1);
		z-index: 3;
		@include min-md {
			width: 200px;
		}
		@include min-lg {
			width: 220px;
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 140px;
		transform: translate(50%, 0) scaleX(-1);
		z-index: 3;
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 200px;
		}
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 4/3;
		@include max-sm {
			aspect-ratio: 3/4;
		}
		.image-element {
			position: relative;
			width: 100%;
			height: 100%;
			.thank-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.thank-wrapper {
		position: relative;
		.thank {
			position: relative;
			background: linear-gradient(to bottom, var(--color-main), transparent);
			z-index: 5;
			&-body {
				position: relative;
				padding: 3rem 2rem;
				@include max-md {
					padding: 2rem 1rem;
				}
			}
		}
	}
}
.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	small {
		position: relative;
	}
}
