.venue-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.motif {
		position: absolute;
		top: 0;
		width: 2rem;
		@include max-sm {
			width: 1.8rem;
		}
		&-1 {
			left: 0;
		}
		&-2 {
			right: 0;
		}
	}
	.motif-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 150%;
		transform: translate(-50%, -20%);
		@include max-lg {
			width: 300%;
		}
		@include max-sm {
			width: 500%;
		}
		.motifs {
			display: flex;
			align-items: center;
			opacity: 0.3;
			path {
				fill: var(--color-primary);
			}
		}
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		transform: translate(-60%, 0);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
		transform: translate(50%, 0) scaleX(-1);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 90%;
		transform: translate(45%, 0);
		@include min-md {
			width: 100%;
		}
		@include min-lg {
		}
	}
	.venue-wrapper {
		position: relative;
		z-index: 3;
		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			padding: 0 1rem;
			z-index: 2;
			text-align: center;
			@include max-lg {
				margin-bottom: 3rem;
			}
		}
		.venue-content {
			position: relative;
			@include max-sm {
				.container {
					padding: 0;
				}
			}
			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;
				svg {
					width: 40px;
					height: auto;
					path {
						stroke: var(--color-dark);
					}
				}
				.st0 {
					fill: var(--color-button-trans);
				}
				.st1 {
					fill: none;
					stroke: var(--color-button-trans);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}
			.card {
				background-color: var(--color-primary);
				color: var(--color-light);
				border-radius: 0;
				overflow: hidden;
				border: none;
				.card-body {
					position: relative;
					padding: 3rem;
					text-align: left;
					@include max-md {
						padding: 3rem 2.5rem;
					}
					h4 {
						padding: 0 0 1rem;
					}
					hr {
						display: block;
						width: 10%;
						height: 2px;
						margin: 0 auto 1rem;
					}
					.event-description {
						position: relative;
						margin-bottom: 1rem;
						p {
							margin-bottom: 0;
						}
					}
					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 1rem;
						.date {
							position: relative;
							width: 100%;
							padding: 0.5rem 0;
							h5 {
								font-family: $font-secondary;
								font-weight: 700;
								margin-bottom: 0;
								font-size: 36px;
							}
						}
						h4 {
							font-family: $font-secondary;
						}
						p {
							margin-bottom: 0;
							font-weight: 600;
						}
					}
					.event-place {
						position: relative;
					}
				}
			}
		}
	}
	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;
		background: linear-gradient(to bottom, var(--color-primary), transparent);
		.title-section {
			&::before {
				all: unset;
			}
		}
		@include max-md {
			padding: 2rem 0;
		}
		* {
			position: relative;
		}
	}
	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;
		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;
			@include max-md {
				width: 120px;
			}
			@include max-xs {
				width: 45%;
			}
		}
	}
	.row-venue {
		row-gap: 0;
	}
	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}
		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}
		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}
		40% {
			opacity: 1;
		}
		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}
		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
