.header-section {
	position: relative;
	width: 100%;

	.scroll-icon {
		position: relative;
		margin-top: 2rem;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 65%;

		.image-element {
			height: 100%;

			.img-fluid {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.bg-1 {
		position: absolute;
		top: 2%;
		left: 0;
		width: 100%;

		@include max-lg {
			top: 15%;
		}
	}

	.bg-2 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		@include max-lg {
			top: 65%;
		}

		@include max-sm {
			top: unset;
			bottom: 0;
			width: 150%;
		}

		.minang {
			position: absolute;
			bottom: 89%;
			left: 50%;
			width: 50%;
		}

		.joglo {
			position: absolute;
			bottom: 89%;
			right: 45%;
			width: 45%;
		}
	}

	.waters {
		position: absolute;
		top: 0;
		left: 49%;
		width: 10%;
		height: 50%;
		transform: translate(-50%, 22%);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.water {
			position: relative;
			width: 100%;
			animation-duration: 5000ms !important;

			@include max-lg {
				animation-duration: 4000ms !important;
			}
		}
	}

	.curtain {
		position: absolute;
		top: 0;
		width: 10%;

		@include max-lg {
			width: 25%;
		}

		@include max-sm {
			width: 35%;
		}

		&-left {
			left: 0;
			transform: translate(-30%, 0);
		}

		&-right {
			right: 0;
			transform: translate(30%, 0) scaleX(-1);
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 15%;
		left: 0;
		width: 60%;
		transform: translate(-60%, 0);

		@include min-md {
			width: 40%;
		}

		@include min-lg {
			width: 30%;
			transform: translate(-60%, 20%);
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 15%;
		right: 0;
		width: 60%;
		transform: translate(60%, 0) rotate(-5deg);

		@include min-md {
			width: 40%;
		}

		@include min-lg {
			width: 30%;
			transform: translate(60%, 20%) rotate(-5deg);
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 140px;
		transform: translate(10%, 0);

		@include min-md {
			width: 180px;
		}

		@include min-lg {
			width: 200px;
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 70%;
		transform: translate(-30%, 70%);

		@include min-md {
			width: 50%;
			transform: translate(-30%, 75%);
		}

		@include min-lg {
			width: 35%;
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 140px;
		transform: translate(-50%, 0);

		@include min-md {
			width: 180px;
		}

		@include min-lg {
			width: 200px;
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 140px;
		transform: translate(-10%, 0) scaleX(-1);

		@include min-md {
			width: 180px;
		}

		@include min-lg {
			width: 200px;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		transform: translate(30%, 70%) scaleX(-1);

		@include min-md {
			width: 50%;
			transform: translate(30%, 75%) scaleX(-1);
		}

		@include min-lg {
			width: 35%;
		}
	}

	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 140px;
		transform: translate(50%, 0) scaleX(-1);

		@include min-md {
			width: 180px;
		}

		@include min-lg {
			width: 200px;
		}
	}

	.brush {
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;

		@include min-md {
			width: 15%;
		}

		@include min-lg {
			width: 8%;
		}
	}

	.orn-9 {
		position: absolute;
		top: 0;
		left: 0;
		width: 10%;
		transform: translate(-40%, -40%);

		@include max-lg {
			width: 20%;
		}

		@include max-sm {
			width: 30%;
		}

		.orn-10 {
			position: absolute;
			top: 80%;
			right: 10%;
			width: 100%;
			transform: scaleX(-1);
		}
	}

	.orn-11 {
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;
		transform: translate(30%, 0);

		@include min-md {
			width: 15%;
		}

		@include min-lg {
			width: 8%;
		}

		.orn-12 {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
		}
	}

	.orn-13 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30%;
		transform: translate(-40%, 40%);

		@include min-md {
			width: 20%;
		}

		@include min-lg {
			width: 10%;
		}

		.orn-14 {
			position: absolute;
			top: 20%;
			left: 80%;
			width: 100%;
			transform: scaleX(-1);
		}
	}

	.orn-15 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		transform: translate(10%, 50%);

		@include min-md {
			width: 20%;
		}

		@include min-lg {
			width: 10%;
		}
	}

	.header-content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		padding: 4.5rem 0 3rem;

		@include max-lg {
			min-height: 90vh;
		}

		@include max-sm {
			padding: 4rem 0 6rem;
		}

		.header {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35%;
			min-height: 65vh;
			border-radius: 300px;
			padding: 5rem 2rem;
			box-shadow: 0 0 5rem #E6EAEA;
			color: var(--color-dark);

			@include max-xl {
				width: 40%;
			}

			@include max-lg {
				width: 60%;
			}

			@include max-md {
				width: 100%;
				padding: 3rem 1rem;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #E6EAEA;
				opacity: .5;
				border-radius: 300px;
				content: "";
			}

			.header-title {
				position: relative;
				text-align: center;

				&-content {
					position: relative;
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

[data-anim="zoom-in-main"].has-animate {
	animation-name: zoomInMain;
	animation-fill-mode: forwards;
	animation-duration: 3500ms !important;
}

[data-anim="peafowl-right"].has-animate {
	animation-name: peafowlRight;
	animation-duration: 3500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

[data-anim="peafowl-left"].has-animate {
	animation-name: peafowlLeft;
	animation-duration: 2500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.33, 0.12, 0.61, 0.9);
}

@keyframes peafowlRight {
	0% {
		transform: translate3d(50%, 0, 0);
	}

	20% {
		transform: translate3d(60%, 5%, 0);
	}

	40% {
		transform: translate3d(70%, 0, 0);
	}

	60% {
		transform: translate3d(80%, 5%, 0);
	}

	80% {
		transform: translate3d(90%, 0, 0);
	}

	100% {
		transform: translate3d(100%, 5%, 0);
	}
}

@keyframes peafowlLeft {
	0% {
		transform: translate3d(-50%, 0, 0);
	}

	20% {
		transform: translate3d(-60%, 5%, 0);
	}

	40% {
		transform: translate3d(-70%, 0, 0);
	}

	60% {
		transform: translate3d(-80%, 5%, 0);
	}

	80% {
		transform: translate3d(-90%, 0, 0);
	}

	100% {
		transform: translate3d(-100%, 5%, 0);
	}
}