.apology-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.background-element{
		img[alt="ring-bg"]{
			object-position: 50% 10%;
		}
	}
	.appology-wrap {
		position: relative;
			min-height: 60vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			@include max-lg{
				min-height: 60vh;
				padding: 5rem 0;
			}
	}
}
