.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;
	&.cover-opened {
		transform: translateY(-100%);
	}
	.lamp-1{
		position: absolute;
		top: 10%;
		left: 10%;
		width: 15%;
		mix-blend-mode: multiply;
		@include min-md{
			width: 10%;
		}
		@include min-lg{
			width: 6%;
		}
	}
	.lamp-2{
		position: absolute;
		top: 15%;
		right: 20%;
		width: 15%;
		mix-blend-mode: multiply;
		@include min-md{
			width: 10%;	
		}
		@include min-lg{
			right: 15%;
			width: 6%;
		}
	}
	.lamp-grey{
		position: absolute;
		top: 0;
		right: 0;
		width: 80%;
		transform: translate(100%,0);
	}
	.orn-1{
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		transform: translate(0,0);
		@include min-md{
			width: 30%;	
		}
		@include min-lg{
			width: 20%;
		}
	}
	.orn-2{
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		transform: translate(0,0) scaleX(-1);
		@include min-md{
			width: 30%;	
		}
		@include min-lg{
			width: 20%;
		}
	}
	.orn-3{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: translate(0,0) scaleY(-1);
		@include min-md{
			width: 30%;	
		}
		@include min-lg{
			width: 20%;
		}
	}
	.orn-4{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: translate(0,0) scale(-1);
		@include min-md{
			width: 30%;	
		}
		@include min-lg{
			width: 20%;
		}
	}
	.orn-5{
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-10%,-10%);
		mix-blend-mode: multiply;
		@include min-md{
			width: 40%;	
		}
		@include min-lg{
			width: 25%;
		}
	}
	.orn-6{
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		transform: translate(0%,15%) scaleX(-1);
		mix-blend-mode: multiply;
		@include min-md{
			width: 40%;	
		}
		@include min-lg{
			width: 25%;
			transform: translate(0%,0) scaleX(-1);
		}
	}
	.orn-7{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(0%,-15%) scaleY(-1);
		mix-blend-mode: multiply;
		@include min-md{
			width: 40%;	
		}
		@include min-lg{
			width: 25%;
			transform: translate(0%,0) scaleY(-1);
		}
	}
	.orn-8{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(10%,10%) scale(-1);
		mix-blend-mode: multiply;
		@include min-md{
			width: 40%;	
		}
		@include min-lg{
			width: 25%;
		}
	}
	.orn-9{
		position: absolute;
		top: 48%;
		left: 0;
		width: 50px;
		transform: translate(0,-50%);
		mix-blend-mode: multiply;
		opacity: .8;
		@include min-md{
			width: 60px;
		}
	}
	.orn-10{
		position: absolute;
		top: 52%;
		right: 0;
		width: 50px;
		transform: translate(0,-50%) scaleX(-1);
		mix-blend-mode: multiply;
		opacity: .8;
		@include min-md{
			width: 60px;	
		}
	}
	.orn-11{
		position: absolute;
		top: 40%;
		left: 0;
		width: 40%;
		transform: translate(-50%,-50%);
		@include min-md{
			width: 30%;	
		}
		@include min-lg{
			width: 15%;
		}
	}
	.orn-12{
		position: absolute;
		top: 40%;
		right: 0;
		width: 40%;
		transform: translate(50%,-50%) scaleX(-1);
		@include min-md{
			width: 30%;
		}
		@include min-lg{
			width: 15%;
		}
	}
	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;
		@include max-lg {
			padding: 4rem 0 8rem;
			align-items: center;
		}
		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.cover-body {
				position: relative;
				width: 35%;
				@include max-xl{
					width: 40%;
				}
				@include max-lg{
					width: 60%;
				}
				@include max-md{
					width: 50%;
				}
				@include max-sm{
					width: 95%;
				}
				.cover-description {
					padding: 1rem;
					text-align: center;
					.cover-event {
						position: relative;
						margin-bottom: 1rem;
						h6{
							font-family: var(--font-custom-1);
							font-weight: 700;
							font-size: 24px;
						}
					}
					.greeting-wrapper {
						position: relative;
						margin-bottom: 2rem;
					}
					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}
					p {
						margin-bottom: 0;
					}
					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}
			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}
