.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.ornaments-wrapper {
		.elements-wrapper-absolute {
			.background-element {
				img {
					object-position: 50% 55%;
				}
			}
		}
	}

	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;

		@include max-lg {
			padding: 4rem 0 10rem;
			align-items: center;
		}

		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.cover-body {
				position: relative;
				width: 35%;

				@include max-xl {
					width: 40%;
				}

				@include max-lg {
					width: 60%;
				}

				@include max-sm {
					width: 100%;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-primary);
					opacity: .1;
					content: "";
				}

				.cover-description {
					position: relative;
					padding: 3rem 2rem;
					text-align: left;

					@include max-sm {
						padding: 2.5rem 1.8rem;
					}

					.line {
						position: relative;
						width: 65px;
						height: 2px;
						background-color: var(--color-button-trans);
						margin-bottom: 1.5rem;
					}

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 2rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 700;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
				margin-top: 2rem;
			}
		}
	}
}