.egift-section {
	position: relative;
	text-align: center;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.gift-wrap {
		position: relative;

		.star-1 {
			position: absolute;
			top: -1rem;
			right: 0;
			width: 8%;
		}
	}

	.tabs-gift {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: fit-content;
		padding: 0.25rem;
		border-radius: var(--border-radius);
		gap: 0.5rem;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-primary);
			opacity: 0.1;
			content: "";
			border-radius: 50px;
		}

		@include max-md {
			padding: 0.25rem;
		}

		.btn-custom {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			min-width: 140px;
			text-align: center;
			background-color: transparent;
			color: var(--color-button-trans);
			z-index: 2;
			border: none;

			@include max-md {
				min-width: 120px;

				svg {
					width: 25px;
					height: 25px;
				}
			}

			path {
				fill: var(--color-button-trans);
				transition: all 0.2s ease;
			}

			&.active {
				color: var(--color-light);

				path {
					fill: var(--color-light);
				}
			}

			&:focus {
				box-shadow: none;
			}
		}

		.glider {
			position: absolute;
			left: 0;
			top: 0;
			background: var(--color-primary);
			width: 100%;
			height: 100%;
			border-radius: 50px;
			z-index: -1;
		}
	}

	.card {
		.card-body {
			padding: 3rem;

			@include max-md {
				padding: 3rem 1.25rem;
			}

			@include max-xs {
				padding: 3rem 0.75rem;
			}
		}
	}

	form {
		position: relative;
		z-index: 5;

		.input-group-text {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-light);
		}

		@include max-md {
			.row {
				gap: 1rem;
			}
		}
	}

	.gift,
	.angpao {
		display: none;
		transition: all 0.5s ease-in;
		opacity: 0;

		&.show {
			display: block;
			opacity: 1;
		}
	}

	.gift-content {
		position: relative;
	}
}

@keyframes tab {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}