.header-section {
	position: relative;
	width: 100%;

	.elements-wrapper-absolute {
		@include max-sm {
			width: 140%;
		}

		.background-element {
			img {
				object-position: 50% 50%;

				@include max-sm {
					object-position: 50% 80%;
				}
			}
		}
	}

	.scroll-icon {
		position: absolute;
		bottom: 3rem;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.header-content {
		position: relative;

		.header {
			position: relative;
			width: 100%;

			.header-title {
				--color-button-trans: #fff;
				position: relative;
				padding: 4.5rem 0;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				min-height: 100vh;
				color: var(--color-light);

				@include max-lg {
					flex-direction: column;
					justify-content: flex-end;
					height: 100vh;
				}

				&-content {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-start;
					text-align: left;
					width: 100%;

					@include min-lg {
						width: 50%;
						min-height: calc(100vh - 9rem);
						justify-content: space-between;
					}

					@include max-lg {
						height: 100%;
						margin-bottom: 2rem;
					}

					.title {
						position: relative;

						@include max-lg {
							margin-bottom: 3rem;
						}

						.line {
							width: 60px;
							height: 2px;
							background-color: var(--color-button-trans);
							margin-bottom: 3rem;
						}
					}
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}