.rsvp-section {
	position: relative;
	padding: 0 0 5rem;
	@include max-md {
		padding: 0;
		.container {
			padding: 0;
		}
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 3/4;
		.image-element {
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}
	.corner-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		@include max-md {
			width: 35%;
		}
	}
	.corner-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 20%;
		transform: scaleX(-1);
		@include max-md {
			width: 35%;
		}
	}
	.bg-1 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 180%;
		transform: translate(-50%, 0);
		opacity: 0.2;
	}
	.orn-1 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 50%;
		transform: translate(-30%, 0);
		@include min-md {
			top: 0;
			width: 40%;
			transform: translate(0%, -20%);
		}
		@include min-lg {
			width: 30%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(20%, -30%);
		@include min-md {
			width: 50%;
			transform: translate(20%, -10%);
		}
		@include min-lg {
			width: 30%;
		}
	}
	.rsvp-wrapper {
		position: relative;
		padding: 2rem;
		background-color: var(--color-primary);
		color: var(--color-dark);
		border-radius: var(--border-radius);
		overflow: hidden;
		@include max-md {
			padding: 1.5rem;
			border-radius: 0;
		}
		.rsvp-form {
			position: relative;
			padding: 1rem;
			--color-button-trans: #1e1f1e;
			@include max-md {
				margin-bottom: 2rem;
			}
			.form-control,
			.form-select {
				border-bottom-color: var(--color-button-trans);
				color: var(--color-button-trans);
			}
		}
	}
}
