.stream-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 10rem 0 5rem;
	text-align: center;
	@include max-md {
		padding: 8rem 0 3rem;
	}
	.branch {
		position: absolute;
		top: 6rem;
		left: 50%;
		width: 140%;
		transform: translate(-50%, 0);
		opacity: 0.1;
		@include min-md {
			width: 80%;
		}
		@include min-lg {
			width: 60%;
		}
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		transform: translate(-50%, -60%) scaleY(-1);
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-30%, -50%) scaleY(-1);
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
	}
	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		transform: translate(30%, -50%) scaleY(-1);
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
	}
	.orn-4 {
		position: absolute;
		top: 7rem;
		left: 0;
		width: 80%;
		transform: translate(-76%, 0) rotate(-10deg);
		@include min-md {
			width: 70%;
		}
		@include min-lg {
			width: 35%;
		}
	}
	.orn-5 {
		position: absolute;
		top: 7rem;
		right: 0;
		width: 80%;
		transform: translate(76%, 0) rotate(10deg) scaleX(-1);
		@include min-md {
			width: 70%;
		}
		@include min-lg {
			width: 35%;
		}
	}
	.orn-6 {
		position: absolute;
		top: 0;
		right: 2%;
		width: 40%;
		transform: translate(0, -10%) rotate(20deg);
	}
	.orn-7 {
		position: absolute;
		top: 70%;
		left: 0;
		width: 40%;
		transform: translate(-60%, 0);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
	}
	.orn-8 {
		position: absolute;
		top: 65%;
		right: 0;
		width: 40%;
		transform: translate(60%, 0);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
	}
	.orn-9 {
		position: absolute;
		top: 65%;
		left: 0;
		width: 40%;
		transform: translate(-70%, -20%) rotate(10deg);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
	}
	.orn-10 {
		position: absolute;
		top: 65%;
		right: 0;
		width: 40%;
		transform: translate(70%, -10%);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
	}
	.stream-wrapper {
		position: relative;
		.stream-content {
			position: relative;
			.stream-description {
				position: relative;
				padding: 0 2rem 3rem;
				@include max-md {
					padding: 0 1rem 2rem;
				}
			}
			h4 {
				@include max-md {
					text-align: center;
				}
			}
		}
	}
	ul {
		ol {
			padding: 0;
		}
	}
	.btn-custom {
		width: 100%;
		z-index: 10;
		position: relative;
	}
	.yt-embed {
		@include min-lg {
			height: 320px;
		}
	}
	.yt-description {
		position: relative;
	}
}
