.countdown {
	display: flex;
	text-align: center;
	justify-content: space-between;
	position: relative;
	margin: 0 auto;
	width: 100%;
	gap: 1rem;
	z-index: 3;
	@include max-sm {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 1rem;
		gap: 1rem;
		.huruf {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			@include max-sm {
				font-size: 14px;
			}
		}
		.angka-wrap {
			position: relative;
			background-color: #7f7f7f;
			border-radius: 100px;
			color: var(--color-light);
			width: 100%;
			aspect-ratio: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 130px;
			@include max-lg {
				min-width: 115px;
			}
			@include max-sm {
				min-width: 80px;
			}
		}
		.angka {
			margin-bottom: 0;
			font-weight: 400;
			font-size: 52px;
			font-family: $font-secondary;
			line-height: 1;
			&.ios {
				padding-top: 0.5rem !important;
				@include max-md {
					font-size: 46px;
					padding-top: 0.5rem !important;
				}
			}
			@include max-md {
				font-size: 46px;
				padding-top: 0.5rem !important;
			}
		}
		.huruf,
		.angka {
			margin: 0;
			font-family: $font-primary;
		}
	}
}
