.countdown {
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	width: fit-content;
	gap: 3rem;
	z-index: 3;
	@include max-lg {
		gap: 2rem;
	}
	@include max-md {
		gap: 1rem;
	}
	@include max-sm {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 1rem;
		min-width: 80px;
		gap: 1rem;
		@include max-md {
			min-width: 65px;
			padding: 1rem 0.75rem;
		}
		@include max-xs {
			min-width: 63px;
		}
		@include max-rwd(350px) {
			min-width: 72px;
		}
		.huruf {
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.angka {
			display: inline-block;
			margin-bottom: 0;
			font-weight: 500;
			font-size: 38px;
			font-family: $font-secondary;
			line-height: 1;
			background-color: #7f7f7f;
			border-radius: 100px;
			color: var(--color-light);
			width: 100px;
			aspect-ratio: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			@include max-md {
				font-size: 36px;
			}
		}
		.huruf,
		.angka {
			margin: 0;
			padding: 0;
			font-family: $font-primary;
		}
	}
}
