.reminder-wrap {
	position: relative;
	display: block;
	padding: 5rem 0;
	text-align: center;
	@include max-sm {
		padding: 8rem 0;
	}
	.row {
		min-height: 80vh;
	}
	.reminder-description {
		position: relative;
		margin-bottom: 5rem;
		@include max-sm {
			margin-bottom: 3rem;
		}
	}
	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
	}
	.btn-reminder {
		margin-top: 5rem;
		font-style: normal;
		@include max-sm {
			margin-top: 3rem;
		}
	}
}
