.venue-section {
	position: relative;
	.venue-wrapper {
		position: relative;
		padding: 10rem 0;
		@include max-md {
			padding: 8rem 0 3rem;
		}
		.pola-1 {
			position: absolute;
			top: 50%;
			right: 10%;
			width: 30%;
			transform: translate(0, -50%);
			@include max-sm {
				top: 60%;
				right: 0;
				width: 60%;
				transform: translate(30%, -50%);
			}
		}
		.pola-2 {
			position: absolute;
			bottom: 0;
			left: 1rem;
			width: 40%;
			transform: translate(0, 70%);
			@include max-sm {
				left: 0;
				width: 100%;
				transform: translate(-60%, 75%);
			}
		}
		.venue-description {
			position: relative;
			margin: 0 auto 3rem;
			z-index: 2;
			text-align: center;
			@include max-lg {
				margin-bottom: 1rem;
			}
		}
		.venue-content {
			position: relative;
			.card {
				background-color: transparent;
				text-align: center;
				border: none;
				.card-body {
					position: relative;
					padding: 1rem;
					@include max-sm {
						.row-card {
							row-gap: 2rem;
						}
					}
					.event-description {
						position: relative;
						text-align: left;
						margin-bottom: 1rem;
						@include max-sm {
							text-align: center;
						}
						p {
							margin-bottom: 0;
						}
					}
					.event-name {
						position: relative;
						width: 100%;
						text-align: left;
						margin-bottom: 1rem;
						@include max-sm {
							text-align: center;
						}
						.date {
							position: relative;
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							text-align: center;
							gap: 1rem;
							@include max-sm {
								gap: 0.5rem;
							}
							.h5 {
								font-weight: 900;
								margin-bottom: 0;
								font-size: 26px;
							}
							p {
								text-transform: uppercase;
								font-weight: 300;
								font-size: 16px;
							}
						}
						p {
							margin-bottom: 0;
						}
					}
					.event-place {
						position: relative;
					}
				}
			}
		}
	}
	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;
		.title-section {
			&::before {
				all: unset;
			}
		}
		@include max-md {
			padding: 2rem 0;
		}
		* {
			position: relative;
		}
	}
	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;
		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;
			@include max-md {
				width: 120px;
			}
			@include max-xs {
				width: 45%;
			}
		}
	}
	.row-venue {
		row-gap: 3rem;
	}
	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}
		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}
		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}
		40% {
			opacity: 1;
		}
		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}
		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
