.countdown {
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
	min-width: 70%;
	width: fit-content;
	gap: 1.5rem;
	z-index: 3;
	padding: .5rem 1.5rem .75rem;
	color: var(--color-light);
	margin: 0 auto;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--color-primary);
		opacity: .6;
		border-radius: 16px;
		content: "";
	}

	@include ipad {
		min-width: 60%;
	}

	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.huruf {
			font-size: 14px;
			font-weight: 600;

			@include max-xs {
				font-size: 12px;
			}
		}

		.angka {
			margin-bottom: 0;
			font-weight: 500;
			font-size: 36px;
			font-family: $font-secondary;

			@include max-md {
				font-size: 32px;
			}

			@include max-xs {
				font-size: 28px;
			}
		}

		.huruf,
		.angka {
			margin: 0;
			padding: 0;
		}
	}
}