.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.ornament {
		@include min-lg {
			width: 8%;
		}
	}

	.sky {
		position: absolute;
		top: 0;
		left: 50%;
		width: 120%;
		transform: translate(-50%, 0);
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 20%);

		@include max-lg {
			width: 180%;
			transform: translate(-50%, 0%);
		}
	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0 0;
		transition: opacity 1s ease;
		height: 100vh;

		@include max-lg {
			padding: 5rem 0 0;
		}

		.cover-content {
			position: relative;
			width: 40%;
			height: 100%;
			padding-top: 5rem;
			padding-bottom: 3rem;
			margin: 0 auto;
			color: var(--color-light);

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: var(--color-primary);
				border-radius: 300px 300px 0 0;
				opacity: .6;
				content: "";
			}

			@include max-lg {
				width: 60%;
				padding-bottom: 10rem;
			}

			@include max-sm {
				width: 95%;
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}