.gallery-section {
	position: relative;
	background-color: var(--color-primary);

	.gallery-default {
		a {
			position: relative;
			display: block;
			width: 100%;
			@include aspect-ratio(3, 4);

			.img-gallery {
				width: 100%;
				object-fit: cover;
			}
		}

		.splide {
			padding-bottom: 1em;

			.splide__track {
				overflow: visible;
			}

			.splide__pagination {
				bottom: -.5em;

				&__page {
					&.is-active {
						background: var(--color-secondary);
					}
				}
			}

			.splide__arrow {
				border-radius: 0;
				width: 50px;
				height: 50px;
				background-color: var(--color-secondary);
				transform: translate3d(0, -65%, 0);
				border-radius: 50px;

				@include ipad {
					width: 60px;
					height: 60px;
				}

				svg {
					fill: var(--text-button);
					width: 25px;
					height: 30px;

					@include ipad {
						width: 30px;
						height: 35px;
					}
				}

				&--prev {
					left: 0;
				}

				&--next {
					right: 0;
				}
			}
		}
	}

}