.rsvp-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);

	@include ipad {
		padding: 5rem 0;
	}

	.ampera {
		position: relative;
		width: 50%;
		margin: 0 auto 1rem;
	}

	.ornaments-wrapper {
		overflow: hidden;

		.rumah {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 120%;
			transform: translate(-38%, -5%);
		}

		.orn-1 {
			position: absolute;
			bottom: 40%;
			left: 0;
			width: 95%;
			transform: translate(-60%, 0%);
		}

		.orn-2 {
			position: absolute;
			bottom: 40%;
			right: 0;
			width: 95%;
			transform: translate(60%, 0%);
		}

		.orn-3 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 80%;
			transform: translate(-50%, 0);
		}

		.orn-4 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 80%;
			transform: translate(50%, 0);
		}

		.orn-5 {
			position: absolute;
			bottom: 50%;
			right: 45%;
			width: 35%;

			.orn-6 {
				position: absolute;
				bottom: 50%;
				right: 20%;
				width: 80%;
			}
		}

		.orn-7 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 45%;
			transform: translate(-50%, 55%) rotate(10deg);
		}

		.orn-8 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40%;
			transform: translate(50%, 0) scaleX(-1);

			.orn-9 {
				position: absolute;
				bottom: 50%;
				right: 20%;
				width: 80%;
			}
		}

		.orn-10 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 45%;
			transform: translate(-10%, 60%) rotate(15deg);
		}

		.orn-11 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 90%;
			transform: translate(-30%, 85%) scaleX(-1);
		}

		.orn-12 {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 35%;
			transform: translate(-50%, 45%) scaleX(-1);
		}

		.orn-13 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 80%;
			transform: translate(65%, 75%) scaleX(-1);
		}
	}

	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-main);
		color: var(--color-light);
		border-radius: 300px;

		.rsvp-form {
			position: relative;
			padding: 3rem 3rem 10rem;
			z-index: 5;

			@include max-lg {
				padding: 3rem 2rem 9rem;
			}
		}
	}
}