.thank-section {
	position: relative;
	text-align: center;
	background-color: var(--color-primary);

	.ampera {
		position: relative;
		width: 150%;
		transform: translateX(-25%);
	}

	.ornaments-wrapper.with-bg {
		background-color: var(--color-main);
	}

	.sky {
		position: absolute;
		top: 0;
		left: 50%;
		width: 110%;
		transform: translate(-50%, 0);
	}

	.mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 150%;
		transform: translate(-50%, -30%);

		@include max-sm {
			width: 180%;
			transform: translate(-50%, -40%);
		}

		.land {
			position: absolute;
			bottom: -30%;
			left: 0;
			width: 120%;

			@include max-sm {
				bottom: -40%;
				width: 180%;
			}
		}
	}

	.rumah {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 115%;
		transform: translate(-50%, -10%);

		@include max-sm {
			width: 120%;
			transform: translate(-50%, -15%);
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 10%;
		left: 0;
		width: 65%;
		transform: translate(-45%, 0);
		opacity: .5;
	}

	.orn-2 {
		position: absolute;
		bottom: 50%;
		right: 0;
		width: 65%;
		transform: translate(45%, 0);
		opacity: .5;
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 38%;
		transform: translate(-50%, 10%);

		.orn-4 {
			position: absolute;
			top: 45%;
			left: 90%;
			width: 100%;
		}

		.orn-5 {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
		}
	}

	.orn-7 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 50%;
	}

	.orn-8 {
		position: absolute;
		top: 15%;
		right: 0;
		width: 50%;
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 43%;
		transform: translate(40%, 50%);

		.orn-5 {
			position: absolute;
			top: 10%;
			right: 65%;
			width: 85%;
			transform: scaleX(-1);
		}
	}

	.thank-wrapper {
		position: relative;

		.image-wrapper {
			position: relative;
			width: 100%;
			z-index: 5;

			.image-element {
				@include aspect-ratio(5, 6);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: var(--border-radius);
				}
			}
		}

		.thank {
			position: relative;
			color: var(--color-light);
			margin-bottom: 8rem;

			@include ipad {
				padding: 0 0 10rem;
			}

			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--color-main);
				border-radius: var(--border-radius);
				opacity: .6;
				content: "";
			}

			.thank-body {
				position: relative;
				padding: 3rem 1.8rem 10rem;
				z-index: 5;
			}
		}
	}

}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	z-index: 5;

	small {
		position: relative;
	}
}