.venue-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.sky {
		position: absolute;
		top: 0;
		left: 50%;
		width: 180%;
		transform: translate(-50%, -12%);
	}

	.ampera {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 150%;
		transform: translate(-60%, 0);

		@include max-sm {
			bottom: 1rem;
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-55%, 0);
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		transform: translate(55%, 0);
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-55%, 50%);
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(55%, 50%);
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-5%, 75%);
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(5%, 75%);
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: translate(-40%, 50%);
	}

	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 45%;
		transform: translate(25%, 55%);
	}

	.orn-9 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 42%;
		transform: translate(-50%, 72%);
	}

	.orn-10 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80%;
		transform: translate(-45%, 80%);
	}

	.orn-11 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 80%;
		transform: translate(20%, 85%);
	}

	.venue-wrapper {
		position: relative;

		.venue-description {
			position: relative;
			text-align: center;
			padding: 2rem 1.5rem;
			margin-bottom: 3rem;
			color: var(--color-light);

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--color-primary);
				opacity: .6;
				border-radius: var(--border-radius);
				content: "";
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-primary);
				color: var(--color-light);
				border: none;
				text-align: left;
				border-radius: var(--border-radius);
				overflow: hidden;

				.card-body {
					padding: 0;

					h4 {
						padding: 0 0 1rem;
					}

					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 1rem;
						border-radius: 0 0 var(--border-radius) var(--border-radius);
						text-align: center;
						overflow: hidden;

						&-body {
							position: relative;
							padding: 3rem 1rem 5rem;
							z-index: 5;
						}

						.date {
							position: relative;
							padding: .5rem 0;
							width: 100%;

							h5 {
								font-family: $font-secondary;
								margin-bottom: 0;
								font-size: 42px;
							}

							.line {
								--color-button-trans: #fff;
								width: 45px;
								height: 1px;
								background-color: var(--color-button-trans);
								margin: .2rem auto .5rem;
							}
						}

						h4 {
							font-family: $font-secondary;
							font-size: 32px;
						}

						p,
						span {
							margin-bottom: 0;
							font-size: 16px;
							font-weight: 600;
						}
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;

						.ornament {
							@include ipad {
								width: 20%;
							}
						}

						&-body {
							position: relative;
							padding: 0 4rem 2rem 1.5rem;

							.widget-elements {
								position: relative;
								width: 100%;
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;

		&-sm {
			@include max-md {
				row-gap: 3rem;
			}
		}
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}