.gallery-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.img-gallery {
		height: auto;
		width: 100%;
		aspect-ratio: 3/4;
		object-fit: cover;
		margin-bottom: 2rem;
	}
	.splide {
		&__pagination {
			&__page.is-active {
				background: var(--color-secondary);
			}
		}
		.splide__arrow {
			border-radius: 0;
			width: 65px;
			height: 65px;
			background-color: var(--color-secondary);
			transform: translateY(-62%);
			border-radius: 50px;
			@include max-lg {
				width: 50px;
				height: 50px;
				transform: translateY(-65%);
			}
			svg {
				fill: var(--text-button);
				width: 25px;
				height: 30px;
			}
			&--prev {
				left: 0;
			}
			&--next {
				right: 0;
			}
		}
	}
}
