@import "variables", 'mixins';

.cover-section {
    .elements-wrapper-absolute {
        .background-element {
            opacity: .25;
        }
    }
}

.header-section {
    .elements-wrapper-absolute {
        .background-element {
            opacity: .25;
        }
    }
}

.thank-section {
    .thank-wrapper {
        .elements-wrapper-absolute {
            .background-element {
                opacity: .4;
            }
        }
    }
}

.couple-section {
    .couple-body {
        .elements-wrapper-absolute {
            .background-element {
                img {
                    opacity: .8;
                }
            }
        }
    }
}

.reminder-wrap {
    padding: 5rem 0;
}

.venue-section {
    .elements-wrapper-absolute {
        .background-element {
            img {
                opacity: .25;
            }
        }
    }

    .venue-wrapper {
        .venue-content {
            .card {
                .card-body {
                    hr {
                        position: relative;
                        opacity: 1;
                        z-index: 3;
                    }

                    .event-name {
                        background-color: transparent;

                        .elements-wrapper-absolute {
                            .background-element {
                                img {
                                    object-position: 50% 15%;
                                    opacity: .65;
                                }
                            }
                        }

                        .date {
                            h5 {
                                font-size: 36px;
                            }

                        }

                        p,
                        span {
                            font-size: 18px;

                            @include max-sm {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.rsvp-section {
    .rsvp-wrapper {
        .orn-5 {
            height: 380px;
            padding-top: 0 !important;

            &>.image-element {
                height: 100%;

                .img-fluid {
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 20%;
                    opacity: .5;
                }
            }
        }
    }
}

.egift-section {
    .elements-wrapper-absolute {
        .background-element {
            img {
                opacity: .8;
            }
        }
    }
}

.apology-section {
    .elements-wrapper-absolute {
        .background-element {
            img {
                object-position: 50% 20%;
                opacity: .25;
            }
        }
    }
}

.stream-section {
    .orn-3 {
        top: 10rem;
    }

    .stream-wrapper {
        .stream-content {
            .stream-description {
                .elements-wrapper-absolute {
                    .background-element {
                        background-color: var(--color-primary);

                        img {
                            object-position: 50% 20%;
                            opacity: .25;
                        }
                    }
                }
            }
        }
    }
}