.couple-section {
	position: relative;

	.and {

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem;
		z-index: 3;

		&.single {
			@include min-md {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;

		.couple-content-wrapper {
			position: relative;
		}
	}

	.couple-body {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 5rem 0 3rem;
		}

		&::before {
			position: absolute;
			top: 2.5rem;
			left: 50%;
			width: 50%;
			height: 1px;
			transform: translate(-50%, 0);
			background-color: var(--color-button-trans);
			content: "";

			@include max-sm {
				width: 65%;
			}
		}

		.orn-1 {
			position: absolute;
			top: 2rem;
			left: 0;
			width: 15%;
			transform: translate(-26%, 0);

			@include max-lg {
				width: 30%;
			}

			@include max-sm {
				width: 40%;
			}
		}

		.orn-2 {
			position: absolute;
			top: 50%;
			right: 0;
			width: 15%;
			transform: translate(26%, 0) scaleX(-1);

			@include max-lg {
				width: 30%;
			}

			@include max-sm {
				width: 40%;
			}
		}
	}

	.couple-content {
		position: relative;
		padding: 3rem 2rem;
		background-color: var(--color-main);
		border-radius: var(--border-radius);
		text-align: center;
		margin: 5rem 0;

		@include max-sm {
			padding: 2rem 1.8rem;
			margin: 5rem 0 3rem;
		}

		&::before {
			position: absolute;
			top: -2.5rem;
			left: 50%;
			width: 80%;
			height: 1px;
			transform: translate(-50%, 0);
			background-color: var(--color-button-trans);
			content: "";

			@include max-sm {
				width: 65%;
			}
		}
	}

	.couple {
		position: relative;

		.image-wrap {
			position: relative;
			width: 80%;
			margin: 0 auto;

			.image-element {
				@include aspect-ratio(3, 4);

				.couple-image {
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1.8rem 1.8rem 0;
			text-align: center;

			@include min-lg {
				padding: 2.5rem;
			}
		}

		.couple-parent {
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			margin: 0 auto;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}

		&.single {
			.image-wrap {
				margin-bottom: 2rem;

				.image-element {
					@include min-md {
						@include aspect-ratio(16, 9);
					}
				}
			}

			.couple-description {
				padding-top: 0;
			}

			.and {
				@include min-md {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}