.header-section {
	position: relative;
	width: 100%;

	.scroll-icon {
		position: relative;
		margin-top: 1rem;
	}

	.orn-1 {
		position: absolute;
		top: 5%;
		left: 0;
		width: 65%;
		transform: translate(-26%, 0);

		@include max-lg {
			top: 0;
			width: 50%;
			transform: translate(-35%, 0);
		}
	}

	.header-content {
		position: relative;

		.header {
			position: relative;
			width: 100%;
			display: grid;
			grid-template-columns: 30% auto;

			@include max-xl {
				grid-template-columns: 35% auto;
			}

			@include max-lg {
				grid-template-columns: 100%;
				grid-template-rows: 1fr auto;
			}

			&-image-wrapper {
				position: relative;
				width: 100%;
				height: 100vh;

				@include max-lg {
					height: auto;
				}

				.image-element {
					height: 100%;

					@include max-lg {
						height: auto;
						@include aspect-ratio(1, 1);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			.header-title {
				position: relative;
				text-align: center;
				padding: 4.5rem 5rem 3rem;
				width: 100%;
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;

				@include max-xl {
					padding: 4.5rem 4rem 3rem;
				}

				@include max-lg {
					height: fit-content;
					grid-row: 1;
					padding: 5rem 2rem 3rem;
				}

				&-content {
					position: relative;
					width: 100%;

					.image-wrapper {
						position: relative;
						width: 100%;
						@include aspect-ratio(3, 4);
						margin-bottom: 3rem;

						.image-element {
							height: 100%;
							background-color: var(--color-primary);
							border-radius: 300px;
							padding: 1rem;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								border-radius: 300px;
							}
						}
					}
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}