.story-section {
	position: relative;

	.story {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: stretch;

		@include max-lg {
			flex-direction: column;
			align-items: center;
		}

		.story-content {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-dark);
			width: 100%;
			height: 100%;

			.story-description {
				position: relative;
				text-align: center;
				padding: 3rem 5rem 3rem 3rem;

				@include min-lg {
					text-align: left;
				}

				@include max-sm {
					padding: 2rem;
				}

				.title-section {
					@include min-lg {
						text-align: left;
					}
				}
			}
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(4, 3);

			.story-background {
				object-fit: cover;
			}
		}
	}
}