@font-face {
  font-family: "FogTwoNo5";
  src: url("../fonts/FogtwoNo5.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "FogTwoNo5";
  src: url("../fonts/FogtwoNo5.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "FogTwoNo5";
  src: url("../fonts/FogtwoNo5.ttf") format("ttf");
  font-display: swap;
}
/* cyrillic-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aqvG4w-.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aOvG4w-.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aivG4w-.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8amvG4w-.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --color-main: #f8f0e2;
  --color-primary: #ffffff;
  --color-secondary: #ac5161;
  --color-dark: #1e1f1e;
  --color-light: #ffffff;
  --text-button: #ffffff;
  --color-button-trans: #1e1f1e;
  --vd-color-pink: #e9088a;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.main-app {
  background-color: var(--color-main);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .main-app .background__views {
    position: fixed;
    display: block;
    inset: 0;
    width: 63%;
  }
}

.background__views {
  display: none;
  height: 100vh;
}
.background__views .orn-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  transform: scale(-1);
  z-index: 5;
}
.background__views .background__frames {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.background__views .background__frames::after {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3));
  content: "";
}
.background__views .background__frames .header-title {
  color: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

.layout__views {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  .layout__views {
    margin-left: auto;
    width: 37%;
  }
}
@media (max-width: 991px) {
  .layout__views {
    width: 100% !important;
  }
}

.logo-viding {
  height: 2.4rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .logo-viding {
    height: 2.25rem;
  }
}
.logo-viding path {
  fill: var(--vd-color-pink);
}
@media (min-width: 992px) {
  .logo-viding.custom-position {
    transform: translateX(-360%);
  }
}

.color__button__trans {
  background-color: transparent !important;
}

h1,
h2,
h3 {
  font-family: "FogTwoNo5", serif;
}

h1 {
  font-size: 48px;
}
@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  margin-bottom: 0;
  font-weight: 500;
}

small {
  font-size: 12px;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--text-button);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  position: relative;
}
.btn-custom:hover {
  color: var(--text-button);
}
.btn-custom:hover::before {
  position: absolute;
  inset: 0;
  background-color: var(--color-dark);
  opacity: 0.05;
  content: "";
  border-radius: 50px;
}
.btn-custom path {
  fill: var(--text-button);
}

.modal.show-maps .modal-content {
  border-radius: 20px;
}
.modal.show-maps .modal-body {
  padding: 2rem 3rem;
  position: relative;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body {
    padding: 2rem 1rem;
  }
}
.modal.show-maps .modal-body .btn-modal {
  background-color: var(--color-main);
  color: var(--color-dark);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  opacity: 0.5;
  padding: 0 0.425rem;
  transition: all 0.5s ease;
}
.modal.show-maps .modal-body .btn-modal:hover {
  opacity: 1;
}
.modal.show-maps .modal-body .btn-custom {
  background: transparent;
  border-color: var(--color-dark);
  color: var(--color-dark);
  transition: all 0.25 ease-in-out;
}
.modal.show-maps .modal-body .btn-custom:hover {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.modal.show-maps .modal-body .maps-element {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body .maps-element {
    aspect-ratio: 9/10;
  }
}
.modal.show-maps .modal-body .loader-wrapper-modal {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.show-maps .modal-body .loader-wrapper-modal.loaded {
  display: none;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.modal.show-maps .modal-body .modal-actions {
  position: relative;
  color: var(--color-dark);
}

.orn-1,
.orn-2,
.orn-3,
.orn-4,
.orn-5 {
  height: auto;
}
.orn-1 img,
.orn-2 img,
.orn-3 img,
.orn-4 img,
.orn-5 img {
  width: 100%;
  height: auto;
}

.image-wrapper * {
  width: 100%;
  height: 100%;
}

.font-primary {
  font-family: "Mulish", sans-serif;
}

.font-secondary {
  font-family: "FogTwoNo5", serif;
}

.form-control,
.form-select {
  font-family: "Mulish", sans-serif;
  border-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: var(--color-dark);
}
.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--color-dark);
}
.form-control.invalid,
.form-select.invalid {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-size: 20px;
  padding-right: 2.25rem;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
}

.scrolled {
  background: #fff !important;
  transition: all 1s ease-in-out;
  box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}
.scrolled .logo-viding {
  transform: translateX(0);
}
.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}

.badge-ornament-wrapper {
  position: absolute;
  padding: 0.75rem;
  border-radius: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--color-primary);
  z-index: 5;
}
.badge-ornament-wrapper .badge-orn {
  width: 40px;
}

.parallax-wrapper {
  overflow: hidden;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 0;
  z-index: 9999;
}

.rose-orn {
  position: absolute !important;
  top: 0;
  left: 50%;
  width: 140px;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .rose-orn {
    width: 120px;
  }
}
.rose-orn img {
  width: 100%;
  height: auto;
}

.title-section {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 1.25rem;
}
.title-section .deco-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.reminder-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
@media (max-width: 767px) {
  .reminder-wrap {
    gap: 1rem;
  }
}
.reminder-wrap .couple-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.reminder-wrap .btn-reminder {
  z-index: 3;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.25rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.reminder-wrap .btn-reminder path {
  transition: all 0.3s ease-in-out;
}

.waves-bottom {
  position: absolute;
  width: 100.5%;
  left: 0;
  bottom: -2px;
  z-index: 3;
}
.waves-bottom.reverse {
  transform: scaleX(-1);
}
@media (max-width: 767px) {
  .waves-bottom {
    height: auto !important;
  }
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  transform: scaleY(-1);
}

.waves-left {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
}

.waves-right {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
  transform: scale(-1);
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}
.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}
.loader-wrapper .spinner {
  position: relative;
  width: 84px;
  height: auto;
}
.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/** mouse scroll **/
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 20px;
  position: relative;
  margin: 0 auto;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  margin: 0 0 3px 4px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .m_scroll_arrows {
    width: 16px;
    height: 16px;
  }
}
.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--color-secondary);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #fff;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
}

.wheel {
  animation: mouse-wheel 0.6s linear infinite;
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
[data-anim][data-anim] {
  will-change: opacity, transform;
}
[data-anim][data-anim].animation-invisible {
  visibility: hidden;
}
[data-anim][data-anim].has-animate {
  animation-duration: 2000ms;
}

[data-anim=fade].has-animate {
  animation-name: fadeAnim;
}

[data-anim=fade-right].has-animate {
  animation-name: fadeRight;
}

[data-anim=fade-left].has-animate {
  animation-name: fadeLeft;
}

[data-anim=fade-up].has-animate {
  animation-name: fadeUp;
}

[data-anim=fade-down].has-animate {
  animation-name: fadeDown;
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
[data-anim=slide-right].has-animate {
  animation-name: slideRight;
}

[data-anim=slide-left].has-animate {
  animation-name: slideLeft;
}

[data-anim=slide-up].has-animate {
  animation-name: slideUp;
}

[data-anim=slide-down].has-animate {
  animation-name: slideDown;
}

@keyframes slideRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
[data-anim=slide-rotate-left].has-animate {
  animation-name: slideRotateLeft;
}

[data-anim=slide-rotate-right].has-animate {
  animation-name: slideRotateRight;
}

[data-anim=slide-rotate-up].has-animate {
  animation-name: slideUpRotateLeft;
}

@keyframes slideRotateLeft {
  0% {
    transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 30deg);
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
@keyframes slideRotateRight {
  0% {
    transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -30deg);
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
@keyframes slideUpRotateLeft {
  0% {
    transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 30deg);
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
[data-anim=zoom-in].has-animate {
  animation-name: zoomIn;
}

[data-anim=zoom-in-up].has-animate {
  animation-name: zoomInUp;
}

[data-anim=zoom-in-down].has-animate {
  animation-name: zoomInDown;
}

[data-anim=zoom-out].has-animate {
  animation-name: zoomOut;
}

[data-anim=zoom-out-up].has-animate {
  animation-name: zoomOutUp;
}

[data-anim=zoom-out-down].has-animate {
  animation-name: zoomOutDown;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, 100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, -100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOutUp {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3) translate3d(0, 100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomOutDown {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3) translate3d(0, -100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
[data-anim=zoom-out-image].has-animate {
  animation-name: zoomOutImage;
}

[data-anim=zoom-out-image] {
  animation-duration: 5000ms !important;
  will-change: transform !important;
  visibility: visible !important;
}

@keyframes zoomOutImage {
  0% {
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.animation-loop .st1 {
  will-change: transform;
  animation: zoomInRing 2000ms ease-out infinite;
}
.animation-loop .dot {
  will-change: transform;
  animation: fadeBoing 2000ms ease-out infinite;
  transform-origin: 50% 75%;
}
.animation-loop #Layer_3 {
  will-change: transform;
  animation: boing 1000ms ease-out infinite alternate;
}

@keyframes zoomInRing {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    opacity: 0;
  }
}
@keyframes boing {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5rem, 0);
  }
}
@keyframes fadeBoing {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale3d(0.25, 0.25, 0.25);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.bird-container {
  width: 100%;
  height: 260px;
  position: absolute !important;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bird-container .bird-elements {
  position: absolute;
  top: 1rem;
  left: -5rem;
  transform: scale(0);
  will-change: transform;
}
.bird-container .bird-elements .bird {
  background-image: url(../js/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
}
.bird-container.animation-loop .bird-elements {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: fly-right-one;
}
.bird-container.animation-loop .bird-elements--one {
  animation-duration: 18s;
  animation-delay: 0s;
}
.bird-container.animation-loop .bird-elements--two {
  animation-name: fly-left-one;
  animation-duration: 18s;
  animation-delay: 4s;
}
.bird-container.animation-loop .bird-elements--three {
  animation-duration: 7.5s;
  animation-delay: 7s;
  animation-name: fly-left-three;
}
.bird-container.animation-loop .bird-elements--four {
  animation-duration: 20s;
  animation-delay: 18s;
  animation-name: fly-right-two;
}
.bird-container.animation-loop .bird-elements--five {
  animation-duration: 10s;
  animation-delay: 10s;
  animation-name: fly-left-two;
}
.bird-container.animation-loop .bird-elements--six {
  animation-duration: 14s;
  animation-delay: 2s;
}
.bird-container.animation-loop .bird-elements--seven {
  animation-duration: 8s;
  animation-delay: 12s;
  animation-name: fly-right-three;
}
.bird-container.animation-loop .bird-elements--eight {
  animation-duration: 20s;
  animation-delay: 18s;
  animation-name: fly-right-two;
}
.bird-container.animation-loop .bird-elements .bird {
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  animation-name: fly-cycle;
}
.bird-container.animation-loop .bird-elements .bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
  transform: scale3d(0.25, 0.25, 0.25);
}
.bird-container.animation-loop .bird-elements .bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
  transform: scaleX(-1);
}
.bird-container.animation-loop .bird-elements .bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
  transform: scaleX(-1);
}
.bird-container.animation-loop .bird-elements .bird--four {
  animation-duration: 1.1s;
  animation-delay: 0.5s;
  transform: scale3d(0.3, 0.3, 0.3);
}
.bird-container.animation-loop .bird-elements .bird--five {
  animation-duration: 1.1s;
  animation-delay: 0.5s;
  transform: scaleX(-1);
}
.bird-container.animation-loop .bird-elements .bird--six {
  animation-duration: 1s;
  animation-delay: -0.5s;
  transform: scale3d(0.25, 0.25, 0.25);
}
.bird-container.animation-loop .bird-elements .bird--seven {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
  transform: scale3d(0.3, 0.3, 0.3);
}
.bird-container.animation-loop .bird-elements .bird--eight {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
  transform: scale3d(0.25, 0.25, 0.25);
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    left: 0;
    transform: translate3d(-100%, 0, 0) scale(0.3);
  }
  50% {
    transform: translate3d(0, 25px, 0) scale(0.56);
  }
  100% {
    left: 100%;
    transform: translateZ(0) scale(0.4);
  }
}
@keyframes fly-right-two {
  0% {
    opacity: 1;
    bottom: 0;
    top: unset;
    transform: translate3d(-100%, 100px, 0) scale(0.5) rotate(-10deg);
  }
  50% {
    transform: translate3d(0, 50px, 0) scale(0.4) rotate(-10deg);
  }
  100% {
    top: unset;
    left: 100%;
    bottom: 100%;
    transform: translateZ(0) scale(0.3) rotate(0deg);
  }
}
@keyframes fly-right-three {
  0% {
    top: 20px;
    left: 0;
    transform: translate3d(-100%, 0, 0) scale(0.25) rotate(10deg);
  }
  50% {
    transform: translate3d(0, 120px, 0) scale(0.35) rotate(40deg);
  }
  100% {
    top: 180px;
    left: 120%;
    transform: translate3d(0, 80px, 120px) scale(0.4) rotate(20deg);
  }
}
@keyframes fly-left-one {
  0% {
    top: unset;
    left: unset;
    bottom: 10%;
    right: 0;
    transform: translate3d(100%, 100px, 0) scale3d(0.2, 0.2, 0.2);
  }
  50% {
    transform: translate3d(0, 50px, 0) scale3d(0.2, 0.2, 0.2);
  }
  80% {
    bottom: 50%;
    right: 70%;
    transform: translate3d(0, 20px, 0) scale3d(0.18, 0.18, 0.18);
  }
  100% {
    top: unset;
    left: unset;
    right: 100%;
    bottom: 70%;
    transform: translateZ(0) scale3d(0.15, 0.15, 0.15);
  }
}
@keyframes fly-left-two {
  0% {
    top: unset;
    left: unset;
    bottom: 30%;
    right: 0;
    transform: translate3d(100%, 100px, 0) scale3d(0.15, 0.15, 0.15);
  }
  50% {
    transform: translate3d(0, 50px, 0) scale3d(0.15, 0.15, 0.15);
  }
  80% {
    bottom: 40%;
    right: 70%;
    transform: translate3d(0, 20px, 0) scale3d(0.1, 0.1, 0.1);
  }
  100% {
    top: unset;
    left: unset;
    right: 100%;
    bottom: 50%;
    transform: translateZ(0) scale3d(0.1, 0.1, 0.1);
  }
}
@keyframes fly-left-two {
  0% {
    top: 30%;
    left: unset;
    right: -80px;
    transform: translate3d(100%, 100px, 0) scale3d(0.15, 0.15, 0.15) rotate(-10deg);
  }
  50% {
    transform: translate3d(0, -80px, 0) scale3d(0.15, 0.15, 0.15) rotate(-30deg);
  }
  80% {
    top: 40%;
    right: 70%;
    transform: translate3d(0, 50px, 0) scale3d(0.1, 0.1, 0.1) rotate(-25deg);
  }
  100% {
    top: 69%;
    left: unset;
    right: 150%;
    transform: translate3d(0, 50px, 0) scale3d(0.075, 0.075, 0.075) rotate(-20deg);
  }
}
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  z-index: 3;
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 1000px;
  width: 78px;
}
@media (max-width: 767px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 65px;
  }
}
.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  font-weight: 600;
}
.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 48px;
  font-family: "FogTwoNo5", serif;
}
@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 38px;
  }
}
.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  color: var(--color-dark);
}
.header-section .bird-container {
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
}
.header-section .orn-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}
@keyframes slideRotateRight {
  0% {
    transform: translate3d(-50%, -3rem, 0) rotateY(-30deg);
  }
  100% {
    transform: translateZ(0);
  }
}
.header-section .orn-2 {
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 90px;
}
@media (max-width: 767px) {
  .header-section .orn-2 {
    width: 80px;
  }
}
.header-section .orn-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}
@media (max-width: 991px) {
  .header-section .orn-3 {
    width: 100px;
  }
}
@keyframes slideRotateLeft {
  0% {
    transform: translate3d(50%, -3rem, 0) rotateX(45deg);
  }
  100% {
    transform: translateZ(0);
  }
}
.header-section .image-wrapper {
  position: absolute;
  inset: 0;
}
.header-section .image-wrapper::after {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
}
@media (min-width: 992px) {
  .header-section .image-wrapper {
    display: none;
  }
}
.header-section .image-wrapper .background-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-section .bg-trans-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-trans-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 10000ms;
}
.header-section .bg-trans-header::before {
  position: absolute;
  width: 100%;
  height: 10rem;
  bottom: -2px;
  left: 0;
  content: "";
  background: linear-gradient(to top, var(--color-main) 20%, transparent 100%);
}
@media (max-width: 991px) {
  .header-section .bg-trans-header::before {
    background: linear-gradient(to top, var(--color-main) 55%, transparent 100%);
  }
}
.header-section .header-content {
  position: relative;
  text-align: center;
}
.header-section .header-content .header {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 140px 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .header-section .header-content .header {
    padding: 140px 0 10rem;
  }
}
@media (max-width: 767px) {
  .header-section .header-content .header {
    padding: 120px 0 8rem;
  }
}
.header-section .header-content .header .header-title {
  position: relative;
  text-align: center;
  width: 100%;
  color: var(--color-secondary);
}

.cover-section {
  position: fixed;
  z-index: 1000;
  transition: all 1s ease-out;
  overflow: hidden;
  color: var(--color-dark);
  height: 100vh;
  width: 100%;
  background-color: var(--color-light);
}
.cover-section.open {
  transform: translateY(-100%);
}
.cover-section::before {
  position: absolute;
  inset: 0;
  content: "";
  background-image: url(../images/bg-trans-cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover-section .orn-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
}
@media (max-width: 991px) {
  .cover-section .orn-1 {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .cover-section .orn-1 {
    width: 120px;
  }
}
@keyframes slideRotateRight {
  0% {
    transform: translate3d(-50%, -3rem, 0) rotateY(-30deg);
  }
  100% {
    transform: translateZ(0);
  }
}
.cover-section .orn-2 {
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 90px;
}
@media (max-width: 767px) {
  .cover-section .orn-2 {
    width: 80px;
  }
}
.cover-section .orn-3 {
  position: absolute;
  top: 50%;
  right: 0;
  width: 140px;
  transform: translate3d(0, -50%, 0);
}
@media (max-width: 991px) {
  .cover-section .orn-3 {
    width: 100px;
  }
}
@keyframes slideRotateLeft {
  0% {
    transform: translate3d(50%, -3rem, 0) rotateX(45deg);
  }
  100% {
    transform: translateZ(0);
  }
}
.cover-section .cover-wrapper {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 6rem;
}
@media (min-width: 992px) {
  .cover-section .cover-wrapper {
    margin-left: 6rem;
    margin-top: 0;
    padding: 2rem;
  }
}
.cover-section .cover-wrapper .bird-container {
  width: 60%;
  height: 100%;
  position: absolute;
  inset: unset;
  bottom: 0;
  right: 0;
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper .bird-container {
    width: 100%;
    height: 50%;
    bottom: 0;
  }
}
.cover-section .cover-wrapper .image-wrapper {
  position: relative;
  height: auto;
  aspect-ratio: 10/9;
  margin: -webkit-calc(-2rem - 5rem) 0 0;
  margin: -7rem 0 0;
  overflow: hidden;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .cover-section .cover-wrapper .image-wrapper {
    width: calc(100% + 8rem);
    margin: 0 0 0 -webkkit-calc(-2rem - 8rem);
    margin: 0 0 0 -moz-calc(-2rem - 8rem);
    margin: 0 0 0 -10rem;
  }
}
.cover-section .cover-wrapper .image-wrapper .cover-background {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}
.cover-section .cover-wrapper .cover-description {
  position: relative;
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper .cover-description {
    margin-top: 2rem;
  }
}

.couple-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
}
@media (max-width: 991px) {
  .couple-section {
    padding: 5rem 0;
  }
}
@media (max-width: 767px) {
  .couple-section {
    padding: 3rem 0;
  }
}
.couple-section::before {
  position: absolute;
  inset: 0;
  content: "";
  background: url(../images/bg-trans-couple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.couple-section::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  content: "";
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}
.couple-section .orn-1 {
  position: absolute;
  right: 0;
  top: 30%;
  width: 120px;
}
.couple-section .orn-2 {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100px;
}
.couple-section .and {
  margin: 2.5rem 0;
  font-weight: 600;
  color: var(--color-dark);
}
@media (max-width: 991px) {
  .couple-section .and {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
@media (max-width: 767px) {
  .couple-section .and {
    position: relative;
    inset: unset;
    transform: none;
  }
}
.couple-section .bg-trans-couple {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.couple-section .couple-wrap {
  position: relative;
  background-color: transparent;
  border-radius: 20px;
  padding: 2rem;
  z-index: 2;
}
@media (max-width: 991px) {
  .couple-section .couple-wrap {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .couple-section .couple-wrap {
    padding: 2rem 1rem;
  }
}
.couple-section .couple-wrap::before {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background-image: url(../images/bg-trans-card-couple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.couple-section .couple {
  position: relative;
  z-index: 2;
}
.couple-section .couple .layer-blur {
  position: relative;
}
.couple-section .couple .layer-blur * {
  position: relative;
}
.couple-section .couple .image-wrap {
  width: 70%;
  margin: auto;
  position: relative;
  margin-bottom: 1.25rem;
  aspect-ratio: 3/3.5;
  border-radius: 1000px 1000px 20px 20px;
}
@media (max-width: 767px) {
  .couple-section .couple .image-wrap {
    width: 80%;
  }
}
.couple-section .couple .image-wrap .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 1000px 1000px 20px 20px;
  z-index: 5;
}
.couple-section .couple .couple-parent {
  width: 80%;
  margin: auto;
}
.couple-section .couple .sosmed-wrap {
  position: relative;
  width: 100%;
}
.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--color-dark);
  text-decoration: none;
}
.couple-section .couple .sosmed-wrap .sosmed small {
  align-items: center;
  gap: 0.25rem;
}
.couple-section .couple .sosmed-wrap .fab {
  font-size: 18px;
}
@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .fab {
    font-size: 16px;
  }
}

.story-section {
  position: relative;
  padding: 0 0 3rem;
}
@media (max-width: 991px) {
  .story-section {
    padding: 0 0 5rem;
  }
}
@media (max-width: 767px) {
  .story-section {
    padding: 0 0 3rem;
  }
}
.story-section .story-image-abs {
  margin-bottom: -3rem;
}
@media (min-width: 768px) {
  .story-section .story-image-abs {
    position: absolute;
    left: 0;
    margin-bottom: 0;
  }
}
.story-section .story-description {
  position: relative;
  text-align: center;
  background-color: var(--color-light);
  border-radius: 20px;
  margin-top: -8rem;
  padding: 2rem;
}
.story-section .story-description::before {
  position: absolute;
  inset: 0;
  content: "";
  background-image: url(../images/bg-trans-card-story.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  opacity: 0.125;
}
@media (max-width: 991px) {
  .story-section .story-description {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .story-section .story-description {
    padding: 2rem 1rem;
  }
}
.story-section .image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .story-section .image-wrapper {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 767px) {
  .story-section .image-wrapper {
    aspect-ratio: 3/4;
  }
}
.story-section .image-wrapper .story-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.venue-section {
  position: relative;
  padding: 3rem 0;
  background: url(../images/bg-trans-venue.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .venue-section {
    padding: 5rem 0;
  }
}
@media (max-width: 767px) {
  .venue-section {
    padding: 3rem 0;
  }
}
.venue-section::before {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}
.venue-section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--color-main) 30%, transparent 100%);
  content: "";
}
.venue-section .orn-1 {
  position: absolute;
  right: 0;
  top: 10%;
  width: 120px;
}
.venue-section .orn-2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100px;
}
.venue-section .venue-wrapper {
  position: relative;
}
.venue-section .venue-wrapper .venue-content {
  position: relative;
  text-align: center;
  padding-top: 3rem;
}
.venue-section .venue-wrapper .venue-content .card {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  color: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .card::before {
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  border-radius: 20px;
  opacity: 0.7;
  content: "";
}
.venue-section .venue-wrapper .venue-content .card .card-body {
  padding: 0 2rem 3rem;
  position: relative;
}
@media (min-width: 992px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 767px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 0 1rem 2rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  transform: translateY(-50%);
  margin: 0 auto;
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue svg {
  width: 40px;
  height: auto;
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue svg path {
  stroke: var(--text-button);
}
.venue-section .prokes-wrapper {
  margin-top: 3rem;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-dark);
  text-align: center;
  z-index: 2;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 1rem;
  }
}
.venue-section .prokes-wrapper * {
  position: relative;
}
.venue-section .prokes-wrapper::before {
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  border-radius: 20px;
  opacity: 0.7;
  content: "";
}
.venue-section .prokes-wrap {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.venue-section .prokes-wrap .prokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}
.venue-section .row-venue {
  gap: 3.5rem;
}
@media (max-width: 991px) {
  .venue-section .row-venue {
    gap: 0;
  }
}
@media (max-width: 767px) {
  .venue-section .row-venue {
    gap: 3.75rem;
  }
}
@media (max-width: 767px) {
  .venue-section .row-venue-sm {
    gap: 3rem;
  }
}
.venue-section .event-name {
  position: relative;
}
.venue-section .event-name .date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
}
.venue-section .event-name .date h5 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 38px;
}
.venue-section .event-name .date p {
  margin-top: 0.2rem;
  font-size: 12px;
}
.venue-section .event-name p {
  margin-bottom: 0;
}
.venue-section .btn-custom {
  background-color: transparent;
  border-color: var(--color-button-trans);
  color: var(--color-button-trans);
  transition: all 0.25 ease-in-out;
}
.venue-section .btn-custom:hover {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary);
  color: var(--text-button);
}

.maps-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.rsvp-section {
  position: relative;
  padding: 3rem 0;
}
.rsvp-section .orn-1 {
  position: absolute;
  top: 20%;
  width: 160px;
  left: 0;
  transform: scaleX(-1);
}
@media (max-width: 991px) {
  .rsvp-section .orn-1 {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .rsvp-section .orn-1 {
    width: 100px;
  }
}
.rsvp-section .orn-2 {
  position: absolute;
  right: 0;
  top: 60%;
  width: 100px;
  transform: scaleX(-1);
}
@media (max-width: 991px) {
  .rsvp-section .orn-2 {
    width: 80px;
  }
}
.rsvp-section .image-wrap {
  position: relative;
  height: 520px;
  border-radius: 10px;
  position: absolute;
  top: -8rem;
  left: 0;
}
@media (max-width: 767px) {
  .rsvp-section .image-wrap {
    position: relative;
    top: 0;
    height: 380px;
  }
}
.rsvp-section .image-wrap .rsvp-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.rsvp-section .rsvp-wrap {
  padding: 0;
  position: relative;
  z-index: 3;
}

.wishes-section {
  position: relative;
  padding: 3rem 0 0;
  background: url(../images/bg-trans-couple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 991px) {
  .wishes-section {
    padding: 5rem 0 0;
  }
}
@media (max-width: 767px) {
  .wishes-section {
    padding: 3rem 0 0;
  }
}
.wishes-section::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to top, var(--color-main) 30%, transparent 100%);
  content: "";
}
.wishes-section::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to bottom, var(--color-main) 30%, transparent 100%);
  content: "";
}
.wishes-section .orn-1 {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 160px;
  transform: translateX(25%);
}
.wishes-section .image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wishes-section .image-wrap .wishes-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wishes-section .card-form {
  margin-bottom: 0;
  background-color: var(--color-light);
  position: relative;
  z-index: 3;
  border-radius: 20px;
  z-index: 2;
}
.wishes-section .card-form * {
  position: relative;
}
.wishes-section .card-form::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/bg-trans-card-wishes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  content: "";
}
.wishes-section .card-form.card {
  border: none;
}
.wishes-section .card-form .card-body {
  padding: 2rem;
}
@media (max-width: 991px) {
  .wishes-section .card-form .card-body {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .wishes-section .card-form .card-body {
    padding: 2rem 1rem;
  }
}
.wishes-section .wishes-preview {
  position: relative;
  padding: 0 0 3rem;
  margin-top: 1.5rem;
}
@media (max-width: 991px) {
  .wishes-section .wishes-preview {
    padding: 0 0 5rem;
  }
}
@media (max-width: 767px) {
  .wishes-section .wishes-preview {
    padding: 0 0 3rem;
  }
}
.wishes-section .wishes-preview .card {
  border: none;
  position: relative;
  background-color: transparent;
}
.wishes-section .wishes-preview .card .card-body {
  overflow: hidden;
  padding: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes {
  text-align: left;
  height: 26.05rem;
  overflow: auto;
  padding-right: 0.5rem;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar {
  width: 5px;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 20px;
  opacity: 0.15;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6 {
  font-weight: bold;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6,
.wishes-section .wishes-preview .card .card-body .wishes .wish p {
  margin-bottom: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-badge {
  background-color: var(--color-primary);
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description {
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 5px;
  position: relative;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description::before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 15px;
  height: 15px;
  transform: translateX(-100%);
  -webkit-clip-path: url(#wishes-polygon);
          clip-path: url(#wishes-polygon);
  content: "";
  background-color: var(--color-primary);
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .egift-section {
    padding: 5rem 0;
  }
}
@media (max-width: 767px) {
  .egift-section {
    padding: 3rem 0;
  }
}
@media (min-width: 992px) {
  .egift-section .row {
    gap: 1rem;
  }
}
.egift-section .gift-wrap {
  position: relative;
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .egift-section .gift-wrap {
    padding: 2rem 1rem;
  }
}
.egift-section .gift-wrap::before {
  position: absolute;
  inset: 0;
  content: "";
  background-image: url(../images/bg-trans-card-gift.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.egift-section .tabs-gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 50px;
  gap: 0.5rem;
}
.egift-section .tabs-gift::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.4;
  content: "";
  border-radius: 50px;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}
.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: var(--color-button-trans);
  z-index: 2;
}
.egift-section .tabs-gift .btn-custom:hover::before {
  all: unset;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom {
    min-width: 120px;
  }
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}
.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-button-trans);
  transition: all 0.2s ease;
}
.egift-section .tabs-gift .btn-custom.active {
  color: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active path {
  fill: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active.angpao ~ .glider {
  transform: translateX(0);
  animation: tab 0.2s ease-in-out;
}
.egift-section .tabs-gift .btn-custom.active.gift ~ .glider {
  transform: translateX(100%);
  animation: tab 0.2s ease-in-out;
}
.egift-section .tabs-gift .btn-custom:focus {
  box-shadow: none;
}
.egift-section .tabs-gift .btn-custom.active[data-tab=".angpao"] ~ .glider {
  transform: translateX(0);
}
.egift-section .tabs-gift .btn-custom.active[data-tab=".gift"] ~ .glider {
  transform: translateX(100%);
  margin-left: 0.5rem;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom.active[data-tab=".gift"] ~ .glider {
    margin-left: 0.25rem;
    transform: translateX(102.5%);
  }
}
.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  background: var(--color-secondary);
  width: 140px;
  bottom: 0.25rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .glider {
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    width: 120px;
  }
}
.egift-section .card .card-body {
  padding: 3rem;
}
@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}
@media (max-width: 325px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}
.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}
.egift-section .gift,
.egift-section .angpao {
  display: none;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.egift-section .gift.show,
.egift-section .angpao.show {
  display: block;
  opacity: 1;
}
.egift-section .gift-wrapper {
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 8px;
  height: 100%;
}
.egift-section .gift-wrapper .gift-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  gap: 1rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0.75rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap .gift-image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.egift-section .gift-wrapper .gift-content .gift-description {
  position: relative;
  padding: 0 15px;
}
.egift-section .gift-wrapper .gift-content .gift-action {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 15px 15px;
}

@keyframes tab {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gallery-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 575px) {
  .gallery-section {
    padding: 3rem 0;
  }
}
.gallery-section .img-gallery {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/10;
  margin-bottom: 0.75rem;
}
.gallery-section .splide .splide__track {
  overflow: visible;
}
.gallery-section .splide .splide__pagination {
  bottom: -1rem;
}
.gallery-section .splide .splide__pagination__page.is-active {
  background: var(--color-secondary);
}
.gallery-section .splide .splide__arrow {
  border-radius: 0;
  width: 70px;
  height: 65px;
  background-color: var(--color-secondary);
  transform: translate3d(0, -65%, 0);
  border-radius: 50px;
}
@media (min-width: 992px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 40px;
  }
}
.gallery-section .splide .splide__arrow svg {
  fill: var(--text-button);
  width: 25px;
  height: 30px;
}
@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}
.gallery-section .splide .splide__arrow--prev {
  left: 0;
}
.gallery-section .splide .splide__arrow--next {
  right: 0;
}

.apology-section {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .apology-section {
    padding: 5rem 0;
  }
}
@media (max-width: 767px) {
  .apology-section {
    padding: 3rem 0;
  }
}
.apology-section .orn-1 {
  position: absolute;
  top: 20%;
  width: 100px;
  left: 0;
}
@media (max-width: 991px) {
  .apology-section .orn-1 {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .apology-section .orn-1 {
    width: 70px;
  }
}
.apology-section .orn-2 {
  position: absolute;
  right: 0;
  top: 60%;
  width: 160px;
}
@media (max-width: 991px) {
  .apology-section .orn-2 {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .apology-section .orn-2 {
    width: 100px;
  }
}
.apology-section .appology-wrap {
  position: relative;
  border-radius: 20px;
  background: url(../images/bg-trans-card.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
}
@media (max-width: 991px) {
  .apology-section .appology-wrap {
    padding: 3rem 2rem;
  }
}
@media (max-width: 767px) {
  .apology-section .appology-wrap {
    padding: 2rem 1rem;
  }
}

.stream-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  background-image: url(../images/bg-trans-stream.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.stream-section::before {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}
@media (max-width: 991px) {
  .stream-section {
    padding: 5rem 0;
  }
}
@media (max-width: 767px) {
  .stream-section {
    padding: 3rem 0;
  }
}
.stream-section .row {
  gap: 3rem;
}
.stream-section .stream-wrapper {
  position: relative;
  background-color: transparent;
  padding: 0 2rem 2rem;
  border-radius: 20px;
  height: 100%;
  margin-top: 8.5rem;
}
.stream-section .stream-wrapper::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--color-primary);
  opacity: 0.7;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .stream-section .stream-wrapper {
    padding: 0 2rem 3rem;
  }
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper {
    padding: 0 1rem 2rem;
  }
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper h4 {
    text-align: center;
  }
}
.stream-section ul ol {
  padding: 0;
}
.stream-section .card {
  background-color: transparent;
  height: 100%;
  color: var(--color-dark);
  border: none;
}
.stream-section .btn-custom {
  width: 100%;
}
@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}
.stream-section .livestream-wrapper {
  position: relative;
  margin-top: -7rem;
}
.stream-section .yt-description {
  width: 100%;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .stream-section .yt-description {
    text-align: center;
  }
}

.thank-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .thank-section {
    padding: 3rem 0;
  }
}
.thank-section .orn-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  z-index: 5;
}
@media (max-width: 767px) {
  .thank-section .orn-1 {
    width: 100px;
  }
}
.thank-section .orn-2 {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 80px;
  z-index: 5;
}
.thank-section .image-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.thank-section .image-wrapper::before {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  z-index: 2;
}
.thank-section .image-wrapper .thank-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thank-section .thank {
  position: relative;
  width: 420px;
  padding: 3rem 1rem;
  margin: 0 auto;
  z-index: 5;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .thank-section .thank {
    padding: 3rem 1.5rem 5rem;
    width: 100%;
  }
}
.thank-section .thank .border-ribbon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.footer {
  padding: 1rem 0;
  position: relative;
  text-align: center;
  background-color: var(--color-main);
}
.footer small {
  position: relative;
}/*# sourceMappingURL=styles.css.map */