@font-face {
	font-family: "FogtwoNo5";
	src: url(../fonts/FogtwoNo5.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "FogtwoNo5";
	src: url(../fonts/FogtwoNo5.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "FogtwoNo5";
	src: url(../fonts/FogtwoNo5.woff2) format("woff2");
	font-display: swap;
}
