.wishes-section {
	position: relative;
	.bg-1 {
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		opacity: 0.2;
		@include max-sm {
			top: unset;
			bottom: 0;
			width: 130%;
		}
	}
	.orn-1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 140px;
		transform: translate(-60%, 0);
		@include min-md {
			width: 180px;
		}
		@include min-lg {
			width: 200px;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
		transform: translate(60%, 0) scaleX(-1);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.wishes-form-wrapper {
		position: relative;
		padding: 5rem 0 0;
		@include max-md {
			padding: 3rem 0 0;
		}
	}
	.card-form {
		margin-bottom: 0;
		background: transparent;
		position: relative;
		z-index: 3;
		&.card {
			border: none;
		}
		.card-body {
			padding: 2rem;
			@include max-md {
				padding: 2rem 1rem;
			}
			.input-group {
				&-text.textarea {
					align-items: flex-start;
					padding-top: 0.75rem;
				}
			}
		}
	}

	.wishes-preview {
		position: relative;
		background-color: var(--color-primary);
		padding: 0 0 5rem;
		@include max-md {
			padding: 0 0 3rem;
		}
		.card {
			position: relative;
			border: none;
			background-color: transparent;
			.card-body {
				overflow: hidden;
				padding: 2rem 0;
				.wishes {
					text-align: left;
					max-height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					color: var(--color-dark);
					&::-webkit-scrollbar {
						width: 5px;
					}
					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}
					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;
						h6 {
							font-weight: bold;
						}
						h6,
						p {
							margin-bottom: 0;
						}
						.wish-badge {
							background-color: var(--color-light);
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}
						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fff, $alpha: 0.8);
							border-radius: 5px;
							position: relative;
							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fff, $alpha: 0.8);
							}
						}
					}
				}
			}
		}
	}
}
