.gallery-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.img-gallery {
		height: auto;
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
	}
	.img-thumbnail {
		object-fit: cover;
		padding: 0;
		border: none;
		border-radius: 0;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
	.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
		border: 3px solid $color-custom;
	}
	.splide {
		.splide__arrow {
			border-radius: 0;
			width: 70px;
			height: 65px;
			background-color: $color-custom;
			@include max-lg {
				width: 40px;
				height: 30px;
			}
			svg {
				fill: var(--color-light);
				width: 25px;
				height: 30px;
				@include max-md {
					width: 15px;
					height: 20px;
				}
			}
			&--prev {
				left: 0;
			}
			&--next {
				right: 0;
			}
		}
	}
}
