@font-face {
	font-family: "Florilane Cardillac";
	src: url(../fonts/FlorilaneCardillac.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Florilane Cardillac";
	src: url(../fonts/FlorilaneCardillac.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Florilane Cardillac";
	src: url(../fonts/FlorilaneCardillac.woff2) format("woff2");
	font-display: swap;
}
