.venue-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.bg-1 {
		position: relative;
		width: 100%;
		overflow: hidden;
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to bottom, var(--color-main) 0%, transparent 100%);
			content: "";
		}
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		transform: translate(-85%, 0);
		@include min-md {
			width: 35%;
		}
		@include min-lg {
			width: 25%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		transform: translate(-60%, 0);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		transform: translate(85%, 0) scaleX(-1);
		@include min-md {
			width: 35%;
		}
		@include min-lg {
			width: 25%;
		}
	}
	.orn-4 {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
		transform: translate(65%, 0) rotate(-15deg) scaleX(-1);
		@include min-md {
			width: 160px;
			transform: translate(60%, 0) rotate(-15deg) scaleX(-1);
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 120px;
		transform: translate(-60%, 20%);
		z-index: 3;
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 120px;
		transform: translate(60%, 30%) rotate(-15deg) scaleX(-1);
		z-index: 3;
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.venue-wrapper {
		position: relative;
		z-index: 3;
		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;
			@include max-lg {
				padding: 0 1rem;
				margin-bottom: 3rem;
			}
		}
		.venue-content {
			position: relative;
			.ribbon-venue {
				position: relative;
				svg {
					width: 40px;
					height: auto;
					path {
						stroke: var(--color-dark);
					}
				}
				.st0 {
					fill: var(--color-secondary);
				}
				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}
			.title-event {
				display: block;
				font-family: $font-secondary;
				width: 100%;
				text-align: center;
				font-size: 36px;
			}
			.card {
				background-color: var(--color-primary);
				border-radius: var(--border-radius);
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				text-align: left;
				border: none;
				.card-body {
					position: relative;
					padding: 3rem 2rem;
					@include max-md {
						padding: 2rem 1rem;
					}
					h4 {
						padding: 0.5rem 0;
					}
					hr {
						display: block;
						width: 60%;
						height: 2px;
						margin: 0 0 1rem;
					}
					.event-description {
						position: relative;
						margin-bottom: 1rem;
						p {
							margin-bottom: 0;
						}
					}
					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 1rem;
						.date {
							position: relative;
							width: 100%;
							h5 {
								font-weight: 600;
								margin-bottom: 0;
								font-size: 28px;
							}
						}
						h4 {
							font-family: $font-secondary;
						}
						p {
							margin-bottom: 0;
							font-weight: 600;
						}
					}
					.event-place {
						position: relative;
						padding-top: 1rem;
						p {
							margin-bottom: 0;
						}
						.widget-elements {
							position: absolute;
							text-align: center;
							bottom: -3rem;
							left: 50%;
							width: 100%;
							transform: translate(-50%, 50%);
							@include max-md {
								bottom: -2rem;
							}
						}
					}
				}
			}
		}
	}
	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;
		.title-section {
			&::before {
				all: unset;
			}
		}
		@include max-md {
			padding: 2rem 0;
		}
		* {
			position: relative;
		}
	}
	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;
		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;
			@include max-md {
				width: 120px;
			}
			@include max-xs {
				width: 45%;
			}
		}
	}
	.row-venue {
		row-gap: 3rem;
	}
	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}
		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}
		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}
		40% {
			opacity: 1;
		}
		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}
		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
