[data-anim][data-anim] {
	will-change: opacity, transform;
	&.animation-invisible {
		visibility: hidden;
	}
	&.has-animate {
		animation-duration: 2000ms;
	}
}

// fade
[data-anim="fade"].has-animate {
	animation-name: fadeAnim;
}
[data-anim="fade-right"].has-animate {
	animation-name: fadeRight;
}
[data-anim="fade-left"].has-animate {
	animation-name: fadeLeft;
}
[data-anim="fade-up"].has-animate {
	animation-name: fadeUp;
}
[data-anim="fade-down"].has-animate {
	animation-name: fadeDown;
}

@keyframes fadeAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeRight {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}
@keyframes fadeLeft {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}
@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}

// slide
[data-anim="slide-right"].has-animate {
	animation-name: slideRight;
}
[data-anim="slide-left"].has-animate {
	animation-name: slideLeft;
}
[data-anim="slide-up"].has-animate {
	animation-name: slideUp;
}
[data-anim="slide-down"].has-animate {
	animation-name: slideDown;
}
@keyframes slideRight {
	0% {
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideLeft {
	0% {
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideUp {
	0% {
		transform: translate3d(0, 100%, 0);
	}
	100% {
		transform: translateZ(0);
	}
}
@keyframes slideDown {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translateZ(0);
	}
}

// slide with rotate
[data-anim="slide-rotate-left"].has-animate {
	animation-name: slideRotateLeft;
}
[data-anim="slide-rotate-right"].has-animate {
	animation-name: slideRotateRight;
}
[data-anim="slide-rotate-up"].has-animate {
	animation-name: slideUpRotateLeft;
}
@keyframes slideRotateLeft {
	0% {
		transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 30deg);
	}
	100% {
		transform: translateZ(0) rotateZ(0);
	}
}
@keyframes slideRotateRight {
	0% {
		transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -30deg);
	}
	100% {
		transform: translateZ(0) rotateZ(0);
	}
}
@keyframes slideUpRotateLeft {
	0% {
		transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 30deg);
	}
	100% {
		transform: translateZ(0) rotateZ(0);
	}
}

// Zoom
[data-anim="zoom-in"].has-animate {
	animation-name: zoomIn;
}
[data-anim="zoom-in-up"].has-animate {
	animation-name: zoomInUp;
}
[data-anim="zoom-in-down"].has-animate {
	animation-name: zoomInDown;
}
[data-anim="zoom-out"].has-animate {
	animation-name: zoomOut;
}
[data-anim="zoom-out-up"].has-animate {
	animation-name: zoomOutUp;
}
[data-anim="zoom-out-down"].has-animate {
	animation-name: zoomOutDown;
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes zoomInUp {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3) translate3d(0, 100px, 0);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1) translateZ(0);
	}
}
@keyframes zoomInDown {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3) translate3d(0, -100px, 0);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1) translateZ(0);
	}
}
@keyframes zoomOut {
	0% {
		opacity: 0;
		transform: scale3d(1.3, 1.3, 1.3);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes zoomOutUp {
	0% {
		opacity: 0;
		transform: scale3d(1.3, 1.3, 1.3) translate3d(0, 100px, 0);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1) translateZ(0);
	}
}
@keyframes zoomOutDown {
	0% {
		opacity: 0;
		transform: scale3d(1.3, 1.3, 1.3) translate3d(0, -100px, 0);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1) translateZ(0);
	}
}

[data-anim="zoom-out-image"].has-animate {
	animation-name: zoomOutImage;
}
[data-anim="zoom-out-image"] {
	animation-duration: 5000ms !important;
	will-change: transform !important;
	visibility: visible !important;
}

@keyframes zoomOutImage {
	0% {
		transform: scale3d(1.25, 1.25, 1.25);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.animation-loop {
	.st1 {
		will-change: transform;
		animation: zoomInRing 2000ms ease-out infinite;
	}
	.dot {
		will-change: transform;
		animation: fadeBoing 2000ms ease-out infinite;
		transform-origin: 50% 75%;
	}
	#Layer_3 {
		will-change: transform;
		animation: boing 1000ms ease-out infinite alternate;
	}
}

@keyframes zoomInRing {
	0% {
		opacity: 0;
		transform: scale3d(0.5, 0.5, 0.5);
	}
	40% {
		opacity: 1;
	}
	70% {
		opacity: 0;
		transform: scale3d(1.25, 1.25, 1.25);
	}
	100% {
		opacity: 0;
	}
}

@keyframes boing {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -5rem, 0);
	}
}

@keyframes fadeBoing {
	0% {
		opacity: 1;
	}
	50% {
		transform: scale3d(0.25, 0.25, 0.25);
		opacity: 0;
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.bird-container {
	width: 100%;
	height: 260px;
	position: absolute !important;
	top: 0;
	left: 0;
	overflow: hidden;
	.bird-elements {
		position: absolute;
		top: 1rem;
		left: -5rem;
		transform: scale(0);
		will-change: transform;
		.bird {
			background-image: url(../js/bird-cells.svg);
			background-size: auto 100%;
			width: 88px;
			height: 125px;
			will-change: background-position;
		}
	}
	&.animation-loop {
		.bird-elements {
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-name: fly-right-one;
			&--one {
				animation-duration: 18s;
				animation-delay: 0s;
			}
			&--two {
				animation-name: fly-left-one;
				animation-duration: 18s;
				animation-delay: 4s;
			}
			&--three {
				animation-duration: 7.5s;
				animation-delay: 7s;
				animation-name: fly-left-three;
			}
			&--four {
				animation-duration: 20s;
				animation-delay: 18s;
				animation-name: fly-right-two;
			}
			&--five {
				animation-duration: 10s;
				animation-delay: 10s;
				animation-name: fly-left-two;
			}
			&--six {
				animation-duration: 14s;
				animation-delay: 2s;
			}
			&--seven {
				animation-duration: 8s;
				animation-delay: 12s;
				animation-name: fly-right-three;
			}
			&--eight {
				animation-duration: 20s;
				animation-delay: 18s;
				animation-name: fly-right-two;
			}
			.bird {
				animation-timing-function: steps(10);
				animation-iteration-count: infinite;
				animation-name: fly-cycle;
				&--one {
					animation-duration: 1s;
					animation-delay: -0.5s;
					transform: scale3d(0.25, 0.25, 0.25);
				}
				&--two {
					animation-duration: 0.9s;
					animation-delay: -0.75s;
					transform: scaleX(-1);
				}
				&--three {
					animation-duration: 1.25s;
					animation-delay: -0.25s;
					transform: scaleX(-1);
				}
				&--four {
					animation-duration: 1.1s;
					animation-delay: 0.5s;
					transform: scale3d(0.3, 0.3, 0.3);
				}
				&--five {
					animation-duration: 1.1s;
					animation-delay: 0.5s;
					transform: scaleX(-1);
				}
				&--six {
					animation-duration: 1s;
					animation-delay: -0.5s;
					transform: scale3d(0.25, 0.25, 0.25);
				}
				&--seven {
					animation-duration: 0.9s;
					animation-delay: -0.75s;
					transform: scale3d(0.3, 0.3, 0.3);
				}
				&--eight {
					animation-duration: 1.25s;
					animation-delay: -0.25s;
					transform: scale3d(0.25, 0.25, 0.25);
				}
			}
		}
	}
}

@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}
}

@keyframes fly-right-one {
	0% {
		left: 0;
		transform: translate3d(-100%, 0, 0) scale(0.3);
	}
	50% {
		transform: translate3d(0, 25px, 0) scale(0.56);
	}
	100% {
		left: 100%;
		transform: translateZ(0) scale(0.4);
	}
}
@keyframes fly-right-two {
	0% {
		opacity: 1;
		bottom: 0;
		top: unset;
		transform: translate3d(-100%, 100px, 0) scale(0.5) rotate(-10deg);
	}
	50% {
		transform: translate3d(0, 50px, 0) scale(0.4) rotate(-10deg);
	}
	100% {
		top: unset;
		left: 100%;
		bottom: 100%;
		transform: translateZ(0) scale(0.3) rotate(0deg);
	}
}
@keyframes fly-right-three {
	0% {
		top: 20px;
		left: 0;
		transform: translate3d(-100%, 0, 0) scale(0.25) rotate(10deg);
	}
	50% {
		transform: translate3d(0, 120px, 0) scale(0.35) rotate(40deg);
	}
	100% {
		top: 180px;
		left: 120%;
		transform: translate3d(0, 80px, 120px) scale(0.4) rotate(20deg);
	}
}

@keyframes fly-left-one {
	0% {
		top: unset;
		left: unset;
		bottom: 10%;
		right: 0;
		transform: translate3d(100%, 100px, 0) scale3d(0.2, 0.2, 0.2);
	}
	50% {
		transform: translate3d(0, 50px, 0) scale3d(0.2, 0.2, 0.2);
	}
	80% {
		bottom: 50%;
		right: 70%;
		transform: translate3d(0, 20px, 0) scale3d(0.18, 0.18, 0.18);
	}
	100% {
		top: unset;
		left: unset;
		right: 100%;
		bottom: 70%;
		transform: translateZ(0) scale3d(0.15, 0.15, 0.15);
	}
}
@keyframes fly-left-two {
	0% {
		top: unset;
		left: unset;
		bottom: 30%;
		right: 0;
		transform: translate3d(100%, 100px, 0) scale3d(0.15, 0.15, 0.15);
	}
	50% {
		transform: translate3d(0, 50px, 0) scale3d(0.15, 0.15, 0.15);
	}
	80% {
		bottom: 40%;
		right: 70%;
		transform: translate3d(0, 20px, 0) scale3d(0.1, 0.1, 0.1);
	}
	100% {
		top: unset;
		left: unset;
		right: 100%;
		bottom: 50%;
		transform: translateZ(0) scale3d(0.1, 0.1, 0.1);
	}
}
@keyframes fly-left-two {
	0% {
		top: 30%;
		left: unset;
		right: -80px;
		transform: translate3d(100%, 100px, 0) scale3d(0.15, 0.15, 0.15) rotate(-10deg);
	}
	50% {
		transform: translate3d(0, -80px, 0) scale3d(0.15, 0.15, 0.15) rotate(-30deg);
	}
	80% {
		top: 40%;
		right: 70%;
		transform: translate3d(0, 50px, 0) scale3d(0.1, 0.1, 0.1) rotate(-25deg);
	}
	100% {
		top: 69%;
		left: unset;
		right: 150%;
		transform: translate3d(0, 50px, 0) scale3d(0.075, 0.075, 0.075) rotate(-20deg);
	}
}
