.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.rsvp-wrapper {
		position: relative;

		.rsvp-form {
			padding: 0;

			.title-section {
				margin-bottom: 2.5rem;
			}
		}
	}
}