@font-face {
	font-family: "Derivia";
	src: url(../fonts/Derivia-Regular.ttf) format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "Roustel";
	src: url(../fonts/Roustel-Regular.ttf) format("ttf");
	font-display: swap;
}
