.reminder-wrap {
	position: relative;
	display: block;
	padding: 8rem 0 3rem;
	@include max-md {
		padding: 5rem 0 2rem;
	}
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-name;
		font-size: 200px;
		color: rgba($color: #fff, $alpha: 0.4);
		content: "Remaining";
		@include max-lg {
			font-size: 150px;
		}
		@include max-md {
			font-size: calc(50vw - 7rem);
		}
	}
	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}
