.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	height: 100vh;
	width: 100%;

	.background-element img {
		opacity: 0.6;
		object-position: 50% 58%;
		height: auto;

		@include max-lg {
			object-position: center;
		}
	}

	.cover-wrapper {
		position: relative;
		padding: 4rem 0 3rem;

		@include max-lg {
			padding: 4rem 0 6rem;
			align-items: center;
		}

		.cover-content {
			text-align: center;
			position: relative;
			background-color: transparent;
			border-radius: 12px;
			color: var(--color-dark);
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.cover-body {
				position: relative;
				font-weight: 700;

				.cover-ornament {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 1rem;

					.wayang-deco {
						width: 72px;
						height: auto;

						@include max-lg {
							width: 65px;
						}

						@include max-md {
							width: 58px;
						}
					}
				}

				.greeting-wrapper {
					text-align: center;
					font-weight: 700;
				}

				.cover-description {
					position: relative;
					text-align: center;
					color: #7c6e13;
					padding: 1rem;

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 150%;
						height: 150%;
						transform: translate(-50%, -50%);
						background: radial-gradient(ellipse, #fff 10%, transparent 80%);
						border-radius: 300px;
						content: "";
					}

					.name-main {
						color: #800000;
					}
				}
			}

			.elements-widget {
				width: 100%;

				.btn-custom {
					font-weight: 400;
				}
			}
		}
	}
}