@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.ttf) format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Milton One Bold";
	src: url(../fonts/MiltonOneBold.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Le Major";
	src: url(../fonts/LeMajor-Regular.otf) format("otf");
	font-display: swap;
}

@font-face {
	font-family: "Le Major";
	src: url(../fonts/LeMajor-Regular.ttf) format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "Le Major";
	src: url(../fonts/LeMajor-Regular.woff) format("woff");
	font-display: swap;
}
