.rsvp-section {
	position: relative;
	padding: 0 0 5rem;
	@include max-md {
		padding: 0 0 3rem;
	}
	.orn-2 {
		position: absolute;
		left: 0;
		width: 180px;
		top: -3rem;
	}
	.orn-3 {
		position: absolute;
		left: 0;
		width: 130px;
		top: 32%;
		@include max-lg {
			width: 120px;
		}
		@include max-md {
			width: 80px;
		}
	}
	.orn-4 {
		position: absolute;
		left: 0;
		width: 130px;
		top: 50%;
		transform: scaleY(-1);
		@include max-lg {
			width: 100px;
		}
		@include max-md {
			width: 80px;
		}
	}
	.orn-7 {
		position: absolute;
		right: 0;
		top: -3rem;
		width: 140px;
		transform: none;
		@include max-md {
			width: 120px;
		}
	}
	.orn-8 {
		position: absolute;
		right: 0;
		width: 120px;
		top: 35%;
		transform: translateX(30%);
		@include max-md {
			width: 60px;
		}
	}
	.orn-9 {
		position: absolute;
		right: 0;
		width: 140px;
		top: 50%;
		transform: none;
		@include max-md {
			width: 80px;
		}
		@include max-xs {
			width: 70px;
			top: 55%;
		}
	}
	.orn-10 {
		position: absolute;
		bottom: -2rem;
		right: 0;
		width: 100px;
		transform: scale(-1);
		@include max-md {
			width: 60px;
			bottom: 0;
		}
	}
	.rsvp-wrapper {
		position: relative;
		border-radius: var(--border-radius);
		padding: 5rem;
		background-color: var(--color-main);
		border: 5px solid #b4a987;
		overflow: hidden;
		@include max-lg {
			padding: 3rem;
		}
		@include max-md {
			padding: 2rem;
		}
		.rsvp-form {
			position: relative;
		}
	}
}
