.stream-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;
	@include max-md {
		padding: 3rem 0;
	}
	.orn-1 {
		position: absolute;
		bottom: 10rem;
		left: 0;
		transform: translateX(-55%);
		width: 250px;
	}
	.orn-2 {
		position: absolute;
		top: 5rem;
		right: 0;
		transform: translateX(50%);
		width: 180px;
		@include max-md {
			width: 140px;
		}
	}
	.background-element {
		img {
			opacity: 0.2;
			border-radius: 20px 20px 0 0;
		}
	}
	.stream-wrapper {
		position: relative;
		border-radius: var(--border-radius);
		z-index: 5;
		@include max-lg {
			.row {
				align-items: center;
				gap: 2rem;
			}
		}
		.stream-content {
			position: relative;
			padding: 3rem;
			border-radius: var(--border-radius);
			background-color: var(--color-primary);
			@include max-md {
				padding: 2rem 1rem;
			}
			h4 {
				color: var(--color-dark);
				@include max-md {
					text-align: center;
				}
			}
			.stream-description {
				position: relative;
				color: $color-custom;
			}
		}
	}
	ul {
		ol {
			padding: 0;
		}
	}
	.card {
		background-color: transparent;
		height: 100%;
		color: var(--color-dark);
		border: none;
	}
	.btn-custom {
		width: 100%;
		z-index: 10;
		position: relative;
	}
	.yt-embed {
		@include min-lg {
			height: 320px;
		}
	}
	.yt-description {
		width: 100%;
		margin-top: 3rem;
		@include max-md {
			text-align: center;
		}
	}
}
