.couple-section {
	position: relative;
	text-align: center;
	background-color: var(--color-primary);
	color: var(--color-light);

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.orn-1 {
			position: absolute;
			top: 3rem;
			left: 0;
			width: 15%;
			transform: translate(-20%, 0);

			@include max-lg {
				top: 1rem;
				width: 30%;
				transform: translate(-30%, 0);
			}

			@include max-sm {
				width: 40%;
			}
		}

		.orn-2 {
			position: absolute;
			top: 3rem;
			right: 0;
			width: 15%;
			transform: translate(20%, 0);

			@include max-lg {
				top: 1rem;
				width: 30%;
				transform: translate(35%, 0);
			}

			@include max-sm {
				width: 40%;
			}
		}

		.orn-3 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25%;
			transform: translate(-25%, 10%) rotate(-25deg);

			.orn-4 {
				position: absolute;
				bottom: 50%;
				right: -5%;
				width: 110%;
				transform: rotate(25deg);
			}
		}

		.orn-5 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(0, 30%) rotate(-80deg);
		}

		.orn-6 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(35%, 10%);

			.orn-7 {
				position: absolute;
				bottom: 60%;
				left: 5%;
				width: 80%;
				transform: rotate(5deg) scaleX(-1);
			}
		}

		.orn-8 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 110%;
			transform: translate(-10%, 35%) rotate(35deg) scaleX(-1);
		}
	}

	.couple-body {
		position: relative;
	}

	.couple-content {
		position: relative;
		padding: 3rem 2rem;
		margin-bottom: 3rem;
		background-color: var(--color-light);
		mask: var(--mask);

		@include max-sm {
			padding: 3rem 1rem;
		}

		&::before {
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			background-color: var(--color-primary);
			mask: var(--mask);
			content: "";
		}
	}

	.couple {
		position: relative;
		color: var(--color-dark);
		padding: 2rem;
		text-align: center;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-main);
			mask: var(--mask);
			content: "";
		}

		.image-wrap {
			width: 100%;
			position: relative;
			margin: 0 auto;
			background-color: var(--color-primary);
			padding: 1rem;
			border-radius: 300px;

			.image-element {
				@include aspect-ratio(3, 4);
				height: 100%;

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem;
		}

		.couple-parent {
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			margin: 0 auto;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}