.reminder-wrap {
	position: relative;
	display: block;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0 0 3rem;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 35%;
		transform: translate(-60%, -10%) rotate(120deg) scaleX(-1);

		@include max-sm {
			transform: translate(-30%, -10%) rotate(120deg) scaleX(-1);
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		transform: translate(20%, -50%) rotate(90deg);
	}

	.orn-3 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 35%;
		transform: translate(-80%, 0) scaleY(-1);

		@include max-sm {
			transform: translate(-50%, 0) scaleY(-1);
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		transform: translate(45%, 20%) rotate(-30deg);

		@include max-sm {
			transform: translate(20%, 20%) rotate(-30deg);
		}

		.orn-5 {
			position: absolute;
			bottom: 20%;
			right: 30%;
			width: 120%;
			transform: rotate(-35deg);
		}

		.orn-6 {
			position: absolute;
			bottom: 20%;
			left: 45%;
			width: 100%;
			transform: rotate(60deg) scaleX(-1);
		}

		.orn-7 {
			position: absolute;
			bottom: 45%;
			left: 80%;
			width: 65%;
			transform: rotate(25deg);
		}
	}


	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
		z-index: 2;
		padding: 4rem 0;

		@include max-sm {
			width: 100%;
		}
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}