:root {
	--color-main: #{$color-main};
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-dark: #{$color-dark};
	--color-light: #{$color-light};
	--text-button: #{$text-button};
	--color-button-trans: #{$color-button-trans};
	--vd-color-pink: #{$color-logo};
	--border-radius: #{$border-radius};
	--mask: radial-gradient(30px at 30px 30px, #0000 98%, #000) -30px -30px;

	@include max-sm {
		--mask: radial-gradient(23px at 23px 23px, #0000 98%, #000) -23px -23px;
	}
}