.rsvp-section {
	position: relative;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0 0 3rem;
	}

	.rsvp-wrapper {
		position: relative;
		padding: 8rem 3rem;
		background-color: var(--color-primary);
		color: var(--color-light);
		border-radius: 300px;

		@include max-md {
			padding: 8rem 2rem;
		}

		.rsvp-form {
			position: relative;
		}
	}
}