.rsvp-section {
	position: relative;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0 0 3rem;
	}

	.pillar {
		position: absolute;
		top: 50%;
		height: calc(100% - 16rem);

		&-left {
			left: 0;
			transform: translate(-42%, -50%);
		}

		&-right {
			right: 0;
			transform: translate(42%, -50%);
		}

		.image-element {
			width: auto;
			height: 100%;

			img {
				width: auto;
				height: 100%;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 12%;
		left: 0;
		width: 30%;
		transform: translate(-40%, 0) scaleX(-1);

		.orn-2 {
			position: absolute;
			bottom: 40%;
			left: -5%;
			width: 80%;
			transform: rotate(-45deg);

			.orn-3 {
				position: absolute;
				bottom: 40%;
				right: 10%;
				width: 80%;
				transform: rotate(-10deg) scaleX(-1);
			}
		}
	}

	.orn-4 {
		position: absolute;
		top: 12%;
		right: 0;
		width: 30%;
		transform: translate(40%, 0);

		.orn-5 {
			position: absolute;
			bottom: 50%;
			right: 20%;
			width: 100%;
			transform: rotate(-35deg) scaleX(-1);

			.orn-6 {
				position: absolute;
				bottom: 40%;
				left: 35%;
				width: 120%;
				transform: rotate(-120deg) scale(-1);
			}
		}
	}

	.orn-7 {
		position: absolute;
		top: 0;
		left: 50%;
		width: 30%;
		transform: translate(-60%, -50%) rotate(10deg) scaleX(-1);
	}

	.rsvp-wrapper {
		position: relative;
		padding: 10rem 3rem;
		background-color: var(--color-primary);
		color: var(--color-light);
		border-radius: 300px;

		@include max-md {
			padding: 8rem 2rem;
		}

		.rsvp-form {
			position: relative;
		}
	}
}