.stream-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;

	@include max-md {
		padding: 3rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 15%;
		transform: translate(40%, 0) scaleX(-1);
	}

	.orn-2 {
		position: absolute;
		bottom: 3rem;
		left: 0;
		width: 20%;
		transform: translate(-55%, 0) scaleX(-1);
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-light);
			mask: var(--mask);
			padding: .5rem;

			.stream-description {
				position: relative;
				padding: 3rem 2rem;
				background-color: var(--color-light);
				mask: var(--mask);

				@include max-md {
					padding: 2rem 1rem;
				}

				&::before {
					position: absolute;
					top: 1px;
					right: 1px;
					bottom: 1px;
					left: 1px;
					background-color: var(--color-primary);
					mask: var(--mask);
					content: "";
				}
			}

			h4 {
				@include max-md {
					text-align: center;
				}
			}
		}
	}

	ul {
		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}