.thank-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;

	@include max-md {
		padding: 3rem 0;
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		right: 50%;
		width: 40%;
		transform: translate(0, 40%);

		.orn-4 {
			position: absolute;
			bottom: 30%;
			left: 0;
			width: 130%;
			transform: translate(-35%, 0);

			.orn-5 {
				position: absolute;
				bottom: 60%;
				right: 60%;
				width: 50%;

				.orn-6 {
					position: absolute;
					bottom: 80%;
					left: 25%;
					width: 120%;
					transform: rotate(-5deg);
				}
			}
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 40%;
		transform: translate(-10%, 40%);

		.orn-8 {
			position: absolute;
			bottom: 28%;
			left: 55%;
			width: 85%;

			.orn-9 {
				position: absolute;
				bottom: 55%;
				left: 30%;
				width: 120%;

				.orn-10 {
					position: absolute;
					bottom: 85%;
					left: 0;
					width: 65%;
					transform: translate(-5%, 0) rotate(5deg);
				}
			}
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		@include aspect-ratio(3, 4);

		.image-element.bg-element {
			height: 100%;
			background-color: var(--color-primary);
			border-radius: 300px;
			padding: 1rem;

			.thank-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}

	.thank-wrapper {
		position: relative;

		.thank {
			position: relative;
			padding-top: 3rem;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}