:root {
  --color-main: #fffdf9;
  --color-primary: #f5f4f0;
  --color-secondary: #d6b43b;
  --color-dark: #1e1f1e;
  --color-light: #fff;
  --text-button: #ffffff;
  --color-button-trans: #1e1f1e;
  --vd-color-pink: #e9088a;
  --color-gradient: linear-gradient(90deg, #c6a058 0%, #ffda92 100%);
  --border-radius: 8px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-dark);
  -webkit-hyphens: manual;
          hyphens: manual;
}

.main-app {
  position: relative;
  background-color: var(--color-main);
  overflow: hidden;
}
.main-app .background-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  border-radius: 12px;
}
.main-app .background-body-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-app .background-body-wrapper .background-body-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .main-app .background-body-wrapper .background-body-content img {
    -o-object-position: right;
       object-position: right;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main-app .elements-wrapper-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-app .elements-wrapper-absolute .background-element {
  height: 100%;
}
.main-app .elements-wrapper-absolute .background-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-viding {
  height: 2.4rem;
}
@media (max-width: 767px) {
  .logo-viding {
    height: 2.25rem;
  }
}
.logo-viding path {
  fill: var(--vd-color-pink);
}

.color__button__trans {
  background-color: transparent !important;
}

h1,
h2,
h3 {
  font-family: "Marcellus", serif;
}

h1 {
  font-size: 42px;
  color: var(--color-secondary);
}
@media (max-width: 575px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  color: var(--color-secondary);
  margin-bottom: 0;
  font-weight: 500;
}

small {
  font-size: 12px;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
.img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--text-button);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 4px;
}
.btn-custom:hover {
  color: var(--text-button);
}
.btn-custom path {
  fill: var(--text-button);
}

.border-custom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px 1000px 50px 50px;
  background-color: var(--color-secondary);
}

.font-primary {
  font-family: "Nunito Sans", sans-serif;
}

.font-secondary {
  font-family: "Marcellus", serif;
}

.scaleX-reverse {
  transform: scaleX(-1);
}

.scaleY-reverse {
  transform: scaleY(-1);
}

.scale-reverse {
  transform: scale(-1);
}

.form-control,
.form-select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: var(--color-dark);
}
.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--color-dark);
}

.scrolled {
  background: #fff !important;
  transition: all 1s ease-in-out;
  box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}
.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 0;
  z-index: 9999;
}

.deco-wedding-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% + 0.2rem));
}
.deco-wedding-1 .deco-line {
  fill: var(--color-secondary);
}

.deco-wedding-2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% - 0.2rem)) scaleY(-1);
}
.deco-wedding-2 .deco-line {
  fill: var(--color-secondary);
}

.title-section {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.25rem;
}
.title-section .title-deco {
  position: relative;
}
.title-section .title-deco .deco-line {
  fill: var(--color-secondary);
}

.reminder-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--border-radius);
  padding: 3rem 2rem;
}
@media (max-width: 767px) {
  .reminder-wrap {
    padding: 2rem 1rem 0;
  }
}
.reminder-wrap .couple-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.reminder-wrap .btn-reminder {
  z-index: 3;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-top: 1.5rem;
}
.reminder-wrap .btn-reminder path {
  fill: var(--text-button);
  transition: all 0.3s ease-in-out;
}

.overlay-elements-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
}
.overlay-elements-gradient.overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, var(--color-main) 20%, transparent 100%);
}
.overlay-elements-gradient.overlay-top {
  top: 0;
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}

.waves-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: -2px;
  z-index: 3;
}
.waves-bottom path {
  fill: var(--color-main);
}
.waves-bottom.reverse {
  transform: scaleX(-1);
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: auto;
  transform: scale(-1);
  z-index: 3;
}
.waves-top path {
  fill: var(--color-main);
}

.waves-left {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
}

.waves-right {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
  transform: scale(-1);
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}
.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}
.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}
.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal.show-maps .modal-content {
  border-radius: 20px;
}
.modal.show-maps .modal-body {
  padding: 2rem 3rem;
  position: relative;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body {
    padding: 2rem 1rem;
  }
}
.modal.show-maps .modal-body .btn-modal {
  background-color: var(--color-main);
  color: var(--color-dark);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  opacity: 0.5;
  padding: 0 0.425rem;
  transition: all 0.5s ease;
}
.modal.show-maps .modal-body .btn-modal:hover {
  opacity: 1;
}
.modal.show-maps .modal-body .btn-custom {
  background: transparent;
  border-color: var(--color-dark);
  color: var(--color-dark);
  transition: all 0.25 ease-in-out;
}
.modal.show-maps .modal-body .btn-custom:hover {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.modal.show-maps .modal-body .maps-element {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body .maps-element {
    aspect-ratio: 9/10;
  }
}
.modal.show-maps .modal-body .loader-wrapper-modal {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.show-maps .modal-body .loader-wrapper-modal.loaded {
  display: none;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.modal.show-maps .modal-body .modal-actions {
  position: relative;
  color: var(--color-dark);
}

[data-anim][data-anim] {
  will-change: transform;
}
[data-anim][data-anim].animation-invisible {
  visibility: hidden;
}
[data-anim][data-anim].has-animate {
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}
[data-anim][data-anim].animate-loop {
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
[data-anim][data-anim].animate-loop.animate-paused {
  animation-play-state: paused;
}

[data-anim=fade].has-animate {
  animation-name: fadeAnim;
}

[data-anim=fade-right].has-animate {
  animation-name: fadeRight;
}

[data-anim=fade-left].has-animate {
  animation-name: fadeLeft;
}

[data-anim=fade-up].has-animate {
  animation-name: fadeUp;
}

[data-anim=fade-down].has-animate {
  animation-name: fadeDown;
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
[data-anim=slide-right].has-animate {
  animation-name: slideRight;
}

[data-anim=slide-left].has-animate {
  animation-name: slideLeft;
}

[data-anim=slide-up].has-animate {
  animation-name: slideUp;
}

[data-anim=slide-down].has-animate {
  animation-name: slideDown;
}

@keyframes slideRight {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate3d(30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
[data-anim=slide-rotate-left].has-animate {
  animation-name: slideRotateLeft;
}

[data-anim=slide-rotate-right].has-animate {
  animation-name: slideRotateRight;
}

[data-anim=slide-rotate-up].has-animate {
  animation-name: slideUpRotateLeft;
}

@keyframes slideRotateLeft {
  0% {
    opacity: 0;
    transform: translate3d(30%, 0, 0) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideRotateRight {
  0% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0) rotate(-45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideUpRotateLeft {
  0% {
    opacity: 0;
    transform: translate3d(0, 150px, 0) rotate(30deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
[data-anim=rotate-right].has-animate {
  animation-name: rotateRight;
}

[data-anim=rotate-left].has-animate {
  animation-name: rotateLeft;
}

@keyframes rotateRight {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
[data-anim=zoom-in].has-animate {
  animation-name: zoomIn;
}

[data-anim=zoom-in-up].has-animate {
  animation-name: zoomInUp;
}

[data-anim=zoom-in-down].has-animate {
  animation-name: zoomInDown;
}

[data-anim=zoom-in-left].has-animate {
  animation-name: zoomInLeft;
}

[data-anim=zoom-in-right].has-animate {
  animation-name: zoomInRight;
}

[data-anim=zoom-out].has-animate {
  animation-name: zoomOut;
}

[data-anim=zoom-out-up].has-animate {
  animation-name: zoomOutUp;
}

[data-anim=zoom-out-down].has-animate {
  animation-name: zoomOutDown;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, 100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, -100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(50%, 0, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(-50%, 0, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOutUp {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3) translate3d(0, 100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
@keyframes zoomOutDown {
  0% {
    opacity: 0;
    transform: scale3d(1.3, 1.3, 1.3) translate3d(0, -100px, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}
[data-anim*=flip][data-anim*=flip] {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

[data-anim=flip-up].has-animate {
  animation-name: flipUp;
}

[data-anim=flip-down].has-animate {
  animation-name: flipDown;
}

[data-anim=flip-left].has-animate {
  animation-name: flipLeft;
}

[data-anim=flip-right].has-animate {
  animation-name: flipRight;
}

@keyframes flipUp {
  0% {
    perspective: 2500px;
    transform: rotateX(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipDown {
  0% {
    perspective: 2500px;
    transform: rotateX(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipLeft {
  0% {
    perspective: 2500px;
    transform: rotateY(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
@keyframes flipRight {
  0% {
    perspective: 2500px;
    transform: rotateY(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
[data-anim=height-up].has-animate {
  animation-name: heightUp;
  visibility: visible !important;
}

[data-anim=height-up-reverse].has-animate {
  animation-name: heightUpReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-down].has-animate {
  animation-name: heightDown;
  visibility: visible !important;
}

[data-anim=height-down-reverse].has-animate {
  animation-name: heightDownReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-center].has-animate {
  animation-name: heightCenter;
  visibility: visible !important;
}

[data-anim=height-center-reverse].has-animate {
  animation-name: heightCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-left].has-animate {
  animation-name: widthLeft;
  visibility: visible !important;
}

[data-anim=width-left-reverse].has-animate {
  animation-name: widthLeftReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-right].has-animate {
  animation-name: widthRight;
  visibility: visible !important;
}

[data-anim=width-right-reverse].has-animate {
  animation-name: widthRightReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-center].has-animate {
  animation-name: widthCenter;
  visibility: visible !important;
}

[data-anim=width-center-reverse].has-animate {
  animation-name: widthCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

@keyframes heightUp {
  0% {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0% 0 0 0);
            clip-path: inset(0% 0 0 0);
  }
}
@keyframes heightDown {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0% 0);
            clip-path: inset(0 0 0% 0);
  }
}
@keyframes heightUpReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, 50%, 0) scaleY(0);
  }
}
@keyframes heightDownReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, -50%, 0) scaleY(0);
  }
}
@keyframes heightCenter {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes heightCenterReverse {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes widthLeft {
  0% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthRight {
  0% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthCenter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes widthLeftReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
}
@keyframes widthRightReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
}
@keyframes widthCenterReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
[data-anim=zoom-out-image].has-animate {
  transition-duration: 1500ms;
  transition-timing-function: ease;
  transition-delay: 200ms;
  transition-property: transform;
  transform: scale3d(1, 1, 1);
}

[data-anim=zoom-out-image] {
  transform: scale3d(1.25, 1.25, 1.25);
  transition-duration: 5000ms !important;
  visibility: visible !important;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  width: 100%;
  gap: 1rem;
  border-radius: 5px;
  z-index: 3;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .countdown {
    display: flex;
    gap: 0.5rem;
  }
}
@media (max-width: 375px) {
  .countdown {
    gap: 0.25rem;
  }
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 1000px;
  width: 78px;
}
@media (max-width: 767px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 65px;
  }
}
.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  font-weight: 600;
}
.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 38px;
  font-family: "Marcellus", serif;
}
@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 32px;
  }
}
.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.cover-section {
  position: fixed;
  z-index: 1000;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.cover-section .orn-1 {
  position: absolute;
  width: 140%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(-1) rotateZ(-50deg);
}
.cover-section .cover-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0 3rem;
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper {
    padding: 4rem 0 8rem;
    align-items: center;
  }
}
.cover-section .cover-wrapper .cover-content {
  text-align: center;
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  color: var(--color-dark);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-height: 667px) {
  .cover-section .cover-wrapper .cover-content {
    align-items: flex-start;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-section .cover-wrapper .cover-content .cover-body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  opacity: 0.7;
  content: "";
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }
}
@media (max-width: 767px) and (min-height: 796px) {
  .cover-section .cover-wrapper .cover-content .cover-body {
    grid-template-rows: auto auto;
  }
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body .col-12 {
    height: 100%;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .greeting-wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body .greeting-wrapper {
    font-size: 14px;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .greeting-wrapper h6 {
  font-weight: 700;
}
.cover-section .cover-wrapper .cover-content .cover-body h6 {
  font-weight: 600;
}
.cover-section .cover-wrapper .cover-content .cover-body .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body .image-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
  }
}
@media (min-height: 796px) {
  .cover-section .cover-wrapper .cover-content .cover-body .image-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .image-wrapper .cover-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  position: relative;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description {
  padding: 0 1.5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .cover-section .cover-wrapper .cover-content .cover-body .cover-description {
    padding: 2rem 0 1rem;
  }
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description * {
  position: relative;
}
.cover-section .cover-wrapper .cover-content .elements-widget {
  width: 100%;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}
.header-section .scroll-icon {
  position: relative !important;
  z-index: 10;
}
.header-section .orn-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(30%);
  width: 180px;
  z-index: 5;
}
.header-section .orn-1 img,
.header-section .orn-1 div {
  transform-origin: 0% 0%;
}
.header-section .orn-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
}
.header-section .orn-2 img {
  transform-origin: 100% 0%;
}
.header-section .elements-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-section .elements-absolute .background-element {
  display: block;
  height: 100%;
}
.header-section .elements-absolute .background-element .background-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.header-section .elements-absolute .background-element .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-section .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 6/4;
  margin: 0 auto;
  margin-top: 3rem;
}
.header-section .image-wrapper .image-element {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
}
.header-section .image-wrapper .image-element .background-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.header-section .header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section .header-content .header {
  position: relative;
  display: block;
  width: 50%;
  padding: 4rem 0;
}
@media (max-width: 991px) {
  .header-section .header-content .header {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .header-section .header-content .header {
    width: 100%;
    padding: 4rem 0;
  }
}
.header-section .header-content .header .header-title {
  position: relative;
  text-align: center;
}
.header-section .header-content .header .header-title-content {
  position: relative;
  padding: 3rem 0;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .header-section .header-content .header .header-title-content {
    padding: 2rem 1rem;
  }
}
.header-section .header-content .header #scroll-animate {
  animation: scrollAnim 1500ms ease infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
.couple-section {
  position: relative;
  padding: 5rem 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .couple-section {
    padding: 3rem 0 0;
  }
}
.couple-section .orn-1 {
  position: absolute;
  left: 0;
  top: 3rem;
  width: 100%;
  transform: translateX(-30%);
}
.couple-section .orn-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: translateX(20%);
}
.couple-section .orn-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  z-index: 5;
}
.couple-section .orn-3 img {
  transform-origin: 0% 0%;
}
@media (max-width: 991px) {
  .couple-section .orn-3 {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .couple-section .orn-3 {
    width: 90px;
  }
}
.couple-section .orn-4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  transform: translateX(80%) scale(-1);
  z-index: 5;
}
@media (max-width: 767px) {
  .couple-section .orn-4 {
    width: 240px;
  }
}
.couple-section .elements-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.couple-section .elements-absolute .background-element {
  display: block;
  height: 100%;
}
.couple-section .elements-absolute .background-element .background-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.couple-section .elements-absolute .background-element .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.couple-section .and {
  font-weight: 600;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .couple-section .and {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.couple-section .and span {
  position: relative;
  font-size: 24px;
  font-family: "Marcellus", serif;
}
.couple-section .couple-content {
  position: relative;
  margin-bottom: 10rem;
}
.couple-section .couple {
  position: relative;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  height: 100%;
  z-index: 5;
}
.couple-section .couple .image-wrap {
  width: 80%;
  position: relative;
  aspect-ratio: 9/10;
  border-radius: 1000px 1000px 50px 50px;
  margin: -10rem auto 0;
}
.couple-section .couple .image-wrap.man .overlay-image {
  transform: translate(-3%, -3%);
}
.couple-section .couple .image-wrap.woman .overlay-image {
  transform: translate(3%, -3%);
}
@media (max-width: 767px) {
  .couple-section .couple .image-wrap.woman {
    margin-top: 2rem;
  }
}
.couple-section .couple .image-wrap .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 1000px 1000px 50px 50px;
}
.couple-section .couple .couple-description {
  position: relative;
  padding: 1rem;
}
.couple-section .couple .couple-parent {
  width: 100%;
}
.couple-section .couple .sosmed-wrap {
  position: relative;
  width: 100%;
}
.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--color-button-trans);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  background: transparent;
  border: 1px solid var(--color-dark);
  transition: all 0.25s ease;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.couple-section .couple .sosmed-wrap .sosmed:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--text-button);
}
.couple-section .couple .sosmed-wrap .sosmed small {
  align-items: center;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
}
.couple-section .couple .sosmed-wrap .fab {
  font-size: 18px;
}
@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .fab {
    font-size: 16px;
  }
}
.couple-section .reminder-wrap {
  padding: 3rem 0 5rem;
}
@media (max-width: 767px) {
  .couple-section .reminder-wrap {
    padding: 3rem 0;
  }
}
.couple-section .reminder-wrap .elements-wrapper-absolute {
  height: calc(100% + 5rem);
}

.story-section {
  position: relative;
  padding: 15rem 0 5rem;
}
.story-section .without-image {
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .story-section {
    padding: 13rem 0 3rem;
  }
  .story-section .without-image {
    padding: 3rem 0;
  }
}
.story-section .orn-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
}
.story-section .story-content {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.story-section .story-description {
  position: relative;
  text-align: center;
  padding: 3rem 1rem;
}
.story-section .image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  z-index: 3;
  margin-top: -10rem;
  padding: 8px;
}
.story-section .image-wrapper .story-background {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.venue-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .venue-section {
    padding: 3rem 0;
  }
}
.venue-section .orn-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  border-bottom-left-radius: var(--border-radius);
}
.venue-section .orn-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
}
.venue-section .elements-wrapper-absolute {
  height: 75%;
}
.venue-section .venue-wrapper {
  position: relative;
  z-index: 3;
}
.venue-section .venue-wrapper .venue-description {
  position: relative;
  margin: 0 auto 5rem;
  z-index: 2;
  text-align: center;
}
@media (max-width: 991px) {
  .venue-section .venue-wrapper .venue-description {
    margin-bottom: 3rem;
  }
}
.venue-section .venue-wrapper .venue-content {
  position: relative;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  z-index: 10;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg {
  width: 40px;
  height: auto;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg path {
  stroke: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .card {
  border: none;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: var(--border-radius);
  z-index: 5;
  text-align: center;
  overflow: hidden;
}
.venue-section .venue-wrapper .venue-content .card .card-body {
  padding: 2rem;
}
@media (max-width: 991px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 1rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body h4 {
  font-weight: 600;
  margin: 1rem 0;
}
.venue-section .prokes-wrapper {
  margin-top: 3rem;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
}
.venue-section .prokes-wrapper .title-section::before {
  all: unset;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 0;
  }
}
.venue-section .prokes-wrapper * {
  position: relative;
}
.venue-section .prokes-wrap {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.venue-section .prokes-wrap .prokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}
@media (max-width: 375px) {
  .venue-section .prokes-wrap .prokes {
    width: 45%;
  }
}
.venue-section .row-venue {
  gap: 3rem;
}
.venue-section .event-name {
  position: relative;
  width: 100%;
}
.venue-section .event-name .date {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}
.venue-section .event-name .date h5 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 38px;
}
.venue-section .event-name .date p {
  margin-top: 0.2rem;
  font-size: 12px;
  font-weight: 400;
}
.venue-section .event-name .date div {
  position: relative;
}
.venue-section .event-name .date .with-line {
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
}
@media (max-width: 767px) {
  .venue-section .event-name .date .with-line {
    width: 100%;
  }
}
.venue-section .event-name h4 {
  font-family: "Marcellus", serif;
}
.venue-section .event-name p {
  margin-bottom: 0;
  font-weight: 600;
}
.venue-section .event-place {
  position: relative;
}
.venue-section .btn-custom {
  background-color: transparent;
  border-color: var(--color-button-trans);
  color: var(--color-button-trans);
  transition: all 0.25 ease-in-out;
}
.venue-section .btn-custom:hover {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.venue-section .animation-loop .st1 {
  will-change: transform;
  animation: zoomInRing 2000ms ease-out infinite;
}
.venue-section .animation-loop .dot {
  will-change: transform;
  animation: fadeBoing 2000ms ease-out infinite;
  transform-origin: 50% 75%;
}
.venue-section .animation-loop #Layer_3 {
  will-change: transform;
  animation: boing 1000ms ease-out infinite alternate;
}
@keyframes zoomInRing {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    opacity: 0;
  }
}
@keyframes boing {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5rem, 0);
  }
}
@keyframes fadeBoing {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale3d(0.25, 0.25, 0.25);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.maps-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rsvp-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .rsvp-section {
    padding: 3rem 0;
  }
}
.rsvp-section .rsvp-wrapper {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 991px) {
  .rsvp-section .rsvp-wrapper {
    padding: 1rem 0;
  }
}
.rsvp-section .rsvp-wrapper .rsvp-form {
  padding: 2rem;
  position: relative;
}
@media (max-width: 767px) {
  .rsvp-section .rsvp-wrapper .rsvp-form {
    padding: 2rem 1rem;
  }
}

.wishes-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .wishes-section {
    padding: 3rem 0;
  }
}
.wishes-section .orn-1 {
  position: absolute;
  width: 340px;
  top: 0;
  right: 0;
  transform: translate(25%, -10%) scaleX(-1);
}
.wishes-section .elements-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
}
.wishes-section .elements-absolute .background-element {
  display: block;
  height: 100%;
}
.wishes-section .elements-absolute .background-element .background-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.wishes-section .elements-absolute .background-element .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wishes-section .card-form {
  margin-bottom: 0;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 3;
}
.wishes-section .card-form.card {
  border: none;
}
.wishes-section .card-form .card-body {
  padding: 2rem;
}
@media (max-width: 767px) {
  .wishes-section .card-form .card-body {
    padding: 2rem 1rem;
  }
}
.wishes-section .wishes-preview {
  position: relative;
}
@media (max-width: 991px) {
  .wishes-section .wishes-preview {
    margin-top: 2rem;
  }
}
.wishes-section .wishes-preview .card {
  border: none;
  position: relative;
  background-color: transparent;
  border-radius: var(--border-radius);
}
.wishes-section .wishes-preview .card .card-body {
  overflow: hidden;
  padding: 2rem 0 2rem 1rem;
}
.wishes-section .wishes-preview .card .card-body .wishes {
  text-align: left;
  height: 28rem;
  overflow: auto;
  padding-right: 1rem;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar {
  width: 5px;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 20px;
  opacity: 0.15;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6 {
  font-weight: bold;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6,
.wishes-section .wishes-preview .card .card-body .wishes .wish p {
  margin-bottom: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-badge {
  background-color: var(--color-light);
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description {
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 5px;
  position: relative;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description::before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 15px;
  height: 15px;
  transform: translateX(-100%);
  -webkit-clip-path: url(#wishes-polygon);
          clip-path: url(#wishes-polygon);
  content: "";
  background-color: var(--color-light);
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .egift-section {
    padding: 3rem 0;
  }
}
.egift-section .gift-wrap {
  position: relative;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 2rem;
}
@media (max-width: 767px) {
  .egift-section .gift-wrap {
    padding: 2rem 1rem;
  }
}
.egift-section .tabs-gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}
.egift-section .tabs-gift::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.4;
  content: "";
  border-radius: 50px;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}
.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: var(--color-button-trans);
  z-index: 2;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom {
    min-width: 120px;
  }
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}
.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-button-trans);
  transition: all 0.2s ease;
}
.egift-section .tabs-gift .btn-custom.active {
  color: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active path {
  fill: var(--text-button);
}
.egift-section .tabs-gift .btn-custom:focus {
  box-shadow: none;
}
.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  z-index: -1;
}
.egift-section .card .card-body {
  padding: 3rem;
}
@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}
@media (max-width: 375px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}
.egift-section form {
  position: relative;
  z-index: 5;
}
.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}
.egift-section .gift,
.egift-section .angpao {
  display: none;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.egift-section .gift.show,
.egift-section .angpao.show {
  display: block;
  opacity: 1;
}
.egift-section .gift-wrapper {
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 8px;
  height: 100%;
}
.egift-section .gift-wrapper .gift-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  gap: 1rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0.75rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap .gift-image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.egift-section .gift-wrapper .gift-content .gift-description {
  position: relative;
  padding: 0 15px;
}
.egift-section .gift-wrapper .gift-content .gift-action {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 15px 15px;
}
.egift-section .gift-content {
  position: relative;
  padding: 2rem 0;
}
.egift-section .gift-content .elements-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.egift-section .gift-content .elements-absolute .background-element {
  display: block;
  height: 100%;
}
.egift-section .gift-content .elements-absolute .background-element .background-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.egift-section .gift-content .elements-absolute .background-element .background-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes tab {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gallery-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .gallery-section {
    padding: 3rem 0;
  }
}
.gallery-section .img-gallery {
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-section .img-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.gallery-section .splide .splide__slide.is-active .img-thumbnail {
  border: 3px solid #fff;
}
.gallery-section .splide .splide__arrow {
  border-radius: 0;
  width: 70px;
  height: 65px;
  background-color: var(--color-secondary);
}
@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 30px;
  }
}
.gallery-section .splide .splide__arrow svg {
  fill: var(--text-button);
  width: 25px;
  height: 30px;
}
@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}
.gallery-section .splide .splide__arrow--prev {
  left: 0;
}
.gallery-section .splide .splide__arrow--next {
  right: 0;
}

.apology-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .apology-section {
    padding: 3rem 0;
  }
}
.apology-section .orn-1 {
  position: absolute;
  bottom: 5rem;
  right: 0;
  transform: translateX(60%);
  width: 250px;
}
.apology-section .appology-wrap {
  position: relative;
  padding: 3rem 2rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .apology-section .appology-wrap {
    padding: 2rem 1rem;
  }
}
.apology-section .appology-wrap .background-element img {
  border-radius: var(--border-radius);
}

.stream-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .stream-section {
    padding: 3rem 0;
  }
}
.stream-section .background-element img {
  border-radius: var(--border-radius);
}
.stream-section .stream-wrapper {
  position: relative;
  border-radius: var(--border-radius);
  padding: 2rem;
  z-index: 5;
}
@media (max-width: 991px) {
  .stream-section .stream-wrapper .row {
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper {
    padding: 2rem 1rem;
  }
}
.stream-section .stream-wrapper .stream-content {
  position: relative;
}
.stream-section .stream-wrapper .stream-content::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  content: "";
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 991px) {
  .stream-section .stream-wrapper .stream-content::before {
    width: 100%;
    height: 70%;
  }
}
.stream-section .stream-wrapper .stream-content .stream-description {
  position: relative;
  padding: 2rem;
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper .stream-content .stream-description {
    padding: 2rem 1rem;
  }
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper .stream-content h4 {
    text-align: center;
  }
}
.stream-section ul ol {
  padding: 0;
}
.stream-section .card {
  background-color: transparent;
  height: 100%;
  color: var(--color-dark);
  border: none;
}
.stream-section .btn-custom {
  width: 100%;
  z-index: 10;
  position: relative;
}
@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}
.stream-section .yt-description {
  width: 100%;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .stream-section .yt-description {
    text-align: center;
  }
}

.thank-section {
  position: relative;
  padding: 10rem 0 5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .thank-section {
    padding: 5rem 0 3rem;
  }
}
.thank-section .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  padding: 8px;
}
.thank-section .image-wrapper .thank-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.thank-section .thank-wrapper {
  position: relative;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .thank-section .thank-wrapper .row {
    gap: 2rem;
  }
}
.thank-section .thank-wrapper .thank {
  position: relative;
  padding: 3rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
@media (max-width: 767px) {
  .thank-section .thank-wrapper .thank {
    padding: 2rem 1rem;
  }
}

.footer {
  padding: 1rem 0;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--text-button);
}
.footer small {
  position: relative;
}/*# sourceMappingURL=styles.css.map */