.apology-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 12%;
		transform: translate(50%, 0) rotate(-15deg);
		@include max-lg {
			width: 25%;
		}
		@include max-sm {
			width: 30%;
		}
	}

	.appology-wrap {
		position: relative;
		padding: 3rem 2rem;
		color: var(--color-dark);

		@include max-sm {
			padding: 2rem 1rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			opacity: 0.7;
			border-radius: var(--border-radius);
			content: "";
		}
	}
}
