.apology-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.appology-wrap {
		position: relative;
		padding: 3rem 2rem;
		color: var(--color-dark);

		@include max-sm {
			padding: 2rem 1rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			opacity: .7;
			border-radius: var(--border-radius);
			content: "";
		}
	}
}