.couple-section {
	position: relative;
	text-align: center;

	.and {
		@include min-md {
			display: none;
		}

		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
	}

	.couple-body {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}
	}

	.couple-content {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		margin-bottom: 3rem;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}
	}

	.couple {
		position: relative;
		text-align: center;

		.image-wrap {
			width: 100%;
			position: relative;
			aspect-ratio: 3/4;
			margin: 0 auto;

			.image-element {
				height: 100%;

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: left;
			padding: 2rem 0 1rem;

			.couple-parent {
				position: relative;
				width: 100%;
			}
		}


		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}