.couple-section {
	position: relative;
	text-align: center;

	.and {
		display: none;

		font-weight: 600;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		.orn-1 {
			position: absolute;
			top: 2rem;
			left: 0;
			width: 15%;
			transform: translate(-60%, 0) rotate(10deg);
			@include max-lg {
				width: 30%;
			}
			@include max-sm {
				width: 35%;
				transform: translate(-70%, 0) rotate(10deg);
			}
		}
		.orn-2 {
			position: absolute;
			top: 2rem;
			right: 0;
			width: 15%;
			transform: translate(60%, 0) rotate(-20deg);
			@include max-lg {
				width: 25%;
			}
			@include max-sm {
				top: 1rem;
				width: 30%;
				transform: translate(70%, 0) rotate(-20deg);
			}
		}
		.orn-3 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40%;
			transform: translate(110%, -10%) rotate(-20deg);
			.orn-4 {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 110%;
				transform: translate(-40%, 35%) rotate(-60deg);
				.orn-5 {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					transform: translate(-25%, -50%) rotate(-35deg);
					.orn-6 {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						transform: translate(35%, -40%) rotate(40deg) scaleX(-1);
					}
					.orn-7 {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 90%;
						transform: translate(0%, 30%) rotate(35deg);
					}
				}
			}
			.orn-8 {
				position: absolute;
				top: 0;
				right: 0;
				width: 110%;
				transform: translate(25%, -50%) rotate(10deg) scaleX(-1);
				.orn-9 {
					position: absolute;
					top: 0;
					right: 0;
					width: 80%;
					transform: translate(-10%, -40%) rotate(10deg) scaleX(-1);
				}
				.orn-10 {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
				}
			}
		}
	}

	.couple-body {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 2rem 0 1rem;
			.row {
				row-gap: 2rem;
			}
		}
	}

	.couple-content {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-dark);
		margin-bottom: 2rem;
		padding: 5rem 0.75rem;

		@include max-md {
			padding: 3rem 0;
		}
	}

	.couple {
		position: relative;
		text-align: center;
		z-index: 3;

		.image-wrap {
			width: 100%;
			position: relative;
			aspect-ratio: 3/4;
			margin: 0 auto;

			.image-element {
				height: 100%;

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: left;
			padding: 3rem 0 1rem;

			.couple-parent {
				position: relative;
				width: 100%;
			}
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}
