.rsvp-section {
	position: relative;
	padding: 0 0 calc(100vw - 90%);

	.elements-absolute {
		&.with-sea {
			.image-element {
				@include max-lg {
					margin-bottom: -20%;
				}
				@include max-sm {
					margin-bottom: -10%;
				}
			}
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 15%;
		transform: translate(-20%, -30%) scaleX(-1);
		@include max-lg {
			width: 30%;
		}
		@include max-sm {
			width: 35%;
		}
	}
	.orn-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 15%;
		transform: translate(-10%, 50%);
		@include max-lg {
			width: 30%;
		}
		@include max-sm {
			width: 35%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 15%;
		transform: translate(-20%, 10%) rotate(25deg);
		@include max-lg {
			width: 30%;
		}
		@include max-sm {
			width: 35%;
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 15%;
		transform: translate(50%, -30%) rotate(-10deg);
		@include max-lg {
			width: 30%;
		}
		@include max-sm {
			width: 35%;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 15%;
		transform: translate(50%, 15%) scaleX(-1);
		@include max-lg {
			width: 30%;
		}
		@include max-sm {
			width: 35%;
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		left: 30%;
		width: 12%;
		transform: translate(-50%, 50%);
		@include max-lg {
			width: 25%;
		}
		@include max-sm {
			width: 30%;
		}
	}
	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 30%;
		width: 12%;
		transform: translate(50%, 50%);
		@include max-lg {
			width: 25%;
		}
		@include max-sm {
			width: 30%;
		}
	}
	.orn-8 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 12%;
		transform: translate(-50%, 60%);
		@include max-lg {
			left: 58%;
			width: 25%;
		}
		@include max-sm {
			width: 30%;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 6/4;
		margin: 3rem 0;

		.image-element {
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 3rem 2rem;
		color: var(--color-dark);

		@include max-md {
			padding: 2rem 1rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-primary);
			opacity: 0.7;
			border-radius: var(--border-radius);
			content: "";
		}

		.rsvp-form {
			position: relative;
		}
	}
}
