.rsvp-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.rsvp-wrapper {
		position: relative;
		padding: 3rem 2rem;
		@include max-md {
			padding: 2rem 1rem;
		}
		.rsvp-form {
			position: relative;
		}
	}
}
