.couple-section {
	position: relative;

	.and {
		@include ipad {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 2rem 0;
		z-index: 3;

		span {
			position: relative;
			font-size: 28px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 3rem 0;

		@include ipad {
			padding: 5rem 0;
		}

		.couple-content {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;

			p {
				margin-bottom: 0;
			}
		}

		.couple-body {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-dark);
			width: 100%;
			border-radius: 300px;
			padding: 3rem;

			.elements-wrapper-absolute {
				.background-element {
					img {
						border-radius: 300px;
						opacity: .2;
					}
				}
			}
		}

		.tree-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 70%;
			transform: translate(-60%, 0);
			opacity: .2;
		}

		.tree-2 {
			position: absolute;
			top: 0;
			right: 0;
			width: 70%;
			transform: translate(60%, 0) scaleX(-1);
			opacity: .2;
		}

		.tree-3 {
			position: absolute;
			top: 8%;
			left: 0;
			width: 60%;
			transform: translate(-60%, 0) rotate(20deg);
		}

		.tree-4 {
			position: absolute;
			top: 8%;
			right: 0;
			width: 60%;
			transform: translate(60%, 0) rotate(-20deg) scaleX(-1);
		}

		.tree-5 {
			position: absolute;
			top: 55%;
			left: 0;
			width: 60%;
			transform: translate(-55%, 0);

			.orn {
				position: absolute;
				top: 70%;
				right: 20%;
				width: 65%;
			}
		}

		.tree-6 {
			position: absolute;
			top: 68%;
			right: 0;
			width: 60%;
			transform: translate(60%, 0) rotate(-10deg) scaleX(-1);

			.orn {
				position: absolute;
				bottom: 90%;
				left: 10%;
				width: 65%;
				transform: scaleX(-1);
			}
		}

		.tree-7 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 70%;
			transform: translate(-60%, 20%);
			opacity: .2;
		}

		.tree-8 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 70%;
			transform: translate(60%, 20%) scaleX(-1);
			opacity: .2;
		}

		.orn-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 30%;
			transform: translate(-50%, 0) scaleX(-1);
			z-index: 5;
		}

		.orn-2 {
			position: absolute;
			top: 25%;
			right: 0;
			width: 30%;
			transform: translate(50%, 0);
			z-index: 5;
		}
	}

	.couple {
		position: relative;

		.image-wrap {
			position: relative;
			width: 100%;

			.image-element {
				@include aspect-ratio(5, 6);

				.couple-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: center;
			padding: 1rem 1rem 0;

			h3 {
				position: relative;
			}

			.couple-parent {
				position: relative;
				width: 100%;
				margin-bottom: 0.5rem;

				p {
					margin-bottom: 0;
				}
			}

			.sosmed-wrap {
				position: relative;
				width: fit-content;
				max-width: 100%;
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				background-color: var(--color-secondary);
				margin: 1rem auto 0;

				.sosmed {
					color: var(--text-button);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
	}
}