.stream-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				color: var(--color-dark);
				padding: 2rem 1.5rem;
				text-align: center;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-primary);
					border-radius: 16px;
					opacity: .6;
					content: "";
				}

				iframe {
					border-radius: 8px;
				}
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}

	.elements-wrapper-absolute {
		top: 0;
		bottom: unset;
		opacity: .1;
		width: 500%;
		transform: translate(-39.4%, 0);

		.background-element {
			img {
				object-position: 50% 0%;
			}
		}
	}

	.tree-1 {
		position: absolute;
		top: 2rem;
		left: 0;
		width: 60%;
		transform: translate(-60%, 0);

		.tree-2 {
			position: absolute;
			top: 70%;
			right: -5%;
			width: 100%;
			transform: rotate(10deg);
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		transform: translate(-70%, 0) rotate(10deg) scaleX(-1);
		z-index: 5;
	}
}