@font-face {
	font-family: "Foglihten";
	src: url(../fonts/Foglihten.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Foglihten";
	src: url(../fonts/Foglihten.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Foglihten";
	src: url(../fonts/Foglihten.woff2) format("woff2");
	font-display: swap;
}
