.thank-section {
	position: relative;
	padding: 5rem 0 10rem;
	text-align: center;
	@include max-lg {
		padding: 3rem 0 15rem;
	}
	.hill-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 90%;
		transform: translate(-20%, 0%);
		@include max-lg {
			width: 150%;
			transform: translate(-20%, -10%);
		}
		@include max-sm {
			width: 200%;
			transform: translate(-20%, -30%);
		}
	}
	.hill-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 90%;
		transform: translate(5%, 0) scaleX(-1);
		@include max-lg {
			width: 150%;
			transform: translate(15%, -10%) scaleX(-1);
		}
		@include max-sm {
			width: 200%;
			transform: translate(20%, -30%) scaleX(-1);
		}
	}
	.land {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 90%;
		transform: translate(-50%, 70%);
		@include max-lg {
			width: 200%;
			transform: translate(-50%, 60%);
		}
		@include max-sm {
			transform: translate(-50%, 10%);
		}
	}
	.coloseum {
		position: absolute;
		top: 0;
		left: 50%;
		width: 120%;
		transform: translate(-50%, -40%);
		opacity: 0.2;
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-25%, 0);
		z-index: 3;
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 60%;
		transform: translate(25%, 0%) scaleX(-1);
		z-index: 3;
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 70%;
		transform: translate(-70%, 10%);
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 25%;
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		transform: translate(70%, 10%);
		@include min-md {
			width: 50%;
		}
		@include min-lg {
			width: 25%;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-20%, 30%);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
	}
	.orn-6 {
		position: absolute;
		top: 30%;
		right: 0;
		width: 80%;
		transform: translate(40%, 0);
	}
	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(20%, 30%) scaleX(-1);
		@include min-md {
			width: 30%;
		}
		@include min-lg {
			width: 15%;
		}
		.orn-6 {
			top: 25%;
		}
	}
	.orn-8 {
		position: absolute;
		top: 20%;
		right: 0;
		width: 80%;
		transform: translate(10%, 0);
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 3/4;
		margin: 0 auto;
		z-index: 1;
		.image-element {
			position: relative;
			width: 100%;
			height: 100%;
			.thank-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
				mask-image: url(../images/mask-photo.png);
				mask-size: 100% 100%;
				mask-repeat: no-repeat;
			}
		}
	}
	.thank-wrapper {
		position: relative;
		.thank {
			position: relative;
			padding: 3rem 2rem;
			@include max-md {
				padding: 2rem 1rem;
			}
			&-body {
				position: relative;
			}
		}
	}
}
.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	small {
		position: relative;
	}
}
