.couple-section {
	position: relative;
	text-align: center;
	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem 0;
		z-index: 3;
		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 16/9;
		@include max-sm {
			aspect-ratio: 6/5;
		}
		.image-element {
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.couple-wrapper {
		position: relative;
		.orn-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 95%;
			transform: translate(-30%, -10%);
		}
		.orn-2 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(32%, -3%);
			z-index: 3;
		}
	}
	.couple-body {
		position: relative;
	}
	.couple-content {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-light);
		mask-image: url(../images/mask.png);
		mask-size: 100%;
		mask-position: 50% 100%;
		mask-repeat: no-repeat;
		padding: 5rem 1.5rem 3rem;
		margin-bottom: 3rem;
		p {
			margin-bottom: 0;
		}
	}
	.couple {
		position: relative;
		text-align: center;
		color: var(--color-light);
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 65%;
			background-color: var(--color-primary);
			border-radius: var(--border-radius);
			mask-image: url(../images/mask.png);
			mask-size: 100%;
			mask-repeat: no-repeat;
			mask-position: 50% 100%;
			content: "";
		}
		.frame-photo {
			position: relative;
			width: 80%;
			margin: 0 auto;
			.image-wrap {
				position: absolute;
				inset: 0.6rem 0.2rem;
				.image-element {
					height: 100%;
					.couple-image {
						height: 100%;
						object-fit: cover;
						width: 100%;
						mask-image: url(../images/mask-photo.png);
						mask-size: 100% 100%;
						mask-repeat: no-repeat;
					}
				}
			}
		}
		.couple-description {
			position: relative;
			padding: 1rem 1rem 2rem;
		}
		.couple-parent {
			width: 100%;
		}
		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			margin: 0 auto;
			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;
				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}
			.fab {
				font-size: 18px;
				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}
