@font-face {
	font-family: "Marla Griselda Demo";
	src: url(../fonts/MarlaGriseldaDemo.woff2) format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "NewYork";
	src: url(../fonts/NewYork.woff2) format("woff2");
	font-display: swap;
}
