:root {
	--color-main: #{$color-main};
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-dark: #{$color-dark};
	--color-light: #{$color-light};
	--text-button: #{$text-button};
	--color-button-trans: #{$color-button-trans};
	--vd-color-pink: #{$color-logo};
	--border-radius: #{$border-radius};
	--mask: radial-gradient(45px at 45px 45px, #0000 98%, #000) -45px -45px;
	--color-gold: #d8bf99;
}
