.thank-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;
	@include max-md {
		padding: 3rem 0;
	}
	.orn-1 {
		position: absolute;
		top: 15%;
		left: 0;
		width: 30%;
		transform: translate(-50%, 0);
		@include min-md {
			width: 20%;
		}
		@include min-lg {
			width: 10%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 25%;
		right: 0;
		width: 30%;
		transform: translate(50%, 0) scaleX(-1);
		@include min-md {
			width: 20%;
		}
		@include min-lg {
			width: 10%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-40%, 20%);
		@include min-md {
			width: 40%;
		}
		@include min-lg {
			width: 20%;
		}
		.orn-4 {
			position: absolute;
			top: 0;
			right: 18%;
			width: 80%;
			transform: translate(0, -60%);
		}
		.orn-5 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 60%;
			transform: translate(45%, -20%);
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55%;
		transform: translate(40%, 20%);
		@include min-md {
			width: 45%;
		}
		@include min-lg {
			width: 23%;
		}
		.orn-7 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 65%;
			transform: translate(-55%, -5%);
		}
		.orn-8 {
			position: absolute;
			top: 0;
			left: 30%;
			width: 50%;
			transform: translate(0, -80%);
		}
	}
	.frame-photo {
		position: relative;
		width: 90%;
		margin: 0 auto;
		.image-wrapper {
			position: absolute;
			inset: 0.6rem 0.2rem;
			.image-element {
				position: relative;
				width: 100%;
				height: 100%;
				.thank-background {
					width: 100%;
					height: 100%;
					object-fit: cover;
					mask-image: url(../images/mask-photo.png);
					mask-size: 100% 100%;
					mask-repeat: no-repeat;
				}
			}
		}
	}
	.thank-wrapper {
		position: relative;
		.thank {
			position: relative;
			padding: 3rem 2rem;
			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}
}
.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	small {
		position: relative;
	}
}
