.wishes-section {
	position: relative;
	padding: 0 0 5rem;
	@include max-md {
		padding: 0 0 3rem;
	}
	.wishes-form-wrapper {
		position: relative;
		.orn-1 {
			position: absolute;
			top: -1rem;
			left: 0;
			width: 50%;
			transform: translate(-60%, 0) rotate(35deg);
			@include min-md {
				width: 40%;
			}
			@include min-lg {
				width: 20%;
			}
			.orn-2 {
				position: absolute;
				top: 1rem;
				right: 10%;
				width: 75%;
				transform: rotate(-35deg);
				@include min-md {
					top: 1.5rem;
					transform: rotate(-35deg);
				}
			}
		}
		.orn-3 {
			position: absolute;
			top: 0;
			right: 0;
			width: 25%;
			transform: translate(30%, -5%);
			@include min-md {
				width: 15%;
			}
			@include min-lg {
				width: 10%;
			}
		}
		.orn-4 {
			position: absolute;
			top: 0.5rem;
			right: 0;
			width: 30%;
			transform: translate(50%, 0);
			@include min-md {
				width: 25%;
			}
			@include min-lg {
				width: 15%;
			}
		}
	}
	.card-form {
		background-color: transparent;
		border-radius: var(--border-radius);
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(100% + 10rem);
			background-color: var(--color-gold);
			mask-image: url(../images/mask.png);
			mask-size: 100%;
			mask-position: 50% 100%;
			content: "";
			@include max-sm {
				height: calc(100% + 1rem);
			}
		}
		&::after {
			position: absolute;
			bottom: 2px;
			left: 50%;
			width: calc(100% - 4px);
			height: calc(100% + 10rem);
			background-color: var(--color-main);
			transform: translate(-50%, 0);
			mask-image: url(../images/mask.png);
			mask-size: 100%;
			mask-position: 50% 100%;
			content: "";
			@include max-sm {
				height: calc(100% + 1rem);
			}
		}
		&.card {
			border: none;
		}
		.card-body {
			position: relative;
			padding: 5rem 2rem 3rem;
			z-index: 5;
			@include max-md {
				padding: 5rem 1.5rem 3rem;
			}
		}
	}

	.wishes-preview {
		position: relative;
		.card {
			position: relative;
			border: none;
			background-color: transparent;
			.card-body {
				overflow: hidden;
				padding: 2rem 0;
				.wishes {
					text-align: left;
					max-height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					color: var(--color-dark);
					&::-webkit-scrollbar {
						width: 5px;
					}
					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}
					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;
						h6 {
							font-weight: bold;
						}
						h6,
						p {
							margin-bottom: 0;
						}
						.wish-badge {
							background-color: var(--color-light);
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}
						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fff, $alpha: 0.8);
							border-radius: 5px;
							position: relative;
							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fff, $alpha: 0.8);
							}
						}
					}
				}
			}
		}
	}
}
