.couple-section {
	position: relative;

	.and {
		@include ipad {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 2rem 0;
		z-index: 3;

		span {
			position: relative;
			font-size: 28px;
			font-family: $font-secondary;
		}

		&.single {
			display: flex;
			padding: 0 0 1rem;
		}
	}

	.couple-wrapper {
		position: relative;

		.couple-content {
			position: relative;
			text-align: center;
			padding: 5rem 1.5rem;
			color: var(--color-light);

			@include max-sm {
				padding: 3rem 1.5rem 5rem;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary);
				opacity: .6;
				content: "";
			}


			p {
				margin-bottom: 0;
			}

			.rebung-horizontal {
				position: absolute;
				top: 0;
				left: 0;
				width: 120%;
				transform: translate(-2.5rem, -50%);
				display: flex;

				.image-element:nth-child(2) {
					margin-left: -2.25rem;
				}
			}
		}

		.couple-body {
			position: relative;

			@include ipad {
				padding-bottom: 5rem;
			}

			.rebung-horizontal {
				margin-bottom: 1.5rem;
			}
		}

		.orn-1 {
			position: absolute;
			top: 3rem;
			left: 0;
			width: 35%;
			transform: translate(-50%, 0);

			.orn-2 {
				position: absolute;
				top: -30%;
				right: 15%;
				width: 100%;
			}
		}

		.orn-3 {
			position: absolute;
			top: 0;
			right: 0;
			width: 35%;
			transform: translate(50%, 0);

			.orn-4 {
				position: absolute;
				top: 35%;
				left: 10%;
				width: 100%;
				transform: rotate(-45deg);
			}
		}
	}

	.couple {
		position: relative;
		overflow: hidden;

		.elements-wrapper-absolute {
			.background-element {
				img {
					object-position: 70% 0%;
					opacity: .25;
				}
			}
		}

		.rebung-horizontal {
			width: 105%;
			margin-left: -2.5%;
			margin-bottom: 1.5rem;

			@include ipad {
				display: none;
			}
		}

		.image-wrap {
			position: relative;
			width: 60%;
			margin: 0 auto;

			.image-element {
				@include aspect-ratio(5, 6);

				.couple-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 6px;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: center;
			padding: 1rem 1rem 2rem;

			h3 {
				position: relative;
				font-size: 38px;
			}

			.couple-parent {
				position: relative;
				width: 100%;
				margin-bottom: 0.5rem;

				p {
					margin-bottom: 0;
				}
			}

			.sosmed-wrap {
				position: relative;
				width: fit-content;
				max-width: 100%;
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				background-color: var(--color-secondary);
				margin: 1rem auto 0;

				.sosmed {
					color: var(--text-button);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
	}
}