@font-face {
	font-family: "Bodega Script";
	src: url(../fonts/BodegaScript.woff2) format('woff2'), url(../fonts/BodegaScript.woff) format('woff');
	font-display: swap;
}

@font-face {
	font-family: "Baskerville";
	src: url(../fonts/baskvl.woff) format('woff');
	font-display: swap;
}