.header-section {
	position: relative;
	overflow: hidden;

	.scroll-icon {
		margin-top: 1rem;
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 15rem 0 0;
		min-height: 100vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		.header {
			position: relative;
			width: 80%;
			text-align: center;
			color: var(--color-light);
			padding: 0 1.5rem 15rem;

			.header-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary);
				border-radius: 30px;
				opacity: .6;
				content: "";
			}

			.header-title {
				position: relative;

				&-content {
					position: relative;
					z-index: 5;

					.image-wrapper {
						position: relative;
						width: 70%;
						margin: -10rem auto .75rem;

						.image-element {
							@include aspect-ratio(3, 4);

							img {
								object-fit: cover;
								border-radius: 300px;
							}
						}
					}

					.logo {
						position: relative;
						width: 45px;
						margin: 0 auto .5rem;
					}
				}
			}
		}
	}

	.mountain {
		position: absolute;
		bottom: 10rem;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
	}

	.land {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);

		.rumah {
			position: absolute;
			top: 15%;
			left: 35%;
			width: 60%;
		}

		.bush-1 {
			position: absolute;
			top: 5%;
			left: 0;
			width: 100%;
		}

		.bush-2 {
			position: absolute;
			top: 25%;
			left: 0;
			width: 40%;
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 120%;
		transform: translate(-55%, -15%);
	}

	.tree-2 {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 50%;
		transform: translate(-30%, 0);
	}

	.tree-3 {
		position: absolute;
		bottom: 5rem;
		right: 0;
		width: 50%;
		transform: translate(40%, 0);
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-10%, 10%);

		.orn-2 {
			position: absolute;
			top: 35%;
			left: 45%;
			width: 80%;

			.orn-3 {
				position: absolute;
				top: 0;
				left: 75%;
				width: 42%;
			}

			.orn-4 {
				position: absolute;
				top: 0;
				left: 90%;
				width: 100%;
			}
		}

	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		transform: translate(38%, 0%);

		.orn-6 {
			position: absolute;
			top: 55%;
			left: -10%;
			width: 60%;
		}

		.orn-7 {
			position: absolute;
			bottom: 25%;
			left: 20%;
			width: 65%;
		}

		.orn-8 {
			position: absolute;
			top: 10%;
			left: -30%;
			width: 75%;
			transform: rotate(-80deg);
		}

		.orn-9 {
			position: absolute;
			top: 70%;
			left: -65%;
			width: 75%;

			.orn-10 {
				position: absolute;
				top: -60%;
				left: 40%;
				width: 60%;
				transform: rotate(-20deg);
			}
		}

		.orn-11 {
			position: absolute;
			top: 50%;
			left: 20%;
			width: 60%;
			transform: rotate(-10deg) scaleX(-1);
		}
	}

	.orn-12 {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 18%;
		transform: translate(-10%, 0) rotate(10deg);
	}

	.orn-13 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(0, 20%);
	}
}