.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.ampera {
		position: relative;
		width: 35%;
		margin: 0 auto 1rem;
	}

	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-light);
		border-radius: 300px;

		.rsvp-form {
			position: relative;
			padding: 3rem 3rem 15rem;
			z-index: 5;

			@include max-lg {
				padding: 3rem 2rem 12rem;
			}
		}
	}

	.mountain {
		position: absolute;
		bottom: 10rem;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
	}

	.land {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);

		.rumah {
			position: absolute;
			top: 15%;
			left: 35%;
			width: 60%;
		}

		.bush-1 {
			position: absolute;
			top: 5%;
			left: 0;
			width: 100%;
		}

		.bush-2 {
			position: absolute;
			top: 25%;
			left: 0;
			width: 40%;
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 120%;
		transform: translate(-55%, -15%);
	}

	.tree-2 {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 50%;
		transform: translate(-30%, 0);
	}

	.tree-3 {
		position: absolute;
		bottom: 5rem;
		right: 0;
		width: 50%;
		transform: translate(40%, 0);
	}

	.tree-4 {
		position: absolute;
		top: 0;
		right: 0;
		width: 120%;
		transform: translate(75%, -25%);
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-10%, 10%);

		.orn-2 {
			position: absolute;
			top: 35%;
			left: 45%;
			width: 80%;

			.orn-3 {
				position: absolute;
				top: 0;
				left: 75%;
				width: 42%;
			}

			.orn-4 {
				position: absolute;
				top: 0;
				left: 90%;
				width: 100%;
			}
		}

	}

	.orn-12 {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 18%;
		transform: translate(-10%, 0) rotate(10deg);
	}

	.orn-13 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(0, 20%);
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		transform: translate(38%, 0%);

		.orn-6 {
			position: absolute;
			top: 55%;
			left: -10%;
			width: 60%;
		}

		.orn-7 {
			position: absolute;
			bottom: 25%;
			left: 20%;
			width: 65%;
		}

		.orn-8 {
			position: absolute;
			top: 10%;
			left: -30%;
			width: 75%;
			transform: rotate(-80deg);
		}

		.orn-9 {
			position: absolute;
			top: 70%;
			left: -65%;
			width: 75%;

			.orn-10 {
				position: absolute;
				top: -60%;
				left: 40%;
				width: 60%;
				transform: rotate(-20deg);
			}
		}

		.orn-11 {
			position: absolute;
			top: 50%;
			left: 20%;
			width: 60%;
			transform: rotate(-10deg) scaleX(-1);
		}
	}
}