.countdown {
	position: relative;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: fit-content;
	gap: 1.5rem;
	z-index: 3;
	padding: .5rem 1.5rem .75rem;
	color: var(--color-dark);
	margin: 0 auto;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-main);
		opacity: .6;
		content: "";
		border-radius: var(--border-radius);
	}

	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.huruf {
			font-size: 14px;
			font-weight: 600;

			@include max-xs {
				font-size: 12px;
			}
		}

		.angka {
			margin-bottom: 0;
			font-weight: 500;
			font-size: 36px;
			font-family: $font-secondary;

			@include max-md {
				font-size: 32px;
			}

			@include max-xs {
				font-size: 28px;
			}
		}

		.huruf,
		.angka {
			margin: 0;
			padding: 0;
		}
	}
}