.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@include max-lg {
			padding: 5rem 0 10rem;
		}

		.cover-content {
			position: relative;
			width: 40%;
			padding: 5rem 1.8rem;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: var(--color-main);
				border-radius: var(--border-radius);
				opacity: .6;
				content: "";
			}

			@include max-lg {
				width: 60%;
			}

			@include max-sm {
				width: 100%;
				padding: 3rem 1rem;
			}

			.cover-body {
				position: relative;

				.cover-description {
					position: relative;
					width: 100%;
					padding: 1rem;
					text-align: center;
					z-index: 5;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}

	.elements-wrapper-absolute {
		top: 25%;

		@include max-lg {
			top: 15%;

			.background-element {
				img {
					object-position: 42% 0%;
				}
			}
		}
	}

	.roof {
		position: absolute;
		top: 0;
		left: 50%;
		width: 140%;
		transform: translate(-50%, -50%);
	}

	.bf-1 {
		position: absolute;
		top: 3rem;
		right: 0;
		width: 23%;
		transform: translate(50%, 0) rotate(-30deg);
	}

	.bf-2 {
		position: absolute;
		bottom: 1rem;
		left: 0;
		width: 20%;
		transform: translate(-50%, 0) rotate(30deg);
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-30%, 30%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
			transform: translate(-30%, 10%);
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20%;
		transform: translate(35%, 35%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
			transform: translate(35%, 15%);
		}
	}
}