.header-section {
	position: relative;

	.scroll-icon {
		margin-top: 1rem;
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 5rem 0 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.header {
			position: relative;
			width: 90%;
			min-height: 80%;
			text-align: center;
			padding: 5rem 1.5rem 3rem;

			.header-title {
				position: relative;

				&-content {
					position: relative;
					z-index: 5;
				}
			}
		}
	}
}