.story-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.story-description {
		position: relative;
		text-align: left;

		.title-section {
			text-align: left;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		margin-top: 1.5rem;

		.image-element {
			@include aspect-ratio(5, 6);

			@include ipad {
				@include aspect-ratio(16, 9);
			}

			img {
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}
}