.stream-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);
	color: var(--color-light);

	@include ipad {
		padding: 5rem 0;
	}

	.hill {
		position: absolute;
		top: 0;
		left: 50%;
		width: 140%;
		transform: translate(-50%, -20%);
		opacity: .6;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				background-color: var(--color-main);
				color: var(--color-dark);
				border-radius: 300px 300px 20px 20px;
				padding: 8rem 1.5rem 1.5rem;
				text-align: center;

				iframe {
					border-radius: var(--border-radius);
				}
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}