.venue-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.venue-wrapper {
		position: relative;

		.venue-description {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-primary);
				color: var(--color-light);
				border: none;
				text-align: center;
				border-radius: var(--border-radius);

				.card-body {
					padding: 2rem;

					h4 {
						padding: 0 0 1rem;
					}

					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 1rem;

						.date {
							position: relative;
							width: 100%;

							h5 {
								font-family: $font-secondary;
								margin-bottom: 0;
								font-size: 42px;
							}

							.line {
								--color-button-trans: #fff;
								width: 45px;
								height: 1px;
								background-color: var(--color-button-trans);
								margin: .2rem auto .5rem;
							}
						}

						h4 {
							font-family: $font-secondary;
							font-size: 32px;
						}

						p {
							margin-bottom: 0;
						}
					}

					.event-description {
						position: relative;
						margin-bottom: 1rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;

						&-body {
							padding-top: 1rem;

							.widget-elements {
								position: relative;
								width: 100%;
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;

		&-sm {
			@include max-md {
				row-gap: 3rem;
			}
		}
	}
}