@font-face {
  font-family: "trajan-pro-regular";
  src: url(../fonts/TrajanPro-Regular.woff) format("woff");
}
@font-face {
  font-family: "trajan-pro-regular";
  src: url(../fonts/TrajanPro-Regular.woff2) format("woff2");
}

/* cyrillic-ext */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCY9_S6w.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkAI9_S6w.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCI9_S6w.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkB49_S6w.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkC49_S6w.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCo9_S6w.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v25/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkBI9_.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "EB Garamond", serif;
  color: #353a40;
}

.section-1 {
  overflow: hidden;
  position: relative;
  background-image: url(../img/Truntum.png);
  background-color: #f2eae2;
  background-position: center;
  background-size: cover;
  height: calc(100vh);
}

@media (max-width: 576px) {
  .section-1 {
    overflow: hidden;
    position: relative;
    background-image: url(../img/Truntum.png);
    background-color: #f2eae2;
    background-position: center;
    background-size: cover;
  }
}

.section-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.1);
}

.section-1 .flower-1,
.section-1 .flower-2 {
  position: absolute;
  top: -10px;
}

@media (max-width: 576px) {
  .section-1 .flower-1,
  .section-1 .flower-2 {
    width: 250px;
    top: -5px;
  }
}

.section-1 .flower-1 {
  left: -10px;
}

@media (max-width: 576px) {
  .section-1 .flower-1 {
    left: -5px;
  }
}

.section-1 .flower-2 {
  right: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 576px) {
  .section-1 .flower-2 {
    right: -5px;
  }
}

.section-1 .content-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  padding: 3rem 0;
}

.section-1 .content-wrapper .content {
  position: relative;
}

.section-1 .content-wrapper .content .header-title {
  position: relative;
  padding: 3.5rem 0;
}

.section-1 .content-wrapper .content .header-title::before {
  content: "";
  position: absolute;
  background-image: url(../images/flower-header.png);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.section-1 .content-wrapper .content .header-title h1 {
  position: relative;
}

#envelope-wrap {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
}

#envelope-wrap .envelope {
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -12%);
  transform: translate(-50%, -12%);
  text-align: center;
  color: #fff;
  width: 100%;
}

#envelope-wrap .envelope h1 {
  line-height: 100px;
}

#envelope-wrap .envelope .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
}

#envelope-wrap .envelope .btn-custom:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section-2 {
  text-align: center;
  background-size: cover;
  background-position: bottom;
  padding: 3rem 0;
  background-color: #f2eae2;
}

@media (max-width: 576px) {
  .section-2 {
    padding: 3rem 0 1rem 0;
  }
}

.section-2 .avatar-welcome {
  width: 100%;
  padding: 0 20px;
}

.avatar-wrapper {
  text-align: center;
  padding: 0 0 5rem 0;
}

@media (max-width: 320px) {
  .avatar-wrapper {
    padding: 0;
  }
}

.avatar-wrapper .content {
  position: relative;
  padding: 200px 0;
}

@media (max-width: 576px) {
  .avatar-wrapper .content {
    padding: 120px 0;
  }
}

.avatar-wrapper .content .frame-avatar-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  display: inline-block;
}

@media (max-width: 992px) {
  .avatar-wrapper .content .frame-avatar-horizontal {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .avatar-wrapper .content .frame-avatar-horizontal {
    display: none;
  }
}

.avatar-wrapper .content .frame-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  width: 110%;
  height: auto;
}

@media (max-width: 576px) {
  .avatar-wrapper .content .frame-avatar {
    display: inline-block;
  }
}

.avatar-wrapper .content .avatar-name {
  width: 320px;
  margin: auto;
  position: relative;
}

@media (max-width: 576px) {
  .avatar-wrapper .content .avatar-name {
    width: 220px;
  }
}

.avatar-wrapper .content .avatar-name.man {
  margin-bottom: 2rem;
  margin-left: 280px;
}

@media (max-width: 1200px) {
  .avatar-wrapper .content .avatar-name.man {
    margin-left: 200px;
  }
}

@media (max-width: 992px) {
  .avatar-wrapper .content .avatar-name.man {
    margin-left: 130px;
  }
}

@media (max-width: 576px) {
  .avatar-wrapper .content .avatar-name.man {
    margin-left: 28px;
  }
}

@media (max-width: 320px) {
  .avatar-wrapper .content .avatar-name.man {
    margin-left: 20px;
  }
}

.avatar-wrapper .content .avatar-name.girl {
  margin-top: 2rem;
  margin-right: 280px;
}

@media (max-width: 1200px) {
  .avatar-wrapper .content .avatar-name.girl {
    margin-right: 200px;
  }
}

@media (max-width: 992px) {
  .avatar-wrapper .content .avatar-name.girl {
    margin-right: 130px;
  }
}

@media (max-width: 576px) {
  .avatar-wrapper .content .avatar-name.girl {
    margin-right: 28px;
  }
}

@media (max-width: 320px) {
  .avatar-wrapper .content .avatar-name.girl {
    margin-right: 20px;
  }
}

.avatar-wrapper .content .avatar-name .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.avatar-wrapper .content .avatar-name .icon-wrapper .icon {
  color: #242424;
  background-color: #f3d4a4;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  line-height: 0;
}

.section-3 {
  overflow: hidden;
  position: relative;
  background-color: #f2eae2;
}

.section-3::before {
  position: absolute;
  top: 0;
  content: "";
  right: 0;
  border-top: 2px solid #f3d4a4;
  z-index: 2;
  opacity: 0.75;
  width: 85%;
}

.section-3 .flower-1 {
  position: absolute;
  right: -10px;
  top: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 576px) {
  .section-3 .flower-1 {
    width: 80%;
  }
}

.section-3 .content-wrapper {
  position: relative;
}

.section-3 .content-wrapper .content {
  text-align: center;
  margin: 3rem 0;
}

@media (max-width: 576px) {
  .section-3 .content-wrapper .content {
    margin-bottom: 1rem;
  }
}

.section-3 .content-wrapper .content h1 {
  margin-bottom: 2rem;
}

.section-3 .content-wrapper .content p {
  font-weight: 500;
}

.section-4 {
  position: relative;
  z-index: 10;
}

.section-4 .gallery-wrapper {
  text-align: center;
  padding: 3rem 0;
}

.section-4 .gallery-wrapper .zoom-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .section-4 .gallery-wrapper .zoom-gallery {
    gap: 0.5rem;
  }
}

.section-4 .gallery-wrapper .zoom-gallery a {
  position: relative;
  max-width: 50%;
}

@media (max-width: 576px) {
  .section-4 .gallery-wrapper .zoom-gallery a {
    max-width: 48%;
  }
}

.section-4 .gallery-wrapper .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section-4 .gallery-wrapper .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 0 8px;
  font-size: 16px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 576px) {
  .section-4 .gallery-wrapper .zoom-gallery a::after {
    font-size: 14px;
  }
}

.section-4 .gallery-wrapper .zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.section-4 .gallery-wrapper .zoom-gallery a:hover::after {
  opacity: 1;
}

.section-4 .gallery-wrapper .zoom-gallery .photo {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section-4 .gallery-wrapper .zoom-gallery .photo {
    height: 180px;
  }
}

@media (max-width: 576px) {
  .section-4 .gallery-wrapper .zoom-gallery .photo {
    height: 100px;
  }
}

.section-5-1 {
  position: relative;
}

.section-5-1 .flower {
  position: absolute;
  bottom: -10px;
  left: -10px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

@media (max-width: 576px) {
  .section-5-1 .flower {
    width: 80%;
  }
}

.section-5-1 .yt-embed {
  width: 480px;
  height: 240px;
}

@media (max-width: 576px) {
  .section-5-1 .yt-embed {
    width: 280px;
    height: 160px;
  }
}

.section-5-2 {
  text-align: center;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.section-5-2::before,
.section-5-2::after {
  position: absolute;
  width: 85%;
  border-top: 2px solid #f3d4a4;
  z-index: 2;
  content: "";
  left: 0;
  top: 0;
  opacity: 0.75;
}

.section-5-2::after {
  bottom: 0;
  right: 0;
  left: unset;
  top: unset;
}

.section-5-2 .flower01 {
  position: absolute;
  top: -10px;
  left: -10px;
}

@media (max-width: 576px) {
  .section-5-2 .flower01 {
    width: 80%;
  }
}

.section-5-2 .flower02 {
  position: absolute;
  bottom: -10px;
  right: -10px;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

@media (max-width: 576px) {
  .section-5-2 .flower02 {
    width: 80%;
  }
}

.section-5-2 .maps-embed {
  width: 100%;
  aspect-ratio: 2;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.section-5-2 .maps-embed .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%;
}

.section-5-2 .maps-embed .mapouter {
  position: relative;
  text-align: right;
}

@media (max-width: 576px) {
  .section-5-2 .col-md-6,
  .section-5-2 .col-md-12 {
    padding: 0;
  }
}

.section-5-2 .form-kehadiran {
  margin: 2rem auto;
  width: 80%;
}

@media (max-width: 576px) {
  .section-5-2 .form-kehadiran {
    margin: 3rem auto;
  }

  .section-5-2 .form-kehadiran .row {
    gap: 1rem;
  }
}

.section-5-2 .form-kehadiran .form-control,
.section-5-2 .form-kehadiran .form-select {
  background-color: #b8b8b81c;
  color: #f3d4a4;
  border: none;
  border-radius: 0;
  font-family: "Source Sans Pro";
}

.section-5-2 .form-kehadiran .form-control::-webkit-input-placeholder,
.section-5-2 .form-kehadiran .form-select::-webkit-input-placeholder {
  color: #f3d4a4;
}

.section-5-2 .form-kehadiran .form-control:-ms-input-placeholder,
.section-5-2 .form-kehadiran .form-select:-ms-input-placeholder {
  color: #f3d4a4;
}

.section-5-2 .form-kehadiran .form-control::-ms-input-placeholder,
.section-5-2 .form-kehadiran .form-select::-ms-input-placeholder {
  color: #f3d4a4;
}

.section-5-2 .form-kehadiran .form-control::placeholder,
.section-5-2 .form-kehadiran .form-select::placeholder {
  color: #f3d4a4;
}

.section-5-2 .icon {
  height: auto;
  width: 90px;
}

.section-6 {
  position: relative;
}

.section-6 .content {
  text-align: center;
  padding: 3rem 0;
}

.section-6 .content form .form-control {
  border-radius: 0;
  color: #f3d4a4;
  border: none;
  background-color: #b8b8b81c;
  font-family: "Source Sans Pro";
}

.section-6 .content form .form-control::-webkit-input-placeholder {
  color: #f3d4a4;
}

.section-6 .content form .form-control:-ms-input-placeholder {
  color: #f3d4a4;
}

.section-6 .content form .form-control::-ms-input-placeholder {
  color: #f3d4a4;
}

.section-6 .content form .form-control::placeholder {
  color: #f3d4a4;
}

.section-6 .content .card {
  background-color: #b8b8b81c;
  height: 290px;
  padding: 24px;
}

@media (max-width: 576px) {
  .section-6 .content .card {
    margin-top: 2rem;
  }
}

.section-6 .content .card .card-body {
  overflow: auto;
  padding: 0;
  word-wrap: break-word;
}

.section-6 .content .card .card-body::-webkit-scrollbar {
  display: none;
}

.section-6 .content .card .card-body .slider {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  text-align: left;
  overflow: hidden;
}

.section-6 .content .card .card-body .slider div {
  margin-bottom: 1rem;
}

.section-6 .content .card .card-body .slider div p {
  margin-bottom: 0;
}

.section-7 {
  position: relative;
  overflow: hidden;
}

.section-7 .flower {
  position: absolute;
  width: 470px;
  left: 0px;
  bottom: 0;
}

@media (max-width: 768px) {
  .section-7 .flower {
    width: 405px;
  }
}

@media (max-width: 576px) {
  .section-7 .flower {
    display: none;
  }
}

.section-7 .content {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 3rem 0;
}

@media (max-width: 576px) {
  .section-7 .content {
    padding-top: 1rem;
  }
}

.section-7 .content .row {
  gap: 0;
}

.section-7 .content .row form {
  text-align: center;
}

.section-7 .content .row form .form-control {
  background-color: #b8b8b81c;
  border: none;
  color: #f3d4a4;
  border-radius: 0;
}

.section-7 .content .row form .form-control::-webkit-input-placeholder {
  color: #f3d4a4;
}

.section-7 .content .row form .form-control:-ms-input-placeholder {
  color: #f3d4a4;
}

.section-7 .content .row form .form-control::-ms-input-placeholder {
  color: #f3d4a4;
}

.section-7 .content .row form .form-control::placeholder {
  color: #f3d4a4;
}

.section-7 .content .row form .input-group .input-group-text {
  background-color: #f3d4a4;
  color: #242424;
  border: none;
  border-radius: 0;
}

@media (max-width: 576px) {
  .section-7 .row {
    gap: 0.25rem;
  }
}

.section-8 {
  position: relative;
}

.section-8 .content {
  position: relative;
  padding: 3rem 0;
}

.section-8 .content .divider01 {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .section-8 .content .divider01 {
    top: -16px;
  }
}

.section-8 .content .divider02 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.section-8 .icon {
  height: auto;
  width: 90px;
}

.section-9 {
  position: relative;
}

.section-9 .content {
  position: relative;
  padding: 3rem 0;
  text-align: center;
}

@media (max-width: 576px) {
  .section-9 .content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.section-9 .content .yt-stream h5 {
  text-align: right;
}

.section-9 .content .yt-stream .yt-embed {
  width: 100%;
  height: 304px;
  margin-bottom: -6px;
}

@media (max-width: 768px) {
  .section-9 .content .yt-stream .yt-embed {
    height: 214px;
  }
}

@media (max-width: 576px) {
  .section-9 .content .yt-stream .yt-embed {
    height: 168px;
  }
}

.section-9 .content .card {
  background-color: #b8b8b81c;
  border-radius: 0;
  text-align: left;
  overflow: hidden;
  height: 304px;
  padding: 1rem;
}

@media (max-width: 768px) {
  .section-9 .content .card {
    height: 214px;
  }
}

@media (max-width: 576px) {
  .section-9 .content .card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.section-9 .content .card .card-body {
  padding: 0;
  overflow: auto;
}

.section-9 .content .card .card-body::-webkit-scrollbar {
  display: none;
}

.section-9 .content .card .card-body p {
  margin-bottom: 0;
}

.section-9 .divider {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 576px) {
  .section-9 .divider {
    bottom: -5px;
  }
}

.section-10 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.section-10 .content {
  position: relative;
  background-image: url(../images/bg-footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 5rem 0 18rem 0;
}

@media (max-width: 576px) {
  .section-10 .content {
    padding: 0 0 3rem 0;
  }
}

.section-10 .content::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-10 .content .flower {
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 110%;
}

.section-10 .container small {
  font-family: Calibri, sans-serif;
  font-style: italic;
}

.section-10 .footer {
  background-color: #242424;
  padding: 10px 0;
}

.section-10 .footer small {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: relative;
}

.main-app {
  background-color: #f2eae2;
  overflow: hidden;
}

h1,
h3 {
  font-family: "trajan-pro-regular", sans-serif;
  color: #a88c72;
}

h2 {
  color: #a88c72;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 38px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}

p {
  font-size: 18px;
}

/* @media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
  }
} */

.text-time {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.btn-custom {
  background-color: #c1a18f;
  color: #fff;
  min-width: 150px;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .btn-custom {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .btn-custom {
    width: 100%;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=app.css.map */

/* new  */

.logo-viding {
  height: 3rem;
}

.section-1 .wrap-photo-head {
  width: 785px;
  height: 380px;
  position: relative;
}

@media (max-width: 991px) {
  .section-1 .wrap-photo-head {
    width: 685px;
  }
}

/* section-1 */
@media (max-width: 576px) {
  .section-1 .wrap-photo-head {
    width: 85% !important;
    height: 380px !important;
  }

  .section-1 .wrap-ornament img {
    position: absolute;
    bottom: 0px !important;
    width: 254.36px;
    height: 185.35px;
  }

  .section-1 .wrap-ornament .left {
    position: absolute;
    left: -42px !important;
    width: 160px !important;
    height: auto !important;
  }

  .section-1 .wrap-ornament .right {
    position: absolute;
    right: -42px !important;
    width: 160px !important;
    height: auto !important;
  }
}

/* brid and groom */
@media (max-width: 576px) {
}

/* gallery */
@media (max-width: 576px) {
  .gallery .zoom-gallery .col {
    display: flex;
    padding: 0px;
  }

  .gallery iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.img-container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.smallsquare {
  max-width: 20%;
  height: auto;
  flex: 0 0 20%;
  padding-top: 20%;
  display: grid;
  position: relative;
}

.h_rectangle {
  max-width: 40%;
  flex: 0 0 40%;
  padding-top: 20%;
  position: relative;
}

.bigsquare {
  max-width: 33%;
  height: auto;
  flex: 0 0 33%;
  padding-top: 30%;
  display: grid;
  position: relative;
}

.bigsquare_blank {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap;
}

.inner_square {
  max-width: 50%;
  flex: 0 0 50%;
  height: 50%;
  position: relative;
}

.v_rectangle {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 40%;
  position: relative;
}

.img-grid-c {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  padding: 7px 5px;
}

/* confrime attend */
@media (max-width: 576px) {
  .confrime-attend .img-gap {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 70%;
  }

  .confrime-attend .frame-right {
    position: absolute;
    bottom: -50px !important;
    right: -30px !important;
    height: 80px !important;
  }

  .confrime-attend .frame-left {
    position: absolute;
    bottom: 0 !important;
    height: 100px !important;
    left: -30px !important;
  }

  .avatar-wrapper .frame-left {
    display: none;
  }
}

.confrime-attend {
  background-color: #f2eae2;
  position: relative;
}

.confrime-attendt .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999 !important;
  opacity: 1;
  /* Firefox */
}

/* our story */
@media (max-width: 576px) {
  .our-story .img-mempelai {
    height: auto !important;
    border: 3px solid #f2eae2 !important;
  }
  .our-story .frame {
    width: 50px !important;
    height: 50px !important;
  }

  .our-story .ornament-title {
    width: 91px !important;
    height: 23px !important;
  }
}

.our-story .img-mempelai {
  object-fit: cover;
  width: 100%;
  height: 480px;
  border: 5px solid #f2eae2;
}

.our-story {
  position: relative;
  background-image: url(../img/Truntum-white.png);
  background-color: #a88c72;
  background-position: center;
  background-size: cover;
}

/* guest book */
.guest-book {
  position: relative;
  background-image: url(../img/Truntum-white.png);
  background-color: #a88c72;
  background-position: center;
  background-size: cover;
}

.guest-book .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a88c72;
  opacity: 1;
  /* Firefox */
}

@media (max-width: 576px) {
}

.guest-book .slider::-webkit-scrollbar {
  display: none;
}

/* footer */
@media (max-width: 576px) {
}

.footer .contain-thnks {
  position: relative;
  background-image: url(../img/Truntum-white.png);
  background-color: #a88c72;
  background-position: center;
  background-size: cover;
}

/* e gift */
.e-gift {
  position: relative;
}

@media (max-width: 576px) {
  .e-gift .frame-right {
    position: absolute;
    top: 20px !important;
    height: 100px !important;
  }

  .e-gift .frame-left {
    position: absolute;
    top: -100px !important;
    height: 100px !important;
  }
}

.e-gift .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a88c72;
  opacity: 1;
  /* Firefox */
}

/* apology */
.apology {
  position: relative;
  background-image: url(../img/Truntum-white.png);
  background-color: #a88c72;
  background-position: center;
  background-size: cover;
}

@media (max-width: 576px) {
  .apology .frame-right {
    position: absolute;
    top: 10px !important;
    right: -70px !important;
    height: 100px !important;
  }

  .apology .frame-left {
    position: absolute;
    top: 20px !important;
    height: 100px !important;
    left: -90px !important;
  }
}

@media (max-width: 576px) {
  .live-streaming .frame-right {
    position: absolute;
    top: -50px !important;
    height: auto !important;
    width: 160px !important;
    right: -70px !important;
  }

  .live-streaming .frame-left {
    position: absolute;
    top: -50px !important;
    height: auto !important;
    width: 160px !important;
    left: -70px !important;
  }
}

.live-streaming {
  position: relative;
}

.live-streaming iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.live-streaming .contain-live {
  padding: 20px 10px !important;
  margin: 40px 0px !important;
}

@media (min-width: 768px) {
  .avatar-wrapper .img-gap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

/* avatar wrapper */
@media (max-width: 576px) {
  .avatar-wrapper .img-gap {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 70%;
  }

  .avatar-wrapper .frame-right {
    position: absolute;
    bottom: -10px !important;
  }
}

.avatar-wrapper {
  background-color: #f2eae2;
  position: relative;
}

/* avatar wrapper */
@media (max-width: 576px) {
  .event-venue .img-gap {
    margin: 0.5rem auto !important;
    width: 65% !important;
    height: auto !important;
  }

  .event-venue .frame-right {
    position: absolute;
    bottom: 1020px !important;
    height: 60px !important;
    right: -15px !important;
  }

  .event-venue .frame-left {
    position: absolute;
    top: -100px !important;
    height: 100px !important;
  }

  .event-venue .btn-location {
    width: 100% !important;
  }

  .event-venue .mapouter {
    width: 100% !important;
    height: 350px !important;
  }

  .presence-wrapper {
    position: relative;
    z-index: 2;
  }
}

.event-venue {
  background-color: #f2eae2;
  position: relative;
}

.prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 132px;
  text-align: center;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}

.guest-book .card .card-body {
  overflow: hidden;
}

.guest-book .card .card-body .wishes {
  text-align: left;
  height: 16.2rem;
  overflow: auto;
}

@media (max-width: 576px) {
  .guest-book .card .card-body .wishes {
    height: 18.2rem;
  }
}

.guest-book .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.guest-book .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.guest-book .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.guest-book .card .card-body .wishes .wish h6,
.guest-book .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.credit {
  padding: 1rem 0;
  color: #ffff;
  position: relative;
  text-align: center;
  background-color: #9a8069;
}
