@font-face {
  font-family: "Fogtwono5";
  src: url("../fonts/FogtwoNo5.woff") format("woff");
}

@font-face {
  font-family: "Fogtwono5";
  src: url("../fonts/FogtwoNo5.woff2") format("woff2");
}

:root {
  --color-main: #d4dec7;
  --color-primary: #f0f4f3;
  --color-secondary: #97a685;
  --color-dark: #1e1f1e;
  --vd-color-pink: #da0f7a;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
  gap: 0.75rem;
  padding: 0.75rem 1rem 1.75rem;
  border-radius: 5px;
  z-index: 3;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 1000px;
  width: 78px;
}

@media (max-width: 767px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 65px;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  color: var(--color-dark);
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Fogtwono5", serif;
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

.logo-viding {
  height: 2.5rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-section::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  content: "";
}

.header-section .waves-bottom {
  height: 130px;
}

.header-section .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-section .image-wrapper .background-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-section .header-content {
  position: relative;
  text-align: center;
}

.header-section .header-content .header {
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0 3rem;
  position: relative;
}

.header-section .header-content .header .header-title {
  margin-bottom: 3rem;
  color: #fff;
  position: relative;
  z-index: 2;
}

.header-section .header-content .header .header-title .title {
  color: #fff;
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  overflow: hidden;
  color: #fff;
}

.envelope-wrap .header-content .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.couple-section {
  position: relative;
  padding: 0;
  text-align: center;
}

.couple-section .and {
  margin: 1rem 0;
  font-weight: 600;
}

@media (min-width: 768px) {
  .couple-section .and {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

.couple-section .btn-reminder {
  position: relative;
  gap: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.couple-section .btn-reminder path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.couple-section .couple {
  position: relative;
}

.couple-section .couple h3 {
  color: var(--color-dark);
}

.couple-section .couple .image-wrap {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 1.25rem;
  border-radius: 15px 15px 0 0;
  height: 320px;
  background-color: #fff;
}

@media (min-width: 992px) {
  .couple-section .couple .image-wrap {
    width: 75%;
  }
}

@media (max-width: 991px) {
  .couple-section .couple .image-wrap {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .couple-section .couple .image-wrap {
    width: 80%;
    height: 280px;
  }
}

.couple-section .couple .image-wrap .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.couple-section .couple .couple-parent {
  width: 80%;
  margin: auto;
}

.couple-section .couple .sosmed-wrap {
  position: relative;
  width: 100%;
}

.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--color-dark);
  text-decoration: none;
}

.couple-section .couple .sosmed-wrap .sosmed small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.couple-section .couple .sosmed-wrap .fab {
  font-size: 18px;
}

@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .fab {
    font-size: 16px;
  }
}

.couple-section .reminder-wrap {
  position: relative;
  background-color: var(--color-main);
  padding: 8rem 0 10rem;
  width: 100%;
  margin-top: 3rem;
}

.couple-section .reminder-wrap::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 2;
}

.couple-section .reminder-wrap .couple-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.couple-section .reminder-wrap .waves-bottom {
  height: 130px;
  z-index: 3;
}

.couple-section .reminder-wrap .btn-reminder {
  margin-bottom: -20px;
  z-index: 3;
  position: relative;
}

.story-section {
  position: relative;
  padding: 0 0 3rem 0;
}

.story-section .waves-top,
.story-section .waves-bottom {
  z-index: 3;
}

.story-section .story-description {
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
  padding: 15rem 3rem 3rem;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .story-section .story-description {
    padding: 15rem 2rem 2rem;
  }
}

.story-section .image-story-wrap {
  position: relative;
  height: 100%;
  text-align: center;
  margin-bottom: -15rem;
  z-index: 3;
  border-radius: 15px 15px 0 0;
}

.story-section .image-story-wrap .story-image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -o-object-position: center;
     object-position: center;
  height: 420px;
  width: 100%;
  margin: auto;
  border-radius: 15px 15px 0 0;
}

@media (max-width: 991px) {
  .story-section .image-story-wrap .story-image {
    height: 360px;
  }
}

@media (max-width: 767px) {
  .story-section .image-story-wrap .story-image {
    height: 360px;
    width: 100%;
  }
}

.venue-section {
  position: relative;
  padding: 5rem 0;
}

.venue-section .venue-wrapper {
  position: relative;
}

.venue-section .venue-wrapper .venue-content {
  position: relative;
  text-align: left;
}

.venue-section .venue-wrapper .venue-content .card {
  border-radius: 15px;
  border: none;
}

.venue-section .venue-wrapper .venue-content .card .card-body {
  padding: 3rem 3rem 8rem;
}

@media (max-width: 767px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 2rem 2rem 5rem;
  }
  .venue-section .venue-wrapper .venue-content .card .card-body .row {
    gap: 1.25rem;
  }
}

.venue-section .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.venue-section .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 132px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .venue-section .row-venue {
    gap: 5rem;
  }
}

.venue-section .event-name {
  position: relative;
}

.venue-section .event-name .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  text-align: left;
}

.venue-section .event-name .date h5 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 38px;
}

.venue-section .event-name .date p {
  margin-top: 0.2rem;
  font-size: 12px;
}

.venue-section .event-name p {
  margin-bottom: 0;
}

.venue-section .event-place .btn-custom {
  background-color: transparent;
  border-color: var(--color-dark);
  color: var(--color-dark);
  -webkit-transition: all 0.25 ease-in-out;
  transition: all 0.25 ease-in-out;
}

.venue-section .event-place .btn-custom:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.venue-section .maps-embed {
  height: 100%;
  width: 100%;
  position: relative;
}

.rsvp-section {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--color-primary);
}

@media (max-width: 767px) {
  .rsvp-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rsvp-section .image-wrap {
    width: 100%;
    height: 320px;
  }
}

.rsvp-section .rsvp-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.rsvp-section .rsvp-wrap {
  padding: 3rem 2rem;
}

.wishes-section {
  position: relative;
  padding: 8rem 0;
}

@media (max-width: 767px) {
  .wishes-section {
    padding: 5rem 0 8rem;
  }
  .wishes-section .row {
    gap: 1.25rem;
  }
}

.wishes-section .card-form {
  border-radius: 15px 15px 0 0;
}

.wishes-section .card-form .card-body {
  padding: 3rem 2rem 7rem;
}

@media (max-width: 767px) {
  .wishes-section .card-form .card-body {
    padding-bottom: 5rem;
  }
}

.wishes-section .splide .splide__track {
  overflow: visible;
}

.wishes-section .splide__pagination {
  bottom: -1.2rem;
}

.wishes-section .splide__pagination .splide__pagination__page {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.wishes-section .splide__pagination .splide__pagination__page.is-active {
  background-color: var(--color-primary);
}

.wishes-section .card {
  border: none;
  position: relative;
  z-index: 2;
  background-color: var(--color-primary);
  margin-bottom: 0.75rem;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 240px;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: 700;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.wishes-section .card .card-body .wishes .wish div {
  height: 100%;
  overflow: hidden;
}

.wishes-section .card .card-body .wishes .wish div p {
  overflow: auto;
  height: 100%;
}

.wishes-section .card .card-body .wishes .wish div p::-webkit-scrollbar {
  display: none;
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.egift-section .tabs-gift {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(138, 138, 138, 0.25);
  padding: 0.25rem;
  border-radius: 5px;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}

.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}

.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-dark);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.egift-section .tabs-gift .btn-custom.active {
  color: #fff;
}

.egift-section .tabs-gift .btn-custom.active path {
  fill: #fff;
}

.egift-section .tabs-gift .btn-custom.active#angpao ~ .glider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: tab 0.2s ease-in-out;
          animation: tab 0.2s ease-in-out;
}

.egift-section .tabs-gift .btn-custom.active#gift ~ .glider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: tab 0.2s ease-in-out;
          animation: tab 0.2s ease-in-out;
}

.egift-section .tabs-gift .btn-custom:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.egift-section .tabs-gift .btn-custom.active[data-tab="#angpao"] ~ .glider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.egift-section .tabs-gift .btn-custom.active[data-tab="#gift"] ~ .glider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-left: 0.5rem;
}

@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom.active[data-tab="#gift"] ~ .glider {
    margin-left: 0.25rem;
  }
}

.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  background-color: var(--color-secondary);
  width: 140px;
  bottom: 0.25rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .egift-section .tabs-gift .glider {
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
  }
}

.egift-section .card .card-body {
  padding: 3rem;
}

@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}

@media (max-width: 325px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}

.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-dark);
}

@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.egift-section #gift,
.egift-section #angpao {
  display: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.egift-section #gift.show,
.egift-section #angpao.show {
  display: block;
  opacity: 1;
}

@-webkit-keyframes tab {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes tab {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
}

.gallery-section .img-gallery {
  height: 386px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .gallery-section .img-gallery {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 276px;
  }
}

@media (max-width: 575px) {
  .gallery-section .img-gallery {
    height: 210px;
  }
}

.gallery-section .gallery {
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .gallery-section .gallery {
    width: 90%;
    margin: auto;
  }
}

.gallery-section .gallery .overlay-left,
.gallery-section .gallery .overlay-right {
  width: 150px;
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: 5;
}

@media (max-width: 575px) {
  .gallery-section .gallery .overlay-left,
  .gallery-section .gallery .overlay-right {
    width: 100px;
  }
}

.gallery-section .splide {
  margin-bottom: 0;
}

.gallery-section .splide .splide__track {
  overflow: visible;
  position: relative;
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: var(--color-secondary);
  width: 45px;
  height: 45px;
  z-index: 10;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 30px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.gallery-section .splide .splide__arrow--prev {
  left: -22.5px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow--prev {
    left: -15px;
  }
}

.gallery-section .splide .splide__arrow--next {
  right: -22.5px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow--next {
    right: -15px;
  }
}

.apology-section {
  position: relative;
  padding: 5rem 0;
  margin: 3rem 0 1rem;
}

@media (max-width: 767px) {
  .apology-section {
    padding: 3rem 0;
  }
}

.apology-section .appology-wrap {
  position: relative;
  padding: 3rem 3rem 8rem;
  background-color: var(--color-primary);
  border-radius: 15px 15px 0 0;
}

@media (max-width: 767px) {
  .apology-section .appology-wrap {
    padding: 2rem 2rem 5rem;
  }
}

.stream-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
}

.stream-section .stream-wrapper {
  position: relative;
  background-color: var(--color-primary);
  padding: 2rem 2rem 6rem;
  border-radius: 15px 15px 0 0;
}

@media (max-width: 767px) {
  .stream-section .stream-wrapper h4 {
    text-align: center;
  }
}

.stream-section ul ol {
  padding: 0;
}

.stream-section .card {
  background-color: transparent;
  height: 100%;
  color: var(--color-dark);
  border: none;
}

.stream-section .btn-custom {
  width: 50%;
}

@media (max-width: 991px) {
  .stream-section .btn-custom {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .stream-section .btn-custom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}

.stream-section .yt-description {
  width: 100%;
}

@media (max-width: 767px) {
  .stream-section .yt-description {
    text-align: center;
  }
}

.thank-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  color: #ffff;
}

.thank-section::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}

.thank-section .thank-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.thank-section .thank {
  position: relative;
  text-align: center;
  padding: 5rem 2rem;
}

@media (max-width: 767px) {
  .thank-section .thank {
    border-width: 2px;
    padding: 2rem 0.75rem;
  }
}

.footer {
  padding: 1rem 0;
  color: #ffff;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
}

.footer small {
  position: relative;
}

body {
  background-color: var(--color-main);
  font-family: "Numans", sans-serif;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: "Fogtwono5", serif;
}

h1 {
  font-size: 52px;
}

@media (max-width: 575px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin-bottom: 0;
  font-weight: 500;
}

small {
  font-size: 12px;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}

.moveable_section_wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.btn-custom:hover path {
  fill: var(--color-dark);
}

.font-primary {
  font-family: "Numans", sans-serif;
}

.font-secondary {
  font-family: "Fogtwono5", serif;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.form-control,
.form-select {
  font-family: "Numans", sans-serif;
  border-color: var(--color-dark);
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-dark);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}

.form-control:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--color-dark);
}

.scrolled {
  background: #fff !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}

.parallax-wrapper {
  overflow: hidden;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 0;
  z-index: 9999;
}

.title-section {
  position: relative;
  min-width: 268px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 1.25rem;
}

.title-section .deco-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.waves-bottom {
  position: absolute;
  width: 100.5%;
  left: 0;
  bottom: -2px;
}

.waves-bottom.reverse {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 767px) {
  .waves-bottom {
    height: auto !important;
  }
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.waves-pink-bottom {
  bottom: -50px;
}

@media (max-width: 991px) {
  .waves-pink-bottom {
    bottom: -30px;
  }
}

@media (max-width: 767px) {
  .waves-pink-bottom {
    bottom: -15px;
  }
}

.waves-white-top,
.waves-pink-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.waves-pink-top {
  top: -50px;
}

@media (max-width: 991px) {
  .waves-pink-top {
    top: -30px;
  }
}

@media (max-width: 767px) {
  .waves-pink-top {
    top: -15px;
  }
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */