:root {
  --color-main: #fff9ee;
  --color-primary: #e4c383;
  --color-secondary: #3d2c03;
  --color-dark: #1e1f1e;
  --vd-color-pink: #ff3190;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin: 1rem auto;
  gap: 1.25rem;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px;
  position: relative;
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  color: #fff;
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Lora", serif;
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 5rem 0 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.header-section::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  content: "";
}

.header-section .btn-reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header-section .bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-section .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}

.header-section .header-content .header {
  text-align: center;
}

.header-section .header-content .header .header-image-wrap {
  width: 368px;
  height: 368px;
  border-radius: 1000px;
  position: relative;
}

@media (max-width: 767px) {
  .header-section .header-content .header .header-image-wrap {
    width: 95%;
  }
}

.header-section .header-content .header .header-image-wrap::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 1000px;
  background: radial-gradient(circle, transparent 0%, transparent 50%, var(--color-main) 70%, var(--color-main) 100%);
}

.header-section .header-content .header .header-image-wrap .header-image {
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  background-color: var(--color-primary);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.envelope-wrap .logo-viding {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.envelope-wrap .header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.envelope-wrap .header-content .arrow-yellow {
  bottom: -33px;
}

.couple-section {
  position: relative;
  padding: 5rem 0;
}

.couple-section .and {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);
  padding: 0.75rem;
  background-color: var(--color-primary);
  z-index: 3;
}

.couple-section .and h3 {
  margin-bottom: 0;
}

.couple-section .couple-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.couple-section .couple {
  position: relative;
  height: 480px;
}

.couple-section .couple.man {
  text-align: left;
}

.couple-section .couple.man .sosmed {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.couple-section .couple.man .couple-details {
  padding-left: 1.5rem;
  left: 2.5rem;
}

.couple-section .couple.women {
  text-align: right;
  margin-top: 8rem;
}

.couple-section .couple.women .sosmed {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.couple-section .couple.women .couple-details {
  padding-right: 1.5rem;
  right: 2.5rem;
}

.couple-section .couple .couple-details {
  position: absolute;
  color: #fff;
  bottom: 1.5rem;
}

.couple-section .couple .image-wrap {
  width: 100%;
  margin: auto;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.couple-section .couple .image-wrap .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 991px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 480px;
  }
}

@media (max-width: 575px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 380px;
  }
}

.couple-section .couple .couple-parent {
  width: 60%;
}

.couple-section .couple .sosmed-wrap {
  margin: 1rem 0 0.5rem;
}

.couple-section .couple .sosmed-wrap .sosmed {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.couple-section .couple .sosmed-wrap .sosmed .fab {
  font-size: 22px;
}

@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .sosmed .fab {
    font-size: 18px;
  }
}

.story-section {
  position: relative;
  margin: 3rem 0;
  background-color: var(--color-primary);
}

.story-section .story-description {
  position: relative;
  margin: auto 0;
}

.story-section .image-story-wrap {
  position: relative;
  height: 100%;
}

.story-section .image-story-wrap .story-image {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -o-object-position: center;
     object-position: center;
  height: 480px;
  margin: auto;
  height: 100%;
}

@media (max-width: 991px) {
  .story-section .image-story-wrap .story-image {
    height: 360px;
  }
}

@media (max-width: 767px) {
  .story-section .image-story-wrap .story-image {
    height: 360px;
    width: 100%;
  }
}

.venue-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.venue-section .venue-wrapper {
  position: relative;
}

.venue-section .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.venue-section .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 132px;
}

@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .venue-section .row-venue {
    gap: 5rem;
  }
}

.venue-section .card {
  border: none;
  background-color: transparent;
}

.venue-section .card.rsvp {
  background-color: #fff;
}

.venue-section .maps-embed {
  height: 268px;
  position: relative;
}

.venue-section .venue-wrap {
  background-color: var(--color-primary);
  padding: 3rem 0;
}

.venue-section .btn-location {
  border: 1px solid var(--color-secondary);
}

.rsvp-section {
  text-align: center;
  position: relative;
}

.rsvp-section .form-control,
.rsvp-section .form-select {
  margin-bottom: 1rem;
}

.wishes-section {
  position: relative;
  padding: 3rem 0;
  background-color: #f7f8f6;
}

@media (max-width: 767px) {
  .wishes-section .row {
    gap: 1.25rem;
  }
}

.wishes-section .preview-wishes {
  position: relative;
  padding-top: 3rem 0;
  margin-top: 3rem;
}

.wishes-section .preview-wishes .bg-wishes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wishes-section .card {
  border: none;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 24.5rem;
  overflow: auto;
  color: #fff;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 4rem 0 3rem 0;
}

.egift-section .deco-stalk-right {
  position: absolute;
  right: 0;
  top: -80px;
  width: 128px;
}

.egift-section .deco-leaf-left {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 154px;
}

.egift-section .title-section {
  position: relative;
}

.egift-section .card .card-body {
  padding: 3rem;
}

@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}

@media (max-width: 325px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}

.egift-section form .form-control {
  border-color: var(--color-secondary);
}

.egift-section form .form-control::-webkit-input-placeholder {
  color: var(--color-dark);
}

.egift-section form .form-control:-ms-input-placeholder {
  color: var(--color-dark);
}

.egift-section form .form-control::-ms-input-placeholder {
  color: var(--color-dark);
}

.egift-section form .form-control::placeholder {
  color: var(--color-dark);
}

.egift-section form .form-control:focus {
  color: var(--color-dark);
}

.egift-section form .input-group-text {
  color: #fff;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
}

.gallery-section .deco-flower-left {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 138px;
}

.gallery-section .img-gallery {
  height: 420px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 340px;
  }
}

.gallery-section .img-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  border: none;
}

.gallery-section .gallery {
  position: relative;
  width: 100%;
}

.gallery-section .splide {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.gallery-section .splide .splide__slide.is-active .img-thumbnail {
  border: 5px solid var(--color-secondary);
}

.gallery-section .splide .splide__track {
  position: relative;
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: var(--color-primary);
  width: 45px;
  height: 45px;
  z-index: 10;
  border-radius: 1000px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 30px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.apology-section {
  position: relative;
  padding: 3rem 0;
  background-color: var(--color-primary);
}

.stream-section {
  position: relative;
  padding: 3rem 0;
}

.stream-section .deco-leaf-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 154px;
}

.stream-section .stream-wrapper {
  position: relative;
}

.stream-section h4 {
  font-family: "Lora", serif;
}

.stream-section ul ol {
  padding: 0;
}

.stream-section .card {
  background-color: var(--color-primary);
  height: 100%;
  color: var(--color-dark);
  border: none;
}

.stream-section .card .card-body {
  color: #fff;
}

@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}

.stream-section .btn-custom {
  width: 50%;
}

@media (max-width: 767px) {
  .stream-section .btn-custom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.stream-section .yt-description {
  padding: 2rem 0;
  width: 100%;
}

@media (max-width: 767px) {
  .stream-section .yt-description {
    padding: 3rem 1rem;
  }
}

@media (max-width: 575px) {
  .stream-section .yt-description {
    text-align: left;
  }
}

.thank-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  background-color: var(--color-primary);
  color: #ffff;
}

.thank-section .bg-thank {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thank-section .thank {
  position: relative;
  text-align: center;
  padding: 5rem 2rem;
}

@media (max-width: 767px) {
  .thank-section .thank {
    border-width: 2px;
    padding: 2rem 0.75rem;
  }
}

.footer {
  padding: 1rem 0;
  color: #ffff;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
}

body {
  background-color: var(--color-main);
  font-family: "Work Sans", sans-serif;
  color: var(--color-dark);
}

h1,
h3,
h2 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 52px;
}

@media (max-width: 575px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-secondary);
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
}

.moveable-section-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.font-primary {
  font-family: "Work Sans", sans-serif;
}

.font-secondary {
  font-family: "Lora", serif;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.form-control,
.form-select {
  font-family: "Work Sans", sans-serif;
  border-color: var(--color-primary);
  padding: 0.5rem 1rem;
  background-color: var(--color-main);
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-dark);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}

.form-control:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--color-primary);
}

.scrolled {
  background: #fff !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.title-section {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 1.25rem;
}

.title-section .deco-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.title-section h2 {
  letter-spacing: 0.25rem;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */