.couple-section {
	position: relative;

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0 0;

		@include max-md {
			padding: 3rem 0 0;
		}
	}

	.couple-body {
		position: relative;
	}

	.couple-content {
		position: relative;
		text-align: left;
		margin-bottom: 3rem;

		@include max-sm {
			text-align: center;
		}

		.title-section {
			@include min-md {
				text-align: left;
			}
		}
	}

	.couple {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: stretch;

		@include max-sm {
			flex-direction: column;
		}

		.image-wrap {
			position: relative;
			width: 50%;

			@include max-sm {
				width: 100%;
			}

			.image-element {
				@include aspect-ratio(1, 1);

				@include max-lg {
					@include aspect-ratio(5, 6);
				}

				.couple-image {
					object-fit: cover;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: left;
			width: 50%;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary);
				opacity: .1;
				content: "";
			}

			@include max-sm {
				width: 100%;
			}

			.name-couple {
				position: relative;
				height: 50%;
				padding: 3rem 6rem;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				@include max-lg {
					padding: 2rem;
				}

				@include max-sm {
					padding: 3rem 2rem;
				}

				h3 {
					margin-bottom: 0;
				}
			}

			.detail-couple {
				position: relative;
				--color-button-trans: #fff;
				height: 50%;
				background-color: var(--color-primary);
				color: var(--color-light);
				padding: 3rem 6rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				@include max-lg {
					padding: 2rem;
				}
			}
		}

		.couple-parent {
			position: relative;
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background-color: transparent;
			padding: 0.5rem 1rem;
			border-radius: 50px;
			margin-right: auto;
			margin-top: 1rem;
			border: 1px solid var(--color-button-trans);

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					font-size: 14px;
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;
			}
		}
	}
}