.apology-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);

	@include ipad {
		padding: 5rem 0;
	}

	.appology-wrap {
		position: relative;
		padding: 8rem 1rem 3rem;

		@include ipad {
			padding: 8rem 2rem 3rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-main);
			opacity: .4;
			border-radius: 300px 300px 20px 20px;
			content: "";
		}
	}
}