.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	background-color: var(--color-main);
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		transform: translateY(-100%);
	}

	.ornaments-wrapper {
		@include max-lg {
			height: calc(100% - 3rem);
		}
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				object-position: 50% 75%;
			}
		}
	}

	.frame {
		width: 110%;
	}

	.orn-1 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 10%;
		transform: translate(-20%, 0);

		@include max-lg {
			width: 23%;
		}

		.orn-2 {
			position: absolute;
			top: 40%;
			right: 0;
			width: 120%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 20%;
		right: 0;
		width: 12%;
		transform: translate(30%, 0)scaleX(-1);

		@include max-lg {
			width: 28%;
		}
	}

	.orn-4 {
		position: absolute;
		left: 0;
		bottom: 1rem;
		width: 10%;
		transform: translate(-30%, 0);

		@include max-lg {
			width: 23%;
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 3.5rem;
		width: 10%;
		transform: translate(0, 45%);

		@include max-lg {
			width: 23%;
			left: 2rem;
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 12%;
		transform: translate(30%, 15%) scaleX(-1);

		@include max-lg {
			width: 28%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 4rem;
		width: 10%;
		transform: translate(0, 40%);

		@include max-lg {
			width: 23%;
			right: 2rem;
		}
	}

	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 10%;
		transform: translate(45%, 0%) scaleX(-1);

		@include max-lg {
			width: 23%;
		}
	}

	.cover-wrapper {
		position: relative;
		padding: 5rem 0 3rem;
		transition: opacity 1s ease;
		height: 100vh;

		@include max-lg {
			padding: 4rem 0 10rem;
		}

		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.cover-body {
				position: relative;
				width: 35%;

				@include max-xl {
					width: 40%;
				}

				@include max-lg {
					width: 60%;
				}

				@include max-sm {
					width: 100%;
				}

				.cover-description {
					position: relative;
					padding: 1rem;
					text-align: center;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
			}
		}
	}
}