.egift-section {
	position: relative;
	text-align: center;

	.gate {
		position: absolute;
		top: 0;
		left: 50%;
		width: 180%;
		transform: translate(-50.5%, 0);
		opacity: .1;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		transform: translate(-50%, 0);

		.orn-2 {
			position: absolute;
			top: 30%;
			right: 0;
			width: 80%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		transform: translate(60%, 0) rotate(-20deg) scaleX(-1);

		.orn-4 {
			position: absolute;
			top: 40%;
			right: 0%;
			width: 60%;
		}
	}

	.image-wrapper {
		position: relative;

		.image-element {
			@include aspect-ratio(1, 1);

			@include ipad {
				@include aspect-ratio(16, 9);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.gift-wrap {
		position: relative;
		padding: 3rem 0 0;
		margin-bottom: 2rem;

		@include ipad {
			padding: 5rem 0 0;
		}
	}

	.tabs-gift {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: fit-content;
		padding: 0.25rem;
		border-radius: var(--border-radius);
		gap: 0.5rem;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-secondary);
			opacity: 0.25;
			content: "";
			border-radius: 50px;
		}

		@include max-md {
			padding: 0.25rem;
		}

		.btn-custom {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			min-width: 140px;
			text-align: center;
			background-color: transparent;
			color: var(--color-button-trans);
			z-index: 2;

			@include max-md {
				min-width: 120px;

				svg {
					width: 25px;
					height: 25px;
				}
			}

			path {
				fill: var(--color-button-trans);
				transition: all 0.2s ease;
			}

			&.active {
				color: var(--text-button);

				path {
					fill: var(--text-button);
				}
			}

			&:focus {
				box-shadow: none;
			}
		}

		.glider {
			position: absolute;
			left: 0;
			top: 0;
			background: var(--color-secondary);
			width: 100%;
			height: 100%;
			border-radius: 50px;
			z-index: -1;
		}
	}

	.card {
		.card-body {
			padding: 3rem;

			@include max-md {
				padding: 3rem 1.25rem;
			}

			@include max-xs {
				padding: 3rem 0.75rem;
			}
		}
	}

	form {
		.input-group-text {
			background-color: var(--color-secondary);
			border-color: var(--color-secondary);
			color: var(--text-button);
			border-radius: 8px;
		}

		@include max-md {
			.row {
				gap: 1rem;
			}
		}
	}

	.gift,
	.angpao {
		display: none;
		transition: all 0.5s ease-in;
		opacity: 0;

		&.show {
			display: block;
			opacity: 1;
		}
	}

	.gift-content {
		position: relative;
		padding: 0 0 3rem;

		@include ipad {
			padding: 0 0 5rem;
		}
	}
}