.gallery-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 3rem 0;
	}

	.gallery-default {
		a {
			display: block;
			width: 100%;
			@include aspect-ratio(3, 4);

			.img-gallery {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}


		.splide {
			padding-bottom: 1rem;

			.splide__track {
				overflow: visible;
			}

			.splide__pagination {
				bottom: -0.5rem;

				&__page {
					&.is-active {
						background: var(--color-secondary);
					}
				}
			}

			.splide__arrow {
				border-radius: 0;
				width: 50px;
				height: 50px;
				background-color: var(--color-secondary);
				transform: translate(0, -55%);
				border-radius: 50px;

				@include ipad {
					width: 60px;
					height: 60px;
					transform: translate(0, -60%);
				}

				@include max-sm {
					transform: translate(0, -65%);
				}

				svg {
					fill: var(--text-button);
					width: 25px;
					height: 30px;

					@include ipad {
						width: 30px;
						height: 35px;
					}
				}

				&--prev {
					left: 0;
				}

				&--next {
					right: 0;
				}
			}
		}
	}

}