.header-section {
	position: relative;

	.scroll-icon {
		margin-bottom: 1rem;
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				object-position: 50% 75%;
			}
		}
	}

	.frame-background {
		position: absolute;
		top: 0;
		left: 50%;
		width: 105%;
		transform: translate(-50%, 0);

		@include max-sm {
			width: 115%;
		}
	}

	.frame {
		width: 110%;
	}

	.gate {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 50%;
		transform: translate(-49%, 35%);

		@media (min-height: 810px) {
			transform: translate(-49%, 22%);
		}

		&-left {
			left: 0;
		}

		&-right {
			left: unset;
			right: 0;
			transform: translate(50%, 35%);

			@media (min-height: 810px) {
				transform: translate(50%, 22%);
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 23%;
		transform: translate(-20%, 0);

		.orn-2 {
			position: absolute;
			top: 40%;
			right: 0;
			width: 120%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 20%;
		right: 0;
		width: 28%;
		transform: translate(30%, 0)scaleX(-1);
	}

	.orn-4 {
		position: absolute;
		left: 0;
		bottom: 1rem;
		width: 23%;
		transform: translate(-35%, 0);
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 3rem;
		width: 23%;
		transform: translate(0, 50%);

		@include max-sm {
			left: 1rem;
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 28%;
		transform: translate(30%, 15%) scaleX(-1);
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 4rem;
		width: 23%;
		transform: translate(0, 35%);

		@include max-sm {
			right: 2rem;
		}
	}

	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 23%;
		transform: translate(45%, 0%) scaleX(-1);
	}

	.orn-9 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 28%;
		transform: translate(-50%, 60%);
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 4rem 2rem 5rem;
		min-height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		.header {
			position: relative;
			width: 100%;
			height: 100%;

			.header-title {
				position: relative;

				.image-wrapper {
					position: relative;
					margin: 2rem auto;
					width: 50%;

					@include max-sm {
						width: 75%;
					}

					.background-element {
						@include aspect-ratio(3, 4);

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}