.reminder-wrap {
	position: relative;
	width: 100%;
	padding: 5rem 0 3rem;

	@include ipad {
		padding: 8rem 0 3rem;
	}

	.gate {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 110%;
		transform: translate(-50.5%, 0);
		opacity: .1;
	}

	.frame {
		top: 0;
		width: 190%;
		transform: translate(-50%, -7%);

		@include max-sm {
			width: 170%;
		}
	}

	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin: 2rem auto 0;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}