.rsvp-section {
	position: relative;

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(1, 1);

			@include ipad {
				@include aspect-ratio(16, 9);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 3rem 2rem;

		@include ipad {
			padding: 5rem 2rem;
		}
	}
}