.story-section {
	position: relative;

	.story-description {
		position: relative;
		text-align: left;
		padding: 10rem 0 3rem;

		@include ipad {
			padding: 10rem 0 5rem;
		}

		@include max-sm {
			padding: 8rem 0 2rem;
		}

		.title-section {
			text-align: left;
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(1, 1);

			@include ipad {
				@include aspect-ratio(16, 9);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}