.stream-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 2rem;
		left: 0;
		width: 30%;
		transform: translate(-50%, 0);
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		transform: translate(60%, 0) rotate(-20deg) scaleX(-1);

		.orn-3 {
			position: absolute;
			top: 60%;
			right: -25%;
			width: 80%;
		}
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				padding: 2rem 1rem;
				text-align: center;
				color: var(--color-dark);

				@include ipad {
					padding: 3rem 2rem;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: calc(100% + 3rem);
					background-color: var(--color-primary);
					border-radius: var(--border-radius);
					opacity: 0.6;
					content: "";

					@include ipad {
						width: 100%;
					}
				}

				&.no-frame {
					&::before {
						height: 100%;
					}
				}
			}
		}
	}

	ul {
		text-align: center;
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}

	iframe {
		border-radius: var(--border-radius);
	}
}