.stream-section {
	position: relative;
	padding: 2rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.title-section {
		text-align: left;
		padding: 0 1.8rem;
		@include ipad {
			padding: 0;
		}
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				padding: 3rem 2rem 3rem 1.8rem;
				text-align: left;
				color: var(--color-light);

				@include ipad {
					padding: 2rem 1rem;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: calc(100% - 1.8rem);
					height: 100%;
					background-color: var(--color-primary);
					opacity: 0.6;
					content: "";
					@include ipad {
						width: 100%;
					}
				}
			}
		}
	}

	ul {
		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}
