.thank-section {
	position: relative;
	padding: 3rem 0;
	text-align: center;

	@include ipad {
		padding: 5rem 0;
	}

	.image-wrapper {
		position: relative;
		width: 70%;
		margin: 0 auto 2rem;

		.image-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.thank {
		position: relative;

		&-body {
			padding: 1rem 1rem 10rem;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	z-index: 5;

	small {
		position: relative;
	}
}