$color-main: #ECE4C4;
$color-primary: #FAF3D9;
$color-secondary: #746354;
$color-dark: #1e1f1e;
$color-light: #ffffff;
$text-button: #ffffff;
$color-button-trans: #1e1f1e;
$color-logo: #e9088a;
$font-secondary: "Marla Griselda Demo", cursive;
$font-primary: "Nunito Sans", sans-serif;
$border-radius: 20px;

$breakpoints-min: (
	xs: 325px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 2560px,
);

$breakpoints-max: (
	xs: 325px,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px,
	xxl: 1399px,
);