.venue-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);
	color: var(--color-dark);

	@include ipad {
		padding: 5rem 0;
	}

	.ornaments-wrapper {
		&.radius-circle {
			border-radius: 300px 300px 0 0;
			overflow: hidden;
		}

		.bingkai {
			position: absolute;
			top: 8rem;
			width: 14%;

			&-left {
				left: 0;
				transform: translateX(-50%);
			}

			&-right {
				right: 0;
				transform: translateX(50%) scaleX(-1);
			}
		}

		.gate {
			position: absolute;
			top: 0;
			left: 50%;
			width: 160%;
			transform: translate(-50%, 0);
			opacity: .1;
		}

		.orn-1 {
			position: absolute;
			top: 3rem;
			left: 0;
			width: 25%;
			transform: translate(-30%, 0);

			.orn-2 {
				position: absolute;
				top: 60%;
				right: 20%;
				width: 80%;
			}
		}

		.orn-3 {
			position: absolute;
			top: 3rem;
			right: 0;
			width: 30%;
			transform: translate(50%, 0) rotate(-20deg) scaleX(-1);

			.orn-4 {
				position: absolute;
				top: 65%;
				right: 0;
				width: 60%;

				.orn-5 {
					position: absolute;
					top: 50%;
					right: -30%;
					width: 100%;

					.orn-6 {
						position: absolute;
						top: 50%;
						right: -60%;
						width: 100%;
					}
				}
			}
		}

		.orn-7 {
			position: absolute;
			bottom: 5rem;
			left: 0;
			width: 25%;
			transform: translate(-45%, 0);
		}

		.orn-8 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20%;
			transform: translate(-40%, 10%);
		}

		.orn-9 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25%;
			transform: translate(-35%, 45%) rotate(45deg);
		}

		.orn-10 {
			position: absolute;
			bottom: 0;
			left: 10%;
			width: 25%;
			transform: translate(0, 50%);

			.orn-11 {
				position: absolute;
				bottom: -20%;
				left: 55%;
				width: 90%;
				transform: rotate(60deg);
			}
		}

		.orn-12 {
			position: absolute;
			bottom: 2.5rem;
			right: 0;
			width: 30%;
			transform: translate(65%, 0) rotate(-45deg) scaleX(-1);
		}

		.orn-13 {
			position: absolute;
			bottom: 1rem;
			right: 0;
			width: 20%;
			transform: translate(35%, 0);
		}

		.orn-14 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 20%;
			transform: translate(0%, 50%) rotate(-80deg) scaleX(-1);

			.orn-15 {
				position: absolute;
				bottom: 25%;
				right: -8%;
				width: 110%;
				transform: rotate(-10deg);

				.orn-16 {
					position: absolute;
					bottom: 55%;
					left: 30%;
					width: 120%;
					transform: rotate(-10deg);
				}
			}
		}
	}


	.venue-wrapper {
		position: relative;

		.venue-description {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-main);
				color: var(--color-dark);
				border: none;
				border-radius: 300px 300px 0 0;
				text-align: center;

				.card-body {
					padding: 8rem 2.5rem 3rem;

					@include min-xl {
						padding: 8rem 3.5rem 3rem;
					}

					.event-name {
						position: relative;
						width: 100%;
						padding: 2rem 0 1rem;

						h4 {
							margin-bottom: 3rem;
							font-size: 32px;
						}

						.date {
							position: relative;
							width: fit-content;
							max-width: 100%;
							margin: 0 auto;
							text-align: left;

							&>p {
								font-size: 18px;
							}

							&-body {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 1rem;
								margin-top: .25rem;

								h5 {
									margin-bottom: 0;
									font-size: 48px;
								}

								.line {
									width: 1.5px;
									height: 48px;
									background-color: var(--color-button-trans);
								}

								p {
									font-size: 16px;
									margin-bottom: 0;
									padding: .15rem 0;
								}
							}

						}

						h4 {
							font-family: $font-secondary;
							font-size: 36px;
						}

						p,
						span {
							margin-bottom: 0;
							font-size: 16px;
							font-weight: 600;
						}
					}

					.event-description {
						position: relative;
						padding: 2rem 0;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;
						margin-top: 1rem;

						&-body {
							position: relative;
						}

						.widget-elements {
							margin-top: 1rem;
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 4rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}