.venue-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);
	color: var(--color-dark);

	@include ipad {
		padding: 5rem 0;
	}

	.ornaments-wrapper {
		&.radius-circle {
			border-radius: 300px 300px 0 0;
			overflow: hidden;
		}

		.gate {
			position: absolute;
			top: 0;
			left: 50%;
			width: 160%;
			transform: translate(-50%, 0);
			opacity: .1;
		}
	}


	.venue-wrapper {
		position: relative;

		.venue-description {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-main);
				color: var(--color-dark);
				border: none;
				border-radius: 300px 300px 0 0;
				text-align: center;

				.card-body {
					padding: 8rem 2rem 3rem;

					.event-name {
						position: relative;
						width: 100%;
						padding: 2rem 0 1rem;

						h4 {
							margin-bottom: 3rem;
							font-size: 32px;
						}

						.date {
							position: relative;
							width: fit-content;
							max-width: 100%;
							margin: 0 auto;
							text-align: left;

							&>p {
								font-size: 16px;
							}

							&-body {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 1rem;
								margin-top: .25rem;

								h5 {
									font-family: $font-secondary;
									margin-bottom: 0;
									font-size: 48px;
								}

								.line {
									width: 1.5px;
									height: 48px;
									background-color: var(--color-button-trans);
								}

								p {
									font-size: 14px;
									margin-bottom: 0;
									padding: .15rem 0;
								}
							}

						}

						h4 {
							font-family: $font-secondary;
						}

						p {
							margin-bottom: 0;
							font-weight: 600;
						}
					}

					.event-description {
						position: relative;
						padding: 2rem 0;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;
						margin-top: 1rem;

						&-body {
							position: relative;
						}

						.widget-elements {
							margin-top: 1rem;
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;

		&-sm {
			@include max-md {
				row-gap: 3rem;
			}
		}
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}