.couple-section {
	position: relative;
	text-align: center;

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0 0;
		background-color: var(--color-primary);
		color: var(--color-light);

		@include max-md {
			padding: 3rem 0 0;
		}
	}

	.couple-body {
		position: relative;
		background-color: var(--color-main);
		padding: 5rem 0;

		@include max-sm {
			padding: 3rem 0;
		}
	}

	.couple-content {
		position: relative;
		padding: 3rem 2rem;
		margin-bottom: 3rem;
		text-align: left;

		@include max-sm {
			padding: 2rem 1rem;
		}

		.title-section {
			text-align: left;
		}
	}

	.couple {
		--color-button-trans: #fff;
		position: relative;
		background-color: var(--color-primary);
		padding: 2rem;
		text-align: center;
		border-radius: 300px 300px 10px 10px;

		.image-wrap {
			position: relative;
			width: 100%;
			padding: 1rem;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid var(--color-button-trans);
				border-radius: 300px;
				content: ""
			}

			.image-element {
				@include aspect-ratio(3, 4);

				.couple-image {
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 2rem 1rem;

			h3 {
				font-size: 38px;
			}
		}

		.couple-parent {
			width: 100%;

			p {
				margin-bottom: 0;
			}
		}

		.sosmed-wrap {
			position: absolute;
			top: -.5rem;
			left: 50%;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			transform: translate(-50%, -50%);

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}