.rsvp-section {
	position: relative;

	.rsvp-wrapper {
		position: relative;
		padding: 5rem 3rem;
		border-radius: 300px;

		@include max-md {
			padding: 5rem 2rem;
		}

		.rsvp-form {
			position: relative;
			padding: 2rem 1rem 0;
		}

		.image-wrapper {
			position: relative;
			width: 100%;

			.image-element {
				@include aspect-ratio(5, 6);

				img {
					object-fit: cover;
				}
			}
		}
	}
}