:root {
  --color-main: #F2F6F7;
  --color-primary: #ffffff;
  --color-secondary: #CFE0E2;
  --text-button: #1e1f1e;
}

h1,
h2,
h3 {
  font-family: "Derivia", cursive;
}

h1 {
  font-size: 48px;
}
@media (max-width: 575px) {
  h1 {
    font-size: 42px;
  }
}
h1 span {
  font-size: 28px;
}
@media (max-width: 767px) {
  h1 span {
    font-size: 24px;
  }
}

.form-control,
.form-select {
  border: 1px solid var(--color-dark);
  box-shadow: none;
}

.title-section::before {
  width: 56px;
  height: 46px;
}

.couple-section {
  padding: 0 !important;
}
.couple-section .orn-2 {
  bottom: 20%;
}
.couple-section .couple-wrapper {
  background-color: var(--color-custom-main);
  padding: 5rem 0;
}
@media (max-width: 575px) {
  .couple-section .couple-wrapper {
    padding: 3rem 0;
  }
}
.couple-section .couple-wrapper .and {
  margin: 0 auto;
  padding: 1.5rem 0 1rem;
  color: inherit;
}
.couple-section .couple-wrapper .and span {
  font-size: 32px;
}
.couple-section .couple-wrapper .couple-content {
  margin-bottom: 0;
}
.couple-section .couple-wrapper .couple-body {
  padding: 0;
}
.couple-section .couple .image-wrap {
  width: 80%;
}
.couple-section .couple .image-wrap .image-element {
  padding: 0;
}
.couple-section .couple .couple-description {
  width: 100%;
}
@media (max-width: 575px) {
  .couple-section .couple .couple-description {
    margin-top: 0 !important;
  }
}
.couple-section .couple .couple-description::after {
  background-color: var(--color-primary);
  opacity: 0.8;
}
.couple-section .couple .couple-description h3 {
  font-size: 32px;
}
.couple-section .reminder-wrap {
  padding: 8rem 0;
}
@media (max-width: 575px) {
  .couple-section .reminder-wrap {
    padding: 5rem 0;
  }
}

.story-section {
  background-color: var(--color-custom-main);
}
@media (max-width: 575px) {
  .story-section .image-wrapper {
    aspect-ratio: 1;
  }
}

@media (max-width: 767px) {
  .venue-section .orn-1 {
    transform: translate(-50%, 20%) scaleX(-1) rotate(-45deg);
  }
}
.venue-section .card-body .event-name {
  margin-bottom: 1rem;
}

@media (max-width: 575px) {
  .rsvp-section .image-wrapper {
    aspect-ratio: 1;
  }
}
.rsvp-section .rsvp-wrapper {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
@media (max-width: 575px) {
  .rsvp-section .rsvp-wrapper .form-label {
    font-size: 14px;
  }
}
.rsvp-section .rsvp-wrapper .form-control {
  text-align: center;
}
.rsvp-section .rsvp-wrapper .form-check-group {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.rsvp-section .rsvp-wrapper .form-check-group .form-check {
  text-align: left;
}
.rsvp-section .rsvp-wrapper .form-check-group .form-check-input:focus {
  box-shadow: none;
}
@media (max-width: 575px) {
  .rsvp-section .rsvp-wrapper .form-check-group .form-check-label {
    font-size: 14px;
  }
}

.wishes-section .card-form {
  overflow: hidden;
}
.wishes-section .card-form .orn-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  transform: translate(40%, -10%) scale(-1);
}
@media (min-width: 768px) {
  .wishes-section .card-form .orn-2 {
    width: 280px;
  }
}
@media (min-width: 992px) {
  .wishes-section .card-form .orn-2 {
    width: 320px;
  }
}

.egift-section .gift-wrap {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.egift-section form .input-group-text {
  border: 1px solid var(--color-dark);
}

.thank-section .thank {
  overflow: hidden;
  border-radius: 10px;
}

img[alt=rose-3] {
  transform-origin: 2% 8%;
}

img[alt=rose-4] {
  transform-origin: 5% 98%;
}/*# sourceMappingURL=styles.custom.css.map */