:root {
  --color-main: #4e1e56;
  --color-primary: #66366d;
  --color-secondary: #e5bf39;
  --color-dark: #1e1f1e;
  --vd-color-pink: #ff3190;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 0.75rem 1rem;
  width: 95%;
  margin: 1rem auto;
  gap: 0.75rem;
}

@media (max-width: 767px) {
  .countdown {
    width: 75%;
  }
}

.countdown .deco-countdown {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 991px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    min-width: auto;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
  font-family: "Abhaya Libre", serif;
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: var(--color-primary);
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  .header-section {
    padding-top: 1.5rem;
  }
}

.header-section .header-deco {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.header-section .header-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .header-content .header-image-wrap {
  position: relative;
  width: 528px;
  height: 640px;
}

@media (max-width: 767px) {
  .header-section .header-content .header-image-wrap {
    width: 93%;
  }
}

.header-section .header-content .header-image-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-section .header-content .header-image-wrap .header-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-section .header-content .header-image-wrap .border-top-header {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 101%;
}

.header-section .header-content .header-image-wrap .border-bottom-header {
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 101%;
}

.header-section .header-content .header-image-wrap .header-title {
  position: absolute;
  bottom: 120px;
  width: 100%;
  text-align: center;
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  background-color: var(--color-main);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.envelope-wrap .logo-viding {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.couple-section {
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
  margin-top: 1.5rem;
}

.couple-section .deco-border-top,
.couple-section .deco-border-bottom {
  width: 100%;
  height: auto;
}

.couple-section .deco-border-bottom {
  margin-bottom: -2px;
}

.couple-section .deco-border-top {
  margin-top: -2px;
}

.couple-section .deco {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);
  width: 100%;
}

@media (min-width: 768px) {
  .couple-section .date {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media (max-width: 767px) {
  .couple-section .date {
    margin: 1.5rem 0;
  }
}

.couple-section .couple {
  position: relative;
}

.couple-section .couple .image-wrap {
  width: 100%;
  margin: auto;
  position: relative;
}

@media (max-width: 767px) {
  .couple-section .couple .image-wrap {
    width: 75%;
  }
}

.couple-section .couple .image-wrap .deco-couple {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
}

.couple-section .couple .image-wrap .couple-image {
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 991px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 380px;
  }
}

@media (max-width: 767px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 480px;
  }
}

@media (max-width: 575px) {
  .couple-section .couple .image-wrap .couple-image {
    height: 380px;
  }
}

.couple-section .couple .couple-parent {
  width: 90%;
  margin: auto;
}

.couple-section .couple .sosmed-wrap {
  margin: 1rem 0 0.5rem;
}

.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--color-dark);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
}

.couple-section .couple .sosmed-wrap .sosmed .fab {
  font-size: 22px;
}

@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .sosmed .fab {
    font-size: 18px;
  }
}

.story-section {
  position: relative;
  padding: 3rem 0;
}

.story-section .story-description {
  text-align: center;
}

.story-section .image-story-wrap {
  position: relative;
  height: 100%;
  text-align: center;
}

.story-section .image-story-wrap .deco-story-1,
.story-section .image-story-wrap .deco-story-2 {
  position: absolute;
  left: 0;
  width: 100%;
}

.story-section .image-story-wrap .deco-story-1 {
  top: -1px;
}

.story-section .image-story-wrap .deco-story-2 {
  bottom: -1px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.story-section .image-story-wrap .story-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 460px;
  width: 100%;
  margin: auto;
}

@media (max-width: 767px) {
  .story-section .image-story-wrap .story-image {
    height: 360px;
  }
}

.venue-section {
  position: relative;
  text-align: center;
}

.venue-section .venue-wrapper {
  position: relative;
  padding: 3rem 0;
}

.venue-section .venue-wrapper .deco-venue {
  width: 100%;
}

.venue-section .prokes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem 0;
}

.venue-section .prokes-wrap .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767px) {
  .venue-section .row-venue {
    gap: 2rem;
  }
}

.venue-section .card {
  border: none;
  color: var(--color-dark);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -1px;
}

.venue-section .card .card-body {
  margin-top: -4.5rem;
}

@media (max-width: 991px) {
  .venue-section .card .card-body {
    margin-top: -3.5rem;
  }
}

.venue-section .maps-embed {
  margin: 1.5rem 0 0;
}

.section-group {
  position: relative;
  background-color: var(--color-primary);
}

.border-frame-top,
.border-frame-bottom {
  width: 100%;
}

.rsvp-section {
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

.rsvp-section .form-control,
.rsvp-section .form-select {
  margin-bottom: 1rem;
}

.wishes-section {
  position: relative;
  padding: 3rem 0;
}

.wishes-section .row {
  gap: 1.5rem;
}

.wishes-section .btn-custom {
  background-color: var(--color-primary);
}

.wishes-section .card {
  border: none;
  position: relative;
  background-color: var(--color-primary);
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 17.5rem;
  overflow: auto;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .text-muted {
  color: rgba(255, 255, 255, 0.5) !important;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
  margin-top: -1px;
}

.egift-section form .btn-custom {
  background-color: var(--color-primary);
  color: #fff;
}

.egift-section form .input-group-text {
  color: #fff;
  background-color: var(--color-primary);
  border-color: #fff;
}

@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
}

.gallery-section .img-gallery {
  height: 386px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .gallery-section .img-gallery {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 276px;
  }
}

@media (max-width: 575px) {
  .gallery-section .img-gallery {
    height: 210px;
  }
}

.gallery-section .gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-section .gallery .overlay-left,
.gallery-section .gallery .overlay-right {
  width: 150px;
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: 5;
}

@media (max-width: 575px) {
  .gallery-section .gallery .overlay-left,
  .gallery-section .gallery .overlay-right {
    width: 100px;
  }
}

.gallery-section .splide {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.gallery-section .splide .splide__track {
  overflow: visible;
  position: relative;
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: var(--color-primary);
  width: 70px;
  height: 45px;
  z-index: 10;
  border-radius: 50px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.gallery-section .splide .splide__arrow--prev {
  left: -28px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow--prev {
    left: -20px;
  }
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow--prev {
    left: 0;
  }
}

.gallery-section .splide .splide__arrow--next {
  right: -28px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow--next {
    right: -20px;
  }
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow--next {
    right: 0;
  }
}

.gallery-section .yt-embed {
  height: 280px;
}

@media (max-width: 991px) {
  .gallery-section .yt-embed {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .gallery-section .yt-embed {
    height: 210px;
  }
}

@media (max-width: 575px) {
  .gallery-section .yt-embed {
    height: 200px;
  }
}

.apology-section {
  position: relative;
  background-color: var(--color-primary);
  padding: 0 0 3rem;
  margin-top: -1px;
}

.apology-section .border-frame-top {
  width: 100%;
}

.stream-section {
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
  margin-top: -1px;
}

.stream-section .stream-wrapper {
  position: relative;
  background-color: #fff;
  color: var(--color-dark);
  padding: 0 0 3rem;
  margin-top: -1px;
  margin-bottom: 3rem;
}

.stream-section .deco {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
}

.stream-section .title-section {
  position: absolute;
  left: 50%;
  top: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 991px) {
  .stream-section .title-section {
    top: -80px;
  }
}

@media (max-width: 767px) {
  .stream-section .title-section {
    top: 0;
    position: relative;
    left: unset;
    -webkit-transform: none;
            transform: none;
  }
}

.stream-section h4 {
  font-family: "Abhaya Libre", serif;
  color: var(--color-primary);
}

.stream-section .card {
  background-color: transparent;
  height: 100%;
  border: none;
}

.stream-section .card .card-body {
  padding: 0 3rem;
}

@media (max-width: 991px) {
  .stream-section .card .card-body {
    padding: 0 1.5rem;
  }
}

@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}

.stream-section .btn-custom {
  width: 50%;
  background-color: var(--color-primary);
}

@media (max-width: 767px) {
  .stream-section .btn-custom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.stream-section .yt-description {
  padding: 2rem 0;
  width: 100%;
}

@media (max-width: 767px) {
  .stream-section .yt-description {
    padding: 3rem 1rem;
  }
}

@media (max-width: 575px) {
  .stream-section .yt-description {
    text-align: left;
  }
}

.thank-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  margin-top: -1px;
}

.thank-section .thank {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.footer {
  padding: 1rem 0;
  color: #ffff;
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
}

body {
  background-color: var(--color-main);
  font-family: "Heebo", sans-serif;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Abhaya Libre", serif;
  color: #fff;
}

h1 {
  font-size: 52px;
  color: #fff;
}

@media (max-width: 575px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
}

.moveable_section_wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.font-primary {
  font-family: "Heebo", sans-serif;
}

.font-secondary {
  font-family: "Abhaya Libre", serif;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.form-control,
.form-select {
  font-family: "Heebo", sans-serif;
  border-color: #fff;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--color-dark);
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: var(--color-dark);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}

.form-select {
  text-align: center;
}

.scrolled {
  background: #fff !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.envelope-wrap.open {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.title-section {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 1.25rem;
  padding: 0 2rem;
}

.title-section .deco-title-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.title-section .deco-title-2 {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  height: 100%;
}

.border-frame-top {
  margin-top: -1px;
}

.border-frame-bottom {
  margin-bottom: -1px;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}

.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */