.reminder-wrap {
	position: relative;
	display: block;
	padding: 5rem 0;

	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 2rem auto 0;
		z-index: 2;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;
		margin-bottom: -1.35rem;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}

	.orn-1 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 15%;
		transform: translate(-40%, -50%);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 15%;
		transform: translate(35%, 0) rotate(-25deg);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}
}