.rsvp-section {
	position: relative;
	padding: 5rem 0 10rem;
	overflow: hidden;

	@include max-md {
		padding: 3rem 0 8rem;
	}

	.rsvp-wrapper {
		position: relative;
		overflow: hidden;
		border-radius: var(--border-radius);
		box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.15);

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-main);
			opacity: 0.5;
			border-radius: var(--border-radius);
			box-shadow: 0 10px 1rem rgba($color: #000000, $alpha: .6);
			content: "";
		}

		.rsvp-form {
			position: relative;
			padding: 3rem 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}

			.title-section {
				&::before {
					all: unset;
				}
			}

			.form-control,
			.form-select {
				background-color: rgba($color: #fff, $alpha: 0.7);
			}
		}
	}

	.elements-wrapper-absolute {
		.background-element {
			img {
				opacity: .3;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 15%;
		transform: translate(-50%, 0) rotate(10deg);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 15%;
		transform: translate(40%, 0) scaleX(-1);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-50%, 10%) scaleX(-1);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 45%;
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 15%;
		transform: translate(42%, 10%) rotate(-20deg);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			width: 40%;
		}
	}
}