.story-section {
	position: relative;

	.story {
		position: relative;
		background-color: var(--color-primary);
		color: var(--color-light);
		padding: 5rem 0;

		@include max-md {
			padding: 5rem 0 3rem;
		}

		.orn-1 {
			position: absolute;
			top: 2rem;
			left: 0;
			width: 15%;
			transform: translate(-40%, 0);

			@include max-lg {
				width: 25%;
			}

			@include max-sm {
				top: 0;
				width: 35%;
			}
		}

		.orn-2 {
			position: absolute;
			top: 2rem;
			right: 0;
			width: 15%;
			transform: translate(50%, 0) rotate(-10deg) scaleX(-1);

			@include max-lg {
				width: 25%;
			}

			@include max-sm {
				top: 0;
				width: 35%;
			}

			.bf {
				position: absolute;
				bottom: 90%;
				left: 105%;
				width: 25%;
				transform: rotate(-35deg);
			}
		}
	}

	.story-content {
		position: relative;
	}

	.story-description {
		position: relative;
		text-align: center;
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(16, 8);

			@include max-sm {
				@include aspect-ratio(5, 6);
			}

			.story-background {
				object-fit: cover;
			}
		}
	}
}