@font-face {
	font-family: "SwitzerlandFont";
	src: url(../fonts/Switzerland.otf);
}

@font-face {
	font-family: "Garamond Premier Pro";
	src: url(../fonts/GaramondPremrPro.ttf) format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Garamond Premier Pro";
	src: url(../fonts/GaramondPremrPro.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Garamond Premier Pro";
	src: url(../fonts/GaramondPremrPro.woff2) format("woff2");
	font-display: swap;
}
