:root {
	--color-main: #{$color-main};
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-dark: #{$color-dark};
	--color-light: #{$color-light};
	--text-button: #{$text-button};
	--color-button-trans: #{$color-button-trans};
	--vd-color-pink: #{$color-logo};
	--border-radius: #{$border-radius};
	--mask: radial-gradient(40px at 45px 40px, #0000 98%, #000000) -40px -40px;
}
