.thank-section {
	position: relative;
	padding: 5rem 0 0;
	background-color: var(--color-primary);
	@include max-md {
		padding: 3rem 0 0;
	}
	.ornaments-wrapper{
		z-index: 3;
		&.orn-normal{
			z-index: unset;
		}
		&.orn-front{
			z-index: 8;
		}
		.orn-1{
			position: absolute;
			bottom: 15%;
			left: 0;
			width: 25%;
			transform: translate(-30%,0);
			@include max-lg{
				width: 45%;	
			}
			@include max-sm{
				width: 55%;	
			}
		}
		.orn-2{
			position: absolute;
			bottom: 0;
			left: 5%;
			width: 30%;
			transform: scaleX(-1);
			@include max-lg{
				width: 50%;	
			}
			@include max-sm{
				left: 0;
				bottom: 2%;
				width: 60%;	
			}
		}
		.orn-3{
			position: absolute;
			bottom: 0;
			left: 13%;
			width: 12%;
			transform: translate(0,15%);
			@include max-lg{
				width: 22%;	
			}
			@include max-sm{
				left: 0;
				width: 28%;
			}
		}
		.orn-4{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20%;
			transform: translate(-45%,15%);
			@include max-lg{
				width: 40%;
			}
			@include max-sm{
				width: 50%;	
			}
		}
		.orn-5{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 12%;
			transform: translate(10%,20%) rotate(-60deg) scaleX(-1);
			@include max-lg{
				width: 20%;	
			}
		}
		.orn-6{
			position: absolute;
			bottom: 0;
			left: 6%;
			width: 10%;
			transform: translate(10%,35%) rotate(-60deg) scaleX(-1);
			@include max-lg{
				left: 12%;
				width: 18%;	
			}
		}
		.orn-7{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25%;
			transform: translate(-5%,50%);
			@include max-lg{
				width: 45%;
			}
		}
		.orn-8{
			position: absolute;
			bottom: 12%;
			right: 0;
			width: 28%;
			transform: translate(25%,0) scaleX(-1);
			@include max-lg{
				width: 48%;
			}
			@include max-sm{
				width: 55%;	
			}
		}
		.orn-9{
			position: absolute;
			bottom: 5%;
			right: 7%;
			width: 28%;
			transform: scaleX(-1);
			@include max-lg{
				width: 48%;
			}
			@include max-sm{
				width: 58%;	
			}
		}
		.orn-10{
			position: absolute;
			top: 10%;
			right: 0;
			width: 60%;
		}
		.orn-11{
			position: absolute;
			bottom: 0;
			right: 24%;
			width: 13%;
			transform: translate(0,30%);
			@include max-lg{
				right: 0;
				width: 20%;
				transform: translate(30%,10%);
			}
		}
		.orn-12{
			position: absolute;
			bottom: 0;
			right: 3%;
			width: 16%;
			transform: translate(0,20%);
			@include max-lg{
				right: 0;
				width: 34%;
				transform: translate(20%,20%);
			}
			@include max-sm{
				width: 45%;	
				transform: translate(40%,20%);
			}
		}
		.orn-13{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 18%;
			transform: translate(30%,30%) scaleX(-1);
			@include max-lg{
				width: 28%;	
				transform: translate(50%,40%) scaleX(-1);
			}
		}
		.orn-14{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(35%,20%) scaleX(-1);
			@include max-lg{
				width: 55%;
				transform: translate(25%,20%) scaleX(-1);
			}
		}
		.orn-15{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			transform: translate(10%,50%) scaleX(-1);
			@include max-lg{
				width: 55%;	
			}
		}
		.orn-16{
			position: absolute;
			bottom: 16%;
			left: 0;
			width: 28%;
			transform: translate(-25%,0) rotate(-50deg);
			@include max-lg{
				width: 46%;
			}
		}
		.orn-17{
			position: absolute;
			bottom: 14%;
			right: 0;
			width: 28%;
			transform: translate(25%,0) rotate(50deg) scaleX(-1);
			@include max-lg{
				width: 46%;
			}
		}
		.orn-18{
			position: absolute;
			top: 0;
			right: 0;
			width: 70%;
			transform: translate(20%,-60%) rotate(110deg);
		}
		.orn-19{
			position: absolute;
			top: 0;
			left: 0;
			width: 25%;
			transform: translate(-25%,-5%) rotate(75deg);
			@include max-lg{
				width: 45%;
			}
			@include max-sm{
				top: 3rem;	
				transform: translate(-30%,-5%) rotate(65deg);
			}
		}
		.orn-20{
			position: absolute;
			top: 0;
			right: 0;
			width: 25%;
			transform: translate(25%,-5%) rotate(-75deg) scaleX(-1);
			@include max-lg{
				width: 45%;	
			}
			@include max-sm{
				top: 3rem;	
				transform: translate(30%,-5%) rotate(-65deg) scaleX(-1);
			}
		}
		.orn-21{
			position: absolute;
			top: 0;
			right: 0;
			width: 40%;
			transform: translate(40%,-30%) rotate(100deg);
			@include max-sm{
				width: 50%;
			}
		}
		.orn-22{
			position: absolute;
			top: 2rem;
			right: 0;
			width: 25%;
			transform: translate(55%,20%) rotate(-80deg) scaleX(-1);
			@include max-lg{
				width: 45%;	
			}
			@include max-sm{
				top: 5rem;	
			}
		}
		.orn-23{
			position: absolute;
			top: 0;
			left: 0;
			width: 35%;
			@include max-lg{
				width: 55%;
			}
		}
		.orn-24{
			position: absolute;
			top: 0;
			left: 50%;
			width: 22%;
			transform: translate(-50%,0) scaleY(-1);
			@include max-lg{
				width: 25%;	
			}
			@include max-sm{
				width: 35%;	
			}
		}
		.orn-25{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transform: translate(-65%,10%);
		}
		.orn-26{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			transform: translate(65%,10%) scaleX(-1);
		}
		.gadang{
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 90%;
			transform: translate(-50%,0);
			@include max-lg{
				width: 150%;
			}
			@include max-sm{
				width: 160%;	
			}
		}
		.cloud-1{
			position: absolute;
			top: 20%;
			left: 0;
			width: 30%;
			transform: translate(-50%,0);
			@include max-sm{
				width: 60%;
			}
		}
		.cloud-2{
			position: absolute;
			top: 30%;
			left: 0;
			width: 25%;
			@include max-sm{
				top: 35%;
				width: 55%;
			}
		}
		.cloud-3{
			position: absolute;
			top: 0;
			right: 0;
			width: 35%;
			transform: translate(30%,-40%) scaleY(-1);
			@include max-sm{
				width: 65%;
			}
		}
	}
	.thank-wrapper {
		position: relative;
		background-color: var(--color-main);
		border-radius: 150px;
		.thank {
			position: relative;
			text-align: center;
			z-index: 10;
			&-body {
				position: relative;
				padding: 10rem 2rem 25rem;
				@include max-md {
					padding: 8rem 2rem 18rem;
				}
			}
		}
	}
}
.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	z-index: 10;
	small {
		position: relative;
	}
}
