.rsvp-section {
	position: relative;
	background-color: var(--color-primary);
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.orn-1 {
		position: relative;
		width: 100%;
	}
	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-main);
		padding: 2rem;
		border-radius: 300px 300px 16px 16px;
		@include max-md {
			padding: 1.5rem;
		}
		.rsvp-form {
			position: relative;
		}
	}
}
