.couple-section {
	position: relative;
	padding: 1rem 0 3rem;

	@include ipad {
		padding: 2rem 0 5rem;
	}

	.and {

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 2rem 0;
		z-index: 3;

		span {
			position: relative;
			font-size: 28px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;

		.couple-content {
			position: relative;
			text-align: center;
			padding: 17rem 3.5rem;

			@include ipad {
				padding: 20rem 2rem;
			}

			@include max-sm {
				padding: 12rem 2rem;
			}

			p {
				margin-bottom: 0;
			}
		}

		.jasmine {
			position: absolute;
			top: 1rem;
			left: 50%;
			width: 100%;
			transform: translate(-50%, 0);
		}

		.orn-1 {
			position: absolute;
			top: 50%;
			left: 0;
			width: 25%;
			transform: translate(-40%, -50%);
		}

		.orn-2 {
			position: absolute;
			bottom: 8rem;
			right: 0;
			width: 35%;
			transform: translate(55%, 0);
		}
	}

	.couple {
		position: relative;

		.image-wrap {
			position: relative;
			width: 100%;

			&>.image-element {
				@include aspect-ratio(3, 4);

				.couple-image {
					object-fit: cover;
					border-radius: 50%;
				}
			}

			.frame-couple {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 190%;
				transform: translate(-45%, -47%);

				&-reverse {
					transform: translate(-55%, -47%) scaleX(-1);
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: center;

			h3 {
				position: relative;
				font-family: $font-primary;
			}

			.couple-parent {
				position: relative;
				width: 100%;
				margin-bottom: 0.5rem;

				p {
					margin-bottom: 0;
				}
			}

			.sosmed-wrap {
				position: relative;
				width: fit-content;
				max-width: 100%;
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				background-color: var(--color-secondary);
				margin: 1rem auto 0;

				.sosmed {
					color: var(--text-button);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
	}
}