@font-face {
	font-family: "Bastia-Bold";
	src: url(../fonts/Bastia-Bold.woff) format("woff"), url(../fonts/Bastia-Bold.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Mediamoure";
	src: url(../fonts/Mediamoure-Regular.woff) format("woff"), url(../fonts/Mediamoure-Regular.woff2) format("woff2");
	font-display: swap;
}