.reminder-wrap {
	position: relative;
	width: 100%;
	padding: 8rem 0 5rem;

	@include max-sm {
		padding: 6rem 0 5rem;
	}

	.reminder-content {
		position: relative;
		color: var(--text-highlight);
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin: 1.5rem auto 0;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}

	.frame {
		width: 85%;

		&-top {
			top: 2rem;
		}

		&-bottom {
			bottom: 2rem;
		}
	}
}