body {
	font-family: $font-primary;
	color: var(--color-dark);
	hyphens: manual;
}

.main-app {
	position: relative;
	background-color: var(--color-main);
	overflow: hidden;

	.background-body-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.background-body-content {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include max-md {
					object-position: right;
					object-fit: contain;
				}
			}
		}
	}

	.elements-wrapper-absolute {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.background-element {
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.elements-absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.background-element {
			display: block;
			height: 100%;

			.background-wrapper {
				width: 100%;
				height: 100%;
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.ornaments-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		&.scaleX-reverse {
			transform: scaleX(-1);
		}
	}

	.image-element,
	.image-element-ornament {
		position: relative;
		width: 100%;
	}
}

.logo-viding {
	height: 2.4rem;

	@include max-md {
		height: 2.25rem;
	}

	path {
		fill: var(--vd-color-pink);
	}
}

.color__button__trans {
	background-color: transparent !important;
}

h1,
h2,
h3,
.name-main {
	font-family: $font-secondary;
}

h1,
.name-main {
	display: block;
	font-size: 38px;

	@include max-sm {
		font-size: 28px;
	}
}

h2 {
	margin-bottom: 0;
	font-weight: 500;
}

small {
	font-size: 12px;
}

@include max-sm {
	p {
		font-size: 14px;
	}

	small {
		font-size: 10px;
	}
}

.image-element,
.background-element {
	position: relative;
	width: 100%;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.container {
	@include max-md {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.btn-custom {
	background-color: var(--color-secondary);
	padding: 0.5rem 2rem;
	transition: all 0.3s ease-in-out;
	// border-color: $color-primary;
	color: var(--text-button);
	width: fit-content;
	margin: auto;
	border-radius: 50px;

	&:hover {
		color: var(--text-button);
	}

	path {
		fill: var(--text-button);
	}
}

.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

.scaleX-reverse {
	transform: scaleX(-1);
}

.scaleY-reverse {
	transform: scaleY(-1);
}

.scale-reverse {
	transform: scale(-1);
}

.form-control,
.form-select {
	font-family: $font-primary;
	border: none;
	padding: 0.5rem 1rem;
	background-color: #fff;
	box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.15);

	&::placeholder {
		color: var(--color-dark);
	}

	&:focus {
		box-shadow: none;
		border-color: var(--color-dark);
	}
}

.scrolled {
	background: #fff !important;
	transition: all 1s ease-in-out;
	box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
	visibility: visible !important;
	pointer-events: all !important;

	.logo-viding {
		path {
			fill: var(--vd-color-pink);
		}
	}
}

.navbar-hide {
	top: -70px;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 2px;
	background-color: var(--vd-color-pink);
	width: 0;
	z-index: 9999;
}

.deco-wedding-1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% + 0.2rem));

	.deco-line {
		fill: var(--color-secondary);
	}
}

.deco-wedding-2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% - 0.2rem)) scaleY(-1);

	.deco-line {
		fill: var(--color-secondary);
	}
}

.title-section {
	position: relative;
	// min-width: 268px;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1.25rem;

	.title-deco {
		position: relative;

		.deco-line {
			fill: var(--color-secondary);
		}
	}
}

.reminder-wrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: var(--border-radius);
	padding: 3rem 2rem;
	margin-top: 3rem;

	@include max-md {
		padding: 2rem 1rem 0;
	}

	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		padding: 5rem 3rem;
		margin: 0 auto;

		@include max-md {
			padding: 5rem 1rem;
		}
	}

	.widget-element {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 40%);
	}

	.btn-reminder {
		z-index: 3;
		transition: all 0.2s ease-in-out;
		text-decoration: none;

		span {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}

.overlay-elements-gradient {
	position: absolute;
	left: 0;
	width: 100%;
	height: 30%;

	&.overlay-bottom {
		bottom: 0;
		background: linear-gradient(to top, var(--color-main) 20%, transparent 100%);
	}

	&.overlay-top {
		top: 0;
		background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
	}
}

.waves-bottom {
	position: absolute;
	width: 100%;
	left: 0;
	height: auto;
	bottom: -2px;
	z-index: 3;
	pointer-events: none;

	path {
		fill: var(--color-main);
	}

	&.reverse {
		transform: scaleX(-1);
	}
}

.waves-top {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: auto;
	transform: scale(-1);
	z-index: 3;
	pointer-events: none;

	path {
		fill: var(--color-main);
	}
}

.waves-left {
	position: absolute;
	height: 100%;
	left: -1px;
	top: 0;
	pointer-events: none;
}

.waves-right {
	position: absolute;
	height: 100%;
	right: -1px;
	top: 0;
	transform: scale(-1);
	pointer-events: none;
}

ul {
	padding: 0;

	li {
		padding: 0;
	}
}

@include min-md {
	.lg {
		display: block;
	}

	.sm {
		display: none;
	}
}

@include max-md {
	.lg {
		display: none;
	}

	.sm {
		display: block;
	}
}

.loader-wrapper {
	position: fixed;
	min-height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1500;
	flex-direction: column;
	gap: 1.25rem;

	.spinner {
		position: relative;
		width: 84px;
	}

	span {
		color: var(--vd-color-pink);
		font-weight: 700;
		animation: fade 2s linear infinite;
		letter-spacing: 5px;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.modal.show-maps {
	.modal-content {
		border-radius: 20px;
	}

	.modal-body {
		padding: 2rem 3rem;
		position: relative;

		@include max-md {
			padding: 2rem 1rem;
		}

		.btn-modal {
			background-color: var(--color-main);
			color: var(--color-dark);
			position: absolute;
			right: 10px;
			top: 10px;
			border-radius: 50px;
			opacity: 0.5;
			padding: 0 0.425rem;
			transition: all 0.5s ease;

			&:hover {
				opacity: 1;
			}
		}

		.btn-custom {
			background: transparent;
			border-color: var(--color-dark);
			color: var(--color-dark);
			transition: all 0.25 ease-in-out;

			&:hover {
				background: var(--color-secondary);
				border-color: var(--color-secondary);
				color: var(--text-button);
			}
		}

		.maps-element {
			position: relative;
			width: 100%;
			aspect-ratio: 16/9;

			@include max-md {
				aspect-ratio: 9/10;
			}
		}

		.loader-wrapper-modal {
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;

			&.loaded {
				display: none;
			}

			.lds-default {
				display: inline-block;
				position: relative;
				width: 80px;
				height: 80px;
			}

			.lds-default div {
				position: absolute;
				width: 6px;
				height: 6px;
				background: var(--color-secondary);
				border-radius: 50%;
				animation: lds-default 1.2s linear infinite;
			}

			.lds-default div:nth-child(1) {
				animation-delay: 0s;
				top: 37px;
				left: 66px;
			}

			.lds-default div:nth-child(2) {
				animation-delay: -0.1s;
				top: 22px;
				left: 62px;
			}

			.lds-default div:nth-child(3) {
				animation-delay: -0.2s;
				top: 11px;
				left: 52px;
			}

			.lds-default div:nth-child(4) {
				animation-delay: -0.3s;
				top: 7px;
				left: 37px;
			}

			.lds-default div:nth-child(5) {
				animation-delay: -0.4s;
				top: 11px;
				left: 22px;
			}

			.lds-default div:nth-child(6) {
				animation-delay: -0.5s;
				top: 22px;
				left: 11px;
			}

			.lds-default div:nth-child(7) {
				animation-delay: -0.6s;
				top: 37px;
				left: 7px;
			}

			.lds-default div:nth-child(8) {
				animation-delay: -0.7s;
				top: 52px;
				left: 11px;
			}

			.lds-default div:nth-child(9) {
				animation-delay: -0.8s;
				top: 62px;
				left: 22px;
			}

			.lds-default div:nth-child(10) {
				animation-delay: -0.9s;
				top: 66px;
				left: 37px;
			}

			.lds-default div:nth-child(11) {
				animation-delay: -1s;
				top: 62px;
				left: 52px;
			}

			.lds-default div:nth-child(12) {
				animation-delay: -1.1s;
				top: 52px;
				left: 62px;
			}

			@keyframes lds-default {

				0%,
				20%,
				80%,
				100% {
					transform: scale(1);
				}

				50% {
					transform: scale(1.5);
				}
			}
		}

		.modal-actions {
			position: relative;
			color: var(--color-dark);
		}
	}
}

@for $i from 1 through 13 {
	.orn-#{$i} {
		pointer-events: none;
	}
}