$color-main: #F9F5EB;
$color-primary: #c99797;
$color-secondary: #BD7481;
$color-dark: #1e1f1e;
$color-light: #fff;
$text-button: #ffffff;
$color-button-trans: #1e1f1e;
$color-logo: #e9088a;
$font-secondary: "NewYork", cursive;
$font-primary: "Mulish", sans-serif;
$border-radius: 20px;
$color-custom: #ecdcc2;

$breakpoints-min: (
	xs: 325px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 2560px,
);

$breakpoints-max: (
	xs: 375px,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px,
	xxl: 1399px,
);