.couple-section {
	position: relative;
	text-align: center;

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-weight: 400;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 15rem 0 5rem;

		@include max-md {
			padding: 10rem 0 3rem;
		}

		.orn-gold {
			position: absolute;
			top: 10rem;
			width: 10%;

			@include max-lg {
				width: 15%;
			}

			@include max-sm {
				width: 20%;
			}

			&.start-0 {
				transform: translate(-40%, 0);

				@include max-sm {
					transform: translate(-50%, 0);
				}
			}

			&.end-0 {
				transform: translate(40%, 0);

				@include max-sm {
					transform: translate(50%, 0);
				}
			}
		}

		.orn-1 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 60%;
			transform: translate(-30%, 65%);

			.orn-2 {
				position: absolute;
				bottom: 70%;
				right: 16%;
				width: 80%;

				.orn-3 {
					position: absolute;
					bottom: 70%;
					left: 0;
					width: 60%;
				}
			}
		}
	}

	.couple-body {
		position: relative;
	}

	.couple-content {
		position: relative;
		padding: 0 1rem;
		margin-bottom: 3rem;
	}

	.couple {
		position: relative;
		text-align: center;

		.image-wrap {
			width: 100%;
			position: relative;
			@include aspect-ratio(3, 4);
			margin: 0 auto;

			.image-element.couple-element {
				height: 100%;
				background-color: var(--color-primary);
				padding: 3rem;
				border-radius: 300px 300px 20px 20px;
				overflow: hidden;

				@include max-lg {
					padding: 2rem;
				}

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 1rem;
		}

		.couple-parent {
			width: 100%;
		}

		.sosmed-wrap {
			position: relative;
			width: fit-content;
			max-width: 100%;
			background: var(--color-secondary);
			padding: 0.5rem 0.6rem;
			border-radius: 50px;
			margin: 0 auto;

			.sosmed {
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;
				margin: 0 auto;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}
	}
}