.header-section {
	position: relative;
	width: 100%;

	.scroll-icon {
		position: relative;
		margin-top: 1rem;
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30%;
		transform: translate(-30%, 65%);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 70%;
		}

		.orn-2 {
			position: absolute;
			bottom: 75%;
			right: 35%;
			width: 50%;

			@include max-lg {
				right: 30%;
				width: 65%;
			}
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		transform: translate(-20%, -20%);

		@include max-lg {
			width: 40%;
		}

		@include max-sm {
			width: 50%;
		}
	}

	.orn-4 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 12%;
		transform: translate(-40%, -50%);

		@include max-lg {
			width: 20%;
		}

		@include max-sm {
			width: 30%;
		}
	}

	.header-content {
		position: relative;

		.header {
			position: relative;
			width: 40%;
			margin: 0 auto;
			padding: 5rem 0 0;

			@include max-lg {
				width: 60%;
				padding: 10rem 0 0;
			}

			@include max-sm {
				width: 85%;
				padding: 5rem 0 0;
			}

			.header-title {
				position: relative;
				border-radius: 300px 300px 0 0;
				text-align: center;
				overflow: hidden;


				&-content {
					position: relative;
					padding: 8rem 1rem 3rem;
					border-radius: 300px 300px 0 0;
					box-shadow: var(--shadow);
					min-height: calc(100vh - 5rem);
					color: var(--color-dark);
					z-index: 5;

					@include max-lg {
						min-height: calc(100vh - 10rem);
					}

					@include max-sm {
						min-height: calc(100vh - 5rem);
					}

					.image-wrapper {
						position: relative;
						width: 100%;
						@include aspect-ratio(3, 4);
						margin-bottom: 3rem;

						.image-element {
							height: 100%;
							background-color: var(--color-primary);
							border-radius: 300px;
							padding: 1rem;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								border-radius: 300px;
							}
						}
					}
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}