.rsvp-section {
	position: relative;
	padding: 0 0 5rem;

	@include max-md {
		padding: 0 0 3rem;
	}

	.curtain {
		transform: translate(-50%, -25%);
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 75%;
		transform: translate(-30%, 65%);

		.orn-2 {
			position: absolute;
			bottom: 75%;
			right: 35%;
			width: 60%;

		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-20%, 0%);
	}

	.orn-4 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 20%;
		transform: translate(-50%, -50%);
	}

	.rsvp-wrapper {
		position: relative;
		padding: 8rem 3rem;
		background-color: var(--color-primary);
		color: var(--color-dark);
		border-radius: 300px;
		overflow: hidden;

		@include max-md {
			padding: 8rem 2rem;
		}

		.rsvp-form {
			position: relative;
		}
	}
}