$color-main: #F1EEE9;
$color-primary: #C6D3BA;
$color-secondary: #6A503E;
$color-dark: #1e1f1e;
$color-light: #fff;
$text-button: #ffffff;
$color-button-trans: #1e1f1e;
$color-logo: #e9088a;
$font-secondary: "MonteCarlo", cursive;
$font-primary: "Nunito Sans", sans-serif;
$border-radius: 20px;
$shadow: inset 0 .75rem 2rem rgba($color: #000000, $alpha: .15);

$breakpoints-min: (
	xs: 325px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	4k: 2560px,
);

$breakpoints-max: (
	xs: 375px,
	sm: 575px,
	md: 767px,
	lg: 991px,
	xl: 1199px,
	xxl: 1399px,
);