.venue-section {
	position: relative;
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.venue-wrapper {
		position: relative;
		z-index: 3;

		.venue-description {
			position: relative;
			color: var(--color-dark);
			z-index: 2;
			text-align: center;
			padding: 5rem 1rem 3rem;

			@include max-sm {
				padding: 3rem 1rem;
			}

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--color-primary);
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				opacity: .6;
				content: "";
			}
		}

		.venue-content {
			position: relative;
			color: var(--color-dark);
			text-align: center;
			padding: 0 1rem 5rem;

			@include max-sm {
				padding: 0 1rem 3rem;
			}

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--color-primary);
				border-radius: 0 0 var(--border-radius) var(--border-radius);
				opacity: .6;
				content: "";
			}

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.title-event-name {
				font-family: $font-secondary;
				font-size: 32px;
				margin-bottom: 1rem;
			}

			.card {
				background-color: var(--color-main);
				color: var(--color-dark);
				border: none;
				border-radius: 300px 300px 20px 20px;

				.card-body {
					position: relative;
					padding: 8rem 2rem 3rem;

					@include max-lg {
						padding: 8rem 1rem 2rem;
					}

					hr {
						display: block;
						width: 10%;
						height: 2px;
						margin: 0 auto 1rem;
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-name {
						position: relative;
						width: 100%;
						padding-bottom: 2rem;

						.date {
							position: relative;
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							h5 {
								font-family: $font-secondary;
								font-weight: 400;
								margin-bottom: 0;
								font-size: 32px;
								padding: .5rem 0 .75rem;
							}
						}

						p,
						span {
							margin-bottom: 0;
							font-weight: 700;
						}
					}

					.event-place {
						position: relative;

						&-body {
							position: relative;
							background-color: var(--color-main);
							padding: 1.5rem;
							border-radius: var(--border-radius);
							box-shadow: 0 .5rem 1.5rem rgba($color: #000000, $alpha: .1);

							@include max-sm {
								padding: 2rem .75rem;
							}
						}

						.widget-elements {
							position: relative;
							margin-top: 1rem;
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}