@import "fonts", "mixins", "variables", "root", "globals", "cover.section", "header.section", "couple.section", "reminder.section", "story.section", "venue.section", "rsvp.section", "wishes.section", "egift.section", "gallery.section", "apology.section", "stream.section", "thank.section", "animates", "countdown";

.btn-control {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%) !important;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn-control:hover {
  animation: none;
}

.btn-pink {
  background: #ff3190;
  color: rgba(255, 255, 255, .4);
}

.btn-pink:hover {
  color: rgba(255, 255, 255, 1);
}

.btn-pink:hover {
  color: rgba(255, 255, 255, 1);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.skiptranslate iframe {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}

.dropdown-toggle::after {
  display: none;
}

body {
  top: 0px !important;
}

@media (max-width: 576px) {
  .greeting-text {
    font-size: 3.75vw;
  }

  .greeting-name-text {
    font-size: 4vw;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .greeting-text {
    font-size: 2.25vw;
  }

  .greeting-name-text {
    font-size: 2.5vw;
  }
}

@media (min-width: 1025px) and (max-width: 2880px) {
  .greeting-text {
    font-size: 1.25vw;
  }

  .greeting-name-text {
    font-size: 1.5vw;
  }
}

.link_item_gift {
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
}

.btn-hadiahkan,
.link_item_gift:hover:not([disabled]),
.button-gift {
  background: var(--color-secondary) !important;
  color: var(--text-button) !important;
}