.gallery-section {
	position: relative;
	.img-gallery {
		height: auto;
		width: 100%;
		aspect-ratio: 3/4;
		object-fit: cover;
		margin-bottom: 1rem;
	}
	.splide {
		&__pagination {
			bottom: -0.5em;
			&__page.is-active {
				background-color: var(--color-secondary);
			}
		}
		.splide__arrow {
			border-radius: 0;
			width: 70px;
			height: 65px;
			background-color: var(--color-secondary);
			@include max-lg {
				width: 50px;
				height: 40px;
			}
			svg {
				fill: var(--text-button);
				width: 25px;
				height: 30px;
			}
			&--prev {
				left: 0;
			}
			&--next {
				right: 0;
			}
		}
	}
}
