.reminder-wrap {
	position: relative;
	display: block;
	padding: 0 0 5rem;
	@include max-md {
		padding: 0 0 3rem;
	}
	.bg-1 {
		position: absolute;
		bottom: 5%;
		left: 50%;
		width: 120%;
		transform: translate(-55%, 10%);
		@include max-lg {
			bottom: 30%;
			width: 150%;
			transform: translate(-50%, 10%);
		}
		@include max-sm {
			bottom: 25%;
			width: 200%;
		}
	}
	.bg-2 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 120%;
		transform: translate(-50%, 40%);
		@include max-lg {
			width: 200%;
		}
		@include max-sm {
			width: 250%;
		}
	}
	.rumah {
		position: absolute;
		bottom: 5%;
		@include max-sm {
			bottom: 5rem;
		}
		&-1 {
			left: 0;
			width: 30%;
			@include max-lg {
				width: 60%;
				transform: translateX(-20%);
			}
		}
		&-2 {
			right: 5%;
			width: 22%;
			transform: scaleX(-1);
			@include max-lg {
				right: 0;
				width: 50%;
				transform: translateX(10%) scaleX(-1);
			}
		}
	}
	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 65%;
		transform: translate(-60%, 0) scaleX(-1);
		@include min-md {
			width: 60%;
		}
		@include min-lg {
			width: 40%;
		}
	}
	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 65%;
		transform: translate(60%, 0) scaleX(-1);
		@include min-md {
			width: 60%;
		}
		@include min-lg {
			width: 40%;
		}
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translate(-50%, 20%);
		@include min-md {
			width: 60%;
		}
		@include min-lg {
			width: 30%;
		}
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 160px;
		transform: translate(-30%, 50%);
		@include min-md {
			width: 200px;
		}
		@include min-lg {
			width: 220px;
		}
	}
	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 3rem;
		width: 120px;
		transform: translate(0, 50%) scaleX(-1);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		transform: translate(50%, 20%) scaleX(-1);
		@include min-md {
			width: 60%;
		}
		@include min-lg {
			width: 30%;
		}
	}
	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 160px;
		transform: translate(10%, 50%);
		@include min-md {
			width: 200px;
		}
		@include min-lg {
			width: 220px;
		}
	}
	.orn-8 {
		position: absolute;
		bottom: 0;
		right: 5rem;
		width: 120px;
		transform: translate(0, 60%) scaleX(-1);
		@include min-md {
			width: 160px;
		}
		@include min-lg {
			width: 180px;
		}
	}
	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
		z-index: 2;
	}
	.btn-reminder {
		z-index: 3;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin-top: 1.5rem;
		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}
