.story-section {
	position: relative;
	.story {
		position: relative;
		padding: 5rem 0;
		@include max-md {
			padding: 3rem 0;
		}
		.orn-1 {
			position: absolute;
			top: 3rem;
			right: 0;
			width: 140px;
			transform: translate(50%, 0) scaleX(-1);
			@include min-md {
				width: 180px;
			}
			@include min-lg {
				width: 200px;
			}
		}
	}
	.story-content {
		position: relative;
	}
	.story-description {
		position: relative;
		text-align: left;
		padding: 0 1rem 1rem 0;
		.title-section {
			text-align: left;
		}
	}
	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		@include max-md {
			aspect-ratio: 6/5;
		}
		.image-element {
			position: relative;
			width: 100%;
			height: 100%;
			.story-background {
				position: relative;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}
