@font-face {
  font-family: "Roustel";
  src: url("../fonts/Roustel-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roustel";
  src: url("../fonts/Roustel-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roustel";
  src: url("../fonts/Roustel-Regular.ttf") format("ttf");
}
/* cyrillic-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aqvG4w-.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aOvG4w-.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aivG4w-.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8amvG4w-.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --color-main: #fcfbf7;
  --color-primary: #ffffff;
  --color-secondary: #c7ccf5;
  --color-dark: #1e1f1e;
  --color-light: #fff;
  --text-button: #1e1f1e;
  --color-button-trans: #1e1f1e;
  --vd-color-pink: #e9088a;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--color-dark);
}

.main-app {
  background-color: var(--color-main);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .main-app .background__views {
    width: 100%;
    position: fixed;
    display: block;
    inset: 0;
  }
}

.background__views {
  display: none;
}
.background__views .orn-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  transform: scale(-1);
  z-index: 5;
}
.background__views .background__frames {
  position: relative;
  height: 100%;
}
.background__views .background__frames::after {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3));
  content: "";
}
.background__views .background__frames .header-title {
  color: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

.layout__views {
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .layout__views {
    width: 100% !important;
  }
}

.logo-viding {
  height: 2.4rem;
}
@media (max-width: 767px) {
  .logo-viding {
    height: 2.25rem;
  }
}
.logo-viding path {
  fill: var(--vd-color-pink);
}

.color__button__trans {
  background-color: transparent !important;
}

h1,
h2,
h3 {
  font-family: "Roustel", cursive;
}

h1 {
  font-size: 48px;
}
@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  margin-bottom: 0;
  font-weight: 500;
}

small {
  font-size: 12px;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.moveable_section_wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--text-button);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  position: relative;
}
.btn-custom:hover {
  color: var(--text-button);
}
.btn-custom:hover::before {
  position: absolute;
  inset: 0;
  background-color: var(--color-dark);
  opacity: 0.05;
  content: "";
  border-radius: 10px;
}
.btn-custom path {
  fill: var(--text-button);
}

.font-primary {
  font-family: "Mulish", sans-serif;
}

.font-secondary {
  font-family: "Roustel", cursive;
}

.form-control,
.form-select {
  font-family: "Mulish", sans-serif;
  border-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: var(--color-dark);
}
.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--color-dark);
}

.scrolled {
  background: #fff !important;
  transition: all 1s ease-in-out;
  box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}
.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}

.badge-ornament-wrapper {
  position: absolute;
  padding: 0.75rem;
  border-radius: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--color-primary);
  z-index: 5;
}
.badge-ornament-wrapper .badge-orn {
  width: 40px;
}

.parallax-wrapper {
  overflow: hidden;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 0;
  z-index: 9999;
}

.title-section {
  position: relative;
  min-width: 268px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 1.25rem;
}
.title-section .deco-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.reminder-wrap {
  position: relative;
  padding: 0 0 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
@media (max-width: 767px) {
  .reminder-wrap {
    padding: 0 0 3rem;
  }
}
.reminder-wrap .couple-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.reminder-wrap .btn-reminder {
  z-index: 3;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.25rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.reminder-wrap .btn-reminder path {
  transition: all 0.3s ease-in-out;
}

.waves-bottom {
  position: absolute;
  width: 100.5%;
  left: 0;
  bottom: -2px;
  z-index: 3;
}
.waves-bottom.reverse {
  transform: scaleX(-1);
}
@media (max-width: 767px) {
  .waves-bottom {
    height: auto !important;
  }
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  transform: scaleY(-1);
}

.waves-left {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
}

.waves-right {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
  transform: scale(-1);
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}
.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}
.loader-wrapper .spinner {
  position: relative;
  width: 84px;
}
.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  z-index: 3;
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 1000px;
  width: 78px;
}
@media (max-width: 767px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 65px;
  }
}
.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  font-weight: 600;
}
.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 48px;
  font-family: "Roustel", cursive;
}
@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 38px;
  }
}
.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  color: var(--color-dark);
}
.header-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.header-section .image-wrapper {
  position: absolute;
  inset: 0;
}
.header-section .image-wrapper::after {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
}
@media (min-width: 992px) {
  .header-section .image-wrapper {
    display: none;
  }
}
.header-section .image-wrapper .background-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-section .orn-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
}
@media (max-width: 767px) {
  .header-section .orn-1 {
    width: 100px;
  }
}
.header-section .orn-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
}
@media (max-width: 767px) {
  .header-section .orn-2 {
    width: 100px;
  }
}
.header-section .header-content {
  position: relative;
  text-align: center;
}
.header-section .header-content .header {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 4rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header-section .header-content .header {
    color: var(--color-light);
    justify-content: space-between;
  }
}
.header-section .header-content .header .header-title {
  position: relative;
  text-align: center;
  width: 100%;
}
@media (min-width: 992px) {
  .header-section .header-content .header .header-title {
    display: none;
  }
}

.envelope-wrap {
  position: fixed;
  z-index: 1300;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  overflow: hidden;
  color: #fff;
}
.envelope-wrap .image-wrapper {
  position: absolute;
  inset: 0;
}
@media (min-width: 992px) {
  .envelope-wrap .image-wrapper {
    display: block;
  }
}
.envelope-wrap .image-wrapper::after {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  content: "";
}
.envelope-wrap .image-wrapper .background-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.envelope-wrap .header-content .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3rem;
}
.envelope-wrap .header-content .header .header-title {
  margin-bottom: 0;
  padding: 5rem 0;
  bottom: 0;
}
@media (min-width: 992px) {
  .envelope-wrap .header-content .header .header-title {
    display: block;
  }
}
@media (max-width: 767px) {
  .envelope-wrap .header-content .header .header-title {
    padding: 3rem 0;
  }
}

.couple-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .couple-section {
    padding: 3rem 0;
  }
}
.couple-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.couple-section .orn-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  transform: translate(10%, -20%);
}
@media (max-width: 991px) {
  .couple-section .orn-1 {
    transform: translate(10%, 10%);
  }
}
@media (max-width: 767px) {
  .couple-section .orn-1 {
    transform: translate(10%, -10%);
  }
}
.couple-section .orn-2 {
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 160px;
  transform: scaleX(-1) translateX(50%);
}
.couple-section .orn-3 {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 3rem;
  transform: translateX(50%);
}
.couple-section .and {
  margin: 2.5rem 0;
  font-weight: 600;
  color: var(--color-dark);
}
@media (max-width: 991px) {
  .couple-section .and {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
@media (max-width: 767px) {
  .couple-section .and {
    position: relative;
    inset: unset;
    transform: none;
  }
}
.couple-section .couple-wrap {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 1000px 1000px 10px 10px;
  padding: 8rem 1rem 2rem;
}
@media (max-width: 991px) {
  .couple-section .couple-wrap {
    padding: 8rem 2rem 3rem;
  }
}
@media (max-width: 767px) {
  .couple-section .couple-wrap {
    padding: 5rem 1rem 2rem;
  }
}
.couple-section .image-wrap {
  width: 70%;
  margin: auto;
  position: relative;
  margin-bottom: 1.25rem;
  aspect-ratio: 3/3.5;
  border-radius: 1000px 1000px 10px 10px;
  margin-bottom: -5rem;
}
@media (max-width: 767px) {
  .couple-section .image-wrap {
    width: 80%;
  }
}
.couple-section .image-wrap .couple-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 1000px 1000px 10px 10px;
  z-index: 5;
}
.couple-section .couple {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 6rem 0.75rem 1rem;
  z-index: 2;
}
.couple-section .couple .couple-parent {
  width: 80%;
  margin: auto;
}
.couple-section .couple .sosmed-wrap {
  position: relative;
  width: 100%;
}
.couple-section .couple .sosmed-wrap .sosmed {
  color: var(--color-dark);
  text-decoration: none;
}
.couple-section .couple .sosmed-wrap .sosmed small {
  align-items: center;
  gap: 0.25rem;
}
.couple-section .couple .sosmed-wrap .fab {
  font-size: 18px;
}
@media (max-width: 767px) {
  .couple-section .couple .sosmed-wrap .fab {
    font-size: 16px;
  }
}

.story-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .story-section {
    padding: 3rem 0;
  }
  .story-section .row {
    gap: 3rem;
  }
}
.story-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.story-section .orn-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 340px;
  transform: translateY(50%);
}
@media (max-width: 991px) {
  .story-section .orn-1 {
    width: 220px;
  }
}
.story-section .orn-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
  transform: translate(30%, -50%);
}
@media (max-width: 991px) {
  .story-section .orn-2 {
    width: 220px;
  }
}
.story-section .story-image-abs {
  margin-bottom: -3rem;
}
@media (min-width: 768px) {
  .story-section .story-image-abs {
    position: absolute;
    left: 0;
    margin-bottom: 0;
  }
}
.story-section .story-description {
  position: relative;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 1000px 1000px 10px 10px;
  padding: 8rem 1rem 3rem;
}
@media (max-width: 991px) {
  .story-section .story-description {
    margin-top: -8rem;
    padding-top: 5rem;
  }
}
.story-section .image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (min-width: 992px) {
  .story-section .image-wrapper {
    display: none;
  }
}
@media (max-width: 767px) {
  .story-section .image-wrapper {
    aspect-ratio: 3/4;
  }
}
.story-section .image-wrapper::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.story-section .image-wrapper .story-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.venue-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .venue-section {
    padding: 3rem 0;
  }
}
.venue-section .orn-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  transform: translate(-40%, -50%) scaleX(-1);
}
.venue-section .orn-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  transform: translate(40%, -50%);
}
.venue-section .venue-wrapper {
  position: relative;
}
.venue-section .venue-wrapper .venue-content {
  position: relative;
  text-align: center;
  padding-top: 3rem;
}
.venue-section .venue-wrapper .venue-content .card {
  border: none;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 10px;
  color: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .card .card-body {
  padding: 0 2rem 3rem;
}
@media (min-width: 992px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 0 1rem 2.5rem;
  }
}
@media (max-width: 767px) {
  .venue-section .venue-wrapper .venue-content .card .card-body {
    padding: 0 1rem 2rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  transform: translateY(-50%);
  margin: 0 auto;
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue svg {
  width: 40px;
  height: auto;
}
.venue-section .venue-wrapper .venue-content .card .card-body .ribbon-venue svg path {
  stroke: var(--text-button);
}
.venue-section .prokes-wrapper {
  margin-top: 3rem;
  position: relative;
  padding: 2rem 1rem 0;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-dark);
  text-align: center;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 0.75rem 0;
  }
}
.venue-section .prokes-wrap {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--color-main);
  color: var(--color-dark);
  transform: translateY(50%);
}
@media (min-width: 992px) {
  .venue-section .prokes-wrap {
    gap: 0.25rem;
  }
}
@media (max-width: 991px) {
  .venue-section .prokes-wrap {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .venue-section .prokes-wrap {
    margin-top: 0;
    padding: 1rem 0;
  }
}
.venue-section .prokes-wrap .prokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrap .prokes {
    width: 120px;
  }
}
.venue-section .row-venue {
  gap: 3.5rem;
}
@media (max-width: 991px) {
  .venue-section .row-venue {
    gap: 0;
  }
}
@media (max-width: 767px) {
  .venue-section .row-venue {
    gap: 3.75rem;
  }
}
@media (max-width: 767px) {
  .venue-section .row-venue-sm {
    gap: 3rem;
  }
}
.venue-section .event-name {
  position: relative;
}
.venue-section .event-name .date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
}
.venue-section .event-name .date h5 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 38px;
}
.venue-section .event-name .date p {
  margin-top: 0.2rem;
  font-size: 12px;
}
.venue-section .event-name p {
  margin-bottom: 0;
}
.venue-section .btn-custom {
  background-color: transparent;
  border-color: var(--color-button-trans);
  color: var(--color-button-trans);
  transition: all 0.25 ease-in-out;
}
.venue-section .btn-custom:hover {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.venue-section .maps-embed {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 16/9;
}

.rsvp-section {
  position: relative;
  padding: 3rem 0;
  margin-top: 8rem;
}
@media (max-width: 991px) {
  .rsvp-section {
    margin-top: 5rem;
  }
}
@media (max-width: 767px) {
  .rsvp-section {
    margin-top: 8rem;
  }
}
.rsvp-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.rsvp-section .orn-1 {
  position: absolute;
  top: 20%;
  width: 160px;
  left: 0;
  transform: scaleX(-1);
}
@media (max-width: 991px) {
  .rsvp-section .orn-1 {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .rsvp-section .orn-1 {
    width: 100px;
  }
}
.rsvp-section .orn-2 {
  position: absolute;
  right: 0;
  top: 60%;
  width: 100px;
  transform: scaleX(-1);
}
@media (max-width: 991px) {
  .rsvp-section .orn-2 {
    width: 80px;
  }
}
.rsvp-section .image-wrap {
  position: relative;
  height: 520px;
  border-radius: 10px;
  position: absolute;
  top: -8rem;
  left: 0;
}
@media (max-width: 767px) {
  .rsvp-section .image-wrap {
    position: relative;
    top: 0;
    height: 380px;
  }
}
.rsvp-section .image-wrap .rsvp-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.rsvp-section .rsvp-wrap {
  padding: 0;
  position: relative;
  z-index: 3;
}

.wishes-section {
  position: relative;
  padding: 5rem 0 0;
}
@media (max-width: 767px) {
  .wishes-section {
    padding: 3rem 0 0;
  }
}
.wishes-section::before {
  position: absolute;
  inset: 0;
  top: 30%;
  background-image: url(../images/tekstur.png);
  content: "";
}
.wishes-section .orn-1 {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 160px;
  transform: translateX(25%);
}
.wishes-section .image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wishes-section .image-wrap .wishes-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wishes-section .card-form {
  margin-bottom: 0;
  background-color: var(--color-primary);
  position: relative;
  z-index: 3;
  border-radius: 1000px 1000px 10px 10px;
}
.wishes-section .card-form.card {
  border: none;
}
.wishes-section .card-form .card-body {
  padding: 8rem 1rem 2.5rem;
}
@media (max-width: 767px) {
  .wishes-section .card-form .card-body {
    padding: 5rem 1rem 2rem;
  }
}
.wishes-section .wishes-preview {
  position: relative;
  padding: 0 0 3rem;
}
.wishes-section .wishes-preview .card {
  border: none;
  position: relative;
  background-color: transparent;
}
.wishes-section .wishes-preview .card .card-body {
  overflow: hidden;
}
.wishes-section .wishes-preview .card .card-body .wishes {
  text-align: left;
  height: 23.05rem;
  overflow: auto;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6 {
  font-weight: bold;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6,
.wishes-section .wishes-preview .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .egift-section {
    padding: 3rem 0;
  }
}
@media (min-width: 992px) {
  .egift-section .row {
    gap: 1rem;
  }
}
.egift-section::before {
  position: absolute;
  inset: 0;
  top: 35%;
  background-image: url(../images/tekstur.png);
  content: "";
}
.egift-section .gift-wrap {
  position: relative;
  padding: 7rem 1rem 2rem;
  background-color: var(--color-primary);
  border-radius: 1000px 1000px 10px 10px;
  margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
  .egift-section .gift-wrap {
    padding-top: 5rem;
  }
}
.egift-section .tabs-gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 10px;
  gap: 0.5rem;
}
.egift-section .tabs-gift::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.4;
  content: "";
  border-radius: 10px;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}
.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: var(--color-button-trans);
  z-index: 2;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom {
    min-width: 120px;
  }
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}
.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-button-trans);
  transition: all 0.2s ease;
}
.egift-section .tabs-gift .btn-custom.active {
  color: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active path {
  fill: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active.angpao ~ .glider {
  transform: translateX(0);
  animation: tab 0.2s ease-in-out;
}
.egift-section .tabs-gift .btn-custom.active.gift ~ .glider {
  transform: translateX(100%);
  animation: tab 0.2s ease-in-out;
}
.egift-section .tabs-gift .btn-custom:focus {
  box-shadow: none;
}
.egift-section .tabs-gift .btn-custom.active[data-tab=".angpao"] ~ .glider {
  transform: translateX(0);
}
.egift-section .tabs-gift .btn-custom.active[data-tab=".gift"] ~ .glider {
  transform: translateX(100%);
  margin-left: 0.5rem;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom.active[data-tab=".gift"] ~ .glider {
    margin-left: 0.25rem;
    transform: translateX(102.5%);
  }
}
.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  background: var(--color-secondary);
  width: 140px;
  bottom: 0.25rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .glider {
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    width: 120px;
  }
}
.egift-section .card .card-body {
  padding: 3rem;
}
@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}
@media (max-width: 325px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}
.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}
.egift-section .gift,
.egift-section .angpao {
  display: none;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.egift-section .gift.show,
.egift-section .angpao.show {
  display: block;
  opacity: 1;
}
.egift-section .gift-wrapper {
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 8px;
  height: 100%;
}
.egift-section .gift-wrapper .gift-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  gap: 1rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0.75rem;
}
.egift-section .gift-wrapper .gift-content .gift-image-wrap .gift-image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.egift-section .gift-wrapper .gift-content .gift-description {
  position: relative;
  padding: 0 15px;
}
.egift-section .gift-wrapper .gift-content .gift-action {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 15px 15px;
}

@keyframes tab {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gallery-section {
  position: relative;
  padding: 3rem 0 5rem;
}
@media (max-width: 767px) {
  .gallery-section {
    padding: 3rem 0;
  }
}
.gallery-section .zoom-gallery {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
@media (max-width: 767px) {
  .gallery-section .zoom-gallery {
    padding: 0;
    grid-template-columns: auto auto auto auto;
  }
}
.gallery-section .zoom-gallery a {
  position: relative;
  background-color: var(--color-secondary);
  padding: 2px;
}
.gallery-section .zoom-gallery a.grid-lg {
  grid-column: span 2;
}
.gallery-section .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.gallery-section .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "+";
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 2px 8px;
  font-size: 20px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}
.gallery-section .zoom-gallery a:hover::before {
  background-color: rgba(0, 0, 0, 0.25);
}
.gallery-section .zoom-gallery a:hover::after {
  opacity: 1;
}
.gallery-section .zoom-gallery .photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: auto;
  aspect-ratio: 3/4;
}

.apology-section {
  position: relative;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .apology-section {
    padding: 3rem 0;
  }
}
.apology-section .orn-1 {
  position: absolute;
  top: 20%;
  width: 100px;
  left: 0;
}
@media (max-width: 991px) {
  .apology-section .orn-1 {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .apology-section .orn-1 {
    width: 70px;
  }
}
.apology-section .orn-2 {
  position: absolute;
  right: 0;
  top: 60%;
  width: 160px;
}
@media (max-width: 991px) {
  .apology-section .orn-2 {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .apology-section .orn-2 {
    width: 100px;
  }
}
.apology-section .appology-wrap {
  position: relative;
}

.stream-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}
@media (max-width: 991px) {
  .stream-section .row {
    gap: 1.5rem;
  }
}
@media (max-width: 767px) {
  .stream-section {
    padding: 3rem 0;
  }
}
.stream-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.stream-section .stream-wrapper {
  position: relative;
  background-color: var(--color-primary);
  padding: 2rem 1rem 0;
  border-radius: 10px;
  height: 100%;
}
@media (max-width: 767px) {
  .stream-section .stream-wrapper h4 {
    text-align: center;
  }
}
.stream-section ul ol {
  padding: 0;
}
.stream-section .card {
  background-color: transparent;
  height: 100%;
  color: var(--color-dark);
  border: none;
}
.stream-section .btn-custom {
  width: 100%;
  transform: translateY(50%);
}
@media (min-width: 992px) {
  .stream-section .yt-embed {
    height: 320px;
  }
}
.stream-section .yt-description {
  width: 100%;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .stream-section .yt-description {
    text-align: center;
  }
}

.thank-section {
  position: relative;
  padding: 5rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .thank-section {
    padding: 3rem 0;
  }
}
.thank-section::before {
  position: absolute;
  inset: 0;
  background-image: url(../images/tekstur.png);
  content: "";
}
.thank-section .orn-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  z-index: 5;
}
@media (max-width: 767px) {
  .thank-section .orn-1 {
    width: 100px;
  }
}
.thank-section .orn-2 {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 80px;
  z-index: 5;
}
.thank-section .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .thank-section .image-wrapper {
    display: none;
  }
}
.thank-section .image-wrapper::before {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  z-index: 2;
}
.thank-section .image-wrapper .thank-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thank-section .thank {
  position: relative;
  width: 420px;
  padding: 3rem 1rem;
  margin: 0 auto;
  z-index: 5;
}
@media (max-width: 991px) {
  .thank-section .thank {
    color: var(--color-light);
  }
}
@media (max-width: 767px) {
  .thank-section .thank {
    padding: 3rem 1.5rem 5rem;
    width: 100%;
  }
}
.thank-section .thank .border-ribbon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.footer {
  padding: 1rem 0;
  position: relative;
  text-align: center;
}
.footer small {
  position: relative;
}/*# sourceMappingURL=styles.css.map */