.apology-section {
	position: relative;
	padding: 5rem 0;
	@include max-md {
		padding: 3rem 0;
	}
	.appology-wrap {
		position: relative;
		padding: 3rem 2rem;
		background-color: var(--color-primary);
		color: var(--color-dark);
		border-radius: var(--border-radius);
		@include max-md {
			padding: 2rem 1rem;
		}
	}
}
