.header-section {
	position: relative;
	width: 100%;

	.scroll-icon {
		position: relative;
		margin-top: 2rem;
	}

	.ornaments-wrapper {
		&.orn-front {
			z-index: 3;
		}
	}

	.bg-1 {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -12%);

		@include max-lg {
			top: unset;
			bottom: 0;
			width: 120%;
			transform: translate(-50%, 0%);
		}

		@include max-sm {
			width: 150%;
		}
	}

	.bg-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 105%;
		transform: translate(0, 40%);

		@include max-lg {
			width: 140%;
			transform: translate(-10%, 30%);
		}

		@include max-sm {
			width: 180%;
			transform: translate(-10%, 10%);
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		transform: translate(-30%, 20%) rotate(10deg);

		@include min-md {
			width: 30%;
			transform: translate(-40%, 20%) rotate(10deg);
		}

		@include min-lg {
			width: 20%;
		}
	}

	.orn-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: translate(30%, 20%) rotate(-10deg) scaleX(-1);

		@include min-md {
			width: 30%;
			transform: translate(40%, 20%) rotate(-10deg) scaleX(-1);
		}

		@include min-lg {
			width: 20%;
		}
	}

	.orn-9 {
		position: absolute;
		top: 25%;
		right: 0%;
		width: 20%;
		transform: rotate(25deg) scaleX(-1);
	}

	.orn-10 {
		position: absolute;
		top: 0;
		right: -35%;
		width: 35%;
		transform: rotate(15deg);

		@include max-sm {
			width: 25%;
		}
	}

	.hias-1 {
		position: absolute;
		top: 0;
		left: 20%;
		width: 8%;

		@include max-lg {
			left: 10%;
			width: 15%;
		}

		@include max-sm {
			left: 0;
			width: 25%;
		}
	}

	.hias-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 10%;

		@include max-lg {
			width: 20%;
		}

		@include max-sm {
			width: 30%;
		}
	}

	.hias-3 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 45%;
		transform: translate(-50%, 10%);

		@include max-lg {
			width: 80%;
		}

		@include max-sm {
			width: 100%;
			transform: translate(-50%, 0%);
		}
	}

	.hias-5 {
		position: absolute;
		left: 0;
		top: 1rem;
		width: 25%;

		@include min-xl {
			top: 2rem;
		}

		@include min-xxl {
			top: 1rem;
		}

		@include max-sm {
			top: 3rem;
			width: 30%;
		}
	}

	.hias-4 {
		position: absolute;
		left: 50%;
		top: -20%;
		width: 25%;
		transform: translate(-50%, 0);

		@include min-xl {
			top: -10%;
		}

		@include min-xxl {
			top: -20%;
		}

		@include max-sm {
			top: -10%;
			width: 30%;
		}
	}

	.header-content {
		position: relative;
		height: 100vh;
		padding: 3rem 0;

		.header {
			position: relative;
			width: 30%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			@include max-xl {
				width: 40%;
			}

			@include max-lg {
				width: 60%;
			}

			@include max-md {
				width: 80%;
			}

			@include max-sm {
				width: 100%;
			}

			.ornaments-wrapper {
				&.orn-front {
					z-index: 6;
				}
			}

			.header-title {
				position: relative;
				text-align: center;
				padding: 2rem 0;
				width: 100%;
				z-index: 5;

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: var(--color-primary);
					border-radius: 50%;
					opacity: 0.8;
					filter: blur(20px);
					content: "";
				}

				&-content {
					position: relative;
					padding: 3rem 2rem;

					@include max-lg {
						padding: 5rem 2rem;
					}

					@include max-sm {
						padding: 5rem 1.5rem;
					}
				}

			}

			.frame {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 130%;
				transform: translate(-50%, -50%);

				@include max-sm {
					width: 135%;
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

[data-anim="zoom-in-main"].has-animate {
	animation-name: zoomInMain;
	animation-fill-mode: forwards;
	animation-duration: 3500ms !important;
}

[data-anim="peafowl-right"].has-animate {
	animation-name: peafowlRight;
	animation-duration: 3500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

[data-anim="peafowl-left"].has-animate {
	animation-name: peafowlLeft;
	animation-duration: 2500ms !important;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.33, 0.12, 0.61, 0.9);
}

@keyframes peafowlRight {
	0% {
		transform: translate3d(50%, 0, 0);
	}

	20% {
		transform: translate3d(60%, 5%, 0);
	}

	40% {
		transform: translate3d(70%, 0, 0);
	}

	60% {
		transform: translate3d(80%, 5%, 0);
	}

	80% {
		transform: translate3d(90%, 0, 0);
	}

	100% {
		transform: translate3d(100%, 5%, 0);
	}
}

@keyframes peafowlLeft {
	0% {
		transform: translate3d(-50%, 0, 0);
	}

	20% {
		transform: translate3d(-60%, 5%, 0);
	}

	40% {
		transform: translate3d(-70%, 0, 0);
	}

	60% {
		transform: translate3d(-80%, 5%, 0);
	}

	80% {
		transform: translate3d(-90%, 0, 0);
	}

	100% {
		transform: translate3d(-100%, 5%, 0);
	}
}