:root {
	--color-main: #{$color-main};
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-dark: #{$color-dark};
	--color-light: #{$color-light};
	--text-button: #{$text-button};
	--color-button-trans: #{$color-button-trans};
	--vd-color-pink: #{$color-logo};
	--border-radius: #{$border-radius};
	--shadow: box-shadow(0 1rem 1rem rgba(0, 0, 0, 0.1));
}
