.wishes-section {
	position: relative;
	padding: 5rem 0 0;

	@include max-md {
		padding: 3rem 0 0;
	}

	.hias-1 {
		position: absolute;
		top: 0;
		left: 20%;
		width: 8%;
		z-index: 3;

		@include max-lg {
			left: 10%;
			width: 15%;
		}

		@include max-sm {
			left: 0;
			width: 25%;
		}
	}

	.hias-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 10%;

		@include max-lg {
			width: 20%;
		}

		@include max-sm {
			width: 30%;
		}
	}

	.wishes-form-wrapper {
		position: relative;

		.cloud-1 {
			position: absolute;
			top: -3rem;
			left: 0;
			width: 80%;
			transform: translate(-30%, 0);
		}

		.orn-1 {
			position: absolute;
			top: 0;
			left: 5rem;
			width: 10%;
			transform: rotate(25deg);

			@include min-md {
				width: 8%;
			}

			@include min-lg {
				width: 5%;
			}
		}

		.orn-2 {
			position: absolute;
			top: -3rem;
			right: 0;
			width: 40%;
			transform: translate(70%, 0) rotate(-20deg);

			@include min-md {
				width: 30%;
			}

			@include min-lg {
				width: 25%;
			}
		}
	}

	.card-form {
		background-color: transparent;

		&.card {
			border: none;
		}

		.card-body {
			padding: 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}

	.wishes-preview {
		position: relative;
		background-color: var(--color-primary);
		padding: 2rem 0 5rem;

		@include max-md {
			padding: 1rem 0 3rem;
		}

		.bg-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0.4;

			@include max-sm {
				left: 50%;
				width: 170%;
				transform: translate(-50%, 0);
			}
		}

		.card {
			position: relative;
			border: none;
			background-color: transparent;

			.card-body {
				overflow: hidden;
				padding: 0;

				.wishes {
					text-align: left;
					max-height: 32rem;
					overflow: auto;
					padding-right: 1rem;
					color: var(--color-dark);

					&::-webkit-scrollbar {
						width: 5px;
					}

					&::-webkit-scrollbar-track {
						background-color: #eee;
						border-radius: 20px;
						opacity: 0.15;
					}

					&::-webkit-scrollbar-thumb {
						background-color: var(--color-secondary);
						border-radius: 20px;
					}

					// .text-muted {
					// 	color: rgba($color: #fff, $alpha: 0.8) !important;
					// }
					.wish {
						margin-bottom: 1.5rem;
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 1rem;

						h6 {
							font-weight: bold;
						}

						h6,
						p {
							margin-bottom: 0;
						}

						.wish-badge {
							background-color: var(--color-light);
							width: 35px;
							aspect-ratio: 1;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;
						}

						.wish-description {
							padding: 1rem;
							background-color: rgba($color: #fff, $alpha: 0.8);
							border-radius: 5px;
							position: relative;

							&::before {
								position: absolute;
								top: 15px;
								left: 0;
								width: 15px;
								height: 15px;
								transform: translateX(-100%);
								clip-path: url(#wishes-polygon);
								content: "";
								background-color: rgba($color: #fff, $alpha: 0.8);
							}
						}
					}
				}
			}
		}
	}
}