@font-face {
	font-family: "NewYork";
	src: url("../fonts/NewYork.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "NewYork";
	src: url(../fonts/NewYork.woff2) format("woff2");
	font-display: swap;
}
