.venue-section {
	position: relative;

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 160px;

		img {
			position: relative;
		}

		.orn-3 {
			position: absolute;
			left: 0;
			bottom: 0;
			transform: translate(-60%, 60%) scaleX(-1);
			width: 300px;
		}

		.orn-4 {
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scale(-1) translate(10%, -180%);
			width: 100px;

			img {
				transform-origin: 80% 50%;
			}
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 180px;

		img {
			position: relative;
		}

		.orn-3 {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(50%, 60%);
			width: 300px;
		}

		.orn-4 {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: scaleY(-1) translate(10%, -180%);
			width: 100px;

			img {
				transform-origin: 80% 50%;
			}
		}
	}

	.elements-absolute {
		transform: translateY(-60%);
	}

	.venue-wrapper {
		position: relative;
		z-index: 3;
		background: linear-gradient(180deg, var(--color-primary) 0%, transparent 100%);
		border-radius: var(--border-radius);
		padding: 5rem 2rem;

		@include max-md {
			padding: 3rem 1rem;
		}

		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;
			color: var(--color-light);

			@include max-lg {
				margin-bottom: 3rem;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				padding: 1.5rem 0 0;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}
			}

			.frame-venue {
				width: 100%;
				height: auto;
				opacity: 0.8;
			}

			.card {
				border: none;
				z-index: 5;
				background-color: transparent;
				text-align: center;

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
					background-color: var(--color-main);
					opacity: 0.8;
				}

				.card-body {
					margin-top: -2rem;
					padding: 0 2rem 3rem;

					@include max-lg {
						padding: 0 1rem 2rem;
					}

					h4 {
						font-weight: 600;
						margin: 1rem 0;
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin-top: 3rem;
		position: relative;
		padding: 2rem 0;
		border-radius: 10px;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}
	}

	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;

		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;

			@include max-md {
				width: 120px;
			}

			@include max-xs {
				width: 45%;
			}
		}
	}

	.row-venue-sm {
		@include max-md {
			gap: 3rem;
		}
	}

	.event-name {
		position: relative;
		width: 100%;

		.date {
			width: fit-content;
			max-width: 100%;
			margin: 0 auto;
			text-align: center;

			h5 {
				font-weight: 700;
				margin-bottom: 0;
				font-size: 38px;
			}

			hr {
				margin: 0.25rem;
				height: 2px;
			}
		}

		h4 {
			font-family: $font-secondary;
		}

		p {
			margin-bottom: 0;
		}
	}

	.event-place {
		position: relative;
	}

	.btn-custom {
		background-color: transparent;
		border-color: var(--color-button-trans);
		color: var(--color-button-trans);
		transition: all 0.25 ease-in-out;

		&:hover {
			background-color: var(--color-secondary) !important;
			border-color: var(--color-secondary);
			color: var(--text-button);
		}
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}