.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.elements-wrapper-absolute {
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba($color: #000000, $alpha: .3);
			content: "";
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 0 1rem;
		color: var(--color-light);
		@include max-sm{
			padding: 0;
		}

		.title-section {
			margin-bottom: 20rem;
		}
	}
}