.rsvp-section {
	position: relative;
	background-color: var(--color-primary);
	padding-top: 5rem;

	.elements-absolute {
		border-radius: 300px 300px 0 0;
		overflow: hidden;
	}

	.frame {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -25%);
	}

	.pilar {
		position: absolute;
		bottom: 0;
		height: 70%;

		&-left {
			left: 0;
			transform: translate(-58%, 0);
		}

		&-right {
			right: 0;
			transform: translate(58%, 0);
		}

		.image-element {
			width: auto;
			height: 100%;

			img {
				width: auto;
				height: 100%;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 25%;
		transform: translate(-30%, 0) scaleY(-1);

		.orn-2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transform: translate(20%, 85%) scaleY(-1);
		}
	}

	.orn-3 {
		position: absolute;
		top: 5rem;
		right: 0;
		width: 25%;
		transform: translate(40%, 0) rotate(-25deg);

		.orn-4 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transform: translate(0, -65%) rotate(25deg) scale(-1);
		}
	}

	.rsvp-wrapper {
		position: relative;
		background-color: var(--color-main);
		color: var(--color-dark);
		border-radius: 300px 300px 0 0;
		padding: 8rem 5rem 3rem;

		@include ipad {
			padding: 8rem 5rem 5rem;
		}

		@include max-sm {
			padding: 8rem 3rem 3rem;
		}
	}
}