@font-face {
	font-family: "La Graziela Demo";
	src: url(../fonts/LaGrazielaDemo.woff2) format(woff2);
	font-display: swap;
}
@font-face {
	font-family: "AvantGarde Bk BT";
	src: url(../fonts/AVGARDN_2.woff) format(woff);
	font-display: swap;
}