.cover-section {
	position: fixed;
	z-index: 1000;
	transition: all 1s ease-out;
	overflow: hidden;
	width: 100%;

	&.cover-opened {
		pointer-events: none;

		.orn-1 {
			.image-element {
				transform: translateX(-100%);
				transition: all 2s ease-in;
			}
		}

		.orn-2 {
			.image-element {
				transform: translateX(100%);
				transition: all 2s ease-in 400ms;
			}
		}

		.orn-3 {
			.image-element {
				transform: translateX(-100%);
				transition: all 2s ease-in 400ms;
			}
		}

		.orn-4 {
			.image-element {
				transform: translateX(100%);
				transition: all 2s ease-in;
			}
		}

		.orn-5 {
			.image-element {
				transform: translateX(-100%);
				transition: all 1.5s ease-in;
			}
		}

		.orn-6 {
			.image-element {
				transform: translateX(-100%);
				transition: all 1.5s ease-in;
			}
		}

		.cover-wrapper {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-10%, -10%);

		@include max-lg {
			width: 100%;
			transform: translate(-50%, -10%);
		}

		@include max-sm {
			width: 120%;
			transform: translate(-40%, -10%);
		}

		.image-element {
			transition: all 2s ease-in;
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 70%;
		transform: translate(20%, -20%);

		@include max-lg {
			width: 110%;
			transform: translate(40%, -20%);
		}

		@include max-sm {
			width: 130%;
			transform: translate(50%, -20%);
		}
	}

	.orn-3 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 60%;
		transform: translate(-10%, -8%);

		@include max-lg {
			width: 100%;
			transform: translate(-40%, -8%);
		}

		@include max-sm {
			width: 120%;
			transform: translate(-50%, -8%);
		}
	}

	.orn-4 {
		position: absolute;
		top: 50%;
		right: 0;
		width: 58%;
		transform: translate(5%, -10%);

		@include max-lg {
			width: 100%;
			transform: translate(40%, -10%);
		}

		@include max-sm {
			width: 120%;
			transform: translate(50%, -10%);
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30%;

		@include max-lg {
			width: 45%;
		}

		@include max-sm {
			width: 60%;
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		transform: scaleX(-1);

		@include max-lg {
			width: 45%;
		}

		@include max-sm {
			width: 60%;
		}
	}

	.cover-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 0 3rem;
		transition: all .5s ease-in-out;
		height: 100vh;

		@include max-lg {
			padding: 4rem 0 10rem;
			align-items: center;
		}

		.cover-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.cover-body {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35%;
				min-height: 80%;
				background-color: var(--color-main);
				border-radius: var(--border-radius);
				overflow: hidden;

				@include max-xl {
					width: 40%;
				}

				@include max-lg {
					width: 60%;
				}

				@include max-sm {
					width: 100%;
					transform: scale(.9);
				}

				.elements-wrapper-absolute {
					opacity: .2;
				}

				.cover-description {
					position: relative;
					padding: 1rem;
					text-align: center;

					.cover-event {
						position: relative;
						margin-bottom: 1rem;
					}

					.greeting-wrapper {
						position: relative;
						margin-bottom: 1.5rem;
					}

					.title {
						padding: 1rem 0;
						margin-bottom: 0;
					}

					p {
						margin-bottom: 0;
					}

					h6 {
						margin-bottom: 0;
						font-weight: 600;
					}
				}
			}

			.elements-widget {
				position: relative;
				width: 100%;
				padding-top: 1rem;
			}
		}
	}
}