.venue-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-dark);

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			height: 100%;
			@include aspect-ratio(16, 9);

			@include max-sm {
				@include aspect-ratio(5, 6);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.bg-1 {
		position: absolute;
		top: 2rem;
		left: 50%;
		width: 150%;
		transform: translate(-50%, 0);
		opacity: .6;
	}

	.orn-1 {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 15%;
		transform: translate(40%, 0) rotate(-10deg);

		@include max-lg {
			width: 25%;
		}

		@include max-sm {
			width: 35%;
			transform: translate(40%, -25%) rotate(-10deg);
		}
	}

	.orn-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		transform: translate(-30%, 0);
	}

	.orn-3 {
		position: absolute;
		top: 60%;
		right: 0;
		width: 70%;
		transform: translate(20%, -50%);
	}

	.orn-4 {
		position: absolute;
		bottom: 1rem;
		left: 0;
		width: 45%;
		transform: translate(-50%, 0) scaleX(-1);
	}

	.orn-5 {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 35%;
		transform: translate(-20%, 0);

		@include max-lg {
			width: 60%;
		}

		@include max-sm {
			width: 70%;
		}
	}

	.venue-wrapper {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			text-align: left;

			@include max-lg {
				margin-bottom: 3rem;
			}

			.title-section {
				text-align: left;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: var(--color-main);
				color: var(--color-dark);
				text-align: left;
				border: none;
				border-radius: var(--border-radius);
				overflow: hidden;

				.card-body {
					position: relative;
					padding: 2rem;

					@include max-sm {
						padding: 2rem 1.5rem;
					}

					.event-description {
						position: relative;
						padding: 2rem 0;

						p {
							margin-bottom: 0;
						}
					}

					.event-name {
						position: relative;
						width: 100%;

						.date {
							position: relative;
							width: 100%;
							padding: .75rem 0;

							h5 {
								font-family: $font-secondary;
								font-weight: 400;
								margin-bottom: 0;
								font-size: 28px;
							}
						}

						h4 {
							font-family: $font-secondary;
							padding-bottom: 2rem;
						}

						p {
							margin-bottom: 0;
							font-weight: 600;
						}
					}

					.event-place {
						position: relative;
						width: 80%;
						margin-left: auto;

						@include max-lg {
							width: 85%;
						}

						&-body {
							position: relative;
							background-color: var(--color-primary);
							color: var(--color-dark);
							border-radius: var(--border-radius);
							padding: 2rem 1rem;

							.widget-elements {
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}