.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.figure {
		position: relative;
		display: block;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1rem;
	}

	.rsvp-wrapper {
		position: relative;

		.rsvp-form {
			padding: 0 3rem;

			@include max-sm {
				padding: 0 2rem;
			}
		}
	}
}