.venue-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 60%;
		transform: translate(-70%, 0);
	}

	.orn-2 {
		position: absolute;
		top: 25rem;
		right: 0;
		width: 60%;
		transform: translate(70%, 0);
	}

	.venue-wrapper {
		position: relative;

		.venue-description {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;

			.title-section {
				border-color: var(--color-primary);
				color: var(--color-primary);
			}

			.figure {
				position: relative;
				width: 75%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 6rem;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;
				margin-bottom: 1rem;

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: transparent;
				border: none;
				text-align: center;

				.card-body {
					padding: 2rem;

					@include max-lg {
						padding: 0;
					}

					h4 {
						padding: 0 0 1rem;
						font-weight: 700;
					}

					.event-name {
						position: relative;
						width: 100%;
						margin-bottom: 2rem;

						.line {
							width: 45px;
							height: 2px;
							background-color: var(--color-button-trans);
							margin: 0 auto 1rem;
						}

						.date {
							position: relative;
							width: 100%;

							h5 {
								font-family: $font-secondary;
								margin-bottom: 0;
								font-size: 42px;
							}

						}

						h4 {
							font-family: $font-secondary;
							font-size: 28px;
						}

						p,
						span {
							margin-bottom: 0;
							font-size: 18px;
							font-weight: 500;

							@include max-sm {
								font-size: 16px;
							}
						}
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-place {
						position: relative;
						background-color: var(--color-primary);
						border-radius: 0;
						color: var(--color-light);

						&-body {
							padding: 2rem 1.8rem;

							.widget-elements {
								position: relative;
								width: 100%;
								margin-top: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		@include min-lg {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include min-lg {
					width: 120px;
				}

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;

		&-sm {
			@include max-md {
				row-gap: 3rem;
			}
		}
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}