@font-face {
  font-family: "NewYork";
  src: url(../fonts/NewYork.woff2) format(woff2);
  font-display: swap;
}
:root {
  --color-main: #C6BAAB;
  --color-primary: #39291C;
  --color-secondary: #746354;
  --color-dark: #1e1f1e;
  --color-light: #ffffff;
  --text-button: #ffffff;
  --color-button-trans: #fff;
  --vd-color-pink: #e9088a;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.main-app {
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .main-app .background__views {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 63%;
  }
}

.elements-wrapper-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.elements-wrapper-absolute .background-element {
  height: 100%;
}
.elements-wrapper-absolute .background-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.elements-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.elements-absolute .background-element {
  position: relative;
  width: 100%;
}
.elements-absolute .background-element img {
  width: 100%;
  height: auto;
}

.ornaments-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.background__views {
  display: none;
  height: 100vh;
}
.background__views .background__frames {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.background__views .background__frames::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.background__views .background__frames .header-title {
  color: var(--color-light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 3rem;
  width: 100%;
  text-align: left;
  z-index: 5;
}

.layout__views {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  .layout__views {
    margin-left: auto;
    width: 37%;
  }
}
@media (max-width: 991px) {
  .layout__views {
    width: 100% !important;
  }
}
.layout__views .fixed-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 37%;
  height: 100vh;
}
@media (max-width: 991px) {
  .layout__views .fixed-background {
    width: 100% !important;
  }
}
.layout__views .fixed-background .background-element {
  position: relative;
  width: 100%;
  height: 100%;
}
.layout__views .fixed-background .background-element::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.layout__views .fixed-background .background-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-viding {
  height: 2.4rem;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .logo-viding {
    height: 2.25rem;
  }
}
.logo-viding path {
  fill: var(--vd-color-pink);
}
@media (min-width: 992px) {
  .logo-viding.custom-position {
    transform: translateX(-5%);
  }
}

h1,
h2,
h3 {
  font-family: "NewYork", serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

h1 {
  font-size: 38px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
h1 span {
  font-size: 26px;
  display: block;
}
@media (max-width: 767px) {
  h1 span {
    font-size: 20px;
  }
}

small {
  font-size: 12px;
}

span {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

@media (max-width: 575px) {
  p,
  span {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
}
.image-element {
  position: relative;
  width: 100%;
  height: auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  .container-custom {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  .container-custom {
    padding: 0;
  }
}

.btn-custom {
  background-color: var(--color-secondary);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  color: var(--text-button);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 50px;
}
.btn-custom:hover {
  color: var(--text-button);
}
.btn-custom path {
  fill: var(--text-button);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px 1000px 50px 50px;
  background-color: var(--color-secondary);
}

.font-primary {
  font-family: "Nunito Sans", sans-serif;
}

.font-secondary {
  font-family: "NewYork", serif;
}

.scaleX-reverse {
  transform: scaleX(-1);
}

.scaleY-reverse {
  transform: scaleY(-1);
}

.scale-reverse {
  transform: scale(-1);
}

.form-control,
.form-select {
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color-dark);
  border-radius: 8px;
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: var(--color-dark);
}
.form-control::placeholder,
.form-select::placeholder {
  color: var(--color-dark);
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--color-dark);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.scrolled {
  background: #fff !important;
  box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}
.scrolled .logo-viding {
  transform: translateX(0);
}
.scrolled .logo-viding path {
  fill: var(--vd-color-pink);
}

.navbar-hide {
  top: -70px;
}
@media (min-width: 992px) {
  .navbar-hide {
    top: 0;
  }
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--vd-color-pink);
  width: 100%;
  transform: scaleZ(0);
  transform-origin: 0% 50%;
  z-index: 9999;
}

.title-section {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
}
.title-section h2,
.title-section p,
.title-section span {
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 38px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}
@media (max-width: 767px) {
  .title-section h2,
  .title-section p,
  .title-section span {
    font-size: 2rem;
  }
}

.overlay-elements-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
}
.overlay-elements-gradient.overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, var(--color-main) 20%, transparent 100%);
}
.overlay-elements-gradient.overlay-top {
  top: 0;
  background: linear-gradient(to bottom, var(--color-main) 20%, transparent 100%);
}

.waves-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: -2px;
  z-index: 3;
}
.waves-bottom path {
  fill: var(--color-main);
}
.waves-bottom.reverse {
  transform: scaleX(-1);
}

.waves-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: auto;
  transform: scale(-1);
  z-index: 3;
}
.waves-top path {
  fill: var(--color-main);
}

.waves-left {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
}

.waves-right {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
  transform: scale(-1);
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media (min-width: 768px) {
  .lg {
    display: block;
  }
  .sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .lg {
    display: none;
  }
  .sm {
    display: block;
  }
}
.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1500;
  flex-direction: column;
  gap: 1.25rem;
}
.loader-wrapper .spinner {
  position: relative;
  width: 84px;
  height: auto;
}
.loader-wrapper span {
  color: var(--vd-color-pink);
  font-weight: 700;
  animation: fade 2s linear infinite;
  letter-spacing: 5px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal.show-maps .modal-content {
  border-radius: 20px;
}
.modal.show-maps .modal-body {
  padding: 2rem 3rem;
  position: relative;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body {
    padding: 2rem 1rem;
  }
}
.modal.show-maps .modal-body .btn-modal {
  background-color: var(--color-main);
  color: var(--color-dark);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  opacity: 0.5;
  padding: 0 0.425rem;
  transition: all 0.5s ease;
}
.modal.show-maps .modal-body .btn-modal:hover {
  opacity: 1;
}
.modal.show-maps .modal-body .btn-custom {
  background: transparent;
  border-color: var(--color-dark);
  color: var(--color-dark);
  transition: all 0.25 ease-in-out;
}
.modal.show-maps .modal-body .btn-custom:hover {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
}
.modal.show-maps .modal-body .maps-element {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .modal.show-maps .modal-body .maps-element {
    aspect-ratio: 9/10;
  }
}
.modal.show-maps .modal-body .loader-wrapper-modal {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.show-maps .modal-body .loader-wrapper-modal.loaded {
  display: none;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--color-secondary);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.modal.show-maps .modal-body .loader-wrapper-modal .lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.modal.show-maps .modal-body .modal-actions {
  position: relative;
  color: var(--color-dark);
}

/** mouse scroll **/
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 20px;
  position: relative;
  margin: 0 auto;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid var(--color-light);
  border-bottom: 2px solid var(--color-light);
  margin: 0 0 3px 4px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .m_scroll_arrows {
    width: 16px;
    height: 16px;
  }
}
.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  animation: mouse-scroll 1s infinite;
}

.unu {
  animation-direction: alternate;
  animation-delay: 0.1s;
}

.doi {
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--color-light);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #fff;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
}

.wheel {
  animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
[data-anim][data-anim] {
  will-change: transform;
}
[data-anim][data-anim].animation-invisible {
  visibility: hidden;
}
[data-anim][data-anim].has-animate {
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
}
[data-anim][data-anim].animate-loop {
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
[data-anim][data-anim].animate-loop.animate-paused {
  animation-play-state: paused;
}

[data-anim=fade].has-animate {
  animation-name: fadeAnim;
}

[data-anim=fade-right].has-animate {
  animation-name: fadeRight;
}

[data-anim=fade-left].has-animate {
  animation-name: fadeLeft;
}

[data-anim=fade-up].has-animate {
  animation-name: fadeUp;
}

[data-anim=fade-down].has-animate {
  animation-name: fadeDown;
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
[data-anim=slide-right].has-animate {
  animation-name: slideRight;
}

[data-anim=slide-left].has-animate {
  animation-name: slideLeft;
}

[data-anim=slide-up].has-animate {
  animation-name: slideUp;
}

[data-anim=slide-down].has-animate {
  animation-name: slideDown;
}

@keyframes slideRight {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate3d(30%, 0, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
[data-anim=slide-rotate-left].has-animate {
  animation-name: slideRotateLeft;
}

[data-anim=slide-rotate-right].has-animate {
  animation-name: slideRotateRight;
}

[data-anim=slide-rotate-up].has-animate {
  animation-name: slideUpRotateLeft;
}

@keyframes slideRotateLeft {
  0% {
    transform: translate3d(30%, 0, 0) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideRotateRight {
  0% {
    transform: translate3d(-30%, 0, 0) rotate(-45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate(0);
  }
}
@keyframes slideUpRotateLeft {
  0% {
    transform: translate3d(0, 150px, 0) rotate(30deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateZ(0);
  }
}
[data-anim=rotate-right].has-animate {
  animation-name: rotateRight;
}

[data-anim=rotate-left].has-animate {
  animation-name: rotateLeft;
}

@keyframes rotateRight {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
[data-anim=zoom-in].has-animate {
  animation-name: zoomIn;
}

[data-anim=zoom-in-up].has-animate {
  animation-name: zoomInUp;
}

[data-anim=zoom-in-down].has-animate {
  animation-name: zoomInDown;
}

[data-anim=zoom-in-left].has-animate {
  animation-name: zoomInLeft;
}

[data-anim=zoom-in-right].has-animate {
  animation-name: zoomInRight;
}

[data-anim=zoom-out].has-animate {
  animation-name: zoomOut;
}

[data-anim=zoom-out-up].has-animate {
  animation-name: zoomOutUp;
}

[data-anim=zoom-out-down].has-animate {
  animation-name: zoomOutDown;
}

@keyframes zoomIn {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomInUp {
  0% {
    transform: translate3d(0, 100px, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInDown {
  0% {
    transform: translate3d(0, -100px, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInLeft {
  0% {
    transform: translate3d(50%, 0, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomInRight {
  0% {
    transform: translate3d(-50%, 0, 0) scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOutUp {
  0% {
    transform: translate3d(0, 100px, 0) scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
@keyframes zoomOutDown {
  0% {
    transform: translate3d(0, -100px, 0) scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale3d(1, 1, 1);
  }
}
[data-anim*=flip][data-anim*=flip] {
  backface-visibility: hidden;
}

[data-anim=flip-up].has-animate {
  animation-name: flipUp;
}

[data-anim=flip-down].has-animate {
  animation-name: flipDown;
}

[data-anim=flip-left].has-animate {
  animation-name: flipLeft;
}

[data-anim=flip-right].has-animate {
  animation-name: flipRight;
}

@keyframes flipUp {
  0% {
    perspective: 2500px;
    transform: rotateX(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipDown {
  0% {
    perspective: 2500px;
    transform: rotateX(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateX(0);
  }
}
@keyframes flipLeft {
  0% {
    perspective: 2500px;
    transform: rotateY(-100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
@keyframes flipRight {
  0% {
    perspective: 2500px;
    transform: rotateY(100deg);
  }
  100% {
    perspective: 0;
    transform: rotateY(0);
  }
}
[data-anim=height-up].has-animate {
  animation-name: heightUp;
  visibility: visible !important;
}

[data-anim=height-up-reverse].has-animate {
  animation-name: heightUpReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-down].has-animate {
  animation-name: heightDown;
  visibility: visible !important;
}

[data-anim=height-down-reverse].has-animate {
  animation-name: heightDownReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=height-center].has-animate {
  animation-name: heightCenter;
  visibility: visible !important;
}

[data-anim=height-center-reverse].has-animate {
  animation-name: heightCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-left].has-animate {
  animation-name: widthLeft;
  visibility: visible !important;
}

[data-anim=width-left-reverse].has-animate {
  animation-name: widthLeftReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-right].has-animate {
  animation-name: widthRight;
  visibility: visible !important;
}

[data-anim=width-right-reverse].has-animate {
  animation-name: widthRightReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

[data-anim=width-center].has-animate {
  animation-name: widthCenter;
  visibility: visible !important;
}

[data-anim=width-center-reverse].has-animate {
  animation-name: widthCenterReverse;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

@keyframes heightUp {
  0% {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0% 0 0 0);
            clip-path: inset(0% 0 0 0);
  }
}
@keyframes heightDown {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0% 0);
            clip-path: inset(0 0 0% 0);
  }
}
@keyframes heightUpReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, 50%, 0) scaleY(0);
  }
}
@keyframes heightDownReverse {
  0% {
    transform: translateZ(0) scaleY(1);
  }
  100% {
    transform: translate3d(0, -50%, 0) scaleY(0);
  }
}
@keyframes heightCenter {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes heightCenterReverse {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes widthLeft {
  0% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthRight {
  0% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
  100% {
    transform: translateZ(0) scaleX(1);
  }
}
@keyframes widthCenter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes widthLeftReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(50%, 0, 0) scaleX(0);
  }
}
@keyframes widthRightReverse {
  0% {
    transform: translateZ(0) scaleX(1);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scaleX(0);
  }
}
@keyframes widthCenterReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
[data-anim=zoom-out-image].has-animate {
  transition-duration: 1500ms;
  transition-timing-function: ease;
  transition-delay: 200ms;
  transition-property: transform;
  transform: scale3d(1, 1, 1);
}

[data-anim=zoom-out-image] {
  transform: scale3d(1.25, 1.25, 1.25);
  transition-duration: 5000ms !important;
  visibility: visible !important;
}

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.5rem;
  z-index: 3;
  color: var(--color-light);
}
.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 325px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 12px;
  }
}
.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 38px;
  font-family: "NewYork", serif;
}
@media (max-width: 767px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 32px;
  }
}
@media (max-width: 325px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}
.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
}

.cover-section {
  position: fixed;
  z-index: 1000;
  transition: all 1s ease-out;
  background-color: var(--color-main);
  color: var(--color-light);
  overflow: hidden;
  width: 100%;
}
.cover-section.cover-opened {
  transform: translateY(-100%);
}
.cover-section .elements-wrapper-absolute::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.cover-section .cover-wrapper {
  position: relative;
  padding: 5rem 0 3rem;
  transition: opacity 1s ease;
  height: 100vh;
}
@media (max-width: 991px) {
  .cover-section .cover-wrapper {
    padding: 5rem 0 8rem;
  }
}
.cover-section .cover-wrapper .cover-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.cover-section .cover-wrapper .cover-content .cover-body {
  position: relative;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description {
  padding: 1rem;
  text-align: left;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .cover-event {
  position: relative;
  margin-bottom: 1rem;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .greeting-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description .title {
  padding: 1rem 0;
  margin-bottom: 0;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description p {
  margin-bottom: 0;
}
.cover-section .cover-wrapper .cover-content .cover-body .cover-description h6 {
  margin-bottom: 0;
  font-weight: 600;
}
.cover-section .cover-wrapper .cover-content .elements-widget {
  position: relative;
  width: 100%;
}

.header-section {
  position: relative;
}
.header-section .scroll-icon {
  margin-bottom: 1rem;
}
.header-section .header-content {
  position: relative;
  text-align: center;
  padding: 5rem 2rem 3rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.header-section .header-content .header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}
.header-section .header-content .header .header-title {
  position: relative;
}
.header-section .header-content .header .header-title-content {
  color: var(--color-light);
}

.reminder-wrap {
  position: relative;
  width: 100%;
}
.reminder-wrap .reminder-content {
  position: relative;
  width: 100%;
  text-align: left;
}
.reminder-wrap .btn-reminder {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 1.5rem 0 0;
}
.reminder-wrap .btn-reminder path {
  fill: var(--text-button);
  transition: all 0.3s ease-in-out;
}

.couple-section {
  position: relative;
  padding: 3rem 0 0;
  background-color: var(--color-primary);
  color: var(--color-light);
}
@media (max-width: 991px) and (min-width: 768px) {
  .couple-section {
    padding: 5rem 0 0;
  }
}
.couple-section .and {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 3;
}
@media (max-width: 991px) and (min-width: 768px) {
  .couple-section .and {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.couple-section .and span {
  position: relative;
  font-size: 28px;
  font-family: "NewYork", serif;
}
.couple-section .couple-wrapper {
  position: relative;
}
@media (min-width: 992px) {
  .couple-section .couple-wrapper .container {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .couple-section .couple-wrapper .container {
    padding: 0;
  }
}
.couple-section .couple-wrapper .couple-content {
  position: relative;
  text-align: left;
  margin-bottom: 3rem;
}
@media (min-width: 992px) {
  .couple-section .couple-wrapper .couple-content {
    padding: 0 1.8rem;
  }
}
@media (max-width: 575px) {
  .couple-section .couple-wrapper .couple-content {
    padding: 0 1.8rem;
  }
}
.couple-section .couple-wrapper .couple-content .title-section {
  text-align: left;
}
.couple-section .couple-wrapper .couple-content p {
  margin-bottom: 0;
}
.couple-section .couple {
  position: relative;
}
.couple-section .couple .image-wrap {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 4/6;
}
.couple-section .couple .image-wrap .image-element {
  height: 100%;
}
.couple-section .couple .image-wrap .image-element::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.couple-section .couple .image-wrap .image-element .couple-image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.couple-section .couple .couple-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 1rem);
  padding: 2rem 1.5rem;
  text-align: left;
}
.couple-section .couple .couple-description::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  opacity: 0.6;
  content: "";
}
.couple-section .couple .couple-description h3 {
  position: relative;
}
.couple-section .couple .couple-description .couple-parent {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}
.couple-section .couple .couple-description .couple-parent p {
  margin-bottom: 0;
}
.couple-section .couple .couple-description .sosmed-wrap {
  --color-button-trans: #fff;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  border: 1px solid var(--color-button-trans);
  padding: 0.5rem 0.6rem;
  border-radius: 50px;
}
.couple-section .couple .couple-description .sosmed-wrap .sosmed {
  color: var(--color-button-trans);
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.couple-section .couple .couple-description .sosmed-wrap .sosmed small {
  align-items: center;
  gap: 0.25rem;
  display: flex;
  justify-content: center;
}
.couple-section .couple .couple-description .sosmed-wrap .fab {
  font-size: 18px;
}
@media (max-width: 767px) {
  .couple-section .couple .couple-description .sosmed-wrap .fab {
    font-size: 16px;
  }
}
.couple-section .couple .title-couple {
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 991px) and (min-width: 768px) {
  .couple-section .couple .title-couple {
    top: 0;
  }
}
.couple-section .couple .title-couple span {
  font-size: 90px;
  font-family: "NewYork", serif;
}
@media (max-width: 991px) {
  .couple-section .couple .title-couple span {
    font-size: 60px;
  }
}
.couple-section .couple.single {
  padding-bottom: 2rem;
}
.couple-section .couple.single .title-couple {
  top: -1rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .couple-section .couple.single .title-couple {
    text-align: left;
  }
}
.couple-section .couple.single .title-couple span {
  font-size: 60px;
}
@media (max-width: 575px) {
  .couple-section .couple.single .title-couple span {
    font-size: 48px;
  }
}
.couple-section .couple.single .image-wrap {
  margin-bottom: 1rem;
  aspect-ratio: 3/4;
}
@media (max-width: 991px) and (min-width: 768px) {
  .couple-section .couple.single .image-wrap {
    aspect-ratio: 6/4;
  }
}
.couple-section .couple.single .couple-description {
  position: relative;
  padding: 1rem;
}

.story-section {
  position: relative;
  padding: 20rem 0 3rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .story-section {
    padding: 20rem 0 5rem;
  }
}
.story-section .story-description {
  position: relative;
  text-align: left;
  padding: 0 1rem;
}
.story-section .story-description .title-section {
  text-align: left;
}
.story-section .image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .story-section .image-wrapper {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 767px) {
  .story-section .image-wrapper {
    aspect-ratio: 3/4;
  }
}
.story-section .image-wrapper .story-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.venue-section {
  position: relative;
  padding: 3rem 0;
  background-color: var(--color-primary);
  color: var(--color-light);
}
@media (max-width: 991px) and (min-width: 768px) {
  .venue-section {
    padding: 5rem 0;
  }
}
.venue-section .venue-wrapper {
  position: relative;
}
.venue-section .venue-wrapper .venue-description {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}
.venue-section .venue-wrapper .venue-content {
  position: relative;
}
@media (max-width: 575px) {
  .venue-section .venue-wrapper .venue-content .container {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .venue-section .venue-wrapper .venue-content .container {
    padding: 0;
  }
}
.venue-section .venue-wrapper .venue-content .ribbon-venue {
  position: relative;
  margin-bottom: 1rem;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg {
  width: 40px;
  height: auto;
}
.venue-section .venue-wrapper .venue-content .ribbon-venue svg path {
  stroke: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .ribbon-venue .st0 {
  fill: var(--color-secondary);
}
.venue-section .venue-wrapper .venue-content .ribbon-venue .st1 {
  fill: none;
  stroke: var(--color-secondary);
  stroke-width: 19;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transform-origin: 50% 75%;
}
.venue-section .venue-wrapper .venue-content .card {
  background-color: transparent;
  border: none;
}
.venue-section .venue-wrapper .venue-content .card .card-body {
  padding: 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body h4 {
  padding: 0 0 1rem;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name {
  position: relative;
  width: 100%;
  padding: 2rem 1.8rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .venue-section .venue-wrapper .venue-content .card .card-body .event-name {
    padding: 2rem 1rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .date {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  gap: 0.5rem;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .date h5 {
  line-height: 1;
  font-family: "NewYork", serif;
  margin-bottom: 0;
  font-size: 48px;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name .date .line {
  --color-button-trans: #fff;
  width: 45px;
  height: 1px;
  background-color: var(--color-button-trans);
  margin-bottom: 0.75rem;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name h4 {
  font-family: "NewYork", serif;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-name p {
  margin-bottom: 0;
  font-weight: 600;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-description {
  position: relative;
  margin-bottom: 1rem;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-description p {
  margin-bottom: 0;
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place {
  position: relative;
  color: var(--color-dark);
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1.8rem);
  height: 100%;
  background-color: var(--color-main);
  content: "";
}
@media (max-width: 991px) and (min-width: 768px) {
  .venue-section .venue-wrapper .venue-content .card .card-body .event-place::before {
    width: calc(100% - 1rem);
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place-body {
  position: relative;
  padding: 2rem 2rem 2rem 1.8rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .venue-section .venue-wrapper .venue-content .card .card-body .event-place-body {
    padding: 2rem 1rem;
  }
}
.venue-section .venue-wrapper .venue-content .card .card-body .event-place-body .widget-elements {
  position: absolute;
  bottom: 0;
  left: 2rem;
  width: 100%;
  transform: translateY(50%);
}
@media (max-width: 991px) and (min-width: 768px) {
  .venue-section .venue-wrapper .venue-content .card .card-body .event-place-body .widget-elements {
    left: 1rem;
  }
}
.venue-section .prokes-wrapper {
  margin: 3rem 0 0;
  position: relative;
  padding: 2rem;
  text-align: center;
  z-index: 2;
}
.venue-section .prokes-wrapper .title-section::before {
  all: unset;
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 0;
  }
}
@media (min-width: 992px) {
  .venue-section .prokes-wrapper {
    padding: 2rem 0;
  }
}
.venue-section .prokes-wrapper * {
  position: relative;
}
.venue-section .prokes-wrapper .prokes-wrap {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.venue-section .prokes-wrapper .prokes-wrap .prokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
}
@media (min-width: 992px) {
  .venue-section .prokes-wrapper .prokes-wrap .prokes {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .venue-section .prokes-wrapper .prokes-wrap .prokes {
    width: 120px;
  }
}
@media (max-width: 325px) {
  .venue-section .prokes-wrapper .prokes-wrap .prokes {
    width: 45%;
  }
}
.venue-section .row-venue {
  row-gap: 3rem;
}
@media (max-width: 767px) {
  .venue-section .row-venue-sm {
    row-gap: 3rem;
  }
}

.rsvp-section {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .rsvp-section {
    padding: 5rem 0;
  }
}
.rsvp-section .elements-wrapper-absolute::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.rsvp-section .rsvp-wrapper {
  position: relative;
  padding: 0 1rem;
  color: var(--color-light);
}
@media (max-width: 575px) {
  .rsvp-section .rsvp-wrapper {
    padding: 0;
  }
}
.rsvp-section .rsvp-wrapper .title-section {
  margin-bottom: 20rem;
}

.wishes-section {
  position: relative;
  padding: 3rem 0 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .wishes-section {
    padding: 5rem 0 0;
  }
}
.wishes-section .card-form {
  background-color: transparent;
  color: var(--color-light);
}
.wishes-section .card-form::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0.6;
  content: "";
}
.wishes-section .card-form.card {
  border: none;
}
.wishes-section .card-form .card-body {
  padding: 2rem 1rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .wishes-section .card-form .card-body {
    padding: 3rem 2rem 0;
  }
}
.wishes-section .card-form .card-body .btn-custom {
  margin-bottom: -1rem;
}
.wishes-section .wishes-preview {
  position: relative;
}
.wishes-section .wishes-preview .card {
  position: relative;
  border: none;
  background-color: transparent;
}
.wishes-section .wishes-preview .card .card-body {
  overflow: hidden;
  padding: 2rem 0;
}
.wishes-section .wishes-preview .card .card-body .wishes {
  text-align: left;
  max-height: 32rem;
  overflow: auto;
  padding-right: 1rem;
  color: var(--color-dark);
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar {
  width: 5px;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 20px;
  opacity: 0.15;
}
.wishes-section .wishes-preview .card .card-body .wishes::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6 {
  font-weight: bold;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish h6,
.wishes-section .wishes-preview .card .card-body .wishes .wish p {
  margin-bottom: 0;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-badge {
  background-color: var(--color-light);
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: relative;
}
.wishes-section .wishes-preview .card .card-body .wishes .wish .wish-description::before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 15px;
  height: 15px;
  transform: translateX(-100%);
  -webkit-clip-path: url(#wishes-polygon);
          clip-path: url(#wishes-polygon);
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
}

.egift-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .egift-section {
    padding: 5rem 0;
  }
}
@media (max-width: 575px) {
  .egift-section .container-custom {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .egift-section .container-custom {
    padding: 0;
  }
}
.egift-section .gift-wrap {
  position: relative;
  padding: 3rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  margin-bottom: 2rem;
}
.egift-section .tabs-gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}
.egift-section .tabs-gift::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  opacity: 0.25;
  content: "";
  border-radius: 50px;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift {
    padding: 0.25rem;
  }
}
.egift-section .tabs-gift .btn-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 140px;
  text-align: center;
  background-color: transparent;
  color: var(--color-button-trans);
  z-index: 2;
}
@media (max-width: 767px) {
  .egift-section .tabs-gift .btn-custom {
    min-width: 120px;
  }
  .egift-section .tabs-gift .btn-custom svg {
    width: 25px;
    height: 25px;
  }
}
.egift-section .tabs-gift .btn-custom path {
  fill: var(--color-button-trans);
  transition: all 0.2s ease;
}
.egift-section .tabs-gift .btn-custom.active {
  color: var(--text-button);
}
.egift-section .tabs-gift .btn-custom.active path {
  fill: var(--text-button);
}
.egift-section .tabs-gift .btn-custom:focus {
  box-shadow: none;
}
.egift-section .tabs-gift .glider {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
}
.egift-section .card .card-body {
  padding: 3rem;
}
@media (max-width: 767px) {
  .egift-section .card .card-body {
    padding: 3rem 1.25rem;
  }
}
@media (max-width: 325px) {
  .egift-section .card .card-body {
    padding: 3rem 0.75rem;
  }
}
.egift-section form .input-group-text {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--text-button);
  border-radius: 8px;
}
@media (max-width: 767px) {
  .egift-section form .row {
    gap: 1rem;
  }
}
.egift-section .gift,
.egift-section .angpao {
  display: none;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.egift-section .gift.show,
.egift-section .angpao.show {
  display: block;
  opacity: 1;
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .gallery-section {
    padding: 3rem 0;
  }
}
.gallery-section .img-gallery {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/10;
  margin-bottom: 0.75rem;
}
.gallery-section .splide .splide__track {
  overflow: visible;
}
.gallery-section .splide .splide__pagination {
  bottom: -1rem;
}
.gallery-section .splide .splide__pagination__page.is-active {
  background: var(--color-secondary);
}
.gallery-section .splide .splide__arrow {
  border-radius: 0;
  width: 70px;
  height: 65px;
  background-color: var(--color-secondary);
  transform: translate3d(0, -65%, 0);
  border-radius: 50px;
}
@media (min-width: 992px) {
  .gallery-section .splide .splide__arrow {
    width: 35px;
    height: 40px;
  }
}
.gallery-section .splide .splide__arrow svg {
  fill: var(--text-button);
  width: 25px;
  height: 30px;
}
.gallery-section .splide .splide__arrow--prev {
  left: 0;
}
.gallery-section .splide .splide__arrow--next {
  right: 0;
}

.apology-section {
  position: relative;
  padding: 3rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .apology-section {
    padding: 5rem 0;
  }
}
.apology-section .appology-wrap {
  position: relative;
  padding: 2rem 1rem;
  color: var(--color-light);
}
@media (max-width: 991px) and (min-width: 768px) {
  .apology-section .appology-wrap {
    padding: 3rem 2rem;
  }
}
.apology-section .appology-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0.6;
  content: "";
}

.stream-section {
  position: relative;
  padding: 2rem 0;
}
@media (max-width: 991px) and (min-width: 768px) {
  .stream-section {
    padding: 5rem 0;
  }
}
.stream-section .title-section {
  text-align: left;
  padding: 0 1.8rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .stream-section .title-section {
    padding: 0;
  }
}
.stream-section .stream-wrapper {
  position: relative;
}
.stream-section .stream-wrapper .stream-content {
  position: relative;
}
.stream-section .stream-wrapper .stream-content .stream-description {
  position: relative;
  padding: 3rem 2rem 3rem 1.8rem;
  text-align: left;
  color: var(--color-light);
}
@media (max-width: 991px) and (min-width: 768px) {
  .stream-section .stream-wrapper .stream-content .stream-description {
    padding: 2rem 1rem;
  }
}
.stream-section .stream-wrapper .stream-content .stream-description::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1.8rem);
  height: 100%;
  background-color: var(--color-primary);
  opacity: 0.6;
  content: "";
}
@media (max-width: 991px) and (min-width: 768px) {
  .stream-section .stream-wrapper .stream-content .stream-description::before {
    width: 100%;
  }
}
.stream-section ul ol {
  padding: 0;
}
.stream-section .btn-custom {
  width: 100%;
}
.stream-section .yt-description {
  position: relative;
}

.thank-section {
  position: relative;
  padding: 3rem 0;
  text-align: center;
}
@media (max-width: 991px) and (min-width: 768px) {
  .thank-section {
    padding: 5rem 0;
  }
}
.thank-section .image-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.thank-section .image-wrapper::before {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  z-index: 2;
}
.thank-section .image-wrapper .thank-background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thank-section .thank {
  position: relative;
}
.thank-section .thank .title-section {
  margin-bottom: 20rem;
}

.footer {
  padding: 1rem 0;
  position: relative;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--text-button);
  z-index: 5;
}
.footer small {
  position: relative;
}

.btn-control {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgb(255, 255, 255) 62%) !important;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn-control:hover {
  animation: none;
}

.btn-pink {
  background: #ff3190;
  color: rgba(255, 255, 255, 0.4);
}

.btn-pink:hover {
  color: rgb(255, 255, 255);
}

.btn-pink:hover {
  color: rgb(255, 255, 255);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
.skiptranslate iframe {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}

.dropdown-toggle::after {
  display: none;
}

body {
  top: 0px !important;
}

@media (max-width: 576px) {
  .greeting-text {
    font-size: 3.75vw;
  }
  .greeting-name-text {
    font-size: 4vw;
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .greeting-text {
    font-size: 2.25vw;
  }
  .greeting-name-text {
    font-size: 2.5vw;
  }
}
@media (min-width: 1025px) and (max-width: 2880px) {
  .greeting-text {
    font-size: 1.25vw;
  }
  .greeting-name-text {
    font-size: 1.5vw;
  }
}
.link_item_gift {
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
}

.btn-hadiahkan,
.link_item_gift:hover:not([disabled]),
.button-gift {
  background: var(--color-secondary) !important;
  color: var(--text-button) !important;
}/*# sourceMappingURL=styles.css.map */