.thank-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;

	@include max-md {
		padding: 3rem 0;
	}

	.frame {
		position: relative;
		width: 100%;
	}

	.image-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 65%;
		height: 75%;
		transform: translate(-50%, -50%);

		.image-element {
			height: 100%;

			.thank-background {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.thank-wrapper {
		position: relative;
		z-index: 3;

		.thank {
			position: relative;
			padding: 3rem 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-25%, 0) rotate(30deg) scaleX(-1);

		@include max-sm {
			width: 40%;
			transform: translate(-40%, 0) rotate(30deg) scaleX(-1);
		}

		.orn-2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 70%;
			transform: translate(70%, -45%);

			.orn-3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 140%;
				transform: translate(-3%, -22%);

				.orn-4 {
					position: absolute;
					top: 0;
					left: 0;
					width: 70%;
					transform: translate(75%, -50%) rotate(60deg) scaleX(-1);
				}
			}
		}

		.orn-5 {
			position: absolute;
			top: -5%;
			left: 0;
			width: 70%;
			transform: rotate(-30deg);
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 15%;
		transform: translate(-35%, 20%);

		@include max-lg {
			width: 25%;
		}

		@include max-sm {
			width: 35%;
		}
	}

	.orn-7 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 15%;
		transform: translate(35%, 20%) scaleX(-1);

		@include max-lg {
			width: 25%;
		}

		@include max-sm {
			width: 35%;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}