@font-face {
    font-family: "Sprat";
    src: url(../fonts/Sprat-Regular.woff) format("woff"), url(../fonts/Sprat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Sprat";
    src: url(../fonts/Sprat-Medium.woff) format("woff"), url(../fonts/Sprat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Sprat";
    src: url(../fonts/Sprat-Bold.woff) format("woff"), url(../fonts/Sprat-Bold.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}