.story-section {
	position: relative;

	.story {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0;
		}

		.story-content {
			position: relative;

			.story-description {
				position: relative;
				text-align: center;
				padding: 3rem 2rem;

				@include min-lg {
					text-align: left;
				}

				@include max-sm {
					padding: 2rem 1rem;
				}

				.title-section {
					@include min-lg {
						text-align: left;
					}
				}
			}
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		height: auto;

		.image-element {
			@include aspect-ratio(5, 6);

			.story-background {
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}
}