.stream-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;
	background-color: var(--color-primary);
	color: var(--color-dark);

	@include max-md {
		padding: 3rem 0;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;
			color: var(--color-dark);
			padding: 3rem;

			@include max-sm {
				padding: 2rem 1.5rem;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-main);
				border-radius: var(--border-radius);
				opacity: .8;
				content: "";
			}

			.stream-description {
				position: relative;
			}

			h4 {
				@include max-md {
					text-align: center;
				}
			}

			iframe {
				border-radius: 6px;
			}
		}
	}

	ul {
		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		transform: translate(50%, 0) scaleX(-1);

		@include max-lg {
			width: 55%;
		}

		@include max-sm {
			width: 65%;
		}
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 35%;
		transform: translate(-50%, 0) scaleX(-1);

		@include max-lg {
			width: 55%;
		}

		@include max-sm {
			width: 65%;
		}
	}
}