.thank-section {
	position: relative;
	padding: 5rem 0;
	text-align: center;

	@include max-md {
		padding: 3rem 0;
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(1, 1);

			.thank-background {
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}

	.thank-wrapper {
		position: relative;

		.thank {
			position: relative;
			padding: 3rem 2rem;

			@include max-md {
				padding: 2rem 1rem;
			}
		}

		.title-section {
			text-align: left;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}