.venue-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-dark);
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.venue-wrapper {
		position: relative;
		z-index: 3;

		.venue-description {
			position: relative;
			margin: 0 auto 3rem;
			z-index: 2;
			text-align: center;

			@include max-lg {
				margin-bottom: 3rem;
			}
		}

		.venue-content {
			position: relative;

			.ribbon-venue {
				position: relative;

				@include max-sm {
					margin-top: .5rem;
				}

				svg {
					width: 40px;
					height: auto;

					path {
						stroke: var(--color-dark);
					}
				}

				.st0 {
					fill: var(--color-secondary);
				}

				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}

			.card {
				background-color: transparent;
				text-align: center;
				border: none;

				.card-header {
					background-color: transparent;
					border: none;
					text-align: left;

					.title-event-name {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: flex-start;

						@include max-sm {
							flex-direction: column;
							justify-content: center;
							align-items: center;
						}

						h4 {
							font-family: $font-secondary;
							font-weight: 400;
						}
					}
				}

				.card-body {
					position: relative;
					padding: 0;

					h4 {
						padding: 0 0 1rem;
					}

					.event-description {
						position: relative;
						margin-bottom: 2rem;

						p {
							margin-bottom: 0;
						}
					}

					.event-name {
						position: relative;
						width: 100%;
						padding: 2rem;
						background-color: var(--color-main);
						text-align: left;
						border-radius: var(--border-radius);

						@include max-sm {
							width: 80%;
							margin: 0 auto;
						}

						.date {
							position: relative;
							width: 100%;

							h5 {
								font-weight: 400;
								margin-bottom: 0;
								font-size: 28px;
								padding: .5rem 0;

								strong {
									font-weight: 600;
								}
							}
						}

						p {
							margin-bottom: 0;
							font-weight: 600;
							font-size: 18px;

							@include max-sm {
								font-size: 16px;
							}
						}
					}

					.event-place {
						position: relative;
						text-align: left;

						@include max-sm {
							text-align: center;
						}

						&-body {
							position: relative;
							padding: 0 1rem;

							@include max-sm {
								padding: 2rem 1rem 0;
							}
						}

						.widget-elements {
							position: relative;
							margin-top: 1rem;
						}
					}
				}
			}
		}

		.orn-1 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 35%;
			transform: translate(-50%, 0);

			@include max-lg {
				width: 55%;
			}

			@include max-sm {
				width: 65%;
			}
		}
	}

	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;

		.title-section {
			&::before {
				all: unset;
			}
		}

		@include max-md {
			padding: 2rem 0;
		}

		* {
			position: relative;
		}

		.prokes-wrap {
			display: flex;
			gap: 0.75rem;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.prokes {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 132px;

				@include max-md {
					width: 120px;
				}

				@include max-xs {
					width: 45%;
				}
			}
		}
	}

	.row-venue {
		row-gap: 3rem;
	}

	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}

		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}

		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}

		40% {
			opacity: 1;
		}

		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}

		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}

		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}