.couple-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);
	color: var(--color-light);

	@include ipad {
		padding: 5rem 0;
	}

	.and {
		@include ipad {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 1.5rem 0;
		z-index: 3;

		span {
			position: relative;
			font-size: 32px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;

		.couple-content {
			position: relative;
			background-color: var(--color-main);
			color: var(--color-dark);
			border-radius: 300px;
			padding: 8rem 3rem;
			text-align: center;
			margin-bottom: 3rem;

			@include max-sm {
				padding: 6rem 2rem;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	.couple {
		position: relative;

		&.man {
			.image-wrap {
				margin-right: auto;
				margin-left: 2rem;
			}

			.couple-description {
				text-align: left;
			}

			.sosmed-wrap {
				margin-right: auto;
			}
		}

		&.woman {
			.image-wrap {
				margin-left: auto;
				margin-right: 2rem;
			}

			.couple-description {
				text-align: right;
			}

			.sosmed-wrap {
				margin-left: auto;
			}
		}

		.image-wrap {
			position: relative;
			width: 65%;

			.image-element {
				@include aspect-ratio(5, 6);

				.couple-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			padding: 2rem 2rem 0;

			h3 {
				position: relative;
			}

			.couple-parent {
				position: relative;
				width: 100%;
				margin-bottom: 0.5rem;

				p {
					margin-bottom: 0;
				}
			}

			.sosmed-wrap {
				--color-button-trans: #fff;
				position: relative;
				width: fit-content;
				max-width: 100%;
				border: 1px solid var(--color-button-trans);
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				margin-top: 1rem;

				.sosmed {
					color: var(--color-button-trans);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
	}
}