.gallery-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 3rem 0;
	}

	.img-gallery {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 9/10;
		margin-bottom: 0.75rem;
	}

	.splide {
		.splide__track {
			overflow: visible;
		}

		.splide__pagination {
			bottom: -1rem;

			&__page {
				&.is-active {
					background: var(--color-secondary);
				}
			}
		}

		.splide__arrow {
			border-radius: 0;
			width: 70px;
			height: 65px;
			background-color: var(--color-secondary);
			transform: translate3d(0, -65%, 0);
			border-radius: 50px;

			@include min-lg {
				width: 35px;
				height: 40px;
			}

			svg {
				fill: var(--text-button);
				width: 25px;
				height: 30px;
			}

			&--prev {
				left: 0;
			}

			&--next {
				right: 0;
			}
		}
	}
}
