.header-section {
	position: relative;

	.scroll-icon {
		margin-top: 1rem;
	}

	.frame {
		width: 135%;

		&-top {
			transform: translate(-50%, -10%);
		}

		&-bottom {
			transform: translate(-50%, 10%) scaleY(-1);
		}
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 5rem 2rem 3rem;
		min-height: 100vh;

		.header {
			position: relative;
			width: 100%;
			text-align: center;

			.header-title {
				position: relative;

				&-content {
					position: relative;

					.brand-name {
						position: relative;
						padding: 2rem;
						border-radius: 300px;
						background-color: var(--color-light);
						width: fit-content;
						margin: 0 auto 2rem;

						span {
							display: block;
							font-family: $font-secondary;
							font-size: 60px;
							line-height: 1.2;
							color: var(--color-main);

							&.man {
								transform: translate(-20%, 0);
							}

							&.woman {
								margin-top: -80%;
								transform: translate(-20%, 0);
							}
						}
					}
				}
			}
		}
	}
}