.header-section {
	position: relative;

	.scroll-icon {
		margin-top: 1rem;
	}

	.frame {
		width: 135%;

		&-top {
			transform: translate(-50%, -10%);
		}

		&-bottom {
			transform: translate(-50%, 10%) scaleY(-1);
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-30%, -5%);
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(30%, -5%) scaleX(-1);
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-40%, 50%);

		.orn-4 {
			position: absolute;
			top: 10%;
			left: 85%;
			width: 60%;
		}

		.orn-7 {
			position: absolute;
			bottom: 85%;
			right: 40%;
			width: 80%;
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 45%;
		transform: translate(50%, 40%);

		.orn-6 {
			position: absolute;
			top: 20%;
			right: 65%;
			width: 120%;
		}

		.orn-8 {
			position: absolute;
			bottom: 85%;
			left: 30%;
			width: 80%;
			transform: scaleX(-1);
		}
	}

	.orn-9 {
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		transform: translate(-60%, -30%);
	}

	.orn-10 {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		transform: translate(60%, -30%) scaleX(-1);
	}

	.header-content {
		position: relative;
		text-align: center;
		padding: 5rem 2rem 8rem;
		min-height: 100vh;

		@include max-lg {
			min-height: 80vh;
		}

		.header {
			position: relative;
			width: 100%;
			text-align: center;

			.header-title {
				position: relative;

				&-content {
					position: relative;

					.brand-name {
						position: relative;
						padding: 2rem;
						border-radius: 300px;
						background-color: var(--color-light);
						width: fit-content;
						margin: 0 auto 2rem;

						span {
							display: block;
							font-family: $font-secondary;
							font-size: 60px;
							line-height: 1.2;
							color: var(--color-main);

							&.man {
								transform: translate(-20%, 0);
							}

							&.woman {
								margin-top: -80%;
								transform: translate(-20%, 0);
							}
						}
					}
				}
			}
		}
	}
}