.reminder-wrap {
	position: relative;
	width: 100%;
	padding: 0 0 3rem;

	@include ipad {
		padding: 0 0 5rem;
	}

	.frame {
		width: 115%;

		&-top {
			transform: translate(-50%, -12%);
		}

		&-bottom {
			transform: translate(-50%, 12%) scaleY(-1);
		}
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		margin: 3rem 0;

		.image-element.background-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100px;
			}
		}
	}

	.reminder-content {
		position: relative;
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin: 1.5rem auto 0;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}