.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.frame {
		width: 115%;

		.title-section {
			position: absolute;
			top: 2.5%;
			left: 0;
			width: 100%;

			@include max-sm {
				top: 0;
			}
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-30%, -5%);
	}

	.orn-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		transform: translate(30%, -5%) scaleX(-1);
	}

	.orn-3 {
		position: absolute;
		bottom: 10%;
		left: 0;
		width: 35%;
		transform: translate(-40%, 0) scaleY(-1);

		.orn-4 {
			position: absolute;
			top: 70%;
			left: -20%;
			width: 120%;
			transform: rotate(-35deg) scale(-1);
		}
	}

	.image-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto 1rem;

		.background-element {
			@include aspect-ratio(4, 6);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 1rem 2rem 0;
	}
}