.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.frame {
		width: 115%;

		.title-section {
			position: absolute;
			top: 2.5%;
			left: 0;
			width: 100%;
		}
	}

	.image-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto 1rem;

		.background-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 1rem 1rem 0;
	}
}