.rsvp-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.image-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto 1rem;

		.image-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.rsvp-wrapper {
		position: relative;
		padding: 1rem 1rem 0;
	}
}