.story-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem;
	}

	.story-description {
		position: relative;
		text-align: center;
		padding: 0 1rem;
	}

	.image-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto 2rem;

		.image-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}
}