.stream-section {
	position: relative;
	padding: 3rem 0;

	@include ipad {
		padding: 5rem 0;
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				background-color: var(--color-primary);
				color: var(--color-light);
				border-radius: 300px;
				padding: 8rem 2rem;
				text-align: center;

				@include max-sm {
					padding: 6rem 2rem;
				}
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}