.stream-section {
	position: relative;
	padding: 5rem 0 3rem;

	@include ipad {
		padding: 5rem 0;
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-40%, 0);

		.orn-2 {
			position: absolute;
			top: 30%;
			right: 25%;
			width: 80%;
		}
	}

	.orn-3 {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		transform: translate(40%, 0) scaleX(-1);

		.orn-4 {
			position: absolute;
			top: 30%;
			right: 35%;
			width: 85%;
			transform: rotate(10deg) scaleX(-1);
		}
	}

	.stream-wrapper {
		position: relative;

		.stream-content {
			position: relative;

			.stream-description {
				position: relative;
				background-color: var(--color-primary);
				color: var(--color-light);
				border-radius: 300px;
				padding: 8rem 2rem;
				text-align: center;

				@include max-sm {
					padding: 6rem 2rem;
				}
			}
		}
	}

	ul {
		margin: 0 auto;

		ol {
			padding: 0;
		}
	}

	.btn-custom {
		width: 100%;
	}

	.yt-description {
		position: relative;
	}
}