.thank-section {
	position: relative;
	padding: 3rem 0;
	text-align: center;

	@include ipad {
		padding: 5rem 0;
	}

	.frame {
		width: 130%;

		&-top {
			transform: translate(-50%, -15%);
		}

		&-bottom {
			transform: translate(-50%, 15%) scaleY(-1);
		}
	}

	.image-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto 3rem;

		.background-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}

	.thank {
		position: relative;

		&-body {
			padding: 1rem 1rem 10rem;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	z-index: 5;

	small {
		position: relative;
	}
}