.venue-section {
	position: relative;
	padding: 5rem 0 0;
	@include max-md {
		padding: 3rem 0 0;
		.venue-container {
			padding: 0;
		}
	}
	.cloud-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		transform: translate(-30%, -10%);
	}
	.cloud-2 {
		position: absolute;
		top: 0;
		left: 45%;
		width: 60%;
		transform: translate(0, 8%);
		@include min-lg {
			transform: translate(0, 5%);
		}
	}
	.cloud-3 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 120%;
		transform: translate(-10%, 60%) scaleX(-1);
	}
	.cloud-4 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 150%;
		transform: translate(0, 50%);
	}
	.orn-1 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(0%, 40%) scaleX(-1);
	}
	.orn-2 {
		position: absolute;
		bottom: 2.5rem;
		left: 2rem;
		width: 10%;
		transform: rotate(25deg);
	}
	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 110%;
		transform: translate(-50%, 0);
		opacity: 0.2;
	}
	.orn-4 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(0, 40%) rotate(-10deg);
	}
	.venue-wrapper {
		position: relative;
		z-index: 3;
		.venue-description {
			position: relative;
			margin: 0 auto 5rem;
			z-index: 2;
			text-align: center;
			@include max-lg {
				margin-bottom: 3rem;
			}
		}
		.venue-content {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-dark);
			border-radius: var(--border-radius);
			padding: 5rem 2rem;
			@include max-md {
				padding: 3rem 1.5rem;
			}
			.ribbon-venue {
				position: relative;
				svg {
					width: 40px;
					height: auto;
					path {
						stroke: var(--color-dark);
					}
				}
				.st0 {
					fill: var(--color-secondary);
				}
				.st1 {
					fill: none;
					stroke: var(--color-secondary);
					stroke-width: 19;
					stroke-linecap: round;
					stroke-miterlimit: 10;
					transform-origin: 50% 75%;
				}
			}
			.card {
				background-color: transparent;
				border: none;
				.card-body {
					position: relative;
					padding: 0;
					h4 {
						padding: 1rem 0;
						font-weight: 400;
					}
					.event-description {
						position: relative;
						margin-bottom: 1rem;
						p {
							margin-bottom: 0;
						}
					}
					.event-name {
						position: relative;
						width: 100%;
						text-align: left;
						background-color: var(--color-main);
						color: var(--color-dark);
						border-radius: 300px 300px 12px 12px;
						box-shadow: 2px 10px 1rem rgba($color: #000000, $alpha: 0.15);
						margin-bottom: 2rem;
						&-body {
							position: relative;
							padding: 5rem 2rem 6rem;
							.date {
								position: relative;
								width: 100%;
								h5 {
									font-family: $font-secondary;
									font-weight: 700;
									margin-bottom: .75rem;
									font-size: 24px;
								}
							}
							h4 {
								font-family: $font-secondary;
								text-align: center;
							}
							p {
								margin-bottom: .75rem;
								font-weight: 600;
							}
						}
					}
					.event-place {
						position: relative;
						background-color: var(--color-main);
						color: var(--color-dark);
						border-radius: var(--border-radius);
						box-shadow: 2px 10px 1rem rgba($color: #000000, $alpha: 0.15);
						padding: 2rem;
						p {
							margin-bottom: 0;
						}
						.widget-elements {
							text-align: center;
						}
					}
				}
			}
		}
	}
	.prokes-wrapper {
		margin: 3rem 0 0;
		position: relative;
		padding: 2rem;
		text-align: center;
		z-index: 2;
		.title-section {
			&::before {
				all: unset;
			}
		}
		@include max-md {
			padding: 2rem 0;
		}
		* {
			position: relative;
		}
	}
	.prokes-wrap {
		display: flex;
		gap: 0.75rem;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;
		.prokes {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 132px;
			@include max-md {
				width: 120px;
			}
			@include max-xs {
				width: 45%;
			}
		}
	}
	.row-venue {
		row-gap: 3rem;
	}
	.animation-loop {
		.st1 {
			will-change: transform;
			animation: zoomInRing 2000ms ease-out infinite;
		}
		.dot {
			will-change: transform;
			animation: fadeBoing 2000ms ease-out infinite;
			transform-origin: 50% 75%;
		}
		#Layer_3 {
			will-change: transform;
			animation: boing 1000ms ease-out infinite alternate;
		}
	}

	@keyframes zoomInRing {
		0% {
			opacity: 0;
			transform: scale3d(0.5, 0.5, 0.5);
		}
		40% {
			opacity: 1;
		}
		70% {
			opacity: 0;
			transform: scale3d(1.25, 1.25, 1.25);
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes boing {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, -5rem, 0);
		}
	}

	@keyframes fadeBoing {
		0% {
			opacity: 1;
		}
		50% {
			transform: scale3d(0.25, 0.25, 0.25);
			opacity: 0;
		}
		100% {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}
}

.maps-embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
