.rsvp-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-dark);
	padding: 5rem 0;

	@include max-md {
		padding: 3rem 0;
	}

	.rsvp-wrapper {
		position: relative;

		.rsvp-form {
			position: relative;
			--color-button-trans: #1e1f1e;
		}

		.image-wrapper {
			position: relative;
			width: 100%;
			margin-bottom: 2rem;

			.background-element {
				@include aspect-ratio(3, 4);

				img {
					object-fit: cover;
					border-radius: 300px 300px 15px 15px;
				}
			}
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transform: translate(-20%, 0) scaleX(-1);
	}

	.tree-2 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 35%;
		transform: translate(-50%, -50%);

		@include max-lg {
			width: 60%;
			transform: translate(-60%, -50%);
		}

		@include max-sm {
			top: 60%;
			width: 70%;
		}

		.flower {
			position: absolute;
			top: 30%;
			right: 25%;
			width: 50%;

			@include max-lg {
				right: 20%;
			}
		}
	}

	.tree-3 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		transform: translate(50%, 0);

		@include max-lg {
			width: 60%;
			transform: translate(60%, 0);
		}

		@include max-sm {
			width: 70%;
		}

		.flower {
			position: absolute;
			top: 0;
			left: 25%;
			width: 50%;
			transform: translate(0, -80%) scaleX(-1);

			@include max-lg {
				left: 20%;
			}
		}
	}
}