.thank-section {
	position: relative;
	padding: 5rem 0 10rem;
	text-align: center;

	@include max-md {
		padding: 3rem 0 8rem;
	}

	.image-wrapper {
		position: relative;
		width: 100%;
		margin-top: 2rem;

		.image-element {
			@include aspect-ratio(1, 1);

			.thank-background {
				object-fit: cover;
				border-radius: var(--border-radius);
			}
		}
	}

	.thank-wrapper {
		position: relative;

		.thank {
			position: relative;
			background-color: var(--color-primary);
			color: var(--color-dark);
			padding: 8rem 2rem 2rem;
			border-radius: 300px 300px 15px 15px;
			box-shadow: inset 0 1rem 2rem rgba($color: #000000, $alpha: .2);

			@include max-md {
				padding: 8rem 1.5rem 2rem;
			}
		}
	}

	.tree-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 55%;
		transform: translate(-20%, 5%);

		@include max-lg {
			width: 110%;
			transform: translate(-40%, 1%);
		}

		@include max-sm {
			width: 160%;
			transform: translate(-60%, 1%);
		}

		.tree {
			position: absolute;
			top: 20%;
			right: 38%;
			width: 60%;

			@include max-sm {
				right: 20%;
			}
		}
	}

	.tree-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
		transform: translate(-5%, 5%);

		@include max-lg {
			width: 110%;
			transform: translate(30%, 1%);
		}

		@include max-sm {
			width: 160%;
		}

		.tree {
			position: absolute;
			top: 20%;
			left: 65%;
			width: 60%;

			@include max-lg {
				left: 40%;
			}
		}
	}

	.tree-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 45%;
		transform: translate(-10%, 60%);

		@include max-lg {
			width: 85%;
			transform: translate(-25%, 60%);
		}

		@include max-sm {
			width: 100%;
		}
	}

	.tree-4 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40%;
		transform: translate(0, 60%);

		@include max-lg {
			width: 80%;
			transform: translate(40%, 60%);
		}

		@include max-sm {
			width: 95%;
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 2%;
		right: 0;
		width: 85%;
		transform: translate(50%, -2%);

		.orn {
			position: absolute;
			bottom: 90%;
			left: 20%;
			width: 100%;
		}
	}

	.orn-2 {
		position: absolute;
		top: 25%;
		left: 0;
		width: 65%;
		transform: translate(-65%, 0);

		.orn {
			position: absolute;
			bottom: 70%;
			right: -15%;
			width: 120%;
		}
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 20%;
		transform: translate(-30%, 10%);

		@include max-lg {
			width: 35%;
		}

		@include max-sm {
			width: 40%;
		}

		.orn-4 {
			position: absolute;
			bottom: 65%;
			right: 20%;
			width: 85%;
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 18%;
		transform: translate(10%, 50%) scaleX(-1);

		@include max-lg {
			width: 30%;
		}

		@include max-sm {
			transform: translate(35%, 50%) scaleX(-1);
			width: 40%;
		}

		.orn-6 {
			position: absolute;
			bottom: 105%;
			right: 10%;
			width: 120%;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);

	small {
		position: relative;
	}
}