.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0 0 0;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9c231c;
  min-width: 73px;
  padding: 10px;
  position: relative;
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 16px;
}

@media (max-width: 575px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 14px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-section .logo-viding {
  position: absolute;
  top: 2.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -2.5%);
          transform: translate(-50%, -2.5%);
}

.header-section .lampion-left,
.header-section .lampion-right {
  position: absolute;
  top: 2%;
}

.header-section .lampion-left {
  left: 200px;
}

.header-section .lampion-right {
  right: 200px;
}

.header-section .cloud-left-1,
.header-section .cloud-left-2,
.header-section .cloud-right-1,
.header-section .cloud-right-2 {
  position: absolute;
}

.header-section .cloud-left-1 {
  bottom: 230px;
  left: 130px;
  width: 120px;
  height: 49px;
}

.header-section .cloud-left-2 {
  bottom: 100px;
  left: 70px;
  width: 161px;
  height: 87px;
}

.header-section .cloud-right-1 {
  bottom: 120px;
  right: 100px;
  width: 160px;
  height: 59px;
}

.header-section .cloud-right-2 {
  bottom: 210px;
  right: 53px;
  width: 161px;
  height: 87px;
}

.header-section .frame-wrapper {
  position: relative;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .frame-wrapper .frame-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 98%;
  height: 97%;
}

.header-section .frame-wrapper .frame {
  position: relative;
  margin: 3.5rem 0 0 0;
  padding: 15px;
}

.header-section .frame-wrapper .frame::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #00000031;
}

.header-section .frame-wrapper .frame .frame-edge-top-left,
.header-section .frame-wrapper .frame .frame-edge-top-right,
.header-section .frame-wrapper .frame .frame-edge-bottom-right,
.header-section .frame-wrapper .frame .frame-edge-bottom-left {
  position: absolute;
  width: 93px;
  height: 93px;
}

.header-section .frame-wrapper .frame .frame-edge-top-left {
  left: 0;
  top: 0;
}

.header-section .frame-wrapper .frame .frame-edge-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-section .frame-wrapper .frame .frame-edge-bottom-right {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.header-section .frame-wrapper .frame .frame-edge-bottom-left {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.header-section .frame-wrapper .frame .double-line-top,
.header-section .frame-wrapper .frame .double-line-right,
.header-section .frame-wrapper .frame .double-line-bottom,
.header-section .frame-wrapper .frame .double-line-left {
  position: absolute;
}

.header-section .frame-wrapper .frame .double-line-top {
  top: 0;
  left: 93px;
}

.header-section .frame-wrapper .frame .double-line-right {
  right: 0;
  bottom: 93px;
}

.header-section .frame-wrapper .frame .double-line-bottom {
  bottom: 0;
  right: 93px;
}

.header-section .frame-wrapper .frame .double-line-left {
  left: 0;
  top: 93px;
}

.header-section .frame-wrapper .frame .frame-mid-top {
  position: absolute;
  top: -8%;
  left: 50%;
  -webkit-transform: translate(-50%, 8%);
          transform: translate(-50%, 8%);
}

.header-section .frame-wrapper .frame .header-image {
  width: 722px;
  height: 418px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-section .frame-wrapper .name-couple {
  padding: 2rem 0 0 0;
}

.couple-section {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
}

.couple-section .cloud-left-1,
.couple-section .cloud-left-2,
.couple-section .cloud-right-1,
.couple-section .cloud-right-2 {
  position: absolute;
}

.couple-section .cloud-left-1 {
  bottom: 330px;
  left: 40px;
  width: 120px;
  height: 49px;
}

.couple-section .cloud-left-2 {
  bottom: 190px;
  left: -30px;
  width: 161px;
  height: 87px;
}

.couple-section .cloud-right-1 {
  bottom: 175px;
  right: -20px;
  width: 160px;
  height: 59px;
}

.couple-section .cloud-right-2 {
  bottom: 290px;
  right: -45px;
  width: 161px;
  height: 87px;
}

.couple-section h4 {
  font-size: 36px;
  color: #fdeec9;
}

@media (max-width: 767px) {
  .couple-section h4 {
    margin-top: 0;
  }
}

.couple-section .lampion {
  width: 75px;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.couple-section h3 {
  color: #fdeec9;
}

.couple-section .couple-description {
  text-align: center;
  padding: 2rem 0;
}

.couple-section .card {
  border-radius: 0;
  padding: 17px;
  position: relative;
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .couple-section .card {
    width: 80%;
    margin: auto;
  }
}

.couple-section .card .card-body {
  padding: 0;
}

.couple-section .card .card-body .frame-couple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.couple-section .card .card-body .image-couple {
  width: 100%;
  height: 366px;
  -o-object-fit: cover;
     object-fit: cover;
}

.couple-section .instagram {
  padding: 0.5rem 0 0 0;
  color: #fff;
}

.couple-section .instagram .fab {
  font-size: 1.25rem;
}

.countdown-wrapper {
  position: relative;
  background-color: #fdeec9;
  padding: 1rem 0;
  text-align: center;
  overflow: hidden;
}

.countdown-wrapper .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countdown-wrapper .frame-edge-top-left,
.countdown-wrapper .frame-edge-top-right,
.countdown-wrapper .frame-edge-bottom-right,
.countdown-wrapper .frame-edge-bottom-left {
  position: absolute;
  width: 26px;
  height: 26px;
}

.countdown-wrapper .frame-edge-top-left {
  left: 0;
  top: 0;
}

.countdown-wrapper .frame-edge-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.countdown-wrapper .frame-edge-bottom-right {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.countdown-wrapper .frame-edge-bottom-left {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.countdown-wrapper .lampion-left,
.countdown-wrapper .lampion-right {
  position: absolute;
  top: 0;
}

.countdown-wrapper .lampion-left path,
.countdown-wrapper .lampion-right path {
  stroke: #9c231c;
}

.countdown-wrapper .lampion-left {
  left: 200px;
}

.countdown-wrapper .lampion-right {
  right: 200px;
}

.countdown-wrapper .cloud-left-2,
.countdown-wrapper .cloud-right-2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.countdown-wrapper .cloud-left-2 path,
.countdown-wrapper .cloud-right-2 path {
  stroke: #9c231c;
}

.countdown-wrapper .cloud-left-2 {
  left: -30px;
}

.countdown-wrapper .cloud-right-2 {
  right: -30px;
}

.story-section {
  position: relative;
  overflow: hidden;
}

.story-section .brush {
  position: absolute;
  width: 150%;
  height: 100%;
  left: -200px;
  top: 0;
  opacity: 0.1;
}

.story-section .spring-4 {
  position: absolute;
  top: -170px;
  left: 0;
}

@media (max-width: 991px) {
  .story-section .spring-4 {
    top: -150px;
  }
}

@media (max-width: 767px) {
  .story-section .spring-4 {
    width: 150%;
    left: -110px;
  }
}

.story-section .card {
  border-radius: 0;
  margin-top: 10rem;
}

@media (max-width: 991px) {
  .story-section .card {
    margin-top: 8rem;
  }
}

.story-section .card .card-body {
  padding: 0.5rem;
}

.story-section .card .card-body .image-story {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .story-section .card .card-body .image-story {
    height: 320px;
  }
}

.story-section .story-description {
  padding: 2rem 0;
}

.venue-section {
  position: relative;
  padding: 3rem 0;
}

.venue-section .blue-flower {
  left: -160px;
  top: 30px;
  width: 376px;
  height: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

@media (max-width: 991px) {
  .venue-section .blue-flower {
    width: 220px;
    left: -80px;
  }
}

@media (max-width: 767px) {
  .venue-section .blue-flower {
    width: 180px;
    left: -100px;
    top: 283px;
  }
}

.venue-section .spring-2 {
  position: absolute;
  right: 0;
  top: -130px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .venue-section .spring-2 {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .venue-section .spring-2 {
    width: 160px;
    top: -80px;
    opacity: 0.75;
  }
}

.venue-section .spring-3 {
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 250px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .venue-section .spring-3 {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .venue-section .spring-3 {
    bottom: -130px;
    width: 180px;
  }
}

.venue-section .tree {
  position: absolute;
  right: 0;
  bottom: 230px;
  width: 280px;
  padding: 0;
}

@media (max-width: 991px) {
  .venue-section .tree {
    width: 220px;
    bottom: 165px;
  }
}

@media (max-width: 767px) {
  .venue-section .tree {
    bottom: 286px;
  }
}

.venue-section .prokes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 2rem 0;
}

.venue-section .prokes-wrapper .prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.venue-section .event-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  padding: 7rem 2rem;
  width: 100%;
  margin-top: -1rem;
}

.venue-section .event-wrapper .brush {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.venue-section .event-wrapper .brush-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.venue-section .event-wrapper .event-name {
  margin-top: -4rem;
  text-align: center;
}

.venue-section .event-wrapper h4 {
  color: #9c231c;
}

.venue-section .maps-embed {
  position: relative;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .venue-section .maps-embed {
    height: 247px;
  }
}

@media (max-width: 767px) {
  .venue-section .maps-embed {
    margin-bottom: 1.5rem;
    margin-top: -3.5rem;
    height: 328px;
  }
}

.rsvp-section {
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.rsvp-section .butterfly {
  position: absolute;
  right: 30px;
  top: 0;
  width: 150px;
}

@media (max-width: 991px) {
  .rsvp-section .butterfly {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .rsvp-section .butterfly {
    top: -30px;
  }
}

.rsvp-section .row {
  margin-bottom: 1.2rem;
}

@media (max-width: 575px) {
  .rsvp-section .row {
    gap: 1.2rem;
  }
}

.wishes-section {
  position: relative;
  padding: 3rem 0;
}

.wishes-section .brush {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

@media (max-width: 767px) {
  .wishes-section .brush {
    display: none;
  }
}

.wishes-section .spring-leaf {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 350px;
}

@media (max-width: 991px) {
  .wishes-section .spring-leaf {
    width: 250px;
  }
}

@media (max-width: 767px) {
  .wishes-section .spring-leaf {
    top: -200px;
    width: 220px;
  }
}

.wishes-section .spring-3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

@media (max-width: 991px) {
  .wishes-section .spring-3 {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .wishes-section .spring-3 {
    display: none;
  }
}

.wishes-section .card {
  margin: 2rem 0 0 0;
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 422px;
  overflow: auto;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
  color: #196534;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  padding: 3rem 0;
}

.egift-section .spring-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
}

@media (max-width: 991px) {
  .egift-section .spring-2 {
    width: 180px;
    bottom: 30px;
  }
}

@media (max-width: 767px) {
  .egift-section .spring-2 {
    left: -10px;
    width: 160px;
  }
}

.egift-section .spring-6 {
  position: absolute;
  right: 0;
  top: 20px;
  width: 280px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .egift-section .spring-6 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .egift-section .spring-6 {
    top: -88px;
  }
}

.egift-section .btn-qrCode {
  background-color: transparent;
  color: #fdeec9;
}

.egift-section .btn-qrCode:hover {
  background-color: #196534;
  color: #fff;
}

.egift-section form {
  padding: 3rem 0 0 0;
}

.egift-section form .row {
  margin-bottom: 1rem;
}

@media (max-width: 575px) {
  .egift-section form .row {
    gap: 1rem;
  }
}

.egift-section form .row .input-group-text {
  border-color: #196534;
  background-color: #196534;
  color: #fff;
}

.egift-section form .row .form-control {
  background-color: #f9fdf9;
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
}

.gallery-section .spring-9 {
  position: absolute;
  width: 100%;
  top: -380px;
  left: 0;
}

@media (max-width: 991px) {
  .gallery-section .spring-9 {
    top: -220px;
  }
}

@media (max-width: 767px) {
  .gallery-section .spring-9 {
    top: -120px;
  }
}

.gallery-section .img-gallery {
  height: 638px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .gallery-section .img-gallery {
    height: 480px;
  }
}

@media (max-width: 767px) {
  .gallery-section .img-gallery {
    height: 276px;
  }
}

.gallery-section .img-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  border: none;
  margin-top: 0.25rem;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.gallery-section .splide .splide__slide.is-active .img-thumbnail {
  border: 5px solid #e1cb7b;
}

.gallery-section .splide .splide__arrow {
  border-radius: 0;
  background-color: #ce4152;
  width: 70px;
  height: 65px;
}

@media (max-width: 991px) {
  .gallery-section .splide .splide__arrow {
    width: 40px;
    height: 30px;
  }
}

.gallery-section .splide .splide__arrow svg {
  fill: #fff;
  width: 25px;
  height: 30px;
}

@media (max-width: 767px) {
  .gallery-section .splide .splide__arrow svg {
    width: 15px;
    height: 20px;
  }
}

.gallery-section .splide .splide__arrow--prev {
  left: 0;
}

.gallery-section .splide .splide__arrow--next {
  right: 0;
}

.apology-section {
  position: relative;
  margin: 10rem 0 5rem 0;
}

@media (max-width: 991px) {
  .apology-section {
    margin-top: 6rem;
  }
}

.apology-section .brush {
  width: 70%;
  height: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.15;
}

@media (max-width: 767px) {
  .apology-section .brush {
    width: 100%;
    height: 200%;
  }
}

.apology-section .tree {
  position: absolute;
  width: 280px;
  top: -400px;
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .apology-section .tree {
    width: 220px;
    top: -200px;
  }
}

@media (max-width: 767px) {
  .apology-section .tree {
    width: 180px;
    top: -210px;
  }
}

.apology-section .spring-2 {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: -300px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 991px) {
  .apology-section .spring-2 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .apology-section .spring-2 {
    width: 168px;
  }
}

.stream-section {
  position: relative;
  text-align: center;
  margin-top: 3rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.stream-section::before {
  background-image: url(../images/brush.png);
  background-size: 150% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -700px;
  content: "";
  opacity: 0.15;
}

.stream-section .spring-3 {
  top: 300px;
  right: 0;
  position: absolute;
  width: 250px;
}

@media (max-width: 991px) {
  .stream-section .spring-3 {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .stream-section .spring-3 {
    top: 400px;
  }
}

.stream-section .spring-6 {
  position: absolute;
  left: 0;
  top: -100px;
}

@media (max-width: 991px) {
  .stream-section .spring-6 {
    width: 220px;
    top: 0;
  }
}

@media (max-width: 767px) {
  .stream-section .spring-6 {
    width: 170px;
  }
}

.stream-section .stream-wrapper {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.thank-section {
  position: relative;
}

.thank-section .spring-2 {
  position: absolute;
  left: 0;
  top: -300px;
  width: 250px;
}

@media (max-width: 991px) {
  .thank-section .spring-2 {
    width: 180px;
    top: -180px;
  }
}

@media (max-width: 767px) {
  .thank-section .spring-2 {
    width: 138px;
    top: -148px;
  }
}

.thank-section .tree {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 230px;
}

@media (max-width: 991px) {
  .thank-section .tree {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .thank-section .tree {
    width: 168px;
  }
}

.thank-section .butterfly {
  position: absolute;
  top: -150px;
  right: 200px;
  width: 150px;
}

@media (max-width: 991px) {
  .thank-section .butterfly {
    width: 120px;
    top: -100px;
    right: 100px;
  }
}

@media (max-width: 767px) {
  .thank-section .butterfly {
    width: 98px;
    right: 52px;
    top: -70px;
  }
}

.thank-section .thank {
  text-align: center;
  padding-bottom: 5rem;
}

.footer {
  background-color: #196534;
  padding: 1rem 0;
  color: #fff;
  position: relative;
}

body {
  background-color: #9c231c;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Saira Condensed";
  color: #fff;
}

.btn-custom {
  background-color: #fdeec9;
  padding: 0.25rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #9c231c;
}

.btn-custom:hover {
  background-color: transparent;
}

.font-primary {
  font-family: "Noto Sans", sans-serif;
}

.font-secondary {
  font-family: "Saira Condensed";
}

.form-control,
.form-select {
  border-color: #196534;
  color: #fdeec9;
  background-color: transparent;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #fdeec9;
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #fdeec9;
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: #fdeec9;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #fdeec9;
}

.form-control:focus,
.form-select:focus {
  background-color: transparent;
  outline: none;
}

.yt-embed {
  height: 360px;
  width: 720px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {
  .yt-embed {
    width: 100%;
    height: 240px;
  }
}

.scrolled {
  color: #000;
  background: #9c231c !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.title-section h2 {
  margin-bottom: 0;
  line-height: 24px;
  margin: 0 0.75rem;
}
/*# sourceMappingURL=styles.css.map */