.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0 0 0;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9c231c;
  min-width: 73px;
  padding: 10px;
  position: relative;
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 16px;
}

@media (max-width: 575px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 14px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 36px;
}

@media (max-width: 575px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

.logo-viding {
  height: 3rem;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-section .logo-viding {
  position: absolute;
  top: 2.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -2.5%);
          transform: translate(-50%, -2.5%);
}

.header-section .lampion-left,
.header-section .lampion-right {
  position: absolute;
  top: 2%;
}

.header-section .lampion-left {
  left: 200px;
}

.header-section .lampion-right {
  right: 200px;
}

.header-section .cloud-left-1,
.header-section .cloud-left-2,
.header-section .cloud-right-1,
.header-section .cloud-right-2 {
  position: absolute;
}

.header-section .cloud-left-1 {
  bottom: 230px;
  left: 130px;
  width: 120px;
  height: 49px;
}

.header-section .cloud-left-2 {
  bottom: 100px;
  left: 70px;
  width: 161px;
  height: 87px;
}

.header-section .cloud-right-1 {
  bottom: 120px;
  right: 100px;
  width: 160px;
  height: 59px;
}

.header-section .cloud-right-2 {
  bottom: 210px;
  right: 53px;
  width: 161px;
  height: 87px;
}

.header-section .frame-wrapper {
  position: relative;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .frame-wrapper .frame-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 98%;
  height: 97%;
}

.header-section .frame-wrapper .frame {
  position: relative;
  margin: 3.5rem 0 0 0;
  padding: 15px;
}

.header-section .frame-wrapper .frame::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #00000031;
}

.header-section .frame-wrapper .frame .frame-edge-top-left,
.header-section .frame-wrapper .frame .frame-edge-top-right,
.header-section .frame-wrapper .frame .frame-edge-bottom-right,
.header-section .frame-wrapper .frame .frame-edge-bottom-left {
  position: absolute;
  width: 93px;
  height: 93px;
}

.header-section .frame-wrapper .frame .frame-edge-top-left {
  left: 0;
  top: 0;
}

.header-section .frame-wrapper .frame .frame-edge-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-section .frame-wrapper .frame .frame-edge-bottom-right {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.header-section .frame-wrapper .frame .frame-edge-bottom-left {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.header-section .frame-wrapper .frame .double-line-top,
.header-section .frame-wrapper .frame .double-line-right,
.header-section .frame-wrapper .frame .double-line-bottom,
.header-section .frame-wrapper .frame .double-line-left {
  position: absolute;
}

.header-section .frame-wrapper .frame .double-line-top {
  top: 0;
  left: 93px;
}

.header-section .frame-wrapper .frame .double-line-right {
  right: 0;
  bottom: 93px;
}

.header-section .frame-wrapper .frame .double-line-bottom {
  bottom: 0;
  right: 93px;
}

.header-section .frame-wrapper .frame .double-line-left {
  left: 0;
  top: 93px;
}

.header-section .frame-wrapper .frame .frame-mid-top {
  position: absolute;
  top: -8%;
  left: 50%;
  -webkit-transform: translate(-50%, 8%);
          transform: translate(-50%, 8%);
}

.header-section .frame-wrapper .frame .header-image {
  width: 722px;
  height: 418px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-section .frame-wrapper .name-couple {
  padding: 2rem 0 0 0;
}

.couple-section {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
}

.couple-section .cloud-left-1,
.couple-section .cloud-left-2,
.couple-section .cloud-right-1,
.couple-section .cloud-right-2 {
  position: absolute;
}

.couple-section .cloud-left-1 {
  bottom: 330px;
  left: 40px;
  width: 120px;
  height: 49px;
}

.couple-section .cloud-left-2 {
  bottom: 190px;
  left: -30px;
  width: 161px;
  height: 87px;
}

.couple-section .cloud-right-1 {
  bottom: 175px;
  right: -20px;
  width: 160px;
  height: 59px;
}

.couple-section .cloud-right-2 {
  bottom: 290px;
  right: -45px;
  width: 161px;
  height: 87px;
}

.couple-section h4 {
  font-size: 36px;
  color: #fdeec9;
}

@media (max-width: 767px) {
  .couple-section h4 {
    margin-top: 0;
  }
}

.couple-section .lampion {
  width: 75px;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.couple-section h3 {
  color: #fdeec9;
}

.couple-section .couple-description {
  text-align: center;
  padding: 2rem 0;
}

.couple-section .card {
  border-radius: 0;
  padding: 17px;
  position: relative;
  border: none;
  background-color: transparent;
}

@media (max-width: 767px) {
  .couple-section .card {
    width: 80%;
    margin: auto;
  }
}

.couple-section .card .card-body {
  padding: 0;
}

.couple-section .card .card-body .frame-couple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.couple-section .card .card-body .image-couple {
  width: 100%;
  height: 366px;
  -o-object-fit: cover;
     object-fit: cover;
}

.couple-section .instagram {
  padding: 0.5rem 0 0 0;
  color: #fff;
}

.couple-section .instagram .fab {
  font-size: 1.25rem;
}

.countdown-wrapper {
  position: relative;
  background-color: #fdeec9;
  padding: 1rem 0;
  text-align: center;
  overflow: hidden;
}

.countdown-wrapper .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countdown-wrapper .frame-edge-top-left,
.countdown-wrapper .frame-edge-top-right,
.countdown-wrapper .frame-edge-bottom-right,
.countdown-wrapper .frame-edge-bottom-left {
  position: absolute;
  width: 26px;
  height: 26px;
}

.countdown-wrapper .frame-edge-top-left {
  left: 0;
  top: 0;
}

.countdown-wrapper .frame-edge-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.countdown-wrapper .frame-edge-bottom-right {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.countdown-wrapper .frame-edge-bottom-left {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.countdown-wrapper .lampion-left,
.countdown-wrapper .lampion-right {
  position: absolute;
  top: 0;
}

.countdown-wrapper .lampion-left path,
.countdown-wrapper .lampion-right path {
  stroke: #9c231c;
}

.countdown-wrapper .lampion-left {
  left: 200px;
}

.countdown-wrapper .lampion-right {
  right: 200px;
}

.countdown-wrapper .cloud-left-2,
.countdown-wrapper .cloud-right-2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.countdown-wrapper .cloud-left-2 path,
.countdown-wrapper .cloud-right-2 path {
  stroke: #9c231c;
}

.countdown-wrapper .cloud-left-2 {
  left: -30px;
}

.countdown-wrapper .cloud-right-2 {
  right: -30px;
}

.story-section {
  position: relative;
  overflow: hidden;
  padding: 3rem 0;
}

.story-section .divider {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  margin-bottom: 2rem;
}

.story-section .divider path {
  stroke: #fdeec9;
  stroke-width: 5px;
}

.story-section .cloud-left-2 {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.story-section .story-description {
  position: relative;
  margin-left: -60px;
}

.story-section .story-description .lampion-left {
  position: absolute;
  top: 90%;
  right: 250px;
}

.story-section .story-description .lampion-right {
  position: absolute;
  top: 85%;
  right: 150px;
}

.story-section .story-description .card {
  border-radius: 0;
  border: 4px solid #fdeec9;
  position: relative;
}

.story-section .story-description .card .card-body {
  padding: 60px;
  text-align: justify;
}

.story-section .story-description .card .card-body h2 {
  color: #9c231c;
}

.story-section .story-image {
  width: 100%;
  height: 597px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fdeec9;
}

.venue-section {
  position: relative;
  padding: 3rem 0;
  background-color: #fdeec9;
  text-align: center;
  overflow: hidden;
}

.venue-section .title-section path {
  stroke: #9c231c;
}

.venue-section .prokes {
  width: auto;
  margin-bottom: 3rem;
}

.venue-section .cloud-left-1,
.venue-section .cloud-left-2,
.venue-section .cloud-right-1,
.venue-section .cloud-right-2 {
  position: absolute;
}

.venue-section .cloud-left-1 path,
.venue-section .cloud-left-2 path,
.venue-section .cloud-right-1 path,
.venue-section .cloud-right-2 path {
  stroke: #9c231c;
}

.venue-section .cloud-left-1 {
  top: 60%;
  left: -40px;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  width: 170px;
  height: 69px;
}

.venue-section .cloud-left-1 path {
  stroke-width: 3px;
}

.venue-section .cloud-left-2 {
  top: 40%;
  left: -10px;
  width: 161px;
  height: 87px;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

.venue-section .cloud-right-1 {
  width: 120px;
  height: 49px;
  top: 60%;
  right: -20px;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
}

.venue-section .cloud-right-2 {
  width: 161px;
  height: 87px;
  top: 40%;
  right: 30px;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

.venue-section .event-wrapper svg {
  margin: 1rem 0;
}

.venue-section .event-wrapper .divider {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  width: 100%;
}

.venue-section .event-wrapper .divider-2 {
  width: 100%;
  margin: 1rem 0;
}

.venue-section .event-wrapper .btn-custom {
  background-color: #9c231c;
  color: #fff;
}

.venue-section .event-wrapper .event-name p {
  margin-bottom: 0;
}

.rsvp-section {
  position: relative;
  text-align: center;
  padding: 156px 0 3rem 0;
}

.rsvp-section .lampion {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75px;
  height: 156px;
}

.rsvp-section .row {
  margin-bottom: 1.2rem;
}

@media (max-width: 575px) {
  .rsvp-section .row {
    gap: 1.2rem;
  }
}

.rsvp-section .row .form-control,
.rsvp-section .row .form-select {
  margin-bottom: 1.5rem;
}

.divider {
  width: 100%;
}

.divider path {
  stroke: #fdeec9;
}

.wishes-section {
  position: relative;
  padding: 156px 0 3rem 0;
  background-color: #fdeec9;
}

.wishes-section .title-section path {
  stroke: #9c231c;
}

.wishes-section .lampion {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75px;
  height: 156px;
}

.wishes-section .lampion path {
  stroke: #9c231c;
}

.wishes-section .btn-custom {
  background-color: #9c231c;
  color: #fff;
}

.wishes-section .btn-custom:hover {
  color: #fdeec9;
}

.wishes-section .card {
  margin: 2rem 0 0 0;
  border-color: #fdeec9;
}

.wishes-section .card .card-body {
  overflow: hidden;
}

.wishes-section .card .card-body .wishes {
  text-align: left;
  height: 422px;
  overflow: auto;
}

.wishes-section .card .card-body .wishes::-webkit-scrollbar {
  display: none;
}

.wishes-section .card .card-body .wishes .wish {
  margin-bottom: 1.5rem;
  font-family: "Barlow", sans-serif;
}

.wishes-section .card .card-body .wishes .wish h6 {
  font-weight: bold;
}

.wishes-section .card .card-body .wishes .wish h6,
.wishes-section .card .card-body .wishes .wish p {
  margin-bottom: 0;
}

.egift-section {
  position: relative;
  padding: 3rem 0 5rem 0;
  text-align: center;
}

.egift-section .divider {
  position: relative;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.egift-section form {
  padding: 1.5rem 0 3.5rem 0;
}

.egift-section form .input-group-text {
  color: #9c231c;
  background-color: #fdeec9;
  border-color: #fdeec9;
}

.egift-section form .form-control {
  background-color: #f9fdf9;
}

.gallery-section {
  position: relative;
  padding: 3rem 0;
  background-color: #fdeec9;
}

.gallery-section .divider-top {
  width: 100%;
}

.gallery-section .divider-bottom {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  width: 100%;
}

.gallery-section .zoom-gallery {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
  padding: 3rem 0 0 0;
}

.gallery-section .zoom-gallery::before {
  position: absolute;
  content: "";
  width: 461px;
  height: 583px;
  left: -50px;
  top: -30px;
}

@media (max-width: 575px) {
  .gallery-section .zoom-gallery::before {
    width: 230px;
    height: 290px;
    left: -15px;
  }
}

.gallery-section .zoom-gallery a {
  position: relative;
}

.gallery-section .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery-section .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 2px 8px;
  font-size: 20px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

.gallery-section .zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.gallery-section .zoom-gallery a:hover::after {
  opacity: 1;
}

.gallery-section .zoom-gallery a:nth-child(3), .gallery-section .zoom-gallery a:nth-child(9), .gallery-section .zoom-gallery a:nth-child(15) {
  -ms-grid-column: 6;
  -ms-grid-column-span: -3;
  grid-column: 6 / 3;
}

.gallery-section .zoom-gallery a:nth-child(4), .gallery-section .zoom-gallery a:nth-child(10) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.gallery-section .zoom-gallery .photo {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (max-width: 575px) {
  .gallery-section .zoom-gallery .photo {
    height: 107px;
  }
}

.apology-section {
  position: relative;
  padding: 156px 0 5rem 0;
}

.apology-section .lampion {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75px;
  height: 156px;
}

.apology-section .apology {
  background-color: #fdeec9;
  padding: 5rem 3rem;
  position: relative;
}

.apology-section .apology .edge-frame-top-left,
.apology-section .apology .edge-frame-top-right,
.apology-section .apology .edge-frame-bottom-right,
.apology-section .apology .edge-frame-bottom-left {
  position: absolute;
  width: 62px;
  height: 62px;
}

.apology-section .apology .edge-frame-top-left path,
.apology-section .apology .edge-frame-top-right path,
.apology-section .apology .edge-frame-bottom-right path,
.apology-section .apology .edge-frame-bottom-left path {
  stroke-width: 4px;
}

.apology-section .apology .edge-frame-top-left {
  top: 15px;
  left: 15px;
}

.apology-section .apology .edge-frame-top-right {
  top: 15px;
  right: 15px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.apology-section .apology .edge-frame-bottom-right {
  bottom: 15px;
  right: 15px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.apology-section .apology .edge-frame-bottom-left {
  left: 15px;
  bottom: 15px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.apology-section .apology .line-top,
.apology-section .apology .line-right,
.apology-section .apology .line-bottom,
.apology-section .apology .line-left {
  position: absolute;
  background-color: #9c231c;
}

.apology-section .apology .line-top {
  top: 16px;
  left: 77px;
  right: 77px;
  height: 4px;
}

.apology-section .apology .line-bottom {
  bottom: 16px;
  left: 77px;
  right: 77px;
  height: 4px;
}

.apology-section .apology .line-left {
  left: 16px;
  width: 4px;
  top: 77px;
  bottom: 77px;
}

.apology-section .apology .line-right {
  right: 16px;
  width: 4px;
  top: 77px;
  bottom: 77px;
}

.apology-section .apology path {
  stroke: #9c231c;
}

.stream-section {
  position: relative;
  text-align: center;
  padding-top: 156px;
  padding-bottom: 3rem;
}

.stream-section .lampion {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75px;
  height: 156px;
}

.stream-section .card {
  border-radius: 0;
}

.stream-section .card .card-body {
  padding: 2rem;
}

.stream-section .card .card-body.p-se {
  padding: 2rem 7rem;
}

.stream-section .card .card-body ul {
  padding: 1rem 5rem;
}

.thank-section {
  position: relative;
  padding-top: 156px;
  background-color: #fdeec9;
}

.thank-section .lampion {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75px;
  height: 156px;
}

.thank-section .lampion path {
  stroke: #9c231c;
}

.thank-section .title-section path {
  stroke: #9c231c;
}

.thank-section .thank {
  text-align: center;
  padding-bottom: 5rem;
}

.footer {
  padding: 1rem 0;
  color: #fff;
  position: relative;
}

body {
  background-color: #9c231c;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Saira Condensed";
  color: #fff;
}

.btn-custom {
  background-color: #fdeec9;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #9c231c;
  border-radius: 0;
}

.btn-custom:hover {
  color: #9c231c;
}

.font-primary {
  font-family: "Noto Sans", sans-serif;
}

.font-secondary {
  font-family: "Saira Condensed";
}

.form-control,
.form-select {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  border-color: #fdeec9;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #1e1f1e;
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #1e1f1e;
}

.form-control::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: #1e1f1e;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #1e1f1e;
}

.form-control:focus,
.form-select:focus {
  background-color: transparent;
  outline: none;
}

.yt-embed {
  height: 360px;
  width: 720px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {
  .yt-embed {
    width: 100%;
    height: 240px;
  }
}

.scrolled {
  color: #000;
  background: #9c231c !important;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
          box-shadow: 3px 0px 15px 15px rgba(89, 89, 89, 0.2);
  visibility: visible !important;
  pointer-events: all !important;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.title-section h2 {
  margin-bottom: 0;
  line-height: 24px;
  margin: 0 0.75rem;
}
/*# sourceMappingURL=styles.css.map */