@font-face {
    font-family: "Derivia";
    src: url(../fonts/Derivia-Regular.ttf) format('ttf');
    font-display: swap;
}
@font-face {
    font-family: "Derivia";
    src: url(../fonts/Derivia-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: "Derivia";
    src: url(../fonts/Derivia-Regular.woff2) format('woff2');
    font-display: swap;
}