.couple-section {
	position: relative;
	text-align: center;
	background-color: var(--color-primary);
	color: var(--color-light);

	.and {
		@include min-md {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@include max-sm {
			display: none;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 3;

		span {
			position: relative;
			font-size: 36px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 5rem 0;

		@include max-md {
			padding: 3rem 0 0;
		}
	}

	.couple-body {
		position: relative;
	}

	.couple-content {
		position: relative;
		text-align: left;
		margin-bottom: 5rem;

		@include max-sm {
			padding: 0 1.5rem;
			margin-bottom: 3rem;
		}

		.title-section {
			--color-button-trans: #fff;
			text-align: left;

			&::before {
				position: relative;
				display: block;
				height: 2px;
				width: 150px;
				background-color: var(--color-button-trans);
				margin-bottom: 1.5rem;
				content: "";
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	.couple {
		position: relative;
		text-align: center;

		.image-wrap {
			width: 100%;
			position: relative;
			aspect-ratio: 3/4;

			.image-element {
				height: 100%;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba($color: #000000, $alpha: 0.3);
					content: "";
				}

				.couple-image {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.couple-description {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 2rem;
			text-align: left;
			color: var(--color-light);

			.couple-parent {
				position: relative;
				width: 100%;

				p {
					margin-bottom: 0;
				}
			}
		}

		.sosmed-wrap {
			position: absolute;
			top: 2.5rem;
			left: 2rem;
			width: fit-content;
			max-width: 100%;

			&::before {
				position: relative;
				display: block;
				height: 2px;
				width: 150px;
				background-color: var(--color-light);
				margin-bottom: 1.5rem;
				content: "";
			}

			.sosmed {
				background: var(--color-secondary);
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				color: var(--text-button);
				text-decoration: none;
				display: block;
				width: fit-content;

				small {
					align-items: center;
					gap: 0.25rem;
					display: flex;
					justify-content: center;
				}
			}

			.fab {
				font-size: 18px;

				@include max-md {
					font-size: 16px;
				}
			}
		}

		&.woman {
			@include min-md {
				margin-top: 40%;
			}
		}
	}
}
