.header-section {
	position: relative;
	width: 100%;

	.scroll-icon {
		position: relative;
		margin-top: 2rem;
	}

	.background-element {
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba($color: #000000, $alpha: 0.4);
			content: "";
		}
	}

	.header-content {
		position: relative;
		height: 100vh;

		.header {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			width: 35%;
			height: 100%;
			padding: 4.5rem 0;
			@include max-xl {
				width: 40%;
			}
			@include max-lg {
				width: 50%;
			}
			@include max-sm {
				width: 70%;
			}

			.header-title {
				position: relative;
				text-align: left;
				color: var(--color-light);

				&-content {
					position: relative;

					.header-description {
						position: relative;

						&::before {
							position: absolute;
							top: 50%;
							left: 100%;
							width: 70%;
							height: 2px;
							background-color: var(--color-light);
							transform: translate(3rem, -50%);
							content: "";
							@include max-sm {
								transform: translate(2rem, -50%);
							}
						}
					}
				}
			}

			#scroll-animate {
				animation: scrollAnim 1500ms ease infinite;
			}
		}
	}
}

@keyframes scrollAnim {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}
