.reminder-wrap {
	position: relative;
	display: block;
	margin-bottom: 5rem;

	@include max-sm {
		margin-bottom: 3rem;
	}

	.reminder-content {
		position: relative;
		display: grid;
		grid-template-columns: 1fr auto;
		width: 100%;
		align-content: stretch;

		.image-wrapper {
			position: relative;
			width: 100%;
			aspect-ratio: 6/5;
			@include max-sm {
				aspect-ratio: 4/6;
			}

			.image-element {
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.widget-element {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(0, 50%);
		z-index: 5;
	}

	.btn-reminder {
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}
