.rsvp-section {
	position: relative;
	padding: 0 0 5rem;
	background-color: var(--color-primary);

	@include max-md {
		padding: 0 0 3rem;
	}


	.rsvp-wrapper {
		position: relative;
		padding: 5rem 2rem;

		@include max-md {
			padding: 3rem 1rem;
		}

		.background-element {
			img {
				border-radius: var(--border-radius);
			}
		}

		.rsvp-form {
			position: relative;

			.title-section {
				text-align: left;
				color: var(--color-light);
			}
		}
	}
}