.apology-section {
	position: relative;
	padding: 3rem 0;
	background-color: var(--color-primary);

	@include ipad {
		padding: 5rem 0;
	}

	.motif {
		position: absolute;
		left: 50%;
		width: 200%;
		transform: translate(-50%, 0);

		&-top {
			top: 0;
		}

		&-bottom {
			bottom: 0;
			transform: translate(-50%, 0) scaleY(-1);
		}
	}

	.orn-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 35%;
		transform: translate(-50%, 0);
	}

	.orn-2 {
		position: absolute;
		right: 0;
		top: 0;
		width: 35%;
		transform: translate(70%, 0) rotate(-35deg) scaleX(-1);
	}

	.orn-3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		transform: translate(-60%, 0) scaleX(-1);

		.orn-4 {
			position: absolute;
			bottom: 80%;
			left: 10%;
			width: 60%;
			transform: scaleX(-1);
		}
	}

	.orn-5 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		transform: translate(60%, 0);

		.orn-6 {
			position: absolute;
			bottom: 80%;
			left: 10%;
			width: 60%;
			transform: scaleX(-1);
		}
	}

	.appology-wrap {
		position: relative;
		padding: 8rem 1.8rem;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-primary);
			border-radius: 300px;
			border: 2px solid $color-secondary;
			box-shadow: inset .5rem .5rem 1rem rgba($color: #000000, $alpha: .1);
			opacity: .6;
			content: "";
		}
	}
}