.couple-section {
	position: relative;
	background-color: var(--color-primary);
	color: var(--color-dark);

	.and {
		@include ipad {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 2rem 0;
		z-index: 3;

		span {
			position: relative;
			font-size: 28px;
			font-family: $font-secondary;
		}
	}

	.couple-wrapper {
		position: relative;
		padding: 3rem 0;

		@include ipad {
			padding: 5rem 0;
		}

		.couple-content {
			position: relative;
			text-align: center;
			margin-bottom: 3rem;
			padding: 8rem 2rem;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary);
				border: 2px solid $color-secondary;
				opacity: .4;
				border-radius: 300px;
				box-shadow: inset .5rem 1rem 1rem rgba($color: #000000, $alpha: .15);
				content: "";
			}

			p {
				margin-bottom: 0;
			}
		}

		.frame {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 125%;
			transform: translate(-50%, -50%);
		}
	}

	.couple {
		position: relative;
		padding: 5rem 2rem;

		@include max-lg {
			padding: 3rem 0;
		}

		@include max-sm {
			padding: 3rem 1.8rem;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-primary);
			border: 2px solid $color-secondary;
			opacity: .6;
			border-radius: 300px;
			box-shadow: inset .5rem 1rem 1rem rgba($color: #000000, $alpha: .15);
			content: "";

			@include ipad {
				border-radius: 42px;
			}
		}

		.image-wrap {
			position: relative;
			width: 70%;
			margin: 0 auto 1rem;
			padding: .5rem;
			border: 2px solid var(--color-custom);
			border-radius: 300px;

			@include max-lg {
				width: 80%;
			}

			.image-element {
				@include aspect-ratio(3, 4);

				.couple-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 300px;
				}
			}
		}

		.couple-description {
			position: relative;
			text-align: center;
			padding: 1rem 1rem 0;

			h3 {
				position: relative;
			}

			.couple-parent {
				position: relative;
				width: 100%;
				margin-bottom: 0.5rem;

				p {
					margin-bottom: 0;
				}
			}

			.sosmed-wrap {
				position: relative;
				width: fit-content;
				max-width: 100%;
				padding: 0.5rem 0.6rem;
				border-radius: 50px;
				background-color: var(--color-secondary);
				margin: 1rem auto 0;

				.sosmed {
					color: var(--text-button);
					text-decoration: none;
					display: block;
					width: fit-content;
					margin: 0 auto;

					small {
						align-items: center;
						gap: 0.25rem;
						display: flex;
						justify-content: center;
					}
				}

				.fab {
					font-size: 18px;

					@include max-md {
						font-size: 16px;
					}
				}
			}
		}
	}
}