.header-section {
	position: relative;
	background-color: var(--color-primary);

	.scroll-icon {
		margin-top: 1rem;
	}

	.frame {
		&-topLeft {
			transform: translate(-5%, -9%);
		}

		&-topRight {
			transform: translate(5%, -9%) scaleX(-1);
		}
	}

	.mawar {
		position: absolute;
		top: 45%;
		width: 8%;

		&-left {
			left: 0;
			transform: translate(-45%, -50%);
		}

		&-right {
			right: 0;
			transform: translate(45%, -50%);
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 55%;
		transform: translate(-10%, 45%);

		.orn-2 {
			position: absolute;
			left: 30%;
			bottom: 55%;
			width: 40%;
		}

		.orn-3 {
			position: absolute;
			top: 15%;
			left: 80%;
			width: 50%;
		}

		.orn-4 {
			position: absolute;
			right: 60%;
			bottom: 10%;
			width: 65%;

			.orn-5 {
				position: absolute;
				bottom: 75%;
				right: -5%;
				width: 100%;
			}
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55%;
		transform: translate(10%, 45%);

		.orn-7 {
			position: absolute;
			bottom: 50%;
			left: 30%;
			width: 45%;
		}

		.orn-8 {
			position: absolute;
			top: 5%;
			left: 25%;
			width: 80%;

			.orn-9 {
				position: absolute;
				top: 10%;
				left: 40%;
				width: 60%;
			}
		}

		.orn-10 {
			position: absolute;
			bottom: 85%;
			left: 48%;
			width: 60%;
			transform: scaleX(-1);
		}
	}

	.orn-11 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 65%;
		transform: translate(-60%, 0);

		.orn-12 {
			position: absolute;
			bottom: 60%;
			right: -15%;
			width: 120%;
		}
	}

	.orn-13 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 65%;
		transform: translate(60%, 0);

		.orn-14 {
			position: absolute;
			bottom: 60%;
			left: -5%;
			width: 120%;
		}
	}

	.header-content {
		position: relative;
		min-height: 100vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		@include max-sm {
			min-height: 85vh;
		}

		.header {
			position: relative;
			width: 80%;
			min-height: calc(100vh - 4.5rem);
			text-align: center;
			color: var(--color-dark);
			padding: 5rem 1rem 10rem;

			@include max-lg {
				width: 60%;
			}

			@include max-sm {
				min-height: calc(85vh - 4.5rem);
				width: 90%;
			}

			&-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-primary);
					border-radius: 300px 300px 0 0;
					border: 2px solid $color-secondary;
					opacity: .6;
					content: "";
				}
			}

			.header-title {
				position: relative;

				&-content {
					position: relative;
					z-index: 5;

					.logo {
						position: relative;
						width: 85px;
						margin: 0 auto 1.8rem;
					}
				}
			}
		}
	}
}