.reminder-wrap {
	position: relative;
	width: 100%;
	min-height: 65vh;
	background-color: var(--color-custom);

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 75%;
		transform: translate(-70%, 15%);
	}

	.orn-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 65%;
		transform: translate(70%, 0);
	}

	.reminder-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}

	.btn-reminder {
		z-index: 3;
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		gap: 0.5rem;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		margin: 1.5rem auto 0;

		path {
			fill: var(--text-button);
			transition: all 0.3s ease-in-out;
		}
	}
}