.story-section {
	position: relative;
	padding: 5rem 0 8rem;
	background-color: var(--color-custom);
	color: var(--color-dark);

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 55%;
		transform: translate(-20%, 65%);

		.orn-2 {
			position: absolute;
			left: 30%;
			bottom: 55%;
			width: 40%;
		}

		.orn-3 {
			position: absolute;
			top: 10%;
			left: 85%;
			width: 50%;
		}

		.orn-4 {
			position: absolute;
			right: 60%;
			bottom: 10%;
			width: 65%;

			.orn-5 {
				position: absolute;
				bottom: 75%;
				right: -5%;
				width: 100%;

				.orn-12 {
					position: absolute;
					bottom: 60%;
					right: 0%;
					width: 140%;
					transform: rotate(18deg) scaleX(-1);
				}
			}
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55%;
		transform: translate(20%, 65%);

		.orn-7 {
			position: absolute;
			bottom: 50%;
			left: 30%;
			width: 45%;
		}

		.orn-8 {
			position: absolute;
			top: -10%;
			left: 35%;
			width: 80%;

			.orn-9 {
				position: absolute;
				top: 10%;
				left: 30%;
				width: 60%;
			}
		}

		.orn-10 {
			position: absolute;
			bottom: 85%;
			left: 48%;
			width: 60%;
			transform: scaleX(-1);

			.orn-11 {
				position: absolute;
				bottom: 60%;
				right: -8%;
				width: 140%;
			}
		}
	}

	.story-description {
		position: relative;
		text-align: center;
		padding: 0 1rem;
	}
}