.thank-section {
	position: relative;
	padding: 3rem 0 0;
	background-color: var(--color-primary);
	color: var(--color-dark);

	@include ipad {
		padding: 5rem 0 0;
	}

	.frame {
		&-topLeft {
			transform: translate(-5%, -9%);
		}

		&-topRight {
			transform: translate(5%, -9%) scaleX(-1);
		}
	}

	.mawar {
		position: absolute;
		top: 40%;
		width: 8%;

		&-left {
			left: 0;
			transform: translate(-45%, -50%);
		}

		&-right {
			right: 0;
			transform: translate(45%, -50%);
		}
	}

	.orn-1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 55%;
		transform: translate(-10%, 45%);

		.orn-2 {
			position: absolute;
			left: 30%;
			bottom: 55%;
			width: 40%;
		}

		.orn-3 {
			position: absolute;
			top: 15%;
			left: 80%;
			width: 50%;
		}

		.orn-4 {
			position: absolute;
			right: 60%;
			bottom: 10%;
			width: 65%;

			.orn-5 {
				position: absolute;
				bottom: 75%;
				right: -5%;
				width: 100%;
			}
		}
	}

	.orn-6 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55%;
		transform: translate(10%, 45%);

		.orn-7 {
			position: absolute;
			bottom: 50%;
			left: 30%;
			width: 45%;
		}

		.orn-8 {
			position: absolute;
			top: 5%;
			left: 25%;
			width: 80%;

			.orn-9 {
				position: absolute;
				top: 10%;
				left: 40%;
				width: 60%;
			}
		}

		.orn-10 {
			position: absolute;
			bottom: 85%;
			left: 48%;
			width: 60%;
			transform: scaleX(-1);
		}
	}

	.orn-11 {
		position: absolute;
		bottom: 4rem;
		left: 0;
		width: 65%;
		transform: translate(-60%, 0);

	}

	.orn-12 {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		transform: translate(-60%, -10%);
	}

	.orn-13 {
		position: absolute;
		bottom: 4rem;
		right: 0;
		width: 65%;
		transform: translate(60%, 0);

	}

	.orn-14 {
		position: absolute;
		top: 0;
		right: 0;
		width: 80%;
		transform: translate(60%, -10%);
	}

	.image-wrapper {
		position: relative;
		width: 100%;

		.image-element {
			@include aspect-ratio(3, 4);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 300px;
			}
		}
	}

	.thank {
		position: relative;
		padding: 2rem 2rem 12rem;
		text-align: center;

		@include ipad {
			padding: 1.5rem 1.5rem 16rem;
		}

		@include max-sm {
			padding: 2rem 2rem 8.5rem;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-primary);
				border-radius: 300px 300px 0 0;
				border: 2px solid $color-secondary;
				opacity: .6;
				content: "";
			}
		}

		.thank-body {
			position: relative;
			padding-top: 2rem;
			z-index: 5;
		}
	}
}

.footer {
	padding: 1rem 0;
	position: relative;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--text-button);
	z-index: 5;

	small {
		position: relative;
	}
}